.crm-tracking-channel-pool-item-status {
	width: 9px;
	height: 9px;
	display: inline-block;
	margin: 0 5px 0 0;
	border-radius: 9px;
}
.crm-tracking-channel-pool-item-status-gray {
	background: #b7b7b7;
}
.crm-tracking-channel-pool-item-status-green {
	background: #a1e071;
}

.crm-tracking-channel-pool-block {
	padding: 5px 10px 0 6px;
}

.crm-tracking-channel-pool-block + .crm-tracking-channel-pool-block {
	margin-top: 27px;
}

.crm-tracking-channel-pool-header {
	font: 22px/28px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	color: #333;
	margin: 0 0 19px;
}

.crm-tracking-channel-pool-desc {
	margin-bottom: 25px;
}

.crm-tracking-channel-pool-desc-text {
	font-size: 14px;
	line-height: 20px;
	color: #525c69;
}

.crm-tracking-channel-pool-inner-title {
	color: #535c69;
	margin-bottom: 12px;
}

.crm-tracking-channel-pool-inner {
	border-radius: 2px;
	background: #f8f9fa;
	padding: 11px 14px 18px 15px;
	margin-bottom: 27px;
}

.crm-tracking-channel-pool-inner-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.crm-tracking-channel-pool-inner-add {
	color: #1069c3;
	font-weight: 600;
	font-size: 13px;
	line-height: 19px;
	padding-left: 13px;
	position: relative;
	cursor: pointer;
}

.crm-tracking-channel-pool-inner-add:before {
	content: '';
	position: absolute;
	top: 6px;
	left: 0;
	width: 8px;
	height: 8px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%231069C3%22%20fill-rule%3D%22evenodd%22%20d%3D%22M1186%2C362%20L1189%2C362%20L1189%2C364%20L1186%2C364%20L1186%2C367%20L1184%2C367%20L1184%2C364%20L1181%2C364%20L1181%2C362%20L1184%2C362%20L1184%2C359%20L1186%2C359%20L1186%2C362%20Z%22%20transform%3D%22translate%28-1181%20-359%29%22/%3E%0A%3C/svg%3E%0A)
				no-repeat center;
}

.crm-tracking-channel-pool-inner-field {
	margin-bottom: 20px;
}

.crm-tracking-channel-pool-section-title-text {
	color: #525c69;
	font: 14px/22px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	padding-left: 29px;
	position: relative;
	margin-bottom: 7px;
	display: block;
}

.crm-tracking-channel-pool-section-title-icon {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 20px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
}

.bx-ie .crm-tracking-channel-pool-section-title-icon {
	width: 20px;
}

.crm-tracking-channel-pool-section + .crm-tracking-channel-pool-section {
	margin-top: 33px;
}

.crm-tracking-channel-pool-section-btn {
	margin-top: 33px;
}
.crm-tracking-phone-popup-buttons {
	margin: 10px 0 0 0;
	text-align: center;
}

.crm-tracking-channel-pool-section-number .ui-tile-selector-item {
	margin-bottom: 3px;
}

.crm-tracking-channel-pool-section-number .ui-tile-selector-selector-wrap {
	padding-top: 4px;
	padding-left: 4px;
	box-sizing: border-box;
}

.crm-tracking-channel-pool-section-number .ui-tile-selector-input {
	margin-bottom: 0;
	padding-left: 4px;
}

.crm-tracking-channel-pool-section-number .ui-tile-selector-select {
	margin-bottom: 8px;
}

.crm-tracking-channel-format-title {
	color: #333;
	font-size: 15px;
	line-height: 21px;
	margin-bottom: 16px;
}

.crm-tracking-channel-format-inner {
	display: flex;
	flex-direction: column;
	padding-bottom: 26px;
	margin-bottom: 32px;
	border-bottom: 1px solid rgba(82, 92, 105, .1);
}

.crm-tracking-channel-format-select {
	display: block;
	padding: 5px 30px 6px 10px;
	height: 39px;
	width: 334px;
	border: 1px solid #c6cdd3;
	border-radius: 2px;
	background: #fff;
	overflow: hidden;
	box-sizing: border-box;
	color: #525c69;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2213%22%20height%3D%228%22%20viewBox%3D%220%200%2013%208%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M1.751.243L.273%201.657l4.435%204.242%201.479%201.415%201.478-1.415%204.436-4.242L10.622.243%206.187%204.485%201.75.243z%22%20fill%3D%22%23828B95%22/%3E%0A%3C/svg%3E%0A)
				no-repeat right 10px top 15px;
}