.crm-counter {
	position: relative;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 30px 0 0;
	height: 53px;
	color: #535c69;
	font: 13px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}
.ui-side-panel-content .crm-counter,
.pagetitle-below .crm-counter {
	display: flex;
	align-items: center;
	padding-left: 0;
}
