.crm-st-container {
	position: relative;
	padding-bottom: 45px;
}

.crm-st-svg-root,
.crm-st-svg-links-root {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.crm-st-svg-links-root {
	z-index: 22;
	pointer-events: none;
}

.crm-st-svg-marker {
	stroke: #2FC6F6;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-dasharray: 3;
}

.crm-st-svg-link {
	fill: none;
	stroke: #2FC6F6;
	stroke-width: 2px;
	stroke-linecap: round;
	transition: 600ms all ease;
}

.crm-st-svg-link-stub {
	stroke: #E0E5E8;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-dasharray: 3;
	animation: stubLinkAnimation 30s linear;
	animation-iteration-count: infinite;
}

@keyframes stubLinkAnimation {
	from {
		stroke-dashoffset: 200;
	}
}

.crm-st-svg-link-arrow {
	fill: #2FC6F6;
	transition: all 600ms ease;
}

.crm-st-svg-link-arrow-stub {
	fill: #E0E5E8;
}

.crm-st-svg-link.crm-st-fade {
	stroke: #D7F4FE;
}

.crm-st-svg-link-arrow.crm-st-fade {
	fill: #D7F4FE;
}

.crm-st-categories {
	display: flex;
	flex-direction: column;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-top: -25px;
}

.crm-st-category {
	display: flex;
	flex-direction: row;
	background: #ffffff;
	position: relative;
	padding-top: 30px;
	border-bottom: 1px rgba(82, 92, 105, .1) solid;
	min-height: 107px;
}

.crm-st-category-action {
	width: 21px;
}

.crm-st-category-action-drag {
	background: url("images/drag.svg") center center no-repeat;
	display: inline-block;
	width: 18px;
	height: 24px;
	cursor: move;
}

.crm-st-category-info {
	width: 202px;
}

.crm-st-category-info-title-container {
	display: flex;
	position: relative;
}

.crm-st-category-info-title,
.crm-st-category-info-title-editor {
	position: relative;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	font-size: 16px;
	color: #333333;
	letter-spacing: 0;
	margin-top: 1px;
	margin-bottom: 2px;
	padding-bottom: 3px;
	height: 22px;
	max-width: 150px;
}

.crm-st-category-info-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.crm-st-category-info-title-editor {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid rgba(130, 139, 149, .5);
	display: none;
	position: relative;
	top: -1px;
	left: -1px;
	min-width: 150px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

.crm-st-category-info-title-editor[style*="display"] + .crm-st-category-action-buttons {
	opacity: 1!important;
}

.crm-st-category-action-buttons {
	flex-grow: 1;
	padding-left: 10px;
	opacity: 0;
	transition: opacity 200ms ease;
}

.crm-st-category:hover .crm-st-category-action-buttons,
.crm-st-category-action-buttons.crm-st-category-action-buttons-active {
	opacity: 1;
}

.crm-st-edit-button,
.crm-st-remove-button,
.crm-st-option-button {
	display: inline-block;
	width: 18px;
	height: 24px;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: .3;
	cursor: pointer;
	transition: opacity 200ms ease;
}

.crm-st-edit-button {
	background-image: url("images/edit.svg");
}

.crm-st-edit-button.crm-st-edit-button-active {
	background-image: url("images/save.svg");
}

.crm-st-remove-button {
	background-image: url("images/remove.svg");
	margin-left: 1px;
}

.crm-st-option-button {
	background:url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%0A%20%20%3Cpath%20fill%3D%22%23767676%22%20d%3D%22M703.2162%2C375.493606%20C703.03489%2C376.345928%20702.36463%2C377.016206%20701.51234%2C377.197463%20C699.8874%2C377.543055%20698.47582%2C376.131018%20698.82147%2C374.506376%20C698.98493%2C373.738143%20699.75689%2C372.966103%20700.5251%2C372.802606%20C702.14973%2C372.456805%20703.56186%2C373.868528%20703.2162%2C375.493606%20M706.5609%2C374.126224%20L705.37221%2C373.927905%20L705.37221%2C373.927905%20C705.28776%2C373.582645%20705.1655%2C373.252265%20705.00681%2C372.943435%20C705.00014%2C372.930442%20705.00169%2C372.914811%20705.01086%2C372.903443%20L705.75675%2C371.978576%20C705.9186%2C371.779157%20705.91125%2C371.492244%20705.74062%2C371.299793%20L705.26785%2C370.767705%20C705.09648%2C370.575446%20704.8123%2C370.53479%20704.59553%2C370.671741%20L703.57896%2C371.310795%20L703.57896%2C371.310795%20C703.13826%2C371.00289%20702.63989%2C370.774341%20702.10251%2C370.639678%20C702.08826%2C370.636098%20702.07745%2C370.624467%20702.07502%2C370.609954%20L701.88013%2C369.438726%20C701.83839%2C369.185675%20701.61941%2C369%20701.36236%2C369%20L700.64991%2C369%20C700.39338%2C369%20700.17365%2C369.185675%20700.13284%2C369.438726%20L699.93687%2C370.610391%20C699.93444%2C370.624868%20699.92365%2C370.636464%20699.90942%2C370.640027%20C699.47453%2C370.749019%20699.06605%2C370.921037%20698.69186%2C371.145936%20C698.67925%2C371.153516%20698.66341%2C371.152957%20698.65143%2C371.1444%20L697.70436%2C370.468497%20C697.49601%2C370.319636%20697.20982%2C370.342915%20697.02799%2C370.524364%20L696.52467%2C371.028056%20C696.34322%2C371.209889%20696.31994%2C371.496086%20696.4692%2C371.704447%20L697.14669%2C372.653413%20C697.15523%2C372.665376%20697.15582%2C372.681215%20697.14826%2C372.693824%20C696.92555%2C373.065123%20696.75532%2C373.471174%20696.64644%2C373.902111%20C696.64284%2C373.916344%20696.63125%2C373.927102%20696.61679%2C373.929512%20L695.4387%2C374.126242%20C695.18604%2C374.167963%20695%2C374.386976%20695%2C374.644044%20L695%2C375.355956%20C695%2C375.613006%20695.18604%2C375.832037%20695.4387%2C375.873758%20L696.61675%2C376.070471%20C696.63123%2C376.072898%20696.64284%2C376.083674%20696.64642%2C376.097924%20C696.73499%2C376.44975%20696.86115%2C376.786295%20697.027%2C377.099579%20C697.03391%2C377.112642%20697.03245%2C377.128516%20697.02316%2C377.140025%20L696.28095%2C378.059285%20C696.11966%2C378.258513%20696.12643%2C378.545618%20696.29707%2C378.737894%20L696.76947%2C379.269999%20C696.94085%2C379.462608%20697.22519%2C379.50253%20697.44198%2C379.365928%20L698.45281%2C378.730926%20C698.4652%2C378.723137%20698.48099%2C378.723452%20698.49311%2C378.73166%20C698.92454%2C379.023218%20699.41123%2C379.237918%20699.93289%2C379.365928%20L699.93289%2C379.365928%20L700.13286%2C380.561239%20C700.17367%2C380.814307%20700.39338%2C381%20700.64991%2C381%20L701.36236%2C381%20C701.61942%2C381%20701.83839%2C380.814325%20701.88013%2C380.561257%20L702.07535%2C379.389801%20C702.07778%2C379.375306%20702.08859%2C379.363693%20702.10284%2C379.36013%20C702.53211%2C379.25264%20702.93528%2C379.08366%20703.30594%2C378.862726%20C703.31855%2C378.855216%20703.33433%2C378.85581%20703.34626%2C378.864332%20L704.33369%2C379.569574%20C704.54168%2C379.718977%20704.82807%2C379.69554%20705.00971%2C379.513515%20L705.51325%2C379.009981%20C705.69448%2C378.828706%20705.71902%2C378.542666%20705.56852%2C378.333921%20L704.86559%2C377.348351%20C704.85705%2C377.336388%20704.85647%2C377.320566%20704.86403%2C377.307974%20C705.0874%2C376.935419%20705.25854%2C376.528582%20705.36682%2C376.095706%20C705.37038%2C376.081456%20705.38199%2C376.070646%20705.39647%2C376.068218%20L706.5613%2C375.873724%20C706.81471%2C375.831985%20707%2C375.612971%20707%2C375.355921%20L707%2C374.644009%20C706.99962%2C374.386976%20706.81433%2C374.167963%20706.5609%2C374.126224%22%20transform%3D%22translate%28-695%20-369%29%22%20opacity%3D%221%22/%3E%0A%3C/svg%3E%0A) no-repeat center;
	margin-left: 1px;
}

.crm-st-edit-button:hover,
.crm-st-remove-button:hover,
.crm-st-option-button:hover,
.crm-st-category-action-buttons.active,
.crm-st-option-button-active {
	opacity: 1;
}

.crm-st-confirm-buttons {
	display: none;
	position: absolute;
	top: 50%;
	left: 40px;
	transform: translateY(-50%);
	z-index: 99;
}

.crm-st-category:first-child .crm-st-confirm-buttons {
	transform: translateY(-79%);
}

.crm-st-category-info-links-item {
	margin-bottom: 3px;
}

.crm-st-category-info-links-link {
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));;
	font-size: 13px;
	color: #80868E;
	line-height: 21px;
	text-decoration: none;
	border-bottom: 1px rgba(168, 173, 180, .4) dashed;
	transition: all 200ms ease;
	cursor: pointer;
}

.crm-st-category-info-links-link:hover {
	color: #2067b0;
	border-bottom: 1px #2067b0 dashed;
}

.crm-st-category-info-links-help {
	background: url("images/help.svg") center center no-repeat;
	display: inline-block;
	width: 13px;
	height: 13px;
	position: relative;
	top: 4px;
	left: 3px;
	cursor: pointer;
	opacity: .5;
	transition: opacity 200ms ease;
}

.crm-st-category-info-links-help:hover {
	opacity: 1;
}

.crm-st-category-stages {
	flex-grow: 1;
	max-width: calc(100% - 223px);
	display: flex;
}


.main-kanban-column-title-wrapper {
	height: 40px;
}

.crm-st-kanban-stub {
	display: none;
}

.crm-st-kanban-column {
	min-width: 1%;
	max-width: none;
	margin-right: 7px;
	height: 81px;
	transition: min-width 200ms ease;
}

.crm-st-kanban-column.crm-st-kanban-column-highlight {
	transform: translateY(-5px);
}

.crm-st-kanban .main-kanban-column::before {
	display: none;
}

.crm-st-category-stages-group-in-progress .main-kanban-column-edit-mode {
	min-width: 220px;
}

.crm-st-category-stages-group-success .main-kanban-column-edit-mode {
	min-width: 140px;
}

.crm-st-category:not(.crm-st-category-stub) .crm-st-category-stages-group-success .main-kanban-column-title-input-edit {
	width: calc(100% - 40px);
}

.crm-st-category-stages-group-success .main-kanban-column-title-add-column {
	display: none;
}

.crm-st-category:not(.crm-st-category-stub) .crm-st-category-stages-group-success .main-kanban-column-title-info {
	margin-right: 0;
}

.crm-st-category-stages-group-fail .main-kanban-column-edit-mode {
	min-width: 120px;
}

.crm-st-category-stages-group-in-progress {
	min-width: calc(100% - 359px);
}

.crm-st-category-stages-group-success {
	width: 140px;
}

.crm-st-category-stages-group-fail {
	min-width: 219px;
}

.crm-st-category-stages-group-header {
	margin-top: 2px;
	margin-bottom: 8px;
	padding-left: 32px;
	opacity: 0;
}

.crm-st-category:first-child .crm-st-category-stages-group-header {
	opacity: 1;
}

.crm-st-category-stages-list {
	position: relative;
	padding-left: 29px;
	padding-right: 16px;
}

.crm-st-category-stages-group-fail .crm-st-category-stages-list {
	padding-right: 0;
}

.crm-st-category-stages-list::before {
	content: '';
	width: 1px;
	height: 32px;
	opacity: 0.1;
	background: #525C69;
	position: absolute;
	top: 0;
	left: 0;
}

.crm-st-category-stages-group-in-success,
.crm-st-category-stages-group-in-fail {
	display: inline-block;
	width: 11px;
	height: 9px;
	position: relative;
	top: 1px;
}

.crm-st-category-stages-group-in-success {
	background: url("images/success.svg") center center no-repeat;
}

.crm-st-category-stages-group-in-fail {
	background: url("images/fail.svg") center center no-repeat;
}

.crm-st-category-stages-group-header-text {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	font-size: 9px;
	color: #A8ADB4;
	text-transform: uppercase;
}
.crm-st-kanban-column-dot {
	position: absolute;
	left: 50%;
	top: 22px;
	margin-left: -30px;
	width: 60px;
	height: 20px;
	z-index: 100;
	opacity: 1!important;
}

.crm-st-kanban-column-dot::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 8px;
	height: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 50%;
	border: 1px solid rgba(168, 173, 180, .74);
	transition: border 400ms ease;
	z-index: 2;
}
.crm-st-categories .crm-st-category:only-child .crm-st-kanban-column-dot {
	display: none;
}
.crm-st-kanban-column-dot-pulse {
	border: 3px solid #2FC6F6;
	-webkit-border-radius: 30px;
	height: 8px;
	width: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -7px;
	margin-top: -7px;
	opacity: 0;
	z-index: 99;
	transition: all 600ms ease;
}

.main-kanban-column-header:hover .crm-st-kanban-column-dot-pulse {
	opacity: 1;
	animation: pulsate 1s ease-out;
	animation-iteration-count: infinite;
}

.crm-st-kanban-column-dot-highlight .crm-st-kanban-column-dot-pulse {
	opacity: 1;
	border: 3px solid #F7A700;
	animation: pulsate 1s ease-out;
	animation-iteration-count: infinite;
}

.main-kanban-column-header:hover .crm-st-kanban-column-dot::before {
	border: 1px solid #2FC6F6;
}

.crm-st-kanban-column-dot::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 14px;
	height: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 50%;
	background: #ffffff;
	z-index: 1;
}

.crm-st-kanban-column-dot-active::before {
	background: #2FC6F6;
	border: 1px solid #2FC6F6;
	transition: all 600ms ease;
}

.crm-st-kanban-column-dot-active.crm-st-fade {
	opacity: 1!important;
}

.crm-st-kanban-column-dot-active.crm-st-fade::before {
	background: #D7F4FE;
	border: 1px solid #D7F4FE;
}

.crm-st-kanban-column-dot-active-stub::before {
	background: #E0E5E8;
	border: 1px solid #E0E5E8;
	transition: all 600ms ease;
}

.crm-st-kanban-column-dot-disallow-icon {
	position: absolute;
	width: 10px;
	height: 10px;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	z-index: 200;
	opacity: 0;
	pointer-events: none;
}

.crm-st-kanban-column-dot-disallow .crm-st-kanban-column-dot-disallow-icon {
	opacity: 1;
}

.crm-st-kanban-column-dot-disallow-icon::before,
.crm-st-kanban-column-dot-disallow-icon::after {
	position: absolute;
	width: 10px;
	height: 2px;
	top: 44%;
	content: '';
	background: red;
	transform: rotate(-45deg);
}

.crm-st-kanban-column-dot-disallow-icon::after {
	transform: rotate(45deg);
}

.crm-st-kanban-column-dot-highlight::before {
	background: #F7A700;
	border: 1px solid #F7A700;
}

.crm-st-kanban .main-kanban-column:last-child .main-kanban-column-title-bg {
	right: 13px;
	border-radius: 3px 0 0 3px;
}

.crm-st-kanban .main-kanban-column:last-child .main-kanban-column-title-right {
	 display: inline-block;
}


.crm-st-tunnel-button {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	font-size: 11px;
	text-transform: uppercase;
	position: absolute;
	background: #FFFFFF;
	border: 1px dashed rgba(47, 198, 246, .59);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08);
	border-radius: 19.5px;
	padding-left: 12px;
	padding-right: 12px;
	min-height: 26px;
	line-height: 27px;
	transform: translate3d(-50%, -50%, 0);
	z-index: 500;
	cursor: pointer;
	transition: 600ms all ease;
}

.crm-st-tunnel-button.crm-st-fade {
	border: 1px dashed rgba(47, 198, 246, .2);
	color: rgba(0, 0, 0, .2);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .02);
}

.crm-st-tunnel-button-counter {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	font-size: 11px;
	position: absolute;
	top: 0;
	right: 0;
	background: #2FC6F6;
	color: #ffffff;
	padding: 0 6px;
	border-radius: 20px;
	line-height: 16px;
	transform: translate3d(36%, -48%, 0);
	transition: opacity 600ms ease;
}

.crm-st-tunnel-button.crm-st-fade .crm-st-tunnel-button-counter {
	opacity: .2;
}

.crm-st-tunnel-button:hover {
	background: #E2F8FF;
	border: 1px solid #7EE0FF;
}

.crm-st-tunnel-button:active,
.crm-st-tunnel-button-active {
	background: #B7EEFF;
	border: 1px solid #7EE0FF;
}

.crm-st-tunnel-button-stub {
	border-color: #E0E5E8;
	pointer-events: none;
	color: rgba(0, 0, 0, .6);
}

.crm-st-kanban-grid {
	overflow: visible;
	max-width: 100%;
}

.crm-st-kanban-inner {
	overflow: visible;
}

.crm-st-kanban {
	overflow: visible;
}

.crm-st-add-category-btn {
	padding-left: 37px!important;
	margin-left: -13px;
}

.crm-st-add-category-btn::after {
	background-size: 86%;
}

.crm-st-blur > *:not(.crm-st-confirm-buttons),
.crm-st-blur .main-kanban-column,
.crm-st-blur .crm-st-kanban-column-dot,
.crm-st-blur .crm-st-kanban-column-dot::after,
.crm-st-blur .crm-st-kanban-column-dot::before,
.crm-st-blur .main-kanban-column-title,
.crm-st-blur .main-kanban-column-title-right,
.crm-st-blur .main-kanban-column-title-info,
.crm-st-blur-link {
	-webkit-filter: url(#crm-st-blur);
	filter: url(#crm-st-blur);
	pointer-events: none;
}

.crm-st-confirm-remove-cancel,
.crm-st-confirm-remove-cancel:hover {
	text-shadow: 0 0 4px #ffffff, 0 0 4px #ffffff, 0 0 4px #ffffff;
}

@keyframes pulsate {
	0% {
		transform: scale(0.1, 0.1);
		opacity: .0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.2, 1.2); opacity: 0.0;
	}
}

.crm-st-category-drag {
	z-index: 999;
}

.crm-st-category-stages-stub .crm-st-category-info {
	width: 402px;
}

.crm-st-category-stages-stub .crm-st-category-stages {
	flex-grow: 1;
	max-width: calc(100% - 423px);
	display: flex;
}

.crm-st-category-stages-stub .crm-st-category-info-title,
.crm-st-category-stages-stub .crm-st-category-info-title-editor {
	max-width: 350px;
}

.crm-st-category-stages-stub .crm-st-category-stages,
.crm-st-category-stub {
	pointer-events: none;
}

.crm-st-category-automation-disabled .crm-st-kanban-column-dot,
.crm-st-category-automation-disabled .crm-st-automation,
.crm-st-category-generator-disabled .crm-st-generator,
.crm-st-category-stub .crm-st-category-action-drag,
.crm-st-category-stub .crm-st-category-info-links-link,
.crm-st-category-stub .crm-st-category-info-links-help,
.crm-st-category-stub .crm-st-category-info-title,
.crm-st-category-editing-disabled .crm-st-category-action-drag{
	display: none;
}

.crm-st-category-stub .crm-st-category-info-title-container {
	min-height: 25px;
}

.crm-st-category-stages-stub .main-kanban-column-title-text,
.crm-st-category-stub .main-kanban-column-title-text {
	opacity: 0;
}

.crm-st-category-stub .crm-st-category-info-links-item {
	position: relative;
	height: 8px;
	margin-bottom: 16px;
}

.crm-st-category-stages-stub .main-kanban-column-title-info::before,
.crm-st-category-stub .crm-st-category-info-links-item::before,
.crm-st-category-stub .crm-st-category-info-title-container::before,
.crm-st-category-stub .main-kanban-column-title-info::before {
	position: absolute;
	content: '';
	display: inline-block;
	background: rgba(158, 166, 173, .2);
	width: 84px;
	height: 6px;
	border-radius: 2px;
}

.crm-st-category-stub .crm-st-category-info-title-container::before {
	width: 135px;
	height: 8px;
}

.crm-st-category-stages-stub .main-kanban-column-title-info::before,
.crm-st-category-stub .main-kanban-column-title-info::before {
	width: auto;
	height: 8px;
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -4px;
}

.crm-st-category-stub .main-kanban-column:last-child .main-kanban-column-title-info::before {
	right: -11px;
}

.crm-st-robots-link-icon {
	background: url("images/robot.svg") center no-repeat;
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-bottom: -5px;
	margin-left: 2px;
}

.crm-st-generator-link-icon {
	position: relative;
	top: 1px;
	background: #2FC6F6;
	display: inline-block;
	min-width: 32px;
	height: 16px;
	font-weight: bold;
	font-size: 11px;
	color: #FFFFFF;
	padding-left: 7px;
	padding-right: 18px;
	margin-left: 2px;
	line-height: 15px;
	border-radius: 100px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	transition: opacity 200ms ease;
}

.crm-st-generator-link-icon:hover {
	opacity: .7;
}

.crm-st-generator-link-icon::after {
	background: url("images/generator.svg") center center no-repeat;
	content: '';
	display: inline-block;
	width: 11px;
	height: 11px;
	position: absolute;
	top: 2px;
	right: 4px;
}

.crm-st-kanban .main-kanban-column-body {
	display: none;
}

.crm-st-kanban .main-kanban-inner::before,
.crm-st-kanban .main-kanban-inner::after {
	display: none;
}

.crm-st-category-info-links-item .tariff-lock {
	margin-left: -11px;
}