.rq-dropdown-container {
	margin: 0;
}

.crm-rq-popup-items-list {}

.crm-rq-popup-item {
	padding: 12px 20px 13px;
	border-bottom: 1px solid #f2f2f2;
}

.crm-rq-popup-items-list .crm-rq-popup-item:last-child {
	border-bottom: none;
}

.crm-rq-popup-item-name {
	font: 15px/18px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #424956;
	margin-bottom: 6px;
}

.crm-rq-popup-item-desc {
	font: 14px/16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #a1a5ac;
}

.crm-rq-popup-item-helper {
	font: 300 12px/18px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #535c69;
}

.crm-rq-popup-item-add-new {
	padding: 0;
}

.crm-rq-popup-item-add-new-btn {
	border: none;
	outline: 0;
	padding: 14px 20px;
	background-color: #effaff;
	display: block;
	width: 100%;
	text-align: left;
	cursor: pointer;
}

.crm-rq-popup-item-add-new-btn-text {
	font: 14px/16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #a1a5ac;
	margin-left: 10px;
}

.crm-rq-add-rq {
	cursor: pointer;
	vertical-align: middle;
	font: 13px/17px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #80868e;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.crm-rq-add-rq span { margin-right: 5px; }

.ui-btn.crm-rq-btn {
	--ui-btn-height: 16px;
	--ui-btn-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='16px' height='16px' viewBox='-0.5 -0.5 81 81'%3E%3Cdefs/%3E%3Cg%3E%3Crect x='0' y='0' width='80' height='80' fill='none' stroke='none' pointer-events='all'/%3E%3Crect x='17.5' y='35' width='45' height='10' fill='rgb(255, 255, 255)' stroke='none' pointer-events='none'/%3E%3Crect x='17.5' y='35' width='45' height='10' fill='rgb(255, 255, 255)' stroke='none' transform='rotate(90,40,40)' pointer-events='none'/%3E%3C/g%3E%3C/svg%3E");
}

.ui-dropdown-container.rq-dropdown-container
{
	margin-bottom: 0;
}