.task-interface-toolbar {
	--white: rgba(255,255,255,1);
	--white_alpha_15: rgba(255,255,255,.15);
	--white_alpha_30: rgba(255,255,255,.3);
	--white_alpha_40: rgba(255,255,255,.4);
	--white_alpha_50: rgba(255,255,255,.5);
	--white_alpha_80: rgba(255,255,255,.8);

	--green: rgba(187,237,33,1);
	--red: rgba(229,73,89,1);

	--graphite: rgba(82,92,105,1);
	--graphite_alpha_08: rgba(82,92,105,.08);
	--graphite_alpha_30: rgba(82,92,105,.3);
	--graphite_alpha_40: rgba(82,92,105,.4);
	--graphite_alpha_50: rgba(82,92,105,.5);
	--graphite_alpha_80: rgba(82,92,105,.8);

	/* style */
	display: flex;
	width: 100%;
	max-height: 33px;
	min-height: 33px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	font-size: 14px;
	color: var(--graphite);
}

.im-bar-mode .task-interface-toolbar {
	max-width: calc(100vw - 240px - 66px);
}

.im-bar-mode .menu-collapsed-mode .task-interface-toolbar {
	max-width: calc(100vw - 66px - 66px);
}

.ui-page-slider-wrapper .task-interface-toolbar {
	padding: 15px 0;
}

.task-interface-toolbar--item {
	display: inline-flex;
	overflow: hidden;
	/*padding: 4px 6px;*/
	margin-right: 10px;
	border-radius: 16px;
	background: var(--graphite_alpha_08);
}

.task-interface-toolbar--item:last-of-type {
	margin-right: 0;
}

.bitrix24-light-theme .task-interface-toolbar--item {
	background: var(--white_alpha_15);
}

.bitrix24-light-theme .task-interface-toolbar--item {
	background: var(--white_alpha_15);
}

.task-interface-toolbar--item.--without-bg {
	background: none;
	padding: 4px 0;
}

.task-interface-toolbar--item.--flex {
	flex: 1;
}

.task-interface-toolbar--item.--visible {
	overflow: visible;
}

.task-interface-toolbar--item.--align-right {
	margin-left: auto;
}

/* tasks-view-switcher */
.tasks-view-switcher {
	display: flex;
	flex: 1;
	padding: 4px 6px;
}

.tasks-view-switcher--item {
	display: inline-flex;
	align-items: center;
	flex: 1;
	position: relative;
	margin: 0 13px;
	color: var(--graphite_alpha_80);
	white-space: nowrap;
}

.bitrix24-light-theme .tasks-view-switcher--item {
	color: var(--white_alpha_80);
}

.tasks-view-switcher--item:hover,
.tasks-view-switcher--item.--active {
	color: var(--graphite);
}

.bitrix24-light-theme .tasks-view-switcher--item:hover,
.bitrix24-light-theme .tasks-view-switcher--item.--active {
	color: var(--white);
}

.tasks-view-switcher--item:after {
	content: none;
	position: absolute;
	bottom: 1px;
	left: 0;
	right: 0;
	height: 2px;
	background: var(--graphite_alpha_40);
}

.bitrix24-light-theme .tasks-view-switcher--item:after {
	background: var(--white_alpha_50);
}

.tasks-view-switcher--item.--active:after {
	content: '';
}

.tasks-pagetitle-view .pagetitle-below,
.tasks-pagetitle-view .ui-side-panel-wrap-below {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	box-sizing: border-box;
	border-top: 1px solid #dce2e6;
	-webkit-box-align: center;
	align-items: center;
}

.tasks-pagetitle-view .pagetitle-below {
	min-height: 53px;
}

.task-interface-btn-toolbar {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	font-size: 13px;
}

.task-interface-btn-toolbar {
	margin-right: 10px;
}

.task-interface-btn-toolbar.--robots:before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 8px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2213%22%20viewBox%3D%220%200%2015%2013%22%3E%3Cpath%20fill%3D%22%23535c69%22%20d%3D%22M12.1137872%2C3.60115802%20L12.9213711%2C0.88887765%20C12.9917364%2C0.653060708%2012.9323829%2C0.397184882%2012.7656685%2C0.217636118%20C12.5989541%2C0.0380873543%2012.3502067%2C-0.0378566184%2012.113127%2C0.0184115594%20C11.8760474%2C0.0746797372%2011.6866535%2C0.254611591%2011.6162882%2C0.490428532%20L10.9245602%2C2.81873631%20C8.77403662%2C1.683364%206.20997866%2C1.68606835%204.06180048%2C2.82597457%20L3.36666494%2C0.490428532%20C3.25788966%2C0.125887126%202.87755711%2C-0.0804361999%202.51716841%2C0.0295924856%20C2.15677972%2C0.139621171%201.95280675%2C0.524336243%202.06158203%2C0.88887765%20L2.8725735%2C3.61184307%20C1.05136157%2C5.08431072%20-0.00628362527%2C7.31674489%202.80901028e-05%2C9.6750943%20C2.80901028e-05%2C13.9311927%203.35644236%2C12.8868148%207.4999954%2C12.8868148%20C11.6435484%2C12.8868148%2014.9999627%2C13.9311927%2014.9999627%2C9.6750943%20C15.0072578%2C7.31042438%2013.9438643%2C5.07252025%2012.1137872%2C3.60115802%20Z%20M7.49318035%2C9.09672266%20C4.53544676%2C9.09672266%202.13654763%2C9.40693391%202.13654763%2C8.13885926%20C2.13654763%2C6.8707846%204.53544676%2C5.84122793%207.49318035%2C5.84122793%20C10.4509139%2C5.84122793%2012.8532206%2C6.86975056%2012.8532206%2C8.13885926%20C12.8532206%2C9.40796795%2010.4543215%2C9.09672266%207.49318035%2C9.09672266%20Z%20M5.04316831%2C6.79116371%20C4.62088547%2C6.86918401%204.33167594%2C7.26631071%204.38320708%2C7.69738635%20C4.43473822%2C8.12846199%204.80918992%2C8.44441522%205.23768653%2C8.41837532%20C5.66618314%2C8.39233541%206.00054518%2C8.03330729%206.00068344%2C7.59909168%20C5.95284474%2C7.11065813%205.52678755%2C6.75116144%205.04316831%2C6.79116371%20Z%20M9.28209458%2C7.69949772%20C9.33459027%2C8.13049967%209.70956893%2C8.44577556%2010.1380777%2C8.41919424%20C10.5665864%2C8.39261291%2010.90067%2C8.03335237%2010.9007075%2C7.59909168%20C10.8528825%2C7.10920225%2010.4246755%2C6.74917285%209.93978486%2C6.79116371%20C9.51771184%2C6.87058387%209.22959888%2C7.26849578%209.28209458%2C7.69949772%20Z%22%20opacity%3D%22.9%22/%3E%3C/svg%3E') center no-repeat;
}

.task-interface-btn-toolbar.--robots.ui-btn-icon-lock:before {
	content: none;
}

.task-interface-btn-toolbar.--robots.ui-btn-icon-lock:after {
    left: 6px;
}

.bitrix24-light-theme .task-interface-btn-toolbar.--robots:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2213%22%20viewBox%3D%220%200%2015%2013%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M12.1137872%2C3.60115802%20L12.9213711%2C0.88887765%20C12.9917364%2C0.653060708%2012.9323829%2C0.397184882%2012.7656685%2C0.217636118%20C12.5989541%2C0.0380873543%2012.3502067%2C-0.0378566184%2012.113127%2C0.0184115594%20C11.8760474%2C0.0746797372%2011.6866535%2C0.254611591%2011.6162882%2C0.490428532%20L10.9245602%2C2.81873631%20C8.77403662%2C1.683364%206.20997866%2C1.68606835%204.06180048%2C2.82597457%20L3.36666494%2C0.490428532%20C3.25788966%2C0.125887126%202.87755711%2C-0.0804361999%202.51716841%2C0.0295924856%20C2.15677972%2C0.139621171%201.95280675%2C0.524336243%202.06158203%2C0.88887765%20L2.8725735%2C3.61184307%20C1.05136157%2C5.08431072%20-0.00628362527%2C7.31674489%202.80901028e-05%2C9.6750943%20C2.80901028e-05%2C13.9311927%203.35644236%2C12.8868148%207.4999954%2C12.8868148%20C11.6435484%2C12.8868148%2014.9999627%2C13.9311927%2014.9999627%2C9.6750943%20C15.0072578%2C7.31042438%2013.9438643%2C5.07252025%2012.1137872%2C3.60115802%20Z%20M7.49318035%2C9.09672266%20C4.53544676%2C9.09672266%202.13654763%2C9.40693391%202.13654763%2C8.13885926%20C2.13654763%2C6.8707846%204.53544676%2C5.84122793%207.49318035%2C5.84122793%20C10.4509139%2C5.84122793%2012.8532206%2C6.86975056%2012.8532206%2C8.13885926%20C12.8532206%2C9.40796795%2010.4543215%2C9.09672266%207.49318035%2C9.09672266%20Z%20M5.04316831%2C6.79116371%20C4.62088547%2C6.86918401%204.33167594%2C7.26631071%204.38320708%2C7.69738635%20C4.43473822%2C8.12846199%204.80918992%2C8.44441522%205.23768653%2C8.41837532%20C5.66618314%2C8.39233541%206.00054518%2C8.03330729%206.00068344%2C7.59909168%20C5.95284474%2C7.11065813%205.52678755%2C6.75116144%205.04316831%2C6.79116371%20Z%20M9.28209458%2C7.69949772%20C9.33459027%2C8.13049967%209.70956893%2C8.44577556%2010.1380777%2C8.41919424%20C10.5665864%2C8.39261291%2010.90067%2C8.03335237%2010.9007075%2C7.59909168%20C10.8528825%2C7.10920225%2010.4246755%2C6.74917285%209.93978486%2C6.79116371%20C9.51771184%2C6.87058387%209.22959888%2C7.26849578%209.28209458%2C7.69949772%20Z%22%20opacity%3D%22.9%22/%3E%3C/svg%3E');
}

.task-interface-btn-toolbar.--robots:active {
	border-color: #9fa4ab;
}

.bitrix24-light-theme .task-interface-btn-toolbar.--robots:active {
	border-color: #9fa4ab;
}

@media screen and (max-width: 1500px) {
	.bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--3 .task-interface-btn-toolbar.--robots.--small {
		position: relative;
		padding: 0;
		width: 37px;
		font-size: 0;
	}
	.bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--3 .task-interface-btn-toolbar.--robots.--small:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: auto;
		width: auto;
		margin: 0;
	}
}

.task-interface-toolbar--item--scope {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	overflow: visible !important;
	white-space: nowrap;
}

.ui-page-slider-wrapper .ui-side-panel-wrap-sidebar:empty + .ui-side-panel-wrap-workarea {
	padding: 0;
}

.task-interface-btn-toolbar.--robots + .intranet-binding-menu-btn-round {
	margin-left: 0;
}

.intranet-binding-menu-btn-round.--small {
	width: 37px;
	height: 24px;
	padding: 0;
	overflow: hidden;
	border: 1px solid var(--white_alpha_40);
}

.intranet-binding-menu-btn-round.--small .ui-btn-main {
	display: none;
}

.intranet-binding-menu-btn-round.--small .ui-btn-menu {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
	border-radius: 0 !important;
	border: none !important;
}

.intranet-binding-menu-btn-round {
	border-radius: calc(var(--ui-btn-height) / 2) !important;
}

.intranet-binding-menu-btn-round .ui-btn-main,
.intranet-binding-menu-btn-round .ui-btn-menu {
	text-transform: none;
	height: 27px;
	font: 13px/25px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.intranet-binding-menu-btn-round .ui-btn-main {
	border-top-left-radius: calc(var(--ui-btn-height) / 2) !important;
	border-bottom-left-radius: calc(var(--ui-btn-height) / 2) !important;
	padding: 0 12px;
}

.intranet-binding-menu-btn-round .ui-btn-menu {
	border-top-right-radius: calc(var(--ui-btn-height) / 2) !important;
	border-bottom-right-radius: calc(var(--ui-btn-height) / 2) !important;
}

.bitrix24-dark-theme .ui-btn-themes.intranet-binding-menu-btn-round,
.bitrix24-dark-theme .ui-btn-themes.intranet-binding-menu-btn-round:hover {
	background: none;
}

.intranet-binding-menu-btn {
	margin-right: 10px;
	display: inline-flex !important;
}

.intranet-binding-menu-btn + script + .ui-btn {
	margin-left: 0;
}

#crm_invoice_toolbar .intranet-binding-menu-btn,
#toolbar_quote_show_1 .intranet-binding-menu-btn {
	--ui-btn-border-color: #c6cdd3 !important;
	--ui-btn-colors-after-bg: #535c69 !important;
	--ui-btn-colors-before-bg: #535c69 !important;
	--ui-btn-background-hover: #cfd4d8 !important;
	--ui-btn-background: transparent !important;
	background-color: transparent !important;
}

#crm_invoice_toolbar .intranet-binding-menu-btn a,
#toolbar_quote_show_1 .intranet-binding-menu-btn a {
	color: rgb(83, 91, 105) !important;
}

.task-status-text-color-accepted,
.task-status-text-color-accepted:hover,
.task-status-text-color-in-progress,
.task-status-text-color-in-progress:hover {
	color: #525c69 !important;
}

.task-status-text-color-overdue,
.task-status-text-color-overdue:hover {
	color: #d2000d !important;
}

.task-status-text-color-new,
.task-status-text-color-new:hover {
	color: #558d09 !important;
}

.task-status-text-color-completed,
.task-status-text-color-completed:hover {
	color: #ccc !important;
	text-decoration: line-through !important;
}

.task-status-text-color-delayed,
.task-status-text-color-delayed:hover {
	color: #ccc !important;
}

.task-status-text-color-waiting,
.task-status-text-color-waiting:hover {
	color: #9b7f35 !important;
}

.tasks-status-text-green {
	color: #558d09
}

.tasks-status-text-yellow {
	color: #9b7f35
}

.tasks-status-text-red {
	color: #d2000d
}

.task-status-hot:after {
	display: inline-block;
	margin: 0 0 6px;
	width: 8px;
	height: 12px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%2211%22%20viewBox%3D%220%200%208%2011%22%3E%0A%20%20%3Cpath%20fill%3D%22%23F16C0A%22%20fill-rule%3D%22evenodd%22%20d%3D%22M200.069979%2C24%20L200.14%2C24%20C200.14%2C24%20203%2C23.0560625%20203%2C20.390625%20C203%2C16.6348125%20199.346667%2C15.8813125%20199.666667%2C13%20C197.993333%2C13.8339375%20195%2C16.75375%20195%2C19.875%20C195.039359%2C21.7259245%20196.174362%2C23.3629491%20197.86%2C24%20L197.86%2C24%20L198.123417%2C24%20C197.460595%2C23.3218266%20197.059336%2C22.4251727%20197%2C21.4707569%20C197.092476%2C20.0452868%20197.868205%2C18.7524059%20199.082454%2C18%20C200.109798%2C20.1851885%20201.164908%2C19.9436239%20201.164908%2C21.4707569%20C201.162991%2C22.4339232%20200.76293%2C23.3471724%20200.069979%2C24%20Z%22%20transform%3D%22translate%28-195%20-13%29%22/%3E%0A%3C/svg%3E%0A) top center no-repeat;
	content: '';
	vertical-align: middle;
}

@media screen and (max-width: 1500px) {
	.bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--3 .task-interface-btn-toolbar.--robots.--small {
		position: relative;
		padding: 0;
		width: 37px;
		font-size: 0;
	}
	.bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--3 .task-interface-btn-toolbar.--robots.--small:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: auto;
		width: auto;
		margin: 0;
	}
}

@media screen and (max-width: 1320px) {
	.bx-layout-table.menu-collapsed-mode .task-interface-toolbar--item--3 .task-interface-btn-toolbar.--robots.--small {
		position: relative;
		padding: 0;
		width: 37px;
		font-size: 0;
	}
	.bx-layout-table.menu-collapsed-mode .task-interface-toolbar--item--3 .task-interface-btn-toolbar.--robots.--small:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: auto;
		width: auto;
		margin: 0;
	}
}

/*other*/

@media screen and (max-width: 1740px) {
	.bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--3 .intranet-binding-menu-btn {
		width: 37px;
		height: 24px;
		padding: 0;
		overflow: hidden;
		border: 1px solid var(--white_alpha_40);
	}

	.bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--3 .intranet-binding-menu-btn .ui-btn-main {
		display: none;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--3 .intranet-binding-menu-btn .ui-btn-menu {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: auto;
		height: auto;
		border-radius: 0 !important;
		border: none !important;
	}

	.bitrix24-default-theme .bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--3 .intranet-binding-menu-btn,
	.bitrix24-dark-theme .bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--3 .intranet-binding-menu-btn {
		border: 1px solid rgba(0, 0, 0, .06);
	}

	.bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--3 .ui-btn-menu:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		box-sizing: border-box;
		margin-top: 0;
		margin-left: 0;
		width: auto;
		border: none;
		background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='5' viewBox='0 0 17 5'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M6.25,10.4166667 C7.40059323,10.4166667 8.33333333,11.3494068 8.33333333,12.5 C8.33333333,13.6505932 7.40059323,14.5833333 6.25,14.5833333 C5.09940677,14.5833333 4.16666667,13.6505932 4.16666667,12.5 C4.16666667,11.3494068 5.09940677,10.4166667 6.25,10.4166667 Z M12.5,10.4166667 C13.6505932,10.4166667 14.5833333,11.3494068 14.5833333,12.5 C14.5833333,13.6505932 13.6505932,14.5833333 12.5,14.5833333 C11.3494068,14.5833333 10.4166667,13.6505932 10.4166667,12.5 C10.4166667,11.3494068 11.3494068,10.4166667 12.5,10.4166667 Z M18.75,10.4166667 C19.9005932,10.4166667 20.8333333,11.3494068 20.8333333,12.5 C20.8333333,13.6505932 19.9005932,14.5833333 18.75,14.5833333 C17.5994068,14.5833333 16.6666667,13.6505932 16.6666667,12.5 C16.6666667,11.3494068 17.5994068,10.4166667 18.75,10.4166667 Z' transform='translate(-4 -10)'/%3E%3C/svg%3E%0A") center no-repeat;
	}

	.bitrix24-default-theme .bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--3 .ui-btn-menu:before,
	.bitrix24-dark-theme .bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--3 .ui-btn-menu:before {
		/*border: 1px solid rgba(0, 0, 0, .06);*/
		background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='5' viewBox='0 0 17 5'%3E%3Cpath fill='%23535C69' fill-rule='evenodd' d='M6.25,10.4166667 C7.40059323,10.4166667 8.33333333,11.3494068 8.33333333,12.5 C8.33333333,13.6505932 7.40059323,14.5833333 6.25,14.5833333 C5.09940677,14.5833333 4.16666667,13.6505932 4.16666667,12.5 C4.16666667,11.3494068 5.09940677,10.4166667 6.25,10.4166667 Z M12.5,10.4166667 C13.6505932,10.4166667 14.5833333,11.3494068 14.5833333,12.5 C14.5833333,13.6505932 13.6505932,14.5833333 12.5,14.5833333 C11.3494068,14.5833333 10.4166667,13.6505932 10.4166667,12.5 C10.4166667,11.3494068 11.3494068,10.4166667 12.5,10.4166667 Z M18.75,10.4166667 C19.9005932,10.4166667 20.8333333,11.3494068 20.8333333,12.5 C20.8333333,13.6505932 19.9005932,14.5833333 18.75,14.5833333 C17.5994068,14.5833333 16.6666667,13.6505932 16.6666667,12.5 C16.6666667,11.3494068 17.5994068,10.4166667 18.75,10.4166667 Z' transform='translate(-4 -10)'/%3E%3C/svg%3E%0A");
	}

	.bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--3 .intranet-binding-menu-btn .ui-btn-menu:after {
		content: none;
	}
}

@media screen and (max-width: 1240px) {
	.menu-collapsed-mode .task-interface-toolbar--item--3 .intranet-binding-menu-btn {
		width: 37px;
		height: 24px;
		padding: 0;
		overflow: hidden;
		border: 1px solid var(--white_alpha_40);
	}

	.menu-collapsed-mode .task-interface-toolbar--item--3 .intranet-binding-menu-btn .ui-btn-main {
		display: none;
	}

	.menu-collapsed-mode .task-interface-toolbar--item--3 .intranet-binding-menu-btn .ui-btn-menu {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: auto;
		height: auto;
		border-radius: 0 !important;
		border: none !important;
	}

	.menu-collapsed-mode .task-interface-toolbar--item--3 .ui-btn-menu:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		box-sizing: border-box;
		margin-top: 0;
		margin-left: 0;
		width: auto;
		border: none;
		background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='5' viewBox='0 0 17 5'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M6.25,10.4166667 C7.40059323,10.4166667 8.33333333,11.3494068 8.33333333,12.5 C8.33333333,13.6505932 7.40059323,14.5833333 6.25,14.5833333 C5.09940677,14.5833333 4.16666667,13.6505932 4.16666667,12.5 C4.16666667,11.3494068 5.09940677,10.4166667 6.25,10.4166667 Z M12.5,10.4166667 C13.6505932,10.4166667 14.5833333,11.3494068 14.5833333,12.5 C14.5833333,13.6505932 13.6505932,14.5833333 12.5,14.5833333 C11.3494068,14.5833333 10.4166667,13.6505932 10.4166667,12.5 C10.4166667,11.3494068 11.3494068,10.4166667 12.5,10.4166667 Z M18.75,10.4166667 C19.9005932,10.4166667 20.8333333,11.3494068 20.8333333,12.5 C20.8333333,13.6505932 19.9005932,14.5833333 18.75,14.5833333 C17.5994068,14.5833333 16.6666667,13.6505932 16.6666667,12.5 C16.6666667,11.3494068 17.5994068,10.4166667 18.75,10.4166667 Z' transform='translate(-4 -10)'/%3E%3C/svg%3E%0A") center no-repeat;
	}

	.menu-collapsed-mode .task-interface-toolbar--item--3 .intranet-binding-menu-btn .ui-btn-menu:after {
		content: none;
	}
}

@media screen and (max-width: 1500px) {
	.bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--2 .task-interface-btn-toolbar.--robots.--small {
		position: relative;
		padding: 0;
		width: 37px;
		font-size: 0;
	}
	.bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--2 .task-interface-btn-toolbar.--robots.--small:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: auto;
		width: auto;
		margin: 0;
	}
}

@media screen and (max-width: 1320px) {
	.bx-layout-table.menu-collapsed-mode .task-interface-toolbar--item--2 .task-interface-btn-toolbar.--robots.--small {
		position: relative;
		padding: 0;
		width: 37px;
		font-size: 0;
	}
	.bx-layout-table.menu-collapsed-mode .task-interface-toolbar--item--2 .task-interface-btn-toolbar.--robots.--small:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: auto;
		width: auto;
		margin: 0;
	}
}

@media screen and (max-width: 1440px) {
	.bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--2 .intranet-binding-menu-btn {
		width: 37px;
		height: 24px;
		padding: 0;
		overflow: hidden;
		border: 1px solid #c6cdd3;
	}

	.bitrix24-light-theme .bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--2 .intranet-binding-menu-btn {
		border: 1px solid var(--white_alpha_40);
	}

	.ui-slider-page .task-interface-toolbar--item--3 .ui-btn-menu:before {
		background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='5' viewBox='0 0 17 5'%3E%3Cpath fill='%23535c69' fill-rule='evenodd' d='M6.25,10.4166667 C7.40059323,10.4166667 8.33333333,11.3494068 8.33333333,12.5 C8.33333333,13.6505932 7.40059323,14.5833333 6.25,14.5833333 C5.09940677,14.5833333 4.16666667,13.6505932 4.16666667,12.5 C4.16666667,11.3494068 5.09940677,10.4166667 6.25,10.4166667 Z M12.5,10.4166667 C13.6505932,10.4166667 14.5833333,11.3494068 14.5833333,12.5 C14.5833333,13.6505932 13.6505932,14.5833333 12.5,14.5833333 C11.3494068,14.5833333 10.4166667,13.6505932 10.4166667,12.5 C10.4166667,11.3494068 11.3494068,10.4166667 12.5,10.4166667 Z M18.75,10.4166667 C19.9005932,10.4166667 20.8333333,11.3494068 20.8333333,12.5 C20.8333333,13.6505932 19.9005932,14.5833333 18.75,14.5833333 C17.5994068,14.5833333 16.6666667,13.6505932 16.6666667,12.5 C16.6666667,11.3494068 17.5994068,10.4166667 18.75,10.4166667 Z' transform='translate(-4 -10)'/%3E%3C/svg%3E%0A") center no-repeat;
	}

	.bitrix24-light-theme .ui-slider-page .task-interface-toolbar--item--3 .ui-btn-menu:before {
		background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='5' viewBox='0 0 17 5'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M6.25,10.4166667 C7.40059323,10.4166667 8.33333333,11.3494068 8.33333333,12.5 C8.33333333,13.6505932 7.40059323,14.5833333 6.25,14.5833333 C5.09940677,14.5833333 4.16666667,13.6505932 4.16666667,12.5 C4.16666667,11.3494068 5.09940677,10.4166667 6.25,10.4166667 Z M12.5,10.4166667 C13.6505932,10.4166667 14.5833333,11.3494068 14.5833333,12.5 C14.5833333,13.6505932 13.6505932,14.5833333 12.5,14.5833333 C11.3494068,14.5833333 10.4166667,13.6505932 10.4166667,12.5 C10.4166667,11.3494068 11.3494068,10.4166667 12.5,10.4166667 Z M18.75,10.4166667 C19.9005932,10.4166667 20.8333333,11.3494068 20.8333333,12.5 C20.8333333,13.6505932 19.9005932,14.5833333 18.75,14.5833333 C17.5994068,14.5833333 16.6666667,13.6505932 16.6666667,12.5 C16.6666667,11.3494068 17.5994068,10.4166667 18.75,10.4166667 Z' transform='translate(-4 -10)'/%3E%3C/svg%3E%0A");
	}

	.bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--2 .intranet-binding-menu-btn .ui-btn-main {
		display: none;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--2 .intranet-binding-menu-btn .ui-btn-menu {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: auto;
		height: auto;
		border-radius: 0 !important;
		border: none !important;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--2 .ui-btn-menu:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		box-sizing: border-box;
		margin-top: 0;
		margin-left: 0;
		width: auto;
		border: none;
		background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='5' viewBox='0 0 17 5'%3E%3Cpath fill='%23535c69' fill-rule='evenodd' d='M6.25,10.4166667 C7.40059323,10.4166667 8.33333333,11.3494068 8.33333333,12.5 C8.33333333,13.6505932 7.40059323,14.5833333 6.25,14.5833333 C5.09940677,14.5833333 4.16666667,13.6505932 4.16666667,12.5 C4.16666667,11.3494068 5.09940677,10.4166667 6.25,10.4166667 Z M12.5,10.4166667 C13.6505932,10.4166667 14.5833333,11.3494068 14.5833333,12.5 C14.5833333,13.6505932 13.6505932,14.5833333 12.5,14.5833333 C11.3494068,14.5833333 10.4166667,13.6505932 10.4166667,12.5 C10.4166667,11.3494068 11.3494068,10.4166667 12.5,10.4166667 Z M18.75,10.4166667 C19.9005932,10.4166667 20.8333333,11.3494068 20.8333333,12.5 C20.8333333,13.6505932 19.9005932,14.5833333 18.75,14.5833333 C17.5994068,14.5833333 16.6666667,13.6505932 16.6666667,12.5 C16.6666667,11.3494068 17.5994068,10.4166667 18.75,10.4166667 Z' transform='translate(-4 -10)'/%3E%3C/svg%3E%0A") center no-repeat;
	}

	.bitrix24-light-theme .bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--2 .ui-btn-menu:before {
		background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='5' viewBox='0 0 17 5'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M6.25,10.4166667 C7.40059323,10.4166667 8.33333333,11.3494068 8.33333333,12.5 C8.33333333,13.6505932 7.40059323,14.5833333 6.25,14.5833333 C5.09940677,14.5833333 4.16666667,13.6505932 4.16666667,12.5 C4.16666667,11.3494068 5.09940677,10.4166667 6.25,10.4166667 Z M12.5,10.4166667 C13.6505932,10.4166667 14.5833333,11.3494068 14.5833333,12.5 C14.5833333,13.6505932 13.6505932,14.5833333 12.5,14.5833333 C11.3494068,14.5833333 10.4166667,13.6505932 10.4166667,12.5 C10.4166667,11.3494068 11.3494068,10.4166667 12.5,10.4166667 Z M18.75,10.4166667 C19.9005932,10.4166667 20.8333333,11.3494068 20.8333333,12.5 C20.8333333,13.6505932 19.9005932,14.5833333 18.75,14.5833333 C17.5994068,14.5833333 16.6666667,13.6505932 16.6666667,12.5 C16.6666667,11.3494068 17.5994068,10.4166667 18.75,10.4166667 Z' transform='translate(-4 -10)'/%3E%3C/svg%3E%0A");
	}

	.bx-layout-table:not(.menu-collapsed-mode) .task-interface-toolbar--item--2 .intranet-binding-menu-btn .ui-btn-menu:after {
		content: none;
	}
}

@media screen and (max-width: 1240px) {
	.menu-collapsed-mode .task-interface-toolbar--item--2 .intranet-binding-menu-btn {
		width: 37px;
		height: 24px;
		padding: 0;
		overflow: hidden;
		border: 1px solid var(--white_alpha_40);
	}

	.menu-collapsed-mode .task-interface-toolbar--item--2 .intranet-binding-menu-btn .ui-btn-main {
		display: none;
	}

	.menu-collapsed-mode .task-interface-toolbar--item--2 .intranet-binding-menu-btn .ui-btn-menu {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: auto;
		height: auto;
		border-radius: 0 !important;
		border: none !important;
	}

	.menu-collapsed-mode .task-interface-toolbar--item--2 .ui-btn-menu:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		box-sizing: border-box;
		margin-top: 0;
		margin-left: 0;
		width: auto;
		border: none;
		background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='5' viewBox='0 0 17 5'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M6.25,10.4166667 C7.40059323,10.4166667 8.33333333,11.3494068 8.33333333,12.5 C8.33333333,13.6505932 7.40059323,14.5833333 6.25,14.5833333 C5.09940677,14.5833333 4.16666667,13.6505932 4.16666667,12.5 C4.16666667,11.3494068 5.09940677,10.4166667 6.25,10.4166667 Z M12.5,10.4166667 C13.6505932,10.4166667 14.5833333,11.3494068 14.5833333,12.5 C14.5833333,13.6505932 13.6505932,14.5833333 12.5,14.5833333 C11.3494068,14.5833333 10.4166667,13.6505932 10.4166667,12.5 C10.4166667,11.3494068 11.3494068,10.4166667 12.5,10.4166667 Z M18.75,10.4166667 C19.9005932,10.4166667 20.8333333,11.3494068 20.8333333,12.5 C20.8333333,13.6505932 19.9005932,14.5833333 18.75,14.5833333 C17.5994068,14.5833333 16.6666667,13.6505932 16.6666667,12.5 C16.6666667,11.3494068 17.5994068,10.4166667 18.75,10.4166667 Z' transform='translate(-4 -10)'/%3E%3C/svg%3E%0A") center no-repeat;
	}

	.menu-collapsed-mode .task-interface-toolbar--item--2 .intranet-binding-menu-btn .ui-btn-menu:after {
		content: none;
	}
}

/*slider media*/

@media screen and (max-width: 1700px) {
	.ui-slider-page .task-interface-toolbar--item--3 .intranet-binding-menu-btn {
		width: 37px;
		height: 24px;
		padding: 0;
		overflow: hidden;
		border: 1px solid #c6cdd3;
	}

	.bitrix24-dark-theme .ui-slider-page .task-interface-toolbar--item--3 .intranet-binding-menu-btn {
		border: 1px solid var(--white_alpha_40);
	}

	.ui-slider-page .task-interface-toolbar--item--3 .intranet-binding-menu-btn .ui-btn-main {
		display: none;
	}

	.ui-slider-page .task-interface-toolbar--item--3 .intranet-binding-menu-btn .ui-btn-menu {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: auto;
		height: auto;
		border-radius: 0 !important;
		border: none !important;
	}

	.ui-slider-page .task-interface-toolbar--item--3 .ui-btn-menu:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		box-sizing: border-box;
		margin-top: 0;
		margin-left: 0;
		width: auto;
		border: none;
		background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='5' viewBox='0 0 17 5'%3E%3Cpath fill='%23535c69' fill-rule='evenodd' d='M6.25,10.4166667 C7.40059323,10.4166667 8.33333333,11.3494068 8.33333333,12.5 C8.33333333,13.6505932 7.40059323,14.5833333 6.25,14.5833333 C5.09940677,14.5833333 4.16666667,13.6505932 4.16666667,12.5 C4.16666667,11.3494068 5.09940677,10.4166667 6.25,10.4166667 Z M12.5,10.4166667 C13.6505932,10.4166667 14.5833333,11.3494068 14.5833333,12.5 C14.5833333,13.6505932 13.6505932,14.5833333 12.5,14.5833333 C11.3494068,14.5833333 10.4166667,13.6505932 10.4166667,12.5 C10.4166667,11.3494068 11.3494068,10.4166667 12.5,10.4166667 Z M18.75,10.4166667 C19.9005932,10.4166667 20.8333333,11.3494068 20.8333333,12.5 C20.8333333,13.6505932 19.9005932,14.5833333 18.75,14.5833333 C17.5994068,14.5833333 16.6666667,13.6505932 16.6666667,12.5 C16.6666667,11.3494068 17.5994068,10.4166667 18.75,10.4166667 Z' transform='translate(-4 -10)'/%3E%3C/svg%3E%0A") center no-repeat;
	}

	.bitrix24-light-theme .ui-slider-page .task-interface-toolbar--item--3 .ui-btn-menu:before {
		background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='5' viewBox='0 0 17 5'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M6.25,10.4166667 C7.40059323,10.4166667 8.33333333,11.3494068 8.33333333,12.5 C8.33333333,13.6505932 7.40059323,14.5833333 6.25,14.5833333 C5.09940677,14.5833333 4.16666667,13.6505932 4.16666667,12.5 C4.16666667,11.3494068 5.09940677,10.4166667 6.25,10.4166667 Z M12.5,10.4166667 C13.6505932,10.4166667 14.5833333,11.3494068 14.5833333,12.5 C14.5833333,13.6505932 13.6505932,14.5833333 12.5,14.5833333 C11.3494068,14.5833333 10.4166667,13.6505932 10.4166667,12.5 C10.4166667,11.3494068 11.3494068,10.4166667 12.5,10.4166667 Z M18.75,10.4166667 C19.9005932,10.4166667 20.8333333,11.3494068 20.8333333,12.5 C20.8333333,13.6505932 19.9005932,14.5833333 18.75,14.5833333 C17.5994068,14.5833333 16.6666667,13.6505932 16.6666667,12.5 C16.6666667,11.3494068 17.5994068,10.4166667 18.75,10.4166667 Z' transform='translate(-4 -10)'/%3E%3C/svg%3E%0A");
	}

	.ui-slider-page .task-interface-toolbar--item--3 .intranet-binding-menu-btn .ui-btn-menu:after {
		content: none;
	}
}

@media screen and (max-width: 1700px) {
	.ui-slider-page .task-interface-toolbar--item--3 .task-interface-btn-toolbar.--robots.--small {
		position: relative;
		padding: 0;
		width: 37px;
		font-size: 0;
	}
	.ui-slider-page .task-interface-toolbar--item--3 .task-interface-btn-toolbar.--robots.--small:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: auto;
		width: auto;
		margin: 0;
	}
}
