/* Payment */

.crm-config-ps-list-task-options-payment-method {
	overflow: hidden;
}

.crm-config-ps-list-task-options-payment-method-row {
	overflow: hidden;
}

.crm-config-ps-list-payment-method-title {
	margin: 39px 0 7px 0;
}

.crm-config-ps-list-payment-method-private-title {
	display: inline-block;
	margin: 21px 0 0 0;
}

.crm-config-ps-list-task-options-payment-method-block,
.crm-config-ps-list-task-options-payment-method-block-active {
	margin: 9px 0 0 0;
	padding: 0 12px;
	min-width: 235px;
	height: 38px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: transparent;
	font: 14px/38px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
	overflow: hidden;
	cursor: pointer;
}
.crm-config-ps-list-task-options-payment-method-block-active {
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
}

.crm-config-ps-list-task-options-payment-active-method-block {
	margin: 0 0 10px 0;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
}

.payment-method-block-red,
.payment-method-block-green,
.payment-method-block-orange {
	-webkit-transition: background .3s ease;
	-moz-transition: background .3s ease;
	transition: background .3s ease;
}

.payment-method-block-red {
	background: #fe5957;
}

.payment-method-block-green {
	background: #9ecd0f;
}

.payment-method-block-orange {
	background: #ffa801;
}

.crm-config-ps-list-task-options-payment-method-block.payment-method-block-orange:hover {
	background: #ec9c00;
}

.crm-config-ps-list-task-options-payment-method-block.payment-method-block-green:hover {
	background: #9bbf30;
}

.crm-config-ps-list-task-options-payment-method-block.payment-method-block-red:hover {
	background: #f54442;
}

.crm-config-ps-list-task-options-payment-method-block:hover .crm-config-ps-list-task-options-payment-method-block-element {
	opacity: 1;
}

.crm-config-ps-list-task-options-payment-method-block-name {
	float: left;
	font: bold 14px/38px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-config-ps-list-task-options-payment-method-block-element {
	float: right;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	transition: opacity .3s ease;
	opacity: .5;
}


.crm-config-ps-list-task-options-payment-method-left-column,
.crm-config-ps-list-task-options-payment-method-right-column {
	float: left;
}

.crm-config-ps-list-task-options-payment-method-left-column {
	margin: 0 39px 0 0;
	padding: 0 0 10px 0;
}

.crm-config-ps-list-task-options-payment-method-right-column {
	padding: 0 0 10px 0;
}

.crm-config-ps-list-task-options-payment-method-active {
	padding: 10px 15px;
	border: 1px solid #f4e2e2;
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	background: #fff;
	-webkit-transition: filter .3s ease;
	-moz-transition: filter .3s ease;
	transition: filter .3s ease;
	overflow: hidden;
	cursor: pointer;
}

.crm-config-ps-list-task-options-payment-active-method-block:hover {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.crm-config-ps-list-task-options-payment-active-method-block:hover .crm-config-ps-list-task-options-payment-off {
	color: #3a3636;
}

.crm-config-ps-list-task-options-payment-method-active-name {
	float: left;
	font: bold 13px/24px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #29ad49;
}

.crm-config-ps-list-task-options-payment-method-active-date {
	float: right;
}

.crm-config-ps-list-task-options-active-date {
	font: 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #424956;
}

.crm-config-ps-list-task-options-payment-off {
	font: 11px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #9b9b9b;
	text-align: right;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	transition: color .3s ease;
}

/* End Payment */