.calendar-pagetitle-view .pagetitle-below,
.calendar-pagetitle-view .ui-side-panel-wrap-below {
	display: flex;
	box-sizing: border-box;
	padding: 0 5px 0 13px;
	/*min-width: 891px;*/
	border-top: 1px solid #dce2e6;
	align-items: center;
}

/* CALENDAR VIEW SWITCHER */
.calendar-view-switcher {
	display: flex;
	height: 53px;
	color: #545c6a;
	font: 13px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	align-items: center;
	justify-content: flex-end;
}

.calendar-view-switcher-list {
	display: flex;
	align-items: center;
}

.calendar-view-switcher-list-item {
	margin: 0 21px 0 0;
	border-bottom: 2px solid transparent;
	color: #545c6a;
	font: 14px/30px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	cursor: pointer;
	text-decoration: none;
	white-space: nowrap;
	transition: all .2s linear;
	opacity: .8;
}

.calendar-view-switcher-list-item:hover,
.calendar-view-switcher-list-item-active {
	border-bottom: 2px solid #b1b8bf;
	color: #545c6a;
	opacity: 1;
}

.calendar-head-area {
	min-height: 73px;
	box-sizing: border-box;
	position: relative;
	display: flex;
	align-items: center;
}

.calendar-head-area-title {
	font: 24px/26px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	margin: 0;
	padding: 21px 0 17px 5px;
	display: block;
	word-wrap: break-word;
}

.popup-window.email-limit-popup {
	padding-left: 20px;
	padding-right: 20px;
}

.email-limit-popup .popup-window-content {
	background: #fff;
	border-top: 1px solid #edeef0;
	border-bottom: 1px solid #edeef0;
	color: #535c69;
	text-align: center;
	padding-bottom: 32px;
	padding-top: 30px;
}

.email-limit-popup .popup-window-titlebar-text {
	color: #535C69;
	padding-left: 0;
}

.email-limit-popup .popup-window-buttons {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-bottom: 0;
}

.email-limit-popup .ui-btn:last-child {
	margin-left: 0;
	margin-top: 6px;
}

.calendar-email-limit-text {
	font: 21px/25px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	margin-bottom: 13px;
}

.calendar-email-limit-subtext {
	font-size: 14px;
	line-height: 20px;
}
