.catalog-settings-wrapper {
	margin: 15px 0 20px 0;
	padding: 0 15px 0 21px !important;
}
.catalog-settings-main-header-feedback-container {
	margin-left: auto;
}
.catalog-settings-button-container {
	padding-top: 5px;
	margin-bottom: 15px;
}
.catalog-settings-main-settings {}
.catalog-settings-editor-section-content {
	position: relative;
	padding: 15px 0;
	transition: 250ms linear padding, 250ms linear height;
}
.catalog-settings-editor-content-block {
	position: relative;
	display: block;
	margin-bottom: 10px;
}
.catalog-settings-editor-checkbox-content-block {
	position: relative;
	display: block;
}
.catalog-settings-editor-checkbox-content-block .ui-ctl-checkbox {
	margin-bottom: 0 !important;
}
.catalog-settings-content-logo-hint {
	font-style: italic;
	font-size: 12px;
}
.catalog-settings-help-info {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1px;
	width: 13px;
	height: 13px;
	opacity: .75;
	cursor: pointer;
	transition: .1s;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%3E%3Cpath%20fill%3D%22%23B1B7C5%22%20d%3D%22M6.48909256%2C7.84708249e-05%20C10.0727505%2C7.84708249e-05%2012.9779759%2C2.90506841%2012.9779759%2C6.48914487%20C12.9779759%2C10.072672%2010.0727505%2C12.9778974%206.48909256%2C12.9778974%20C2.90525151%2C12.9778974%200%2C10.072672%200%2C6.48914487%20C0%2C2.90506841%202.90525151%2C7.84708249e-05%206.48909256%2C7.84708249e-05%20Z%20M6.4288003%2C8.78497668%20C6.2148869%2C8.78497668%206.03442028%2C8.85686673%205.88740045%2C9.00053276%20C5.74028936%2C9.14426723%205.66682508%2C9.32135722%205.66682508%2C9.53191682%20C5.66682508%2C9.7692384%205.74282183%2C9.95388016%205.8949294%2C10.0858421%20C6.04696853%2C10.2178268%206.2249255%2C10.2838763%206.42882311%2C10.2838763%20C6.62599031%2C10.2838763%206.79974931%2C10.2170055%206.95014576%2C10.0833553%20C7.10054221%2C9.94970502%207.17574044%2C9.7658846%207.17574044%2C9.53191682%20C7.17574044%2C9.32135722%207.10382757%2C9.14426723%206.96018436%2C9.00053276%20C6.81644989%2C8.85686673%206.63935989%2C8.78497668%206.4288003%2C8.78497668%20Z%20M6.54912658%2C2.69412575%20C6.02778112%2C2.69412575%205.57159528%2C2.80110527%205.18056908%2C3.01495022%20C4.78956568%2C3.22886362%204.49205814%2C3.49871939%204.28825178%2C3.82456316%20C4.08437698%2C4.15040692%203.9824624%2C4.47209836%203.9824624%2C4.78956902%20C3.9824624%2C4.94331928%204.04677787%2C5.08618678%204.17543163%2C5.21819435%20C4.30403976%2C5.35024754%204.46194234%2C5.41620569%204.6491622%2C5.41620569%20C4.96663286%2C5.41620569%205.18221176%2C5.22743442%205.29585325%2C4.84973217%20C5.41617953%2C4.48879894%205.56319937%2C4.21558936%205.737004%2C4.03010345%20C5.91074019%2C3.84461754%206.18144012%2C3.75187458%206.54912658%2C3.75187458%20C6.86322063%2C3.75187458%207.11975244%2C3.84384183%207.31863076%2C4.0275938%20C7.51744063%2C4.21143704%207.61691401%2C4.4370089%207.61691401%2C4.70435501%20C7.61691401%2C4.84142751%207.58431138%2C4.96839296%207.51915175%2C5.08534263%20C7.45396931%2C5.20238355%207.3737746%2C5.30842765%207.27852199%2C5.40368026%20C7.18326939%2C5.49893287%207.02865216%2C5.64015769%206.81480721%2C5.82728628%20C6.57082365%2C6.04119968%206.37694181%2C6.22581862%206.2332986%2C6.38123437%20C6.08956413%2C6.53660449%205.97427996%2C6.71707111%205.88740045%2C6.92263422%20C5.80045251%2C7.1281517%205.75705838%2C7.37129111%205.75705838%2C7.65202963%20C5.75705838%2C7.87595881%205.81635456%2C8.04474415%205.93501535%2C8.15834001%20C6.0536077%2C8.27200432%206.19985182%2C8.32879084%206.37365645%2C8.32879084%20C6.70780488%2C8.32879084%206.9066832%2C8.15503184%206.97020014%2C7.80742256%20C7.00693229%2C7.64370215%207.0344928%2C7.52917088%207.0529045%2C7.46403406%20C7.07122494%2C7.39885162%207.09716559%2C7.33369199%207.13061238%2C7.26850955%20C7.16399072%2C7.20337274%207.21498223%2C7.13152832%207.28351848%2C7.05297629%20C7.35196346%2C6.97446989%207.44308656%2C6.88336961%207.55672805%2C6.7797439%20C7.96778582%2C6.41212588%208.25267667%2C6.15059758%208.41144623%2C5.99518183%20C8.57014734%2C5.83981171%208.70721983%2C5.65516996%208.82252682%2C5.44125656%20C8.93783381%2C5.22743442%208.9954873%2C4.97840874%208.9954873%2C4.69431642%20C8.9954873%2C4.33338319%208.89437124%2C3.99923476%208.69220756%2C3.69171144%20C8.48995263%2C3.38427937%208.20344191%2C3.14113996%207.83247009%2C2.96231603%20C7.46149826%2C2.78358335%207.03367146%2C2.69412575%206.54912658%2C2.69412575%20Z%22/%3E%3C/svg%3E') center no-repeat;
}
.catalog-settings-help-info:hover {
	transition: none;
	opacity: .95;
}
.popup-window-content a.catalog-settings-helper-link {
	color: #2fc6f6 !important;
	position: relative;
	text-decoration: none !important;
	display: inline-block;
}

.popup-window-content a.catalog-settings-helper-link:before {
	content: "";
	position: absolute;
	bottom: -1px;
	width: 100%;
	height: 1px;
	background-color: #2fc6f6;
	opacity: 0.4;
	-webkit-transition: opacity 180ms linear;
	-o-transition: opacity 180ms linear;
	transition: opacity 180ms linear;
}

.popup-window-content a.catalog-settings-helper-link:hover:before {
	opacity: 1;
}

.catalog-settings-popup-content {
	padding: 0 7px;
	border-bottom: 1px solid #edeef0;
}

.catalog-settings-popup-content h3 {
	margin: 7px 0 12px;
}

.catalog-settings-popup-text {
	margin-bottom: 12px;
	font: 13px/17pxvar(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #828b95;
}
