/* DYNAMIC GRAPH */
.crm-report-chart-wrapper {
    display: flex;
    margin: 0 20px 20px 20px;
}

.crm-report-chart-not-available {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    font-size: 26px;
    color: #a0a0a0;
}

.crm-report-chart-item {}
.crm-report-chart-visual {}
.crm-report-chart-card {
    padding: 0 19px;
    border-left: 1px solid rgba(224,224,224,.6);
}
.crm-report-chart-card-title.crm-report-chart-th {
    /*display: block;*/
    padding-bottom: 8px;
    font: 14px/16px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
    color: #333;
}
.crm-report-chart-card-subtitle {
    /*display: block;*/
    font: 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    color: #A8ADB4;
    opacity: .84;
}
.crm-report-chart-card-info {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.crm-report-chart-card-info-box {
    display: flex;
    align-items: baseline;
}
.crm-report-chart-card-info-box:first-child {
    margin: 0 8% 0 0;
}
.crm-report-chart-card-info-box:last-child {
    margin: 0;
}
.crm-report-chart-card-info-price,
.crm-report-chart-card-info-value-box {
    /*margin: 0 14px 0 0;*/
    max-width: 100%;
    font: 1.8vw var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
    color: #333;
}
.crm-report-chart-card-info-percent {
    font: 1.2vw var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
    color: #FF5752;
}
.crm-report-chart-card-info-value {
    display: inline-block;
    margin: 0 5px 0 0;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.crm-report-chart-card-info-symbol {
    display: inline-block;
}
.crm-report-chart-card-info-price .crm-report-chart-card-info-symbol,
.crm-report-chart-card-info-value-box .crm-report-chart-card-info-symbol {
    font: 1.4vw var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
    color: #828B95;
}
.crm-report-chart-card-info-percent .crm-report-chart-card-info-symbol {
    font: .9vw var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
    color: #828B95;
    opacity: .72;
}
.crm-report-chart-card-info-percent .ui-hint {
    align-self: flex-end;
    /*margin: -3px 0 0 0;*/
}
.crm-report-chart-card-info-item:first-child {
    border-right: 1px solid rgba(224,224,224,.6);
    margin: 0 15px 0 0;
    padding: 0 15px 0 0;
}
.crm-report-chart-card-info-item:last-child {
    border-right: none;
    margin: 0;
    padding: 0;
}
.crm-report-chart-card-info-value-box .crm-report-chart-card-info-value {
    margin: 0;
}
.crm-report-chart-card-tooltip {
    align-self: flex-end;
    display: inline-block;
    margin: 3px 0 0 0;
    width: 20px;
    height: 20px;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22%23B1B7C5%22%20d%3D%22M11.273%205.637A5.637%205.637%200%201%201%200%205.637a5.637%205.637%200%200%201%2011.273%200zM3.46%204.16c0%20.134.056.258.168.373a.552.552%200%200%200%20.411.172c.276%200%20.464-.164.562-.492.105-.314.232-.551.383-.712.151-.161.387-.242.706-.242.273%200%20.496.08.668.24a.77.77%200%200%201%20.26.587c0%20.12-.029.23-.085.331a1.248%201.248%200%200%201-.21.277%209.101%209.101%200%200%201-.402.368c-.212.186-.38.346-.505.481a1.607%201.607%200%200%200-.3.47A1.62%201.62%200%200%200%205%206.647c0%20.194.051.341.154.44a.53.53%200%200%200%20.381.148c.29%200%20.463-.151.519-.453.032-.142.056-.242.072-.298a.914.914%200%200%201%20.067-.17.963.963%200%200%201%20.133-.187c.06-.069.138-.148.237-.238.357-.32.605-.546.743-.681.137-.135.257-.296.357-.482.1-.185.15-.402.15-.648%200-.314-.088-.604-.264-.871a1.808%201.808%200%200%200-.746-.634%202.54%202.54%200%200%200-1.115-.233c-.453%200-.85.093-1.189.279-.34.186-.598.42-.775.703-.177.283-.266.563-.266.838zm2.125%204.773a.661.661%200%200%200%20.453-.174.608.608%200%200%200%20.196-.48.627.627%200%200%200-.187-.46.627.627%200%200%200-.462-.188.647.647%200%200%200-.662.649c0%20.206.067.366.199.481a.685.685%200%200%200%20.463.172z%22/%3E%3C/svg%3E') center no-repeat;
    opacity: .5;
    cursor: pointer;
    transition: all 0.3s ease;
}
.crm-report-chart-card-tooltip:hover {
    opacity: 1;
}

.crm-report-chart-grid-item {
	display: flex;
	align-items: end;
}
/* END OF DYNAMIC GRAPH */

/* TABLE */
.crm-report-chart-table {
    table-layout: fixed;
    margin: 0 0 0 47px;
    width: -webkit-calc(100% - 47px);
    width: calc(100% - 47px);
    border-collapse: collapse;
}
.crm-report-chart-tr,
.crm-report-chart-td,
.crm-report-chart-th {
    padding: 0 1.9%;
    border-left: 1px solid rgba(224,224,224,.6);
    vertical-align: top;
    text-align: left;
    word-wrap: break-word;
}
.crm-report-chart-td {
    position: relative;
}
/* END OF TABLE */

/* THROUGH FUNNEL WIDGET */
.crm-report-chart-widget {
    position: relative;
}
.crm-report-chart-widget.crm-report-chart-tr,
.crm-report-chart-widget .crm-report-chart-td {
    position: relative;
    padding: 0;
    border-left: none;
    box-sizing: border-box;
}
.crm-report-chart-flex-box {
    display: flex;
}
/*.crm-report-chart-widget .crm-report-chart-td {*/
    /*margin: 0 0 17px 0;*/
    /*border-bottom: 1px solid rgba(224,224,224,.6);*/
/*}*/
.crm-report-chart-through-funnel-widget {
    display: flex;
    flex-direction: column-reverse;
    flex: 3;
    margin: 0 0 17px 0;
    height: 190px;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid rgba(224,224,224,.6);
    overflow: hidden;
}

.crm-report-chart-through-funnel-widget-svg {
    height: 100%;
}

.crm-report-chart-through-funnel-widget-mirror {
    position: relative;
}
.crm-report-chart-through-funnel-widget-mirror.crm-report-chart-through-funnel-widget {
    flex: 1;
    opacity: .17;
    border-radius: 0;
}
.crm-report-chart-through-funnel-widget-1,
.crm-report-chart-through-funnel-widget-mirror.crm-report-chart-through-funnel-widget-1 {
    /*background: #2FC6F6;*/
}
.crm-report-chart-through-funnel-widget-2,
.crm-report-chart-through-funnel-widget-mirror.crm-report-chart-through-funnel-widget-2 {
    /*background: #14CBC3;*/
    /*height: 142px;*/
}
.crm-report-chart-through-funnel-widget-item {
    display: block;
    height: 0;
    min-height: 2%;
    border-top: 2px solid #fff;
}
.crm-report-chart-through-funnel-widget-2 .crm-report-chart-through-funnel-widget-item {
    height: 17px;
}
.crm-report-chart-through-funnel-widget-columns {
    flex-direction: row;
    align-items: flex-end;
}
.crm-report-chart-through-funnel-widget-columns .crm-report-chart-through-funnel-widget-item  {
    flex: 1;
    margin: 0 4px 0 0;
    min-width: 20px;
    border-bottom: none;
    border-radius: 2px 2px 0 0;
}
.crm-report-chart-through-funnel-widget-conversion {
    padding: 0;
    width: 100%;
    background: #fff;
    text-align: right;
}

.crm-report-chart-through-funnel-widget-title {
    margin: 0 0 10px 0;
    font: 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    color: rgba(51,51,51,.56);
}
.crm-report-chart-through-funnel-widget-value-box {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}
.crm-report-chart-through-funnel-widget-value {
    margin: 0 6px 0 0;
    font: 38px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
    color: #333;
}
.crm-report-chart-through-funnel-widget-percent {
    font: 29px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
    color: #828B95;
}

.crm-report-chart-funnel-through-funnel-widget-conversion-inline.crm-report-chart-through-funnel-widget-conversion {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.crm-report-chart-funnel-through-funnel-widget-conversion-inline .crm-report-chart-through-funnel-widget-title {
    margin: 2px 10px 0 0;
    word-break: break-word;
}

/* END OF THROUGH FUNNEL WIDGET */

/* MODAL */
.crm-report-chart-modal {
    /*position: absolute;*/
    display: inline-block;
    top: 350px;
    padding: 15px 16px 0 13px;
    min-width: 157px;
    border-left: 3px solid transparent;
    background: #fff;
    box-shadow: 0 6px 21px 0 rgba(83,92,105,.15);
    box-sizing: border-box;
}
.crm-report-chart-modal-head {}
.crm-report-chart-modal-title {
    display: block;
    margin: 0 0 17px 0;
    padding: 0 0 12px 0;
    border-bottom: 1px solid rgba(130,139,149,.19);
    font: 13px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
    color: #333;
}
.crm-report-chart-modal-title {
    display: flex;
    align-items: center;
}
.crm-report-chart-modal-title-icon.ui-icon {
    display: inline-block;
    margin: 0 11px 0 0;
    width: 16px;
    height: 16px;
    min-width: 16px;
    background-repeat: no-repeat;
}
.crm-report-chart-modal-title-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.crm-report-chart-modal-subtitle {
    display: block;
    margin: 0 0 2px 0;
    font: 11px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    color: #A8ADB4;
    opacity: .84;
}
.crm-report-chart-modal-main .crm-report-chart-card-subtitle {
    font: 11px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}
.crm-report-chart-modal-main {}
.crm-report-chart-modal-content {
    display: flex;
    align-items: center;
}
.crm-report-chart-modal-content,
.crm-report-chart-modal-main .crm-report-chart-card-info {
    padding: 0 0 18px 0;
}
.crm-report-chart-modal-value {
    font: 20px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}
.crm-report-chart-modal-value-grey {
    color: #828B95;
}
.crm-report-chart-modal-value-black {
    color: #333;
}
.crm-report-chart-modal-arrow-right {
    margin: 0 7px 0 11px;
    color: #A8ADB4;
}
.crm-report-chart-modal-main .crm-report-chart-card-info-price,
.crm-report-chart-modal-main .crm-report-chart-card-info-value-box {
    margin: 0 30px 0 0;
    font: 20px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}
.crm-report-chart-modal-main .crm-report-chart-card-info-value-box {
    margin: 0;
}
.crm-report-chart-modal-main .crm-report-chart-card-info-price .crm-report-chart-card-info-symbol,
.crm-report-chart-modal-main .crm-report-chart-card-info-value-box .crm-report-chart-card-info-symbol {
    font: 18px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}
.crm-report-chart-modal-main .crm-report-chart-card-info-percent {
    font: 21px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}
.crm-report-chart-modal-main .crm-report-chart-card-info-percent .crm-report-chart-card-info-symbol {
    font: 15px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}
/* END OF MODAL */

/* TOOLTIP */
.crm-report-chart-tooltip {
    position: absolute;
    display: inline-block;
    align-items: center;
    padding: 0 0 0 5px;
    height: 20px;
    background: #fff;
    border-radius: 2px;
    box-shadow: -1px 2px 4px -1px rgba(0,0,0,.21);
    transition: all 0.3s ease;
    bottom: 35px;
    right: -10px;
    z-index: 1;
}
.crm-report-chart-tooltip-triangle {
    position: absolute;
    top: 2px;
    right: -7px;
    display: block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 3px 0 3px 0;
    box-shadow: 2px 0 2px -1px rgba(0,0,0,.21);
    transform: rotate(45deg);
    z-index: 2;
}
.crm-report-chart-tooltip-value-box {
    position: relative;
    display: flex;
    align-items: baseline;
    z-index: 2;
}
.crm-report-chart-tooltip-value {
    font: 700 11px/20px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    color: #525C69;
}
.crm-report-chart-tooltip-percent {
    font: 700 9px/20px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    color: #828B95;
}
/* END OF TOOLTIP */

.crm-report-chart-scale {
    position: absolute;
    bottom: 18px;
    left: -44px;
    display: flex;
    flex: 1;
    /*width: 26px;*/
    height: 190px;
    border-right: 1px solid #E0E0E0;
}
.crm-report-chart-scale-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.crm-report-chart-scale-box:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -19px;
    display: block;
    width: 19px;
    height: 1px;
    background: #E0E0E0;
}
.crm-report-chart-scale-item {
    margin: 0 8px 0 0;
    font: 10px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    color: #808992;
}

.crm-report-vc-chart-config {
    margin: 100px 0;
    text-align: center;
}

.crm-report-vc-chart-config-title {
    margin: 20px;
    text-align: center;
}

/******** TEMPORARY BLOCK ***********************/

.crm-report-chart-temporary-box {
	display: none;
	position: absolute;
	left: -150px;
	width: 132px;
	height: 292px;
	z-index: 999;
    border-top: 2px solid #fff;
}

.crm-report-chart-temporary-content {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.crm-report-chart-temporary-text {
	display: block;
	font: 14px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #333;
}
.crm-report-chart-temporary-btn {
	display: block;
	margin: 35px 0 0 0;
	font: 14px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #525252;
}

.crm-report-chart-temporary-active .crm-report-chart-temporary-box {
	display: flex;
	flex-direction: column;
}

.crm-report-chart-temporary-active.crm-report-chart-table {
	margin: 0 0 0 197px;
	width: -webkit-calc(100% - 197px);
	width: calc(100% - 197px);
}

.crm-report-chart-temporary-active .crm-report-chart-scale {
	left: -182px;
}

.crm-report-chart-temporary-active .crm-report-chart-temporary-info {
	opacity: .3;
}

.crm-report-chart-temporary-bg {
	margin: 0 0 18px 0;
	height: 184px;
	width: 100%;
    border: 2px dashed #e0e0e0;
}

.crm-report-chart-temporary-info {
	padding: 0 0 0 10px;
	border-left: 1px solid rgb(165, 165, 165);
}

.crm-report-chart-temporary-info .crm-report-chart-th  {
	border-left: none;
}

.crm-report-chart-temporary-flex {
	display: flex;
}

.crm-report-chart-temporary-info .crm-report-chart-card-info-percent {
	margin: 9px 0 0 0;
}

@media (min-width: 1280px) {
    .crm-report-chart-card-info-price,
    .crm-report-chart-card-info-value-box {
        font-size: 25px;
    }
    .crm-report-chart-card-info-percent {
        font-size: 17px;
    }
    .crm-report-chart-card-info-symbol {
        font-size: 13px;
    }
}

/******** END TEMPORARY BLOCK ***********************/



/******** START RATING BLOCK ***********************/
.crm-report-chart-grid-rating {
    display: flex;
    align-items: center;
}
.crm-report-chart-grid-rating-icon {
    display: inline-block;
    margin: 0 8px 0 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    opacity: 0.6;
}
.crm-report-chart-grid-rating-value {
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 0 8px 0 0;
    border-right: 1px solid rgba(82,92,105,.17);
    font: 13px/10px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    color: #364150;
}
.crm-report-chart-grid-rating-text {
    font: 10px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    text-transform: uppercase;
}
.crm-report-chart-grid-rating-bold .crm-report-chart-grid-rating-value,
.crm-report-chart-grid-rating-bold .crm-report-chart-grid-rating-text {
    font-weight: bold;
}
.crm-report-chart-grid-rating-success .crm-report-chart-grid-rating-text {
    color: #6F9300;
}
.crm-report-chart-grid-rating-success .crm-report-chart-grid-rating-icon {
    background: #B3E600;
}
.crm-report-chart-grid-rating-warning .crm-report-chart-grid-rating-text {
    color: #E22E29;
}
.crm-report-chart-grid-rating-warning .crm-report-chart-grid-rating-icon {
    background: #FF5752;
}
.crm-report-chart-grid-rating-normal .crm-report-chart-grid-rating-text {
    color: #1DB0DE;
}
.crm-report-chart-grid-rating-normal .crm-report-chart-grid-rating-icon {
    background: #2FC6F6;
}

/******** END RATING BLOCK ***********************/