/*todo remove later*/
#workarea-content {
	display: block;
}

.tasks-scrum-wrapper .workarea-content-paddings {
	padding-right: 15px !important;
}

.tasks-scrum-wrapper .pagetitle-below {
	margin-right: 15px;
}

.tasks-scrum-side-panel-padding {
	padding: 0 35px 0 20px !important;
}

.tasks-scrum__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-bottom: 20px;
	max-height: calc(100vh - 105px - 47px);
}

.tasks-scrum__container.--select-none {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.tasks-scrum__scope {
	--tasks_scrum-black_alpha_08: rgba(0,0,0,.08);
	--tasks_scrum-black_alpha_10: rgba(0,0,0,.1);
	--tasks_scrum-black_alpha_13: rgba(0,0,0,.13);

	--tasks_scrum-white: rgba(255,255,255,1);
	--tasks_scrum-white_alpha_10: rgba(255,255,255,.1);
	--tasks_scrum-white_alpha_13: rgba(255,255,255,.13);
	--tasks_scrum-white_alpha_16: rgba(255,255,255,.16);
	--tasks_scrum-white_alpha_20: rgba(255,255,255,.2);
	--tasks_scrum-white_alpha_22: rgba(255,255,255,.22);
	--tasks_scrum-white_alpha_30: rgba(255,255,255,.3);
	--tasks_scrum-white_alpha_50: rgba(255,255,255,.5);
	--tasks_scrum-white_alpha_52: rgba(255,255,255,.52);
	--tasks_scrum-white_alpha_60: rgba(255,255,255,.6);
	--tasks_scrum-white_alpha_70: rgba(255,255,255,.7);
	--tasks_scrum-white_alpha_80: rgba(255,255,255,.8);
	--tasks_scrum-white_alpha_90: rgba(255,255,255,.9);
	--tasks_scrum-white_alpha_95: rgba(255,255,255,.95);

	--tasks_scrum-orange: rgba(247,167,0,1);

	--tasks_scrum-blue: rgba(47,198,246,1);
	--tasks_scrum-blue_alpha_20: rgba(47,198,246,.2);

	--tasks_scrum-blue-2: rgba(85,208,224,1);
	--tasks_scrum-blue-3: rgba(228,246,254,1);
	--tasks_scrum-blue-4: rgba(32,102,176,1);
	--tasks_scrum-blue-5: rgba(59,200,245,1);
	--tasks_scrum-blue-6: rgba(212,243,247,1);

	--tasks_scrum-green-planning: rgba(179,230,0,1);

	--tasks_scrum-grey: rgba(45,45,44,1);
	--tasks_scrum-grey_alpha_70: rgba(45,45,44,.7);

	--tasks_scrum-grey-3: rgba(189, 193,198,1);
	--tasks_scrum-grey-4: rgba(203,206,210,1);

	--tasks_scrum-dark-grey: rgba(82,92,105,1);
	--tasks_scrum-dark-grey_alpha_08: rgba(82,92,105,.08);
	--tasks_scrum-dark-grey_alpha_10: rgba(82,92,105,.1);
	--tasks_scrum-dark-grey_alpha_15: rgba(82,92,105,.15);
	--tasks_scrum-dark-grey_alpha_17: rgba(82,92,105,.17);
	--tasks_scrum-dark-grey_alpha_30: rgba(82,92,105,.3);
	--tasks_scrum-dark-grey_alpha_50: rgba(82,92,105,.5);
	--tasks_scrum-dark-grey_alpha_60: rgba(82,92,105,.6);

	--tasks_scrum-light-grey: rgba(51,51,51,1);
	--tasks_scrum-light-grey_alpha_03: rgba(51,51,51,.03);
	--tasks_scrum-light-grey_alpha_30: rgba(51,51,51,.3);
	--tasks_scrum-light-grey_alpha_50: rgba(51,51,51,.5);
	--tasks_scrum-light-grey_alpha_60: rgba(51,51,51,.6);
	--tasks_scrum-light-grey_alpha_70: rgba(51,51,51,.7);
}

.tasks-scrum__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	border-radius: var(--ui-border-radius-2xs, 3px);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-bottom: 24px;
	padding: 16px 12px;
	position: relative;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__content::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: var(--tasks_scrum-white_alpha_16);
	-webkit-backdrop-filter: blur(28px);
	        backdrop-filter: blur(28px);
	border-radius: var(--ui-border-radius-xs, 3px);
}

.tasks-scrum__content.--with-header::before {
	border-radius: 0 0 var(--ui-border-radius-xs, 3px) var(--ui-border-radius-xs, 3px);
}

.tasks-scrum__content .ui-draggable--drop-preview-clone {
	display: none !important;
}


.bitrix24-default-theme .tasks-scrum__content,
.bitrix24-dark-theme .tasks-scrum__content {
	background: var(--tasks_scrum-black_alpha_08);
}

.tasks-scrum__content:last-of-type {
	margin-bottom: 0;
}

.tasks-scrum__content.--white-bg {
	background: var(--tasks_scrum-white_alpha_20);
}

.tasks-scrum__content.--with-header {
	padding-top: 0;
	/*border-top: 5px solid var(--tasks_scrum-blue);*/
	border-top: 4px solid var(--tasks_scrum-blue);
}

.tasks-scrum__content-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: var(--tasks_scrum-white);
	padding: 8px 2px 11px;
	border-bottom: 1px solid var(--tasks_scrum-white_alpha_20);
	margin-bottom: 13px;
	position: relative;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__name-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-right: auto;
	max-width: 41%;
	width: 41%;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.tasks-scrum__title {
	font: 18px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: var(--tasks_scrum-white);
	min-width: 40px;
	max-width: calc(100% - 22px - 22px - 4px);
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	-ms-flex-negative: 5;
	    flex-shrink: 5;
	margin-right: 4px;
}

.tasks-scrum__backlog .tasks-scrum__title {
	min-width: 100px;
}

.tasks-scrum__content-empty {
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font: 14px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	border-radius: var(--ui-border-radius-xs, 3px);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-align: center;
	background: var(--tasks_scrum-white_alpha_22);
	color: var(--tasks_scrum-white);
	padding: 26px 10px 32px;
	border: 2px dashed var(--tasks_scrum-white_alpha_60);
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__content-empty:not(.--no-results):hover {
	background: var(--tasks_scrum-white_alpha_30);
	border: 2px dashed var(--tasks_scrum-white_alpha_90);
}

.bitrix24-default-theme .tasks-scrum__content-empty,
.bitrix24-dark-theme .tasks-scrum__content-empty {
	color: var(--tasks_scrum-light-grey_alpha_50);
	background: transparent;
	border-color: var(--tasks_scrum-light-grey_alpha_30);
}

.bitrix24-default-theme .tasks-scrum__content-empty:hover,
.bitrix24-dark-theme .tasks-scrum__content-empty:hover {
	background: var(--tasks_scrum-light-grey_alpha_03);
	border-color: var(--tasks_scrum-light-grey_alpha_60);
}

.tasks-scrum__content-empty.--open {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-scrum__content-empty.--no-results {
	font-size: 20px;
	padding: 30px 10px 28px;
}

.tasks-scrum__content-empty--title {
	font-size: 22px;
	margin-bottom: 9px;
}

.tasks-scrum__content-empty--btn-create {
	font: 14px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: var(--tasks_scrum-white);
	border-bottom: 1px dashed var(--tasks_scrum-white_alpha_60);
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	cursor: pointer;
}

.tasks-scrum__content-empty--text {
	max-width: 370px
}

.tasks-scrum__content-empty--btn-create:hover {
	color: var(--tasks_scrum-white);
	border-bottom: 1px dashed var(--tasks_scrum-white_alpha_90);
}


.bitrix24-default-theme .tasks-scrum__content-empty--btn-create,
.bitrix24-dark-theme .tasks-scrum__content-empty--btn-create {
	color: var(--tasks_scrum-light-grey_alpha_50);
	border-bottom-color: var(--tasks_scrum-light-grey_alpha_30);
}


.bitrix24-default-theme .tasks-scrum__content-empty--btn-create:hover,
.bitrix24-dark-theme .tasks-scrum__content-empty--btn-create:hover {
	border-bottom-color: var(--tasks_scrum-light-grey_alpha_60);
}

.bitrix24-default-theme .tasks-scrum__title,
.bitrix24-dark-theme .tasks-scrum__title {
	color: var(--tasks_scrum-light-grey);
}

.tasks-scrum__entity-items-faded .tasks-scrum__item:not(.--linked-mode) {
	opacity: 0.3;
	pointer-events: none;
}

.tasks-scrum__entity-items-faded .tasks-scrum__item.--linked-mode + .tasks-scrum__item-sub-tasks .tasks-scrum__item {
	opacity: 1;
	pointer-events: all;
}

.tasks-scrum__entity-items-faded .tasks-scrum__item.--linked-mode-current {
	opacity: 1;
	pointer-events: all;
}









.tasks-scrum-action-epic {
	position: relative;
	margin-left: 12px;
}

.tasks-scrum-action-epic::after {
	display: block;
	content: '+';
	position: absolute;
	left: -12px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.tasks-scrum-group-actions-active {
	position: relative;
}

.tasks-scrum-sprint-create {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 10px;
	width: 100%;
}

.tasks-scrum-sprint-create::after {
	position: static;
	top: auto;
	left: auto;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	-webkit-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	transform: translateY(-1px);
}

.tasks-scrum-sprint-create span {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

.tasks-scrum-dragndrop {
	position: absolute;
	left: 2px;
	top: 12px;
	width: 6px;
	height: 14px;
	background: no-repeat center url(images/dragndrop.svg);
	opacity: 0;
	-webkit-transition: 170ms linear all;
	-o-transition: 170ms linear all;
	transition: 170ms linear all;
	cursor: -webkit-grab;
	cursor: grab;
	z-index: 10;
	padding: 4px;
}

.tasks-scrum-sprint-stats {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	padding: 8px 6px;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	font-weight: var(--ui-font-weight-bold);
	margin-left: auto;
}

.tasks-scrum-project-side-panel {
	padding: 0 20px;
	color: #333;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	margin-bottom: 20px;
}

.tasks-scrum-project-side-panel-header {
	padding-left: 5px;
	margin: 20px 0 23px;
}

.tasks-scrum-project-side-panel-header-title {
	font: 24px/30px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
}

.tasks-scrum-project-side-panel-chart {
	padding: 15px 0 0 0;
	background: white;
	height: 600px;
}

.tasks-scrum-project-dod-options {
	margin-top: 15px;
}

.tasks-scrum-entity-items-loader {
	overflow: hidden;
}

.tasks-scrum__item--dragstrate {
	display: none;
	pointer-events: none;
}

.tasks-scrum__item.--multiple-drag-shadow {
	opacity: 0.5;
}

.ui-draggable--draggable .tasks-scrum__item.--multiple-drag::before,
.ui-draggable--draggable .tasks-scrum__item.--multiple-drag-many::before {
	-webkit-box-shadow: 0 -1px 1px var(--tasks_scrum-black_alpha_08), 0px 1px 1px var(--tasks_scrum-black_alpha_08);
	        box-shadow: 0 -1px 1px var(--tasks_scrum-black_alpha_08), 0px 1px 1px var(--tasks_scrum-black_alpha_08);
}

.ui-draggable--draggable .tasks-scrum__item.--multiple-drag .tasks-scrum__item--dragstrate,
.ui-draggable--draggable .tasks-scrum__item.--multiple-drag-many .tasks-scrum__item--dragstrate {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -2;
}

.ui-draggable--draggable .tasks-scrum__item.--multiple-drag .tasks-scrum__item--dragstrate::before,
.ui-draggable--draggable .tasks-scrum__item.--multiple-drag-many .tasks-scrum__item--dragstrate::before,
.ui-draggable--draggable .tasks-scrum__item.--multiple-drag-many .tasks-scrum__item--dragstrate::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 2px;
	width: 100%;
	height: 100%;
	background: var(--tasks_scrum-white);
	-webkit-transform: rotate(1deg);
	    -ms-transform: rotate(1deg);
	        transform: rotate(1deg);
	border-radius: var(--ui-border-radius-xs, 3px);
	-webkit-box-shadow: 0 -1px 1px var(--tasks_scrum-black_alpha_08), 0 1px 1px var(--tasks_scrum-black_alpha_08);
	        box-shadow: 0 -1px 1px var(--tasks_scrum-black_alpha_08), 0 1px 1px var(--tasks_scrum-black_alpha_08);
}

.ui-draggable--draggable .tasks-scrum__item.--multiple-drag-many .tasks-scrum__item--dragstrate::after {
	left: 5px;
	-webkit-transform: rotate(2deg);
	    -ms-transform: rotate(2deg);
	        transform: rotate(2deg);
	z-index: -1;
	-webkit-box-shadow: 0 1px 1px 0 var(--tasks_scrum-black_alpha_08);
	        box-shadow: 0 1px 1px 0 var(--tasks_scrum-black_alpha_08);
}


.ui-draggable--draggable .tasks-scrum__item.--item-backlog.--multiple-drag .tasks-scrum__item--dragstrate::before,
.ui-draggable--draggable .tasks-scrum__item.--item-backlog.--multiple-drag-many .tasks-scrum__item--dragstrate::before,
.ui-draggable--draggable .tasks-scrum__item.--item-backlog.--multiple-drag-many .tasks-scrum__item--dragstrate::after {
	border-left: 3px solid var(--tasks_scrum-grey-3);
}

.ui-draggable--draggable .tasks-scrum__item.--parent-tasks.--multiple-drag .tasks-scrum__item--substrate,
.ui-draggable--draggable .tasks-scrum__item.--parent-tasks.--multiple-drag-many .tasks-scrum__item--substrate {
	display: none;
}
.diskuf-extended {
	display: block;
	overflow: hidden;
	margin: 0 -10px;
}

.diskuf-extended-item {
	background-color: transparent;
	display: block;
	cursor: pointer;
	height: 36px;
	padding: 0 15px;
	position: relative;
	text-decoration: none;
	outline: none;
	white-space: nowrap;
	-webkit-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525c68;
	line-height: 36px;
}

.diskuf-extended-item:hover,
.diskuf-extended-item-active {
	color: #333;
	background-color: #f6f8f9;
}

.diskuf-extended-item label {
	cursor: pointer;
}
.tasks-scrum__action-panel--scope {
	--tasks_scrum_action-grey: rgba(130,139,149,1);
	--tasks_scrum_action-grey_alpha_20: rgba(130,139,149,.2);

	--tasks_scrum_action-grey-2: rgba(133,140,150,1);
	--tasks_scrum_action-grey-3: rgba(82,92,105,1);
}

.tasks-scrum__action-panel--container {
	position: absolute;
	-webkit-transform: translateY(-36px);
	    -ms-transform: translateY(-36px);
	        transform: translateY(-36px);
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	z-index: 90;
	text-align: center;
	height: 0;
	outline:none;
}

.tasks-scrum__action-panel {
	padding: 8px 13px 8px 17px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
	        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
	border-radius: var(--ui-border-radius-xs, 2px);
	z-index: 100;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	min-height: 34px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	right: auto;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.tasks-scrum__action-panel--btn {
	position: relative;
	padding: 1px 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	cursor: pointer;
	white-space: nowrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.tasks-scrum__action-panel--btn.--disabled{
	opacity: 0.5;
	pointer-events: none;
}

.tasks-scrum__action-panel--text {
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
	color: var(--tasks_scrum_action-grey-2);
	font-size: 13px;
	line-height: 19px;
	vertical-align: middle;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__action-panel--btn:hover .tasks-scrum__action-panel--text {
	color: var(--tasks_scrum_action-grey-3);
}

.tasks-scrum__action-panel--icon + .tasks-scrum__action-panel--text {
	margin-left: 3px;
}

.tasks-scrum__action-panel--icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
	background-position: center 5px;
	background-repeat: no-repeat;
	opacity: 0.7;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__action-panel--btn:hover .tasks-scrum__action-panel--icon {
	opacity: 1;
}

.tasks-scrum__action-panel--btn-remove .tasks-scrum__action-panel--icon {
	background-position: center;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.492 4.697H10.31v1.097H7.448a1.5 1.5 0 00-1.5 1.5v.694h10.906v-.694a1.5 1.5 0 00-1.5-1.5h-2.862V4.697zM7.039 9.085h8.724l-.791 8.962a1 1 0 01-.997.912H8.827a1 1 0 01-.996-.912l-.792-8.962z' fill='%23525C69'/%3E%3C/svg%3E");
}

.tasks-scrum__action-panel--btn-task .tasks-scrum__action-panel--icon{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.5 12V9.292H12V2H2v7.292h2.5V12h5zM1.235 0h11.53C13.447 0 14 .553 14 1.235v11.53c0 .682-.553 1.235-1.235 1.235H1.235A1.235 1.235 0 010 12.765V1.235C0 .553.553 0 1.235 0zM5.18 5.445l1.2 1.208 3-2.958.857 1.25-3.857 3.75L4.237 6.61l.943-1.166z' fill='%23525C69'/%3E%3C/svg%3E");
}

.tasks-scrum__action-panel--btn-attachment .tasks-scrum__action-panel--icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='17' height='13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.988 7.977V2.503c0-.138-.11-.25-.245-.25h-1.469a.248.248 0 00-.245.25v5.474c0 .8-.173 2.145-1.83 2.145-2.23 0-2.225-1.224-2.222-2.056V2.502c0-.471.153-.606.535-.606.383 0 .47.245.47.606v5.145c0 .179.085.293.257.344h1.51c.174-.053.261-.167.261-.344V2.652C14.01.877 13.084 0 11.512 0 9.941 0 9 .877 9 2.652v5.325c0 2.36.976 4.03 4.198 4.03 2.57 0 3.79-1.294 3.79-4.03zM8.184 11a4.01 4.01 0 002.406 2H.9a.9.9 0 01-.9-.9V2.9A.9.9 0 01.9 2h6.84v2H2.1a.1.1 0 00-.1.1v6.8a.1.1 0 00.1.1h6.084zM7.74 8.726v.442c0 .285.03.564.087.832H3l3-3.113 1.74 1.839z' fill='%23525C69'/%3E%3C/svg%3E");
}

.tasks-scrum__action-panel--btn-decomposition-backlog .tasks-scrum__action-panel--icon {
	background-position: center;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='13' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1a1 1 0 011-1h1a1 1 0 011 1v2.82l6-2.302V1a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 01-1 1h-2a1 1 0 01-1-1v-.411L3 4.892V6.5h6V6a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 01-1 1h-2a1 1 0 01-1-1v-.5H3v1.608l6 2.303V11a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 01-1 1h-2a1 1 0 01-1-1v-.518L3 10.18V13a1 1 0 01-1 1H1a1 1 0 01-1-1V1z' fill='%23525C69'/%3E%3C/svg%3E");
}

.tasks-scrum__action-panel--btn-decomposition-sprint .tasks-scrum__action-panel--icon {
	background-position: center;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.39 6.909a1 1 0 011-1h3.22a1 1 0 011 1v3.22a1 1 0 01-.445.834l1.437 1.907h2.36a1 1 0 011 1v3.221a1 1 0 01-1 1H14.74a1 1 0 01-1-1v-3.22c0-.322.152-.607.386-.79l-1.47-1.951h-1.299l-1.475 1.957c.23.184.378.466.378.783v3.221a1 1 0 01-1 1H6.038a1 1 0 01-1-1v-3.22a1 1 0 011-1h2.373l1.434-1.903a.999.999 0 01-.456-.838V6.909z' fill='%23525C69'/%3E%3C/svg%3E");
}

.tasks-scrum__action-panel--btn-selected .tasks-scrum__action-panel--icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.95 7.05a.58.58 0 00-.822 0L12 11.178 7.872 7.05a.581.581 0 10-.822.822L11.178 12 7.05 16.128a.58.58 0 10.822.822L12 12.822l4.128 4.128a.58.58 0 10.822-.822L12.822 12l4.128-4.128a.581.581 0 000-.822z' fill='%23525C69'/%3E%3C/svg%3E");
	width: 8px;
	margin-left: 11px;
	background-size: 17px;
	cursor: pointer;
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
}

.tasks-scrum__action-panel--btn-selected .tasks-scrum__action-panel--icon:hover {
	opacity: 1;
}

.tasks-scrum__action-panel--separator {
	width: 24px;
	position: relative;
	-ms-flex-preferred-size: 24px;
	    flex-basis: 24px;
}

.tasks-scrum__action-panel--separator::after {
	content: '';
	display: block;
	position: absolute;
	top: 4px;
	bottom: 4px;
	left: 13px;
	width: 1px;
	background-color: var(--tasks_scrum_action-grey_alpha_20);
}

.tasks-scrum__action-panel--selected-btn {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	white-space: nowrap;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.tasks-scrum__action-panel--btn-attachment {
	margin-right: -3px;
}

.tasks-scrum__action-panel--btn-dod {
	margin: 0 1px 2px 3px;
}

.tasks-scrum__action-panel--btn-with-arrow {
	padding-right: 16px;
	margin: 0 0 2px 7px;

}

.tasks-scrum__action-panel--btn-with-arrow::after {
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	border-left: 1px solid var(--tasks_scrum_action-grey-2);
	border-bottom: 1px solid var(--tasks_scrum_action-grey-2);
	-webkit-transform: rotate(-45deg) translate(0, -50%);
	    -ms-transform: rotate(-45deg) translate(0, -50%);
	        transform: rotate(-45deg) translate(0, -50%);
	position: absolute;
	right: 0;
	top: 44%;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__action-panel--btn-with-arrow:hover::after {
	border-color: var(--tasks_scrum_action-grey-3);
}

.tasks-scrum__action-panel--btn-decomposition-backlog {
	margin-right: -3px;
	margin-left: -1px;
}

.tasks-scrum__action-panel--btn-decomposition-sprint {
	margin-right: -3px;
	margin-left: -1px;
}
.tasks-scrum__backlog {
	width: 38.5%;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	margin-right: 2.1%;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__container.--width-priority-backlog .tasks-scrum__backlog {
	width: 56%;
}

.tasks-scrum__backlog-tasks {
	font: 12px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: var(--tasks_scrum-white_alpha_70);
	width: 100%;
}

.tasks-scrum__backlog-btn.ui-btn {
	--ui-btn-padding: 0 16px 2px;
	padding-left: 31px;
	margin-top: 2px;
}

.tasks-scrum__backlog-btn.ui-btn::after {
	left: 7px;
	top: 49%;
}

.tasks-scrum__backlog-btn.ui-btn::after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0v4h4v2H6v4H4V5.999L0 6V4l4-.001V0h2z' fill='%23535C69' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.tasks-scrum__backlog-btn.ui-btn.ui-btn-light-border::after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M6 0v4h4v2H6v4H4V5.999L0 6V4l4-.001V0h2z'/%3E%3C/svg%3E");
}

.bitrix24-default-theme .tasks-scrum__backlog-btn.ui-btn.ui-btn-light-border::after,
.bitrix24-dark-theme .tasks-scrum__backlog-btn.ui-btn.ui-btn-light-border::after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0v4h4v2H6v4H4V5.999L0 6V4l4-.001V0h2z' fill='%23535C69' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.tasks-scrum__backlog .tasks-scrum__content {
	border-color: var(--tasks_scrum-orange);
	max-height: 100%;
}

.tasks-scrum__backlog .tasks-scrum__content-items {
	overflow: hidden auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.tasks-scrum__backlog .tasks-scrum__content-items.--scrollbar {
	padding-right: 10px;
}

.tasks-scrum__backlog .tasks-scrum__content-items::-webkit-scrollbar {
	width: 7px;
}

.tasks-scrum__backlog .tasks-scrum__content-items::-webkit-scrollbar-track {
	background: transparent;
}

.tasks-scrum__backlog .tasks-scrum__content-items::-webkit-scrollbar-thumb {
	background: var(--tasks_scrum-white_alpha_30);
	border-radius: var(--ui-border-radius-xs, 2px);
	cursor: pointer;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__backlog--btn-add.ui-btn {
	padding-right: 33px;
	font-size: 13px;
	padding-left: 16px;
}

.tasks-scrum__backlog-empty {
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 38px 10px 20px;
	background: var(--tasks_scrum-white_alpha_95);
	border-radius: var(--ui-border-radius-xs, 2px);
}

.tasks-scrum__backlog-empty.--open {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-scrum__backlog-empty--icon {
	display: block;
	width: 65px;
	height: 65px;
	margin-bottom: 12px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66' height='65'%3E%3Cpath fill='%239DCF00' fill-rule='evenodd' d='M29.32 36.483l-7.28-7.28-5.145 5.146 12.144 12.145.005-.005.28.28 22.59-22.59-5.145-5.146-17.45 17.45zM33 65C15.05 65 .5 50.45.5 32.5S15.05 0 33 0s32.5 14.55 32.5 32.5S50.95 65 33 65z'/%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
}

.tasks-scrum__backlog-empty--title {
	font: 26px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	color: var(--tasks_scrum-grey);
	padding: 0 16px 15px;
	border-bottom: 1px solid var(--tasks_scrum-dark-grey_alpha_10);
	margin-bottom: 19px;
}

.tasks-scrum__backlog-empty--subtitle {
	font: 22px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	color: var(--tasks_scrum-grey);
	margin-bottom: 16px;
}

.tasks-scrum__backlog-empty--text {
	font: 13px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: var(--tasks_scrum-grey_alpha_70);
	margin-bottom: 13px;
	max-width: 339px;
}

.tasks-scrum__item.--checked .tasks-scrum__item--entity-content {
	opacity: 0;
	pointer-events: none;
}

.bitrix24-default-theme .tasks-scrum__backlog-tasks,
.bitrix24-dark-theme .tasks-scrum__backlog-tasks {
	color: var(--tasks_scrum-light-grey_alpha_70);
}

.tasks-scrum__content-empty.--empty-backlog {
	padding: 15px 10px;
	font-size: 20px;
	cursor: pointer;
}

.tasks-scrum__sprints {
	width: 59.4%;
	max-height: 100%;
	padding-right: 4px;
	overflow: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	position: relative;
}

.tasks-scrum__sprints::-webkit-scrollbar {
	width: 6px;
}

.tasks-scrum__sprints::-webkit-scrollbar-track {
	background: transparent;
}

.tasks-scrum__sprints::-webkit-scrollbar-thumb {
	background: var(--tasks_scrum-white_alpha_52);
	border-radius: var(--ui-border-radius-xs, 5px);
	cursor: pointer;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__sprints--active .tasks-scrum__content.--with-header {
	border-color: var(--tasks_scrum-green-planning);
}

.tasks-scrum__content--event-params {
	font: 12px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: var(--tasks_scrum-white_alpha_70);
	width: 100%;
}

.bitrix24-default-theme .tasks-scrum__content--event-params,
.bitrix24-dark-theme .tasks-scrum__content--event-params {
	color: var(--tasks_scrum-light-grey_alpha_70);
}

.tasks-scrum__content--event-params > div {
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
}

.tasks-scrum__sprint--remove,
.tasks-scrum__sprint--edit {
	width: 22px;
	height: 22px;
	opacity: 0;
	cursor: pointer;
	-webkit-transition:.2s;
	-o-transition:.2s;
	transition:.2s;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.26 10.418l-2.28.523a.233.233 0 01-.28-.28l.524-2.28 2.036 2.037zm8.059-8.498a.31.31 0 010 .44L4.016 9.724 1.979 7.69 9.283.323a.31.31 0 01.44 0l1.596 1.597z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 2px;
}

.tasks-scrum__sprint--remove {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.472 4.125l-.633 7.166a1 1 0 01-.997.912h-3.88a1 1 0 01-.995-.912l-.634-7.166h7.139zM4.01.535h1.785v.897h2.07a1.5 1.5 0 011.5 1.5v.295H.44v-.295a1.5 1.5 0 011.5-1.5h2.07V.535z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.tasks-scrum__content-header:hover .tasks-scrum__sprint--edit,
.tasks-scrum__content-header:hover .tasks-scrum__sprint--remove {
	opacity: 0.5;
}

.tasks-scrum__content-header:hover .tasks-scrum__sprint--remove:hover,
.tasks-scrum__content-header:hover .tasks-scrum__sprint--edit:hover {
	opacity: 0.9;
}

.bitrix24-default-theme .tasks-scrum__sprint--edit,
.bitrix24-dark-theme .tasks-scrum__sprint--edit {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10'%3E%3Cpath fill='%23535C69' d='M8.062 0L9.99 1.929 3.073 8.845 1.144 6.916 8.062 0zM.007 9.723c-.02.074.002.151.054.205.054.054.131.075.204.054l2.287-.616L.623 7.437.007 9.723z'/%3E%3C/svg%3E");
}

.bitrix24-default-theme .tasks-scrum__sprint--remove,
.bitrix24-dark-theme .tasks-scrum__sprint--remove {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='13'%3E%3Cpath d='M8.472 4.125l-.633 7.166a1 1 0 01-.997.912h-3.88a1 1 0 01-.995-.912l-.634-7.166h7.139zM4.01.535h1.785v.897h2.07a1.5 1.5 0 011.5 1.5v.295H.44v-.295a1.5 1.5 0 011.5-1.5h2.07V.535z' fill='%23535C69' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.tasks-scrum__content-header.--planned .tasks-scrum__sprint--btn-burn-down-chart {
	display: none;
}

.tasks-scrum__sprint--date-container {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font: 13px/16px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	margin-left: -2px;
	min-width: 75px;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__sprint--date-separator {
	margin: 0 3px;
}

.tasks-scrum__sprint--date {
	border-bottom: 1px dashed var(--tasks_scrum-white_alpha_30);
	cursor: pointer;
	min-width: 33px;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__sprint--date:hover {
	border-bottom: 1px dashed var(--tasks_scrum-white);
}

.bitrix24-default-theme .tasks-scrum__sprint--date-separator,
.bitrix24-dark-theme .tasks-scrum__sprint--date-separator {
	color: var(--tasks_scrum-light-grey);
}

.bitrix24-default-theme .tasks-scrum__sprint--date,
.bitrix24-dark-theme .tasks-scrum__sprint--date {
	color: var(--tasks_scrum-light-grey);
	border-bottom: 1px dashed var(--tasks_scrum-light-grey_alpha_30);
}

.bitrix24-default-theme .tasks-scrum__sprint--date:hover,
.bitrix24-dark-theme .tasks-scrum__sprint--date:hover {
	border-bottom: 1px dashed var(--tasks_scrum-light-grey);
}

.tasks-scrum__sprint--icon-burn-down-chart.ui-btn.ui-btn-xs.ui-btn-light.ui-btn-round.ui-btn {
	width: 25px;
	height: 25px;
	border-radius: var(--ui-border-radius-circle, 50%);
	background: var(--tasks_scrum-white_alpha_10);
}

.tasks-scrum__sprint--icon-burn-down-chart.ui-btn:after {
	width: 24px;
	height: 24px;
	left: -1px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M12 11v1.5H0V11h12zM3 5v4H1V5h2zm4-3v7H5V2h2zm4-2v9H9V0h2z'/%3E%3C/svg%3E");
}

.bitrix24-default-theme .tasks-scrum__sprint--icon-burn-down-chart.ui-btn.ui-btn-xs.ui-btn-light.ui-btn-round.ui-btn,
.bitrix24-dark-theme .tasks-scrum__sprint--icon-burn-down-chart.ui-btn.ui-btn-xs.ui-btn-light.ui-btn-round.ui-btn {
	background: var(--tasks_scrum-black_alpha_10);
}

.tasks-scrum__sprint--icon-burn-down-chart.ui-btn.ui-btn-xs.ui-btn-light.ui-btn-round.ui-btn:hover {
	background: var(--tasks_scrum-white_alpha_20);
	border-color: transparent;
}

.tasks-scrum__sprint--info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 3px 0 0 1%;
	min-width: 193px;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__sprint--event-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 5px 13px 6px 13px;
	background: var(--tasks_scrum-black_alpha_10);
	border-radius: var(--ui-border-radius-pill, 36px);
	margin: 1px 8px 0 7px;
	min-width: 113px;
}

.tasks-scrum__sprint--event-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	min-width: 46px;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__sprint--event-container:nth-of-type(2) {
	margin-left: 13px;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1
}

.tasks-scrum__sprint--subtitle {
	font: 13px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	min-width: 17px;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	-ms-flex-negative: 2;
	    flex-shrink: 2;
	margin-right: 6px;
}

.tasks-scrum__sprint--point {
	font: 12px/13px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	background: var(--tasks_scrum-white_alpha_10);
	border-radius: var(--ui-border-radius-pill, 36px);
	padding: 0 4px;
	min-width: 28px;
	min-height: 15px;
	text-align: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	max-width: 41px;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	overflow: hidden;
	border: 1px solid transparent;
}

.tasks-scrum__sprint--point.--completed {
	background-color: transparent;
	margin-left: 5px;
	border-color: var(--tasks_scrum-white_alpha_20);
}

.tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints .tasks-scrum__sprint--date-container {
	margin-right: 5px;
}

.tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints .tasks-scrum__sprint--point {
	margin: 0 5px;
	max-width: 34px;
}

.tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprint--btn-run.ui-btn {
	padding: 0 10px;
}

.tasks-scrum__sprint--btn-add.ui-btn.ui-btn-xs.ui-btn-light.ui-btn-round.ui-btn-icon-add {
	width: 25px;
	height: 25px;
	background-color: var(--tasks_scrum-white);
	border-radius: var(--ui-border-radius-circle, 50%);
	cursor: pointer;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}

.tasks-scrum__sprint--btn-add.ui-btn.ui-btn-round::after {
	opacity: 0.5;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M5.59.053L5.588 3.41h3.358v2.18L5.59 5.588v3.358H3.411L3.41 5.59H.053V3.411L3.41 3.41V.053h2.18z'/%3E%3C/svg%3E");
	margin-top: -11px;
}

.tasks-scrum__sprint--btn-add.ui-btn:hover::after {
	opacity: 0.8;
}

.tasks-scrum__sprint--btn-run.ui-btn {
	padding-bottom: 2px;
	margin: 7px 0 3px 2%;
	width: 115px;
}

.tasks-scrum__sprint--btn-dropdown.ui-btn {
	background-color: transparent;
	border-color: transparent;
	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	margin: 0 1px 0 0.9%;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='9'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M13.667.151L9.14 4.678 7.999 5.801 6.88 4.678 2.353.151.756 1.748 8.01 9.003l7.254-7.255z'/%3E%3C/svg%3E");
	background-size: auto;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.bitrix24-default-theme .tasks-scrum__sprints--active .tasks-scrum__sprint--btn-dropdown.ui-btn,
.bitrix24-dark-theme .tasks-scrum__sprints--active .tasks-scrum__sprint--btn-dropdown.ui-btn,
.bitrix24-default-theme .tasks-scrum__sprints--planned .tasks-scrum__sprint--btn-dropdown.ui-btn,
.bitrix24-dark-theme .tasks-scrum__sprints--planned .tasks-scrum__sprint--btn-dropdown.ui-btn {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='9'%3E%3Cpath fill='rgba(51,51,51,.8)' fill-rule='evenodd' d='M13.667.151L9.14 4.678 7.999 5.801 6.88 4.678 2.353.151.756 1.748 8.01 9.003l7.254-7.255z'/%3E%3C/svg%3E");
}

.tasks-scrum__sprint--btn-dropdown.--up {
	background-color: transparent;
	border-color: transparent;
	-webkit-transform: rotate(-180deg);
	    -ms-transform: rotate(-180deg);
	        transform: rotate(-180deg);
}

.tasks-scrum__sprints .tasks-scrum__content.--with-header {
	padding-bottom: 0;
}

.tasks-scrum__sprints .tasks-scrum__content.--open {
	padding-bottom: 16px;
}

.tasks-scrum__sprints .tasks-scrum__content-header {
	margin-bottom: 0;
	border-bottom: 1px solid transparent;
}

.tasks-scrum__content.--open .tasks-scrum__content-header {
	border-bottom: 1px solid var(--tasks_scrum-white_alpha_20);
	margin-bottom: 13px;
}

.tasks-scrum__content-container {
	height: auto;
	overflow: hidden;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__sprints--new-sprint {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 18px 20px;
	font: 20px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: var(--tasks_scrum-white);
	text-align: center;
	background: var(--tasks_scrum-white_alpha_22);
	border: 2px dashed var(--tasks_scrum-white_alpha_60);
	border-radius: var(--ui-border-radius-xs, 4px);
	cursor: pointer;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__sprints--new-sprint:hover {
	background: var(--tasks_scrum-white_alpha_30);
	border: 2px dashed var(--tasks_scrum-white_alpha_90);
}

.bitrix24-default-theme .tasks-scrum__sprints--new-sprint,
.bitrix24-dark-theme .tasks-scrum__sprints--new-sprint {
	color: var(--tasks_scrum-light-grey_alpha_50);
	background: transparent;
	border-color: var(--tasks_scrum-light-grey_alpha_30);
}

.bitrix24-default-theme .tasks-scrum__sprints--new-sprint:hover,
.bitrix24-dark-theme .tasks-scrum__sprints--new-sprint:hover {
	background: var(--tasks_scrum-light-grey_alpha_03);
	border-color: var(--tasks_scrum-light-grey_alpha_60);
}

.tasks-scrum__sprints--active,
.tasks-scrum__sprints--planned {
	margin-bottom: 24px;
}

.tasks-scrum__sprints--active.--empty,
.tasks-scrum__sprints--planned.--empty {
	margin-bottom: 0;
}

.tasks-scrum__content-header.--editing:hover .tasks-scrum__sprint--remove,
.tasks-scrum__content-header.--editing:hover .tasks-scrum__sprint--edit,
.tasks-scrum__content-header.--editing .tasks-scrum__title,
.tasks-scrum__content-header.--editing .tasks-scrum__sprint--edit,
.tasks-scrum__content-header.--editing .tasks-scrum__sprint--remove,
.tasks-scrum__content-header.--editing .tasks-scrum__sprint--info,
.tasks-scrum__content-header.--editing .tasks-scrum__sprint--btn-run.ui-btn {
	opacity: 0;
	pointer-events: none;
}

.tasks-scrum__title-editing {
	width: 0;
	position: absolute;
	top: 0px;
	left: 1px;
	opacity: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.tasks-scrum__content-header.--editing .tasks-scrum__title-editing {
	width: calc(100% - 42px);
	opacity: 1;
}

.tasks-scrum__title-editing-input:focus,
.tasks-scrum__title-editing-input:active,
.tasks-scrum__title-editing-input:hover,
.tasks-scrum__title-editing-input {
	font: 18px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: var(--tasks_scrum-white);
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-bottom-color: var(--tasks_scrum-white_alpha_50);
	padding-top: 7px;
}

@media (max-width: 1795px) {
	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__name-container {
		max-width: 32%;
	}
}

@media (max-width: 1620px) {
	.tasks-scrum__container.--width-priority-backlog .tasks-scrum__name-container {
		max-width: 32%;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprint--btn-run.ui-btn {
		width: 46px;
		font-size: 0;
		background-repeat: no-repeat;
		background-position: 51% center;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--active .tasks-scrum__sprint--btn-run.ui-btn {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='11'%3E%3Crect width='12' height='11' x='17.5' y='10' fill='%23FFF' fill-rule='evenodd' rx='1' transform='translate(-17 -10)'/%3E%3C/svg%3E");
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--planned .tasks-scrum__sprint--btn-run.ui-btn {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M2.252.471l8.917 5.164a1 1 0 010 1.73L2.252 12.53a1 1 0 01-1.501-.866V1.337A1 1 0 012.252.47z'/%3E%3C/svg%3E");
	}
}


@media (max-width: 1420px) {
	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__name-container {
		max-width: 32%;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__content.--with-header .tasks-scrum__name-container {
		max-width: 26%;
	}

	.tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprint--btn-run.ui-btn {
		width: 46px;
		font-size: 0;
		background-repeat: no-repeat;
		background-position: 51% center;
		-ms-flex-negative: 0;
		    flex-shrink: 0;
	}

	.tasks-scrum__sprint--point {
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
	}

	.tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--active .tasks-scrum__sprint--btn-run.ui-btn {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='11'%3E%3Crect width='12' height='11' x='17.5' y='10' fill='%23FFF' fill-rule='evenodd' rx='1' transform='translate(-17 -10)'/%3E%3C/svg%3E");
	}

	.tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--planned .tasks-scrum__sprint--btn-run.ui-btn {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M2.252.471l8.917 5.164a1 1 0 010 1.73L2.252 12.53a1 1 0 01-1.501-.866V1.337A1 1 0 012.252.47z'/%3E%3C/svg%3E");
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprint--subtitle {
		display: none;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprint--event-content {
		min-width: 57px;
		padding: 5px 8px 6px 8px;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints .tasks-scrum__sprint--point {
		margin: 0;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprint--event-container {
		min-width: 26px;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprint--info {
		min-width: 113px;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprint--event-container:nth-of-type(2) {
		margin-left: 5px;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__name-container {
		max-width: calc(100% - 35px - 56px - 142px);
	}
}
.tasks-scrum__item {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 12px 0;
	/*border-radius: 3px;*/
	/*border-radius: var(--ui-border-radius-xs, 3px);*/
	margin-top: 10px;
	color: var(--tasks_scrum-light-grey);
	position: relative;
	z-index: 3;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.tasks-scrum__item.--short-view {
	display: grid;
	grid-gap: 0;
	grid-template-columns: 10px calc(100% - 10px - 19% - 64px) 19% 64px;
}

/*.tasks-scrum__item::before {*/
/*	content: '';*/
/*	display: block;*/
/*	width: calc(100% - 2px);*/
/*	height: calc(100% - 2px);*/
/*	position: absolute;*/
/*	left: 0;*/
/*	top: 0;*/
/*	border: 1px solid transparent;*/
/*	background: var(--tasks_scrum-white);*/
/*	box-shadow: 0 1px 1px 0 var(--tasks_scrum-black_alpha_08);*/
/*	!*border-radius: 3px;*!*/
/*	border-radius: var(--ui-border-radius-xs, 3px);*/
/*	z-index: -1;*/
/*	transition: .2s;*/
/*	pointer-events: none;*/
/*}*/

.tasks-scrum__item--bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-box-shadow: 0 1px 1px 0 var(--tasks_scrum-black_alpha_08);
	        box-shadow: 0 1px 1px 0 var(--tasks_scrum-black_alpha_08);
	border-radius: var(--ui-border-radius-xs, 3px);
	background: var(--tasks_scrum-white);
	overflow: hidden;
	z-index: -1;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	/*pointer-events: none;*/
}

.tasks-scrum__item.--item-backlog .tasks-scrum__item--bg {
	background: var(--tasks_scrum-grey-3);
}

.tasks-scrum__item .tasks-scrum__item--bg::before {
	content: '';
	display: block;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	border: 1px solid transparent;
	position: absolute;
	left: 3px;
	top: 0;
	background: var(--tasks_scrum-white);
	z-index: 0;
}

.tasks-scrum__content-items .tasks-scrum__item:first-of-type {
	margin-top: 0;
}

.tasks-scrum__item--substrate {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	pointer-events: none;
}

.tasks-scrum__item.--parent-tasks .tasks-scrum__item--substrate {
	display: block;
}

.tasks-scrum__item.--many .tasks-scrum__item--substrate::after,
.tasks-scrum__item--substrate::before {
	content: '';
	display: block;
	width: calc(100% - 4px);
	height: 100%;
	position: absolute;
	top: 3px;
	left: 1px;
	background: var(--tasks_scrum-white);
	-webkit-box-shadow: 0 1px 1px 0 var(--tasks_scrum-black_alpha_08);
	        box-shadow: 0 1px 1px 0 var(--tasks_scrum-black_alpha_08);
	border: 1px solid var(--tasks_scrum-white);
	border-radius: var(--ui-border-radius-xs, 3px);
	opacity: 1;
	z-index: -1;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	pointer-events: none;
}

.tasks-scrum__item.--many .tasks-scrum__item--substrate::after {
	top: 8px;
	left: 2px;
	width: calc(100% - 6px);
	z-index: -2;
}

.tasks-scrum__sprints .tasks-scrum__item.--parent-tasks {
	margin-bottom: 5px;
	z-index: 0;
}

.tasks-scrum__sprints .tasks-scrum__item.--parent-tasks.--many {
	margin-bottom: 10px;
}

.tasks-scrum__sprints .tasks-scrum__item.--parent-tasks.--open {
	margin-bottom: 1px;
}

.tasks-scrum__sprints .tasks-scrum__item.--parent-tasks + .tasks-scrum__item {
	margin-top: 15px;
}

.tasks-scrum__sprints .tasks-scrum__item.--parent-tasks.--many + .tasks-scrum__item {
	margin-top: 20px;
}

.tasks-scrum__item.--open .tasks-scrum__item--substrate::after,
.tasks-scrum__item.--open .tasks-scrum__item--substrate::before {
	left: 10px;
	width: calc(100% - 10px);
	top: calc(100% + 1px);
	opacity: 0;
}

.tasks-scrum__item.--open .tasks-scrum__item--substrate::after,
.tasks-scrum__item.--open .tasks-scrum__item--substrate::before {
	left: 37px;
	width: calc(100% - 37px);
}

.tasks-scrum__item.--open .tasks-scrum__item--substrate.--many::after {
	top: calc(200% + 2px);
}

.tasks-scrum__item.--subtasks {
	z-index: 0;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.tasks-scrum__item-sub-tasks .tasks-scrum__item.--subtasks.--full-view {
	margin-top: 1px;
	margin-left: 37px;
}

.tasks-scrum__item-sub-tasks .tasks-scrum__item.--subtasks.--short-view {
	margin-top: 1px;
}

.tasks-scrum__item.--subtasks .tasks-scrum__item--info {
	grid-column: 2/3;
}

.tasks-scrum__item.--subtasks .tasks-scrum__item--responsible {
	grid-column: 3 / 5;
	padding-right: 13px;
	margin-right: 0;
}

/*.tasks-scrum__item-sub-tasks .tasks-scrum__item.--subtasks.--short-view::before {*/
/*	left: 10px;*/
/*	width: calc(100% - 12px);*/
/*}*/

.tasks-scrum__item-sub-tasks .tasks-scrum__item.--subtasks.--short-view .tasks-scrum__item--bg {
		left: 10px;
		width: calc(100% - 10px);
}

.tasks-scrum__item.--open:not(.--subtasks) + .tasks-scrum__item.--subtasks + .tasks-scrum__item.--subtasks,
.tasks-scrum__item.--open:not(.--subtasks) ~ .tasks-scrum__item.--subtasks {
	margin-top: 1px;
	opacity: 1;
}

.tasks-scrum__item--info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	grid-column: 1 / 3;
}
.tasks-scrum__item.--short-view .tasks-scrum__item--info{
	margin-right: 8%;
	padding-left: 13px;
}

.tasks-scrum__item--btn-toggle-tasks {
	display: none;
	width: 14px;
	height: 14px;
	margin-right: 11px;
	cursor: pointer;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	border-radius: var(--ui-border-radius-circle, 50%);
	opacity: 0.4;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M7.013.003a7.01 7.01 0 110 14.02 7.01 7.01 0 010-14.02zm0 1.39a5.62 5.62 0 100 11.24 5.62 5.62 0 000-11.24zm.9 2.636v2.083l2.077.001v1.8H7.913v2.095h-1.8V7.913H4.051v-1.8h2.062V4.028h1.8z'/%3E%3C/svg%3E");
}

.tasks-scrum__item--btn-toggle-tasks.--visible {
	display: block;
}

.tasks-scrum__item--btn-toggle-tasks:hover {
	opacity: 0.6;
}

.tasks-scrum__item.--open .tasks-scrum__item--btn-toggle-tasks {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M7.013.003a7.01 7.01 0 110 14.02 7.01 7.01 0 010-14.02zm0 1.39a5.62 5.62 0 100 11.24 5.62 5.62 0 000-11.24zm2.977 4.72v1.8H4.05v-1.8H9.99z'/%3E%3C/svg%3E");
}

.tasks-scrum__item--main-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	min-height: 34px;
	margin: -1px auto -1px 0;
	width: 100%;
	min-width: 15%;
	-ms-flex-negative: 1;
	    flex-shrink: 1;
}

.tasks-scrum__item--title {
	color: var(--tasks_scrum-light-grey);
	line-height: 20px;
	margin-right: auto;
	max-width: 100%;
}

.tasks-scrum__item.--short-view .tasks-scrum__item--title {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	line-height: 17px;
}

.tasks-scrum__item--title:hover {
	cursor: pointer;
	color: var(--tasks_scrum-blue-4);
}

.tasks-scrum__item--title.--completed {
	text-decoration: line-through;
}

.tasks-scrum__item--title.--important {
	position: relative;
}

.tasks-scrum__item--title.--important span::after {
	content: '';
	display: inline-block;
	vertical-align: baseline;
	width: 9px;
	height: 12px;
	margin: 0 0 0 6px;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.75 12a3.765 3.765 0 001.5-3c0-1.601-1.074-1.403-2.152-3.548a.197.197 0 00-.286-.08A4.775 4.775 0 002.75 9a4.29 4.29 0 001.5 3h-.533A4.907 4.907 0 01.5 7.5C.5 4.45 3.202 1.576 5.119.356c.266-.17.593.057.628.37C6.033 3.3 9.5 4.3 9.5 8.063 9.5 10.97 6.282 12 6.282 12H5.75z' fill='%23FF5752'/%3E%3C/svg%3E") top center no-repeat;
}

.tasks-scrum__item.--short-view .tasks-scrum__item--title.--important span::after {
	position: absolute;
	right: 0;
	top: 2px;
}

.tasks-scrum__item.--short-view .tasks-scrum__item--title.--important {
	padding-right: 15px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.tasks-scrum__item--entity-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	margin: 1px 0 0 5px;
	width: 125px;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.tasks-scrum__item--counter-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	width: calc(100% - 48px);
}

.tasks-scrum__item--counter-container .ui-label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 2px 7px 2px 5px;
	height: auto;
	margin: 0 5px 0 0;
	border-radius: var(--ui-border-radius-md, 10px);
	font: 10px/10px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: var(--tasks_scrum-dark-grey);
	border: 1px solid var(--tasks_scrum-dark-grey_alpha_17);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.tasks-scrum__item--entity-content .ui-label.tasks-scrum__item--entity-tasks {
	padding: 2px 4px 2px 6px;
}

.tasks-scrum__item--attachment-counter:hover {
	cursor: pointer;
}

.tasks-scrum__item--attachment-counter.ui-label {
	display: none;
}

.tasks-scrum__item--attachment-counter.ui-label.--visible {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-scrum__item--attachment-counter::before {
	content: '';
	display: block;
	width: 9px;
	height: 10px;
	margin-right: 3px;
	opacity: 0.5;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='10'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M8.765 6.063a.19.19 0 000-.272l-.515-.505a.199.199 0 00-.278 0L4.942 8.26a2.278 2.278 0 01-3.17 0 2.177 2.177 0 010-3.11L5.49 1.5a1.42 1.42 0 011.981 0 1.357 1.357 0 010 1.945L4.15 6.705a.562.562 0 01-.793 0 .537.537 0 010-.778l2.635-2.585a.19.19 0 000-.273l-.515-.505a.199.199 0 00-.278 0L2.565 5.149a1.626 1.626 0 000 2.333 1.7 1.7 0 002.377 0l3.321-3.26a2.446 2.446 0 000-3.499 2.559 2.559 0 00-3.565 0L.98 4.372a3.266 3.266 0 000 4.666c1.308 1.283 3.447 1.283 4.754 0l3.03-2.975z'/%3E%3C/svg%3E");
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__item--comment-counter {
	display: none;
	margin-right: 16px;
}

.tasks-scrum__item--comment-counter:hover {
	cursor: pointer;
}

.tasks-scrum__item--comment-counter.--visible {
	display: block;
}

.tasks-scrum__item--comment-counter .ui-counter-inner {
	padding: 0 7px;
}

.tasks-scrum__item--entity-tasks.ui-label {
	display: none;
}

.tasks-scrum__item--entity-tasks.ui-label.--visible {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-scrum__item--entity-tasks:hover {
	cursor: pointer;
}

.tasks-scrum__item--entity-tasks::before {
	content: '';
	display: block;
	width: 9px;
	height: 8px;
	margin-right: 4px;
	opacity: 0.5;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='8'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M5.725 0L4.647 1.076H1.878a.8.8 0 00-.794.7l-.006.1v4.247a.8.8 0 00.7.794l.1.006h4.254a.8.8 0 00.794-.7l.006-.1v-.257L8.01 4.789V6.7A1.3 1.3 0 016.71 8H1.3A1.3 1.3 0 010 6.7V1.3A1.3 1.3 0 011.3 0h4.425zM8.5.547l.38.38a.4.4 0 010 .565l-4.33 4.33a.4.4 0 01-.503.052l-.063-.051-1.958-1.958a.4.4 0 010-.566l.379-.378a.4.4 0 01.566 0l1.295 1.294L7.934.547a.4.4 0 01.566 0z'/%3E%3C/svg%3E");
}

.tasks-scrum__item--tags {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 2px;
}

.tasks-scrum__item--epic {
	display: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 12px;
	line-height: 17px;
	white-space: nowrap;
	color: var(--tasks_scrum-dark-grey);
	margin-right: 8px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.tasks-scrum__item--epic:hover {
	cursor: pointer;
}

.tasks-scrum__item--epic.--visible {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-scrum__item--epic-point{
	display: block;
	width: 8px;
	height: 8px;
	border-radius: var(--ui-border-radius-circle, 50%);
	background-color: var(--tasks_scrum-blue);
	margin: 1px 4px 0 1px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}

.tasks-scrum__item--responsible span,
.tasks-scrum__item--epic span {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	cursor: pointer;
}

.tasks-scrum__item--hashtag {
	display: none;
	color: var(--tasks_scrum-blue-4);
	margin-right: 5px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	cursor: pointer;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	font: 12px/17px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.tasks-scrum__item--hashtag:hover {
	color: var(--tasks_scrum-blue-5);
}

.tasks-scrum__item--hashtag.--visible {
	display: block;
}

.tasks-scrum__item--responsible {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 13px;
	color: var(--tasks_scrum-dark-grey);
	line-height: 17px;
	grid-column: 3 / 4;
	margin: 7px 0;
}

.tasks-scrum__item.--full-view .tasks-scrum__item--responsible {
	max-width: calc(100% - 50px);
}

.tasks-scrum__item--responsible-photo {
	width: 20px;
	height: 20px;
	margin-right: 6px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	cursor: pointer;
}

.tasks-scrum__item--story-points {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-right: 13px;
	padding-left: 5px;
	grid-column: 4 / 5;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	opacity: 1;
}

.tasks-scrum__item--story-points-content {
	position: relative;
	max-width: 100%;
}

.tasks-scrum__item--story-points-element {
	background: var(--tasks_scrum-blue_alpha_20);
	border-radius: var(--ui-border-radius-md, 10px);
	padding: 2px 5px;
	min-width: 26px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 13px;
	color: var(--tasks_scrum-dark-grey);
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.tasks-scrum__item--story-points.--empty .tasks-scrum__item--story-points-element {
	background: var(--tasks_scrum-dark-grey_alpha_15);
}

.tasks-scrum__item--story-points-input-container {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translate(0px, -48%);
	    -ms-transform: translate(0px, -48%);
	        transform: translate(0px, -48%);
	width: 50px;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	opacity: 0;
	pointer-events: none;
}

.tasks-scrum__item--story-points-input-container.--active {
	opacity: 1;
	pointer-events: all;
}

.tasks-scrum__item--story-points-input {
	font: 13px/17px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525C69;
	padding: 6px 6px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: var(--tasks_scrum-white);
	border: 1px solid var(--tasks_scrum-blue);
	border-radius: var(--ui-border-radius-xs, 2px);
	width: 100%;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__item--link {
	display: none;
	width: 19px;
	height: 9px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: var(--ui-border-radius-xs, 3px) 0 var(--ui-border-radius-xs, 3px) 0;
	background-color: var(--tasks_scrum-blue-2);
	background-repeat: no-repeat;
	background-position: 3px 1px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.346 2.758l-1.232.357a.997.997 0 00-.872-1.12l-.116-.007H2.973a.997.997 0 00-.116 1.987l.116.007h.775c.185.48.507.835.966 1.067l-1.91-.001a2.063 2.063 0 110-4.126h3.492c1.062 0 1.937.803 2.05 1.836zM12 2.985c0 1.14-.923 2.063-2.063 2.063H6.445a2.063 2.063 0 01-2.06-1.954l1.268-.371a.998.998 0 00.845 1.252l.116.007h3.154a.997.997 0 00.116-1.986l-.116-.007-.79-.001A1.946 1.946 0 008.012.92l1.925.002c1.14 0 2.063.923 2.063 2.062z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
	cursor: pointer;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__item.--linked .tasks-scrum__item--link {
	display: block;
}

.tasks-scrum__item--link:hover {
	background-color: var(--tasks_scrum-blue);
}

.tasks-scrum__item--group-mode {
	position: absolute;
	right: 14px;
	top: 50%;
	-webkit-transform: translate(0px, -42%);
	    -ms-transform: translate(0px, -42%);
	        transform: translate(0px, -42%);
	opacity: 0;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	pointer-events: none;
}

.tasks-scrum__item.--checked .tasks-scrum__item--group-mode {
	opacity: 1;
	pointer-events: all;
}

.tasks-scrum__item--group-mode-input {
	-webkit-appearance: none!important;
	   -moz-appearance: none!important;
	        appearance: none!important;
	margin: 0;
	width: 14px;
	height: 14px;
	background: var(--tasks_scrum-white);
	cursor: pointer;
	border: 1px solid #A8ADB4;
	border-radius: var(--ui-field-border-radius, 2px);
}

.tasks-scrum__item--group-mode-input:checked {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%2380868E' opacity='.8' d='M0 0h12v12H0z'/%3E%3Cpath fill='%23FFF' d='M5.123 9.487a.814.814 0 01-.584-.23l-2.393-2.31a.828.828 0 011.15-1.191l1.792 1.73 3.833-3.97a.823.823 0 011.17-.019c.33.32.338.841.021 1.17l-4.41 4.566a.821.821 0 01-.578.253h-.001z'/%3E%3C/g%3E%3C/svg%3E");
	border: 1px solid transparent;
}

.tasks-scrum__item.--checked .tasks-scrum__item--story-points {
	opacity: 0;
}

.tasks-scrum__sprints .tasks-scrum__item {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.tasks-scrum__item.--short-view.--item-backlog.--subtasks {
	display: none;
}

.tasks-scrum__item.--item-backlog {
	/*padding: 12px 10px 12px 12px;*/
	/*padding: 17px 10px 15px 12px;*/
	padding: 17px 10px 15px 15px;
	/*border-left: 3px solid var(--tasks_scrum-grey-3);*/
}

.tasks-scrum__item.--item-backlog .tasks-scrum__item--info {
	padding: 0;
}

.tasks-scrum__item.--short-view.--item-backlog .tasks-scrum__item--info {
	grid-column: 1 / 5;
	margin-right: 0;
}

.tasks-scrum__item.--short-view.--item-backlog .tasks-scrum__item--tags {
	grid-column: 1 / 5;
	margin-right: 0;
	margin-top: 2px;
}

.tasks-scrum__item.--short-view.--item-backlog .tasks-scrum__item--hashtag,
.tasks-scrum__item.--short-view.--item-backlog .tasks-scrum__item--epic {
	margin-right: 5px;
}

/*.tasks-scrum__item.--item-backlog .tasks-scrum__item--link {*/
/*	left: -3px;*/
/*}*/

.tasks-scrum__item.--short-view.--item-backlog .tasks-scrum__item--story-points {
	display: block;
	position: absolute;
	bottom: 9px;
	right: -13px;
}

.tasks-scrum__item.--item-backlog.--parent-tasks .tasks-scrum__item--substrate,
.tasks-scrum__item.--item-backlog .tasks-scrum__item--btn-toggle-tasks,
.tasks-scrum__item.--short-view.--item-backlog .tasks-scrum__item--counter-container,
.tasks-scrum__item.--short-view.--item-backlog .tasks-scrum__item--responsible {
	display: none;
}

.tasks-scrum__item.--item-backlog::before {
	border-radius: 0 var(--ui-border-radius-xs, 3px) var(--ui-border-radius-xs, 3px) 0;
}

.tasks-scrum__item.--short-view.--item-backlog .tasks-scrum__item--comment-counter {
	margin: -3px 0 0 0;
}

.tasks-scrum__item.--short-view.--item-backlog .tasks-scrum__item--entity-content {
	/*margin: 0 0 auto 5px;*/
	margin: -4px 0 auto 5px;
	width: 7%;
}

.tasks-scrum__item.--short-view.--item-backlog .tasks-scrum__item--main-info {
	max-width: calc(100% - 50px);
}

.tasks-scrum__item.--linked-mode-current .tasks-scrum__item--substrate::before,
.tasks-scrum__item.--linked-mode-current .tasks-scrum__item--substrate::after,
.tasks-scrum__item.--many.--group-mode .tasks-scrum__item--substrate::after,
.tasks-scrum__item.--group-mode .tasks-scrum__item--substrate::before {
	background: var(--tasks_scrum-blue-3);
	border: 1px solid var(--tasks_scrum-blue);
}

.tasks-scrum__item.--group-mode .tasks-scrum__item--bg::before {
	background: var(--tasks_scrum-blue-3);
	border: 1px solid var(--tasks_scrum-blue);
	left: 0;
	border-radius: var(--ui-border-radius-xs, 6px);
}

.tasks-scrum__item.--linked-mode-current::before {
	background: var(--tasks_scrum-blue-6);
	border: 1px solid var(--tasks_scrum-blue-2);
}

.tasks-scrum__item-sub-tasks {
	height: 0;
	overflow: hidden;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__item--drop-preview {
	margin: 10px 0 10px 0;
}

.tasks-scrum__item.--blink::before {
	background: var(--tasks_scrum-blue-3);
	border: 1px solid var(--tasks_scrum-blue);
}

.tasks-scrum__item.--full-view {
	 padding: 9px 15px 3px 13px;
 }

.tasks-scrum__item.--full-view.--item-sprint {
	padding-left: 15px;
}

.tasks-scrum__item.--full-view .tasks-scrum__item--info {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.tasks-scrum__item.--full-view .tasks-scrum__item--comment-counter {
	margin: 0 0 0 16px;
}

.tasks-scrum__item.--full-view .tasks-scrum__item--main-info {
	margin-top: 1px;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	max-width: calc(100% - 36px);
}

.tasks-scrum__item.--full-view .tasks-scrum__item--btn-toggle-tasks.--visible + .tasks-scrum__item--main-info {
	max-width: calc(100% - 24px - 36px);
}

.tasks-scrum__item.--full-view .tasks-scrum__item--tags {
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.tasks-scrum__item.--full-view.--item-sprint .tasks-scrum__item--tags {
	margin-top: 9px;
}

.tasks-scrum__item--epic-full-view {
	display: none;
	font: 12px/18px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	border-radius: var(--ui-border-radius-xl, 14px);
	padding: 0 10px 1px;
	margin: 3px 9px 3px 0;
	color: var(--tasks_scrum-light-grey);
	border: 1px solid;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	cursor: pointer;
	max-width: 100%;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.tasks-scrum__item--epic-full-view.--visible {
	display: block;
}

.tasks-scrum__item--info-task--details {
	margin-top: 9px;
	border-top: 1px solid var(--tasks_scrum-dark-grey_alpha_08);
	padding-top: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.tasks-scrum__item.--full-view .tasks-scrum__item--counter-container {
	width: auto;
	margin-left: 10px;
}

.tasks-scrum__item.--full-view .tasks-scrum__item--story-points {
	margin-left: auto;
	padding-right: 0;
}

.tasks-scrum__item.--full-view .tasks-scrum__item--story-points-element {
	min-width: 26px;
}

.tasks-scrum__item.--full-view .tasks-scrum__item--btn-toggle-tasks {
	margin-top: 4px;
	margin-right: 10px;
}

.tasks-scrum__item.--full-view .tasks-scrum__item--tags {
	display: none;
}

.tasks-scrum__item.--full-view .tasks-scrum__item--tags.--visible {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-scrum__item.--full-view .tasks-scrum__item--group-mode {
	top: auto;
	bottom: 10px;
	-webkit-transform: translate(0px, 0px);
	    -ms-transform: translate(0px, 0px);
	        transform: translate(0px, 0px);
}
.tasks-scrum__input {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 12px 0;
	border-radius: var(--ui-border-radius-xs, 3px);
	margin-top: 10px;
	color: var(--tasks_scrum-light-grey);
	position: relative;
	z-index: 3;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.tasks-scrum__input.--add-block {
	border-color: var(--tasks_scrum-grey-4);
	padding: 6px 11px 8px;
	background: var(--tasks_scrum-white);
}

.tasks-scrum__input.--add-block.--disabled {
	opacity: 0.6;
}

.tasks-scrum__input--textarea {
	height: 60px;
	grid-column: 1 / 6;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	font-size: 13px;
	color: var(--tasks_scrum-light-grey);
	letter-spacing: 0;
	line-height: 16px;
	width: 100%;
	resize: none;
	padding: 0;
	border: none;
	outline: none;
}

.tasks-scrum__input--textarea::-webkit-input-placeholder {
	color: var(--tasks_scrum-dark-grey_alpha_50);
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__input--textarea::-moz-placeholder {
	color: var(--tasks_scrum-dark-grey_alpha_50);
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__input--textarea:-ms-input-placeholder {
	color: var(--tasks_scrum-dark-grey_alpha_50);
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__input--textarea::-ms-input-placeholder {
	color: var(--tasks_scrum-dark-grey_alpha_50);
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__input--textarea::placeholder {
	color: var(--tasks_scrum-dark-grey_alpha_50);
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__input--textarea-help {
	font: 13px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	font-style: italic;
	color: var(--tasks_scrum-dark-grey_alpha_60);
	grid-column: 1 / 6;
}

.tasks-scrum__input--textarea-help span::before {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 12px;
	height: 9px;
	margin: 6px 2px 0 0;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='9'%3E%3Cpath fill='%239AA0A8' fill-rule='evenodd' d='M3.134 8.668L.001 5.534 3.17 2.365 3.155 4.99h4.72c1.016 0 1.85-.786 1.927-1.783l.006-.15a1.933 1.933 0 00-1.934-1.934h-.628V0h.685a3.099 3.099 0 010 6.197H3.15l-.015 2.471z'/%3E%3C/svg%3E") center no-repeat;
}

.ui-btn.ui-btn-light-border.tasks-scrum-robot-btn {
	padding: 0 12px 0 36px;
	height: 27px;
	background: rgba(255, 255, 255, .15);
	font-size: 13px;
	line-height: 25px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.ui-btn.ui-btn-light-border.tasks-scrum-robot-btn:before {
	content: '';
	position: absolute;
	left: 12px;
	top: 6px;
	width: 15px;
	height: 13px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2213%22%20viewBox%3D%220%200%2015%2013%22%3E%3Cpath%20fill%3D%22%23535c69%22%20d%3D%22M12.1137872%2C3.60115802%20L12.9213711%2C0.88887765%20C12.9917364%2C0.653060708%2012.9323829%2C0.397184882%2012.7656685%2C0.217636118%20C12.5989541%2C0.0380873543%2012.3502067%2C-0.0378566184%2012.113127%2C0.0184115594%20C11.8760474%2C0.0746797372%2011.6866535%2C0.254611591%2011.6162882%2C0.490428532%20L10.9245602%2C2.81873631%20C8.77403662%2C1.683364%206.20997866%2C1.68606835%204.06180048%2C2.82597457%20L3.36666494%2C0.490428532%20C3.25788966%2C0.125887126%202.87755711%2C-0.0804361999%202.51716841%2C0.0295924856%20C2.15677972%2C0.139621171%201.95280675%2C0.524336243%202.06158203%2C0.88887765%20L2.8725735%2C3.61184307%20C1.05136157%2C5.08431072%20-0.00628362527%2C7.31674489%202.80901028e-05%2C9.6750943%20C2.80901028e-05%2C13.9311927%203.35644236%2C12.8868148%207.4999954%2C12.8868148%20C11.6435484%2C12.8868148%2014.9999627%2C13.9311927%2014.9999627%2C9.6750943%20C15.0072578%2C7.31042438%2013.9438643%2C5.07252025%2012.1137872%2C3.60115802%20Z%20M7.49318035%2C9.09672266%20C4.53544676%2C9.09672266%202.13654763%2C9.40693391%202.13654763%2C8.13885926%20C2.13654763%2C6.8707846%204.53544676%2C5.84122793%207.49318035%2C5.84122793%20C10.4509139%2C5.84122793%2012.8532206%2C6.86975056%2012.8532206%2C8.13885926%20C12.8532206%2C9.40796795%2010.4543215%2C9.09672266%207.49318035%2C9.09672266%20Z%20M5.04316831%2C6.79116371%20C4.62088547%2C6.86918401%204.33167594%2C7.26631071%204.38320708%2C7.69738635%20C4.43473822%2C8.12846199%204.80918992%2C8.44441522%205.23768653%2C8.41837532%20C5.66618314%2C8.39233541%206.00054518%2C8.03330729%206.00068344%2C7.59909168%20C5.95284474%2C7.11065813%205.52678755%2C6.75116144%205.04316831%2C6.79116371%20Z%20M9.28209458%2C7.69949772%20C9.33459027%2C8.13049967%209.70956893%2C8.44577556%2010.1380777%2C8.41919424%20C10.5665864%2C8.39261291%2010.90067%2C8.03335237%2010.9007075%2C7.59909168%20C10.8528825%2C7.10920225%2010.4246755%2C6.74917285%209.93978486%2C6.79116371%20C9.51771184%2C6.87058387%209.22959888%2C7.26849578%209.28209458%2C7.69949772%20Z%22%20opacity%3D%22.9%22/%3E%3C/svg%3E');
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.ui-btn.ui-btn-light-border.tasks-scrum-robot-btn:hover:before,
.bitrix24-light-theme .pagetitle-below .ui-btn.ui-btn-light-border.tasks-scrum-robot-btn:before {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2213%22%20viewBox%3D%220%200%2015%2013%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M12.1137872%2C3.60115802%20L12.9213711%2C0.88887765%20C12.9917364%2C0.653060708%2012.9323829%2C0.397184882%2012.7656685%2C0.217636118%20C12.5989541%2C0.0380873543%2012.3502067%2C-0.0378566184%2012.113127%2C0.0184115594%20C11.8760474%2C0.0746797372%2011.6866535%2C0.254611591%2011.6162882%2C0.490428532%20L10.9245602%2C2.81873631%20C8.77403662%2C1.683364%206.20997866%2C1.68606835%204.06180048%2C2.82597457%20L3.36666494%2C0.490428532%20C3.25788966%2C0.125887126%202.87755711%2C-0.0804361999%202.51716841%2C0.0295924856%20C2.15677972%2C0.139621171%201.95280675%2C0.524336243%202.06158203%2C0.88887765%20L2.8725735%2C3.61184307%20C1.05136157%2C5.08431072%20-0.00628362527%2C7.31674489%202.80901028e-05%2C9.6750943%20C2.80901028e-05%2C13.9311927%203.35644236%2C12.8868148%207.4999954%2C12.8868148%20C11.6435484%2C12.8868148%2014.9999627%2C13.9311927%2014.9999627%2C9.6750943%20C15.0072578%2C7.31042438%2013.9438643%2C5.07252025%2012.1137872%2C3.60115802%20Z%20M7.49318035%2C9.09672266%20C4.53544676%2C9.09672266%202.13654763%2C9.40693391%202.13654763%2C8.13885926%20C2.13654763%2C6.8707846%204.53544676%2C5.84122793%207.49318035%2C5.84122793%20C10.4509139%2C5.84122793%2012.8532206%2C6.86975056%2012.8532206%2C8.13885926%20C12.8532206%2C9.40796795%2010.4543215%2C9.09672266%207.49318035%2C9.09672266%20Z%20M5.04316831%2C6.79116371%20C4.62088547%2C6.86918401%204.33167594%2C7.26631071%204.38320708%2C7.69738635%20C4.43473822%2C8.12846199%204.80918992%2C8.44441522%205.23768653%2C8.41837532%20C5.66618314%2C8.39233541%206.00054518%2C8.03330729%206.00068344%2C7.59909168%20C5.95284474%2C7.11065813%205.52678755%2C6.75116144%205.04316831%2C6.79116371%20Z%20M9.28209458%2C7.69949772%20C9.33459027%2C8.13049967%209.70956893%2C8.44577556%2010.1380777%2C8.41919424%20C10.5665864%2C8.39261291%2010.90067%2C8.03335237%2010.9007075%2C7.59909168%20C10.8528825%2C7.10920225%2010.4246755%2C6.74917285%209.93978486%2C6.79116371%20C9.51771184%2C6.87058387%209.22959888%2C7.26849578%209.28209458%2C7.69949772%20Z%22%20opacity%3D%22.9%22/%3E%3C/svg%3E');
}

.bitrix24-dark-theme .pagetitle-below .ui-btn.ui-btn-light-border.tasks-scrum-robot-btn {
	border: 1px solid rgba(0, 0, 0, .06);
	background: rgba(0, 0, 0, .07);
}

.bitrix24-light-theme .ui-btn.ui-btn-light-border.tasks-scrum-robot-btn:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2213%22%20viewBox%3D%220%200%2015%2013%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M12.1137872%2C3.60115802%20L12.9213711%2C0.88887765%20C12.9917364%2C0.653060708%2012.9323829%2C0.397184882%2012.7656685%2C0.217636118%20C12.5989541%2C0.0380873543%2012.3502067%2C-0.0378566184%2012.113127%2C0.0184115594%20C11.8760474%2C0.0746797372%2011.6866535%2C0.254611591%2011.6162882%2C0.490428532%20L10.9245602%2C2.81873631%20C8.77403662%2C1.683364%206.20997866%2C1.68606835%204.06180048%2C2.82597457%20L3.36666494%2C0.490428532%20C3.25788966%2C0.125887126%202.87755711%2C-0.0804361999%202.51716841%2C0.0295924856%20C2.15677972%2C0.139621171%201.95280675%2C0.524336243%202.06158203%2C0.88887765%20L2.8725735%2C3.61184307%20C1.05136157%2C5.08431072%20-0.00628362527%2C7.31674489%202.80901028e-05%2C9.6750943%20C2.80901028e-05%2C13.9311927%203.35644236%2C12.8868148%207.4999954%2C12.8868148%20C11.6435484%2C12.8868148%2014.9999627%2C13.9311927%2014.9999627%2C9.6750943%20C15.0072578%2C7.31042438%2013.9438643%2C5.07252025%2012.1137872%2C3.60115802%20Z%20M7.49318035%2C9.09672266%20C4.53544676%2C9.09672266%202.13654763%2C9.40693391%202.13654763%2C8.13885926%20C2.13654763%2C6.8707846%204.53544676%2C5.84122793%207.49318035%2C5.84122793%20C10.4509139%2C5.84122793%2012.8532206%2C6.86975056%2012.8532206%2C8.13885926%20C12.8532206%2C9.40796795%2010.4543215%2C9.09672266%207.49318035%2C9.09672266%20Z%20M5.04316831%2C6.79116371%20C4.62088547%2C6.86918401%204.33167594%2C7.26631071%204.38320708%2C7.69738635%20C4.43473822%2C8.12846199%204.80918992%2C8.44441522%205.23768653%2C8.41837532%20C5.66618314%2C8.39233541%206.00054518%2C8.03330729%206.00068344%2C7.59909168%20C5.95284474%2C7.11065813%205.52678755%2C6.75116144%205.04316831%2C6.79116371%20Z%20M9.28209458%2C7.69949772%20C9.33459027%2C8.13049967%209.70956893%2C8.44577556%2010.1380777%2C8.41919424%20C10.5665864%2C8.39261291%2010.90067%2C8.03335237%2010.9007075%2C7.59909168%20C10.8528825%2C7.10920225%2010.4246755%2C6.74917285%209.93978486%2C6.79116371%20C9.51771184%2C6.87058387%209.22959888%2C7.26849578%209.28209458%2C7.69949772%20Z%22%20opacity%3D%22.9%22/%3E%3C/svg%3E');
}

.bx-ie .ui-btn.ui-btn-light-border.tasks-scrum-robot-btn {

	background: rgba(255, 255, 255, .15); }

.tasks-scrum-robot-btn.ui-btn-light-border.ui-btn:not(.ui-btn-disabled):hover {
	border-color: #55d0e0;
	background: #55d0e0;
	color: #fff;
}

.ui-btn.ui-btn-light-border.tasks-scrum-robot-btn.ui-btn-icon-lock {
	margin-right: 22px;
}

.tasks-scrum-robot-btn.ui-btn-icon-lock.ui-btn:after,
.tasks-scrum-robot-btn.ui-btn-icon-lock.ui-btn-main:after {
	left: auto;
	right: -22px;
	width: 14px;
	height: 14px;
	background-size: 22px 22px;
}

.tasks-scrum-robot-btn-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/*margin-left: auto;*/
	margin-right: 12px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-left: 16px;
	position: relative;
}
.tasks-scrum__sprints--completed-title {
	font: 11px/12px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	margin: 0 0 13px 0;
	color: var(--tasks_scrum-white_alpha_80);
	text-transform: uppercase;
	text-align: center;
	overflow: hidden;
}

.tasks-scrum__sprints--completed-title-text {
	display: inline-block;
	padding: 6px 17px 5px;
	border-radius: var(--ui-border-radius-3xl, 29px);
	background: var(--tasks_scrum-black_alpha_10);
	position: relative;
}

.tasks-scrum__sprints--completed-title-text::after,
.tasks-scrum__sprints--completed-title-text::before {
	content: '';
	display: block;
	width: 100vw;
	height: 1px;
	background: var(--tasks_scrum-white_alpha_20);
	position: absolute;
	top: 46%;
}
.tasks-scrum__sprints--completed-title-text::before {
	right: calc(100% + 25px);
}

.tasks-scrum__sprints--completed-title-text::after {
	left: calc(100% + 25px);
}

.tasks-scrum__sprints--completed-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 3px 7px 3px 12px;
	border-radius: var(--ui-border-radius-xs, 2px);
	font-size: 14px;
	line-height: 17px;
	color: var(--tasks_scrum-white);
	background: var(--tasks_scrum-black_alpha_13);
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__sprints--completed-header.--hide {
	display: none;
}

.tasks-scrum__sprints--completed.--open .tasks-scrum__sprints--completed-header {
	/*margin-bottom: 6px;*/
	margin-bottom: 10px;
}

.tasks-scrum__sprints--completed-name {
	position: relative;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-right: 21px;
	margin-right: 23px;
}

.tasks-scrum__sprints--completed-name::after {
	content: '';
	display: block;
	width: 1px;
	height: 100%;
	position: absolute;
	left: 100%;
	top: 0;
	background: var(--tasks_scrum-white_alpha_20);
}

.tasks-scrum__sprints--completed-stats {
	margin-right: auto;
	margin-top: -1px;
}

.tasks-scrum__sprints--completed-stats span {
	font-weight: var(--ui-font-weight-bold);
}

.tasks-scrum__sprints--completed-stats span:first-of-type {
	margin-right: 3px;
}

.tasks-scrum__sprints--completed-btn.ui-btn {
	margin: -1px 0 0 0;
	background-size: 14px;
	opacity: 0.7;
}

.tasks-scrum__sprints--completed .tasks-scrum__content {
	border-top: none;
	border-radius: var(--ui-border-radius-xs, 2px);
	background: var(--tasks_scrum-black_alpha_13);
	margin-bottom: 10px;
}

.tasks-scrum__sprints--completed .tasks-scrum__title {
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: var(--tasks_scrum-white_alpha_80);
	margin-top: 0;
	max-width: 100%;
}

.tasks-scrum__sprints--completed .tasks-scrum__content-header {
	padding: 5px 0 4px;
	min-height: auto;
}

.tasks-scrum__sprints--completed-list {
	display: none;
	height: 0;
	overflow: hidden;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-scrum__sprints--completed-list.--visible {
	display: block;
}

.tasks-scrum__sprints--completed-list .tasks-scrum__sprint--btn-dropdown.ui-btn {
	width: 19px;
	background-size: 13px;
	opacity: 0.7;
	margin-top: 1px;
	--ui-btn-height: 25px;
}

.tasks-scrum__sprints--completed-list .tasks-scrum__content.--open .tasks-scrum__content-header {
	border-bottom: none;
	margin-bottom: 5px;
}


.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__sprints--completed .tasks-scrum__name-container {
	max-width: calc(50% - 20px);
}

.tasks-scrum__sprints--completed .tasks-scrum__content--event-params {
	text-align: right;
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: var(--tasks_scrum-white_alpha_80);
}

.tasks-scrum__sprints--completed .tasks-scrum__content--event-params span {
	font-weight: var(--ui-font-weight-bold);
}

.tasks-scrum-completed-sprints-observer-target {
	overflow: hidden;
}

.tasks-scrum__sprints--completed .tasks-scrum__content::before {
	display: none;
}

.tasks-scrum__sprints--completed .tasks-scrum__item--story-points-element,
.tasks-scrum__sprints--completed .tasks-scrum__item--responsible-photo,
.tasks-scrum__sprints--completed .tasks-scrum__item--responsible span {
	cursor: auto;
}

.tasks-scrum__sprints--completed-empty {
	display: none;
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-radius: var(--ui-border-radius-xs, 2px);
	padding: 12px 0 11px;
	color: var(--tasks_scrum-white_alpha_80);
	background: var(--tasks_scrum-white_alpha_13);
	-webkit-box-shadow: 0 1px 1px var(--tasks_scrum-black_alpha_08);
	        box-shadow: 0 1px 1px var(--tasks_scrum-black_alpha_08);
}

.tasks-scrum__sprints--completed-empty.--open {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-scrum__sprints--completed-list .tasks-scrum-entity-items-loader + .tasks-scrum__item {
	margin-top: 0;
}



@media (max-width: 1930px) {
	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__sprints--completed-header {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed-name {
		margin-right: 0;
		width: calc(100% - 35px);
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed-name::after {
		display: none;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__sprints--completed-stats {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		width: calc(100% - 35px);
		margin-bottom: 5px;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__sprints--completed-stats > div {
		white-space: nowrap;
		overflow: hidden;
		-o-text-overflow: ellipsis;
		   text-overflow: ellipsis;
	}
}

@media (max-width: 1770px) {
	.tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__sprints--completed-header {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	.tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed-name {
		margin-right: 0;
		width: calc(100% - 35px);
	}

	.tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed-name::after {
		display: none;
	}

	.tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__sprints--completed-stats {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		width: calc(100% - 35px);
		margin-bottom: 5px;
	}

	.tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__sprints--completed-stats > div {
		white-space: nowrap;
		overflow: hidden;
		-o-text-overflow: ellipsis;
		   text-overflow: ellipsis;
	}
}

@media (max-width: 1625px) {
	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__content-header {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__content--event-params {
		text-align: left;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		margin-bottom: 5px;
		max-width: calc(100% - 30px);
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__container.--width-priority-backlog .tasks-scrum__sprints--completed .tasks-scrum__name-container {
		max-width: calc(100% - 30px);
	}
}

@media (max-width: 1475px) {
	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__sprints--completed-header {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__sprints--completed-name {
		margin-right: 0;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__sprints--completed-name::after {
		display: none;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-scrum__sprints--completed.--open .tasks-scrum__sprints--completed-stats {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		width: 100%;
		margin-bottom: 5px;
	}
}

@media (max-width: 1285px) {
	.tasks-scrum__sprints--completed-header {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	.tasks-scrum__sprints--completed-name {
		margin-right: 0;
	}

	.tasks-scrum__sprints--completed-name::after {
		display: none;
	}

	.tasks-scrum__sprints--completed.--open .tasks-scrum__sprints--completed-stats {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		width: 100%;
		margin-bottom: 5px;
	}
}



.tasks-scrum__item--nav-linked {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	z-index: 1100;
	padding: 30px 0 30px 30px;
}

.tasks-scrum__item--nav-linked-close {
	display: block;
	width: 16px;
	height: 16px;
	position: relative;
	border-radius: var(--ui-border-radius-circle, 50%);
	border: 1px solid var(--tasks_scrum-white_alpha_80);
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	opacity: 0.7;
	cursor: pointer;
	margin-bottom: 5px;
}

.tasks-scrum__item--nav-linked-close::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M4.099 3l1.914 1.914-1.099 1.099L3 4.099l-1.96 1.96L-.058 4.96 1.901 3-.013 1.086 1.086-.013 3 1.901 4.96-.058 6.059 1.04z'/%3E%3C/svg%3E");
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	pointer-events: none;
}

.tasks-scrum__item--nav-linked-close:hover {
	opacity: 1;
}

.tasks-scrum__item--nav-linked-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background: var(--tasks_scrum-white);
	-webkit-box-shadow: 0 2px 4px 0 var(--tasks_scrum-black_alpha_10);
	        box-shadow: 0 2px 4px 0 var(--tasks_scrum-black_alpha_10);
	border-radius: var(--ui-border-radius-lg, 12px);
	padding: 1px;
	position: relative;

	font-size: 12px;
	color: var(--tasks_scrum-dark-grey);
	text-align: center;
	line-height: 20px;
}

.tasks-scrum__item--nav-linked-num-container {
	padding: 1px 6px;
	position: relative;
	display: none;
	height: 22px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.tasks-scrum__item--nav-linked-num-container.--visible {
	display: block;
}

.tasks-scrum__item--nav-linked-num {
	position: absolute;
	left: 50%;
	top: 0;
	-webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	border-radius: var(--ui-border-radius-pill, 15px);
	white-space: nowrap;
	padding: 1px 6px 0;
	background: var(--tasks_scrum-white);
	-webkit-box-shadow: 0 2px 4px 0 var(--tasks_scrum-black_alpha_10);
	        box-shadow: 0 2px 4px 0 var(--tasks_scrum-black_alpha_10);
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.tasks-scrum__item--nav-linked-prev::after {
	content: '';
	display: block;
	width: 8px;
	height: 1px;
	background: var(--tasks_scrum-dark-grey_alpha_30);
	position: absolute;
	top: 100%;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
}

.tasks-scrum__item--nav-linked-prev,
.tasks-scrum__item--nav-linked-next {
	display: block;
	min-width: 22px;
	width: 100%;
	height: 10px;
	position: relative;
	padding: 7px 0;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	opacity: 0.9;
	cursor: pointer;
}

.tasks-scrum__item--nav-linked-prev:hover,
.tasks-scrum__item--nav-linked-next:hover {
	opacity: 1;
}

.tasks-scrum__item--nav-linked-prev::before,
.tasks-scrum__item--nav-linked-next::before {
	content: '';
	display: block;
	width: 8px;
	height: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='10'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M4 0l4 4H5v6H3V4H0l4-4z'/%3E%3C/svg%3E");
}

.tasks-scrum__item--nav-linked-next::before {
	-webkit-transform: translate(-50%, -50%) rotate(180deg);
	    -ms-transform: translate(-50%, -50%) rotate(180deg);
	        transform: translate(-50%, -50%) rotate(180deg);
}