.import-instagram-limit-slider {
	padding: 0 13px 0 21px;
}

.import-instagram-limit-inner {
	background: #fff;
	padding: 50px 24px 175px 24px;
}

.import-instagram-limit-desc {
	padding: 0 0 75px 200px;
	margin-bottom: 30px;
	border-bottom: 1px solid #eeeef0;
	position: relative;
}

.import-instagram-limit-desc-text {
	font: 16px/24px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #525c69;
}

.import-instagram-limit-desc-number {
	font-weight: 700;
}