.tasks-scrum-epic-selector {
	padding: 0;
}

.tasks-scrum__epic-selector--link {
	color: #1f67b0;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	border-bottom: 1px dashed rgba(31, 103, 176, .5);
	cursor: pointer;
	transition: .2s;
}

.tasks-scrum__epic-selector--link:hover {
	border-bottom: 1px dashed rgba(31, 103, 176, 1);
}

.tasks-scrum__epic-selector--epic {
	display: inline-block;
	font: 12px/18px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	border-radius: var(--ui-border-radius-xl, 14px);
	padding: 0 5px 1px 10px;
	margin: 3px 0 5px 0;
	color: rgba(51,51,51,1);
	border: 1px solid;
	transition: .2s;
	max-width: 94%;
	-webkit-transition: .4s;
	-o-transition: .4s;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.tasks-scrum-epic-edit-selector {
	min-width: 217px;
}