.crm-analytics-source-block {
	background: #fff;
	padding: 23px 22px 29px;
	border-radius: var(--ui-border-radius-md);
}

.crm-analytics-source-header {
	font: 22px/28px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	color: #333;
	margin: 27px 0 15px;
}

.crm-analytics-source-block + .crm-analytics-source-block {
	margin-top: 27px;
}

.crm-analytics-source-block .crm-analytics-source-header {
	margin-top: 0;
}

.crm-analytics-source-desc-text {
	font-size: 14px;
	line-height: 20px;
	color: #525c69;
}

.crm-analytics-source-block-desc {
	display: flex;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.crm-analytics-source-icon {
	display: block;
	border-radius: 50%;
	border: 1px solid #ececec;
	width: 95px;
	height: 95px;
	margin-right: 24px;
	flex-shrink: 0;
}

.bx-ie .crm-analytics-source-icon.ui-icon {
	width: 95px;
}

.crm-analytics-source-empty-text {
	color: #333;
	opacity: .4;
	font: 22px/28px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
}

.crm-analytics-source-empty-img {
	width: 109px;
	height: 100px;
	margin-bottom: 29px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22109%22%20height%3D%2299%22%20viewBox%3D%220%200%20109%2099%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M107.977%200H1.023C.512%200%200%20.538%200%201.076v96.848C0%2098.462.512%2099%201.023%2099h106.954c.511%200%201.023-.538%201.023-1.076V1.076C109%20.538%20108.488%200%20107.977%200zM93%209.688C93%208.562%2093.5%208%2094.5%208h5c1%200%201.5.563%201.5%201.688v5.624c0%201.126-.5%201.688-1.5%201.688h-5c-1%200-1.5-.563-1.5-1.688V9.689zm-14%200C79%208.562%2079.5%208%2080.5%208h5c1%200%201.5.563%201.5%201.688v5.624C87%2016.439%2086.5%2017%2085.5%2017h-5c-1%200-1.5-.563-1.5-1.688V9.689zm-70%200C9%208.562%209.514%208%2010.542%208h51.916C63.486%208%2064%208.563%2064%209.688v5.624C64%2016.439%2063.486%2017%2062.458%2017H10.542C9.514%2017%209%2016.437%209%2015.312V9.689zM101.468%2093H7.532C6.51%2093%206%2092.459%206%2091.377V28.623C6%2027.541%206.51%2027%207.532%2027h93.936c1.021%200%201.532.541%201.532%201.623v62.754c0%201.082-.511%201.623-1.532%201.623z%22%20fill%3D%22%23EDEEF0%22/%3E%0A%3C/svg%3E%0A)
				no-repeat center;
}

.crm-analytics-source-empty {
	height: 265px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.crm-analytics-source-settings-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 7px 0;
}

.crm-analytics-source-settings-block + .crm-analytics-source-settings-block {
	border-top: 1px solid #eeeff0;
}

.crm-analytics-source-settings-name-block {
	display: flex;
	flex-direction: column;
}

.crm-analytics-source-settings-name {
	color: #333;
	font-size: 15px;
	line-height: 21px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 350px;
}

.crm-analytics-source-settings-detail {
	color: #a8adb4;
	font-size: 13px;
	line-height: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 300px;
}

.crm-analytics-source-settings-control-btn {
	margin-right: 32px;
}

.crm-analytics-source-subject {
	padding-bottom: 19px;
	border-bottom: 1px solid #eeeff0;
}

.crm-analytics-source-subject-text {
	font: 16px/22px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #333;
}

.crm-analytics-source-settings-control {
	display: flex;
	align-items: center;
}

.crm-tracking-ui-tile-crm-shop,
.intranet-contact-center-crm-shop-item {
	--ui-icon-service-bg-image: url("data:image/svg+xml,%3Csvg width='33' height='27' viewBox='0 0 33 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.5044 0.153076C14.8476 0.153076 13.5044 1.49622 13.5044 3.15307V3.4293H15.6748V3.33728C15.6748 2.785 16.1226 2.33729 16.6748 2.33729H26.2675C26.8198 2.33729 27.2675 2.785 27.2675 3.33729V20.9953C27.2675 21.5476 26.8198 21.9953 26.2675 21.9953H16.6748L16.6606 21.9952H13.5044V23.3638C13.5044 25.0207 14.8476 26.3638 16.5044 26.3638H26.4382C28.095 26.3638 29.4382 25.0207 29.4382 23.3638V3.15308C29.4382 1.49622 28.095 0.153076 26.4382 0.153076H16.5044ZM21.4712 25.2718C22.2251 25.2718 22.8363 24.6606 22.8363 23.9067C22.8363 23.1527 22.2251 22.5415 21.4712 22.5415C20.7172 22.5415 20.106 23.1527 20.106 23.9067C20.106 24.6606 20.7172 25.2718 21.4712 25.2718ZM6.43881 3.83041C6.43881 3.46697 6.73344 3.17234 7.09688 3.17234H9.576C10.5764 3.17234 11.4186 3.92058 11.5365 4.91398L11.6606 5.96018L24.7886 5.96018C25.6009 5.96018 26.2193 6.68868 26.0873 7.49013L25.1712 13.0544C25.0141 14.0081 24.1897 14.7079 23.2232 14.7079H12.8572C12.8016 14.7079 12.7476 14.701 12.696 14.688L12.8539 16.0195C12.8932 16.3506 13.174 16.6 13.5074 16.6H22.5061C22.8695 16.6 23.1642 16.8946 23.1642 17.2581C23.1642 17.5314 22.9975 17.7659 22.7602 17.8653C22.8986 18.09 22.9786 18.3554 22.9786 18.6396C22.9786 19.4499 22.3277 20.1071 21.5243 20.1071C20.7217 20.1071 20.0708 19.4499 20.0708 18.6396C20.0708 18.3765 20.1393 18.1297 20.2592 17.9162H15.6818C15.8017 18.1297 15.8702 18.3765 15.8702 18.6396C15.8702 19.4499 15.2193 20.1071 14.4159 20.1071C13.6133 20.1071 12.9624 19.4499 12.9624 18.6396C12.9624 18.3644 13.0373 18.107 13.1677 17.8869C12.322 17.7399 11.6512 17.0531 11.547 16.1745L10.2295 5.06903C10.1902 4.73789 9.90945 4.48848 9.576 4.48848H7.09688C6.73344 4.48848 6.43881 4.19385 6.43881 3.83041ZM12.5511 13.4671C12.6426 13.419 12.7467 13.3918 12.8572 13.3918H15.1993V12.2346H12.4049L12.5511 13.4671ZM12.2488 10.9185L12.1086 9.73684C12.1384 9.74099 12.1689 9.74313 12.1999 9.74313H15.1993V10.9185H12.2573L12.2488 10.9185ZM16.5154 12.2346V13.3918H19.6514V12.2346L16.5154 12.2346ZM19.6514 10.9185L16.5154 10.9185V9.74313H19.6514V10.9185ZM20.9675 10.9185V9.74313H24.3825L24.189 10.9185H20.9675ZM20.9675 12.2346H23.9723L23.8725 12.8406C23.8202 13.1585 23.5454 13.3918 23.2232 13.3918H20.9675V12.2346ZM15.1993 8.42699H12.1999C12.1147 8.42699 12.0333 8.44317 11.9586 8.47263L11.8167 7.27632H15.1993V8.42699ZM16.5154 8.42699H19.6514V7.27632H16.5154V8.42699ZM24.5992 8.42699H20.9675V7.27632H24.7886L24.5992 8.42699ZM1.36559 7.19047C1.00215 7.19047 0.70752 7.4851 0.70752 7.84854C0.70752 8.21198 1.00215 8.50661 1.36559 8.50661H8.0343C8.39774 8.50661 8.69237 8.21198 8.69237 7.84854C8.69237 7.4851 8.39774 7.19047 8.0343 7.19047H1.36559ZM3.27259 10.3269C3.27259 9.96347 3.56722 9.66884 3.93066 9.66884H8.4293C8.79274 9.66884 9.08736 9.96347 9.08736 10.3269C9.08736 10.6904 8.79274 10.985 8.42929 10.985H3.93066C3.56722 10.985 3.27259 10.6904 3.27259 10.3269ZM6.86656 12.1477C6.50312 12.1477 6.20849 12.4423 6.20849 12.8057C6.20849 13.1692 6.50312 13.4638 6.86656 13.4638H8.99368C9.35712 13.4638 9.65175 13.1692 9.65175 12.8057C9.65175 12.4423 9.35712 12.1477 8.99368 12.1477H6.86656Z' fill='white'/%3E%3C/svg%3E%0A");
	--ui-icon-service-bg-color: #dc3f49 !important;
}

.crm-tracking-ui-tile-crm-shop > i,
.intranet-contact-center-crm-shop-item > i{
	background-size: 60%;
	background-position: 30%;
}