.transparent-workarea #workarea-content {
    background-color: transparent!important;
}

.tasks-projects-filter-btn-add {
    padding-right: 17px;
}

.tasks-projects-box {
	display: flex;
	align-items: center;
	margin-top: -4px;
}

.tasks-projects-icon {
	display: inline-block;
	margin-right: 8px;
	min-width: 22px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.tasks-projects-icon.sonet-common-workgroup-avatar {
	margin: 0 8px 0 0;
	background-size: 14px;
}

.tasks-projects-icon.sonet-common-workgroup-avatar.--folder {
	background-position: center 4px;
}

.tasks-projects-icon.sonet-common-workgroup-avatar.--chart {
	background-position: 5px 3px;
}

.tasks-projects-text {
	display: inline-block;
	max-width: 100%;
	color: #525C69;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.tasks-projects-counter {
    cursor: pointer;
}

.tasks-projects-row-pinned td:not([style*="background-color"]) {
    background-color: whitesmoke !important;
}

.tasks-projects-percent {
	position: relative;
	display: inline-block;
	margin-left: 65px;
	color: #525c69;
	padding-right: 17px;
}

.tasks-projects-percent-down:after,
.tasks-projects-percent-up:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	min-width: 10px;
	height: 6px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%227%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M9.401%201.846L5.318%206.299a.5.5%200%2001-.739-.002L.52%201.827A.5.5%200%2001.891.991l8.143.017a.5.5%200%2001.367.838z%22%20fill%3D%22%23FF5752%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E') no-repeat;
	transform: translateY(-50%);
}

.tasks-projects-percent-up:after {
	background: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2210px%22%20height%3D%226px%22%20viewBox%3D%220%200%2010%206%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Ctitle%3ERectangle%208%3C/title%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22%u0413%u0440%u0438%u0434-2-3%22%20transform%3D%22translate%28-503.000000%2C%20-698.000000%29%22%20fill%3D%22%237BD500%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Rectangle-8%22%20transform%3D%22translate%28503.000000%2C%20698.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M1.89357868%2C2.0148476%20L7.92942092%2C1.7532079%20C8.20530422%2C1.741249%208.43864643%2C1.955202%208.45060533%2C2.2310853%20C8.45126452%2C2.24629237%208.45122895%2C2.2615216%208.45049873%2C2.27672542%20L8.160817%2C8.30817582%20C8.14756956%2C8.58400025%207.9132305%2C8.79686096%207.63740607%2C8.78361352%20C7.51288283%2C8.77763285%207.39508546%2C8.72534934%207.30711396%2C8.63701576%20L1.56095345%2C2.86720506%20C1.36609272%2C2.67154232%201.36674288%2C2.3549605%201.56240562%2C2.16009977%20C1.6508081%2C2.07205965%201.76893171%2C2.02025075%201.89357868%2C2.0148476%20Z%22%20transform%3D%22translate%284.949747%2C%205.253835%29%20rotate%28-45.000000%29%20translate%28-4.949747%2C%20-5.253835%29%20%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E') no-repeat;
}

.tasks-projects-user-list-container {
    cursor: pointer;
}

.tasks-projects-user-list {
	display: flex;
	align-items: center;
	margin: -6px 2px 8px 0;
	padding: 0 5px;
	height: 28px;
	border: 1px solid rgba(82,92,105,.17);
	border-radius: 14px;
	box-sizing: border-box;
}

.tasks-projects-user-list--green {
	border-color: #9dcf00;
	background-color: rgba(136,218,26,.24);
}

.tasks-projects-user-item {
	position: relative;
	display: inline-block;
	margin-right: 2px;
	min-width: 20px;
	height: 20px;
	border-radius: 50%;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2040%2040%22%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2220%22%20cy%3D%2220%22%20r%3D%2220%22%20fill%3D%22%23525C68%22/%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M30.4364902%2C31.4100231%20C30.4364902%2C29.9871769%2028.8398242%2C23.9680557%2028.8398242%2C23.9680557%20C28.8398242%2C23.0883414%2027.6898708%2C22.083459%2025.4253473%2C21.4978674%20C24.6581347%2C21.2838747%2023.9288072%2C20.9520366%2023.2634349%2C20.514215%20C23.1179216%2C20.4310645%2023.1400361%2C19.6628072%2023.1400361%2C19.6628072%20L22.4107003%2C19.5517925%20C22.4107003%2C19.4894296%2022.3483374%2C18.5681401%2022.3483374%2C18.5681401%20C23.2209751%2C18.274902%2023.1311903%2C16.5451067%2023.1311903%2C16.5451067%20C23.6853794%2C16.8524981%2024.0462878%2C15.4836113%2024.0462878%2C15.4836113%20C24.7017612%2C13.5817654%2023.719878%2C13.6967607%2023.719878%2C13.6967607%20C23.8916546%2C12.5357299%2023.8916546%2C11.3557413%2023.719878%2C10.1947105%20C23.283338%2C6.34325128%2016.7109122%2C7.38882426%2017.4902268%2C8.64669632%20C15.5693624%2C8.29286451%2016.0076715%2C12.6635719%2016.0076715%2C12.6635719%20L16.4243085%2C13.7953913%20C15.6060724%2C14.326139%2016.1748571%2C14.9679015%2016.2031636%2C15.7065254%20C16.243412%2C16.7972119%2016.9108272%2C16.5712018%2016.9108272%2C16.5712018%20C16.9519602%2C18.3713211%2017.8396357%2C18.6057347%2017.8396357%2C18.6057347%20C18.0063789%2C19.7362273%2017.9024408%2C19.5438313%2017.9024408%2C19.5438313%20L17.1125113%2C19.6393659%20C17.1232047%2C19.896452%2017.1022601%2C20.1538778%2017.0501485%2C20.405854%20C16.12134%2C20.8198372%2015.921425%2C21.0626543%2014.9983663%2C21.4673494%20C13.215054%2C22.2488754%2011.2769403%2C23.2652573%2010.9323966%2C24.6337018%20C10.5878529%2C26.0021463%209.56350982%2C31.4100231%209.56350982%2C31.4100231%20L30.4356056%2C31.4100231%20L30.4356056%2C31.4100231%20L30.4356056%2C31.4100231%20L30.4364902%2C31.4100231%20Z%22/%3E%0A%3C/svg%3E%0A');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.tasks-projects-user-item:last-child {
	margin-right: 0;
}

.tasks-projects-user-count {
	display: inline-block;
	margin: 0 5px 0 4px;
	font: 12px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: rgba(82,92,105, .71);
}

.tasks-projects-user-plus {
	margin-right: 2px;
	color: rgba(82,92,105, .50);
}

.tasks-projects-user-crown {
	display: none;
	position: absolute;
	right: -2px;
	bottom: -1px;
	width: 10px;
	height: 8px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%228%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4.886.17l-1.65%202.934L.666%202.08l2.09%204.853%204.578-.072%201.773-4.928L6.588%203.05%204.886.17z%22%20fill%3D%22%231EAE43%22%20stroke%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20stroke-opacity%3D%22.854%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.tasks-projects-user-list--green .tasks-projects-user-crown {
	display: block;
}

.ui-label.tasks-projects-badge-join {
	padding: 0 9px;
	height: 28px;
	border-radius: 14px;
    border-color: rgba(47,198,246,.32) !important;
    background-color: rgba(47,198,246,.17);
	text-decoration: none;
    cursor: pointer;
}

.ui-label.tasks-projects-badge-join:hover {
	text-decoration: none;
}

.ui-label.tasks-projects-badge-join .ui-label-inner:hover {
	border-bottom: none!important;
}

.ui-label.tasks-projects-badge-join .ui-label-inner,
.ui-label.tasks-projects-badge-invite .ui-label-inner,
.ui-label.tasks-projects-badge-invite-accept .ui-label-inner {
	border-bottom: none!important;
	color: #2066b0;
	font: 12px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.tasks-projects-badge-invite-box {
	display: flex;
	align-items: center;
	margin-top: -6px;
}

.ui-label.tasks-projects-badge-invite,
.ui-label.tasks-projects-badge-invite-accept {
	padding: 0 15px;
	height: 28px;
	border-radius: 14px;
	border-color: #7abaff !important;
	background-color: #fff;
}

.ui-label.tasks-projects-badge-invite .ui-label-inner,
.ui-label.tasks-projects-badge-invite-accept .ui-label-inner {
	position: relative;
	padding-left: 22px;
}

.ui-label.tasks-projects-badge-invite .ui-label-inner:before,
.ui-label.tasks-projects-badge-invite-accept .ui-label-inner:before {
	content: '';
	position: absolute;
	top: 1px;
	left: 0;
	width: 15px;
	height: 14px;
	background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.75 3.325v9.83H.45v-9.83h14.3zM9.734 5.37v2.108l-4.151.001v1.759h4.15v2.109l2.99-2.988-2.99-2.989zM8.494.644l1.787 1.788H.451V.644h8.043z' fill='%231FA8ED' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.ui-label.tasks-projects-badge-invite-accept,
.ui-label.tasks-projects-badge-accept {
	border-color: #92c001 !important;
}

.ui-label.tasks-projects-badge-invite-accept .ui-label-inner {
	color: #779d00;
}

.ui-label.tasks-projects-badge-invite-accept .ui-label-inner:before {
	top: 0;
	width: 18px;
	height: 13px;
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.227l6.985 5.165 4.093-3.026A4.543 4.543 0 0013.97 7.89v4.23c0 .487-.448.882-1.004.882H1.005C.45 13.003 0 12.609 0 12.12V4.227zm9.97-1.228a4.613 4.613 0 00.264 1.946l-3.249 2.37L1.075 3l8.894-.001zm5.536-2.05a2.421 2.421 0 110 4.843 2.421 2.421 0 010-4.842z' fill='%2392C001' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.ui-label.tasks-projects-badge-accept,
.ui-label.tasks-projects-badge-cancel {
	width: 38px;
	height: 28px;
	border-radius: 14px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.ui-label.tasks-projects-badge-accept {
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.393 11.316L.018 6.993l1.657-1.65 2.667 2.633L11.712.71 13.42 2.4z' fill='%2392C001' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-color: #ffffff;
}

.ui-label.tasks-projects-badge-cancel {
	border-color: #ff5752 !important;
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.118 5.5l3.45 3.45-1.618 1.618-3.45-3.45-3.45 3.45L.432 8.95l3.45-3.45-3.45-3.45L2.05.432l3.45 3.45L8.95.432l1.618 1.618z' fill='%23FF5752' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-position: 12px 8px;
    background-color: #ffffff;
}

.ui-label.tasks-projects-badge-green {
	border-color: rgba(157,207,0,.36) !important;
    background-color: #ffffff;
}

.ui-label.tasks-projects-badge-green .ui-label-inner {
	color: #5F7C06;
}

.ui-label.tasks-projects-badge-yellow {
    border-color: rgba(247,204,0,.63) !important;
    background-color: #ffffff;
}

.ui-label.tasks-projects-badge-yellow .ui-label-inner {
    color: #A4720E;
}

.ui-label.tasks-projects-badge-blue {
	border-color: rgba(47,198,246,.32) !important;
    background-color: #ffffff;
}

.ui-label.tasks-projects-badge-blue .ui-label-inner {
	color: #056D8E;
}

.main-grid-cell-content .ui-label.ui-label-fill {
    margin: 2px;
}

.tasks-projects-grid-tag {
    cursor: pointer;
}

.tasks-projects-grid-tag:hover,
.tasks-projects-grid-tag.tasks-projects-grid-filter-active {
    background: #C0EDFD;
    text-decoration: none !important;
}

.tasks-projects-grid-filter-remove {
    display: none;
    width: 22px;
    max-width: 22px;
    min-width: 22px;
    min-height: 22px;
    max-height: 22px;
    margin-right: -8px;
    opacity: .3;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.065%203.682L2.377.994%201.01%202.362%203.696%205.05.99%207.757l1.368%201.37%202.708-2.71%202.7%202.703%201.37-1.368-2.702-2.7%202.682-2.684L7.748%201%205.065%203.682z%22/%3E%3C/svg%3E') center no-repeat;
    transition: .2s;
    cursor: pointer;
}
.tasks-projects-grid-filter-active .tasks-projects-grid-filter-remove {
    display: block;
}

.main-grid-cell-content a:hover, div:hover .tasks-projects-grid-filter-remove:hover {
    transition: .1s;
    opacity: 1;
}

.tasks-projects-members-popup {
    overflow: hidden;
    padding: 6px 10px 10px 10px;
    border-radius: 18px;
}

.tasks-projects-members-popup .tasks-projects-members-popup-container {
    background-color:#fff;
    display: block;
    max-height: 200px;
    margin: 0 0 2px 0;
    padding: 0 8px 8px 8px;
    overflow-y: hidden;
    overflow-x: hidden;
    width: auto;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.bx-firefox .tasks-projects-members-popup .tasks-projects-members-popup-container,
.bx-ie .tasks-projects-members-popup .tasks-projects-members-popup-container {
    min-width: 220px;
}

.tasks-projects-members-popup .tasks-projects-members-popup-head {
    display: flex;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #D8D8D8;
}

.tasks-projects-members-popup .tasks-projects-members-popup-head-item {
    display: flex;
    align-items: center;
    margin: 0 11px 0 0;
    height: 35px;
    border-bottom: 2px solid transparent;
    font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    color: #525C69;
    transition: all .3s;
    white-space: nowrap;
    cursor: pointer;
}

.tasks-projects-members-popup .tasks-projects-members-popup-head-item:hover {
    border-color: #D8D8D8;
}

.tasks-projects-members-popup .tasks-projects-members-popup-head-item:last-child {
    margin: 0;
}

.tasks-projects-members-popup .tasks-projects-members-popup-head-item:first-child {
    margin: 0 17px 0 0;
}

.tasks-projects-members-popup .tasks-projects-members-popup-head-item-current {
    border-color: #0063C6;
    cursor: default;
    pointer-events: none;
}

.tasks-projects-members-popup-body {
    position: relative;
    display: block;
    max-height: none;
    height: auto;
    width: auto;
    overflow: hidden;
}

.tasks-projects-members-popup-content {
    display: block;
    padding: 8px;
    max-height: 200px;
    width: auto;
    background-color: #fff;
    overflow-y: hidden;
    overflow-x: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.tasks-projects-members-popup-content-box {
    display: block;
    max-height: 100%;
    overflow-y: auto;
    -webkit-scrollbar-track-color: #f9fafb;
    scrollbar-track-color: #f9fafb;
    -webkit-scrollbar-base-color: #d4d7d9;
    -webkit-scrollbar-base-color: #d4d7d9;
    scrollbar-base-color: #d4d7d9;
    -webkit-scrollbar-shadow-color: #d4d7d9;
    scrollbar-shadow-color: #d4d7d9;
    -webkit-scrollbar-highlight-color: #d4d7d9;
    scrollbar-highlight-color: #d4d7d9;
}

.tasks-projects-members-popup-inner {
    display: block;
    padding: 0 17px 0 0;
    min-height: 26px;
    max-height: 135px;
    min-width: 150px;
    -webkit-scrollbar-track-color: #f9fafb;
    scrollbar-track-color: #f9fafb;
    -webkit-scrollbar-base-color: #d4d7d9;
    -webkit-scrollbar-base-color: #d4d7d9;
    scrollbar-base-color: #d4d7d9;
    -webkit-scrollbar-shadow-color: #d4d7d9;
    scrollbar-shadow-color: #d4d7d9;
    -webkit-scrollbar-highlight-color: #d4d7d9;
    scrollbar-highlight-color: #d4d7d9;
    overflow-y: auto;
}

.tasks-projects-members-popup-inner::-webkit-scrollbar {
    width: 6px;
}

.tasks-projects-members-popup-inner::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #D8D8D8;
}

.tasks-projects-members-popup-inner::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(216,216,216,.2);
}

.tasks-projects-members-popup-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    max-width: 200px;
    color: #656365;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    zoom: 1;
}

.tasks-projects-members-popup-item:last-child {
    margin-bottom: 0;
}

.tasks-projects-members-popup-avatar-new {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.tasks-projects-members-popup-avatar-img {
    max-width: 100%;
    height: auto;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
}

.tasks-projects-members-popup-name {
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding-left: 6px;
    max-width: 130px;
    height: 15px;
    color: #656365;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 1px;
    font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    white-space: nowrap;
    cursor: pointer;
}

.tasks-projects-members-popup-name:hover {
    text-decoration: underline;
}

.tasks-projects-members-popup-name-title {
    height: 18px;
    display: block;
    text-decoration: none;
    cursor: auto;
    padding: 10px 0 9px 0;
    font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    color: #525C69;
    border-bottom: 1px solid #D8D8D8;
    margin: 0 8px 9px 8px;
    max-width: 190px;
}

.task-projects-item-highlighted {
    animation: highlightRow 900ms ease;
    z-index: 9999;
}

.task-projects-item-highlighted td:not([style*="background-color"]) {
    animation: highlightRowTd 900ms ease;
}

@keyframes highlightRow {
    0% {
        opacity: .2;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
    }

    60% {
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
        opacity: 1;
    }

    100% {
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0);
        opacity: 1;
    }
}

@keyframes highlightRowTd {
    0% {
        background-color: #FFF2D5;
    }

    60% {
        background-color: #FFF2D5;
    }

    100% {
        background-color: #ffffff;
    }
}

#TASKS_GRID_SCRUM .main-grid-empty-block-description {
	max-width: 700px;
}

.tasks-scrum__transfer--contant {
	margin-bottom: 19%;
}

.tasks-scrum__transfer--title,
.tasks-scrum__transfer--description {
	color: #333;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
}

.tasks-scrum__transfer--title {
	font-size: 24px;
}

.tasks-scrum__transfer--description {
	margin-bottom: 20px;
}

.tasks-scrum__transfer--content {
	padding: 19px 48px;
	background: #d9f6ff;
	border-radius: 10px;
}

.tasks-scrum__transfer--info {
	padding: 18px 56px;
	border-bottom: 1px solid rgba(82,92,105,.08);
	margin-bottom: 14px;
	line-height: 32px;
}

.tasks-scrum__transfer--info-systems {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 12px;
	line-height: 29px;
	color: #a8adb4;
}

.tasks-scrum__transfer--info-systems-item {
	display: flex;
	align-items: center;
	margin: 0 7px;
}

.tasks-scrum-members-popup-label {
	display: flex;
	margin: 5px 0 8px 0;
	text-align: center;
}

.tasks-scrum-members-popup-label:before,
.tasks-scrum-members-popup-label:after {
	display: block;
	content: "";
	flex: 1;
	min-width: 15px;
	position: relative;
	top: 8px;
	height: 1px;
	background-color: #f0f1f2;
}

.tasks-scrum-members-popup-label-text {
	position: relative;
	top: 2px;
	padding: 0 12px;
	background: #fff;
	color: #b1b6bc;
	font-size: 9px;
	font-weight: var(--ui-font-weight-bold);
	text-transform: uppercase;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	text-align: center;
	box-sizing: border-box;
}

.tasks-scrum-members-popup-name {
	display: inline-block;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	padding-left: 6px;
	max-width: 200px;
	height: 15px;
	color: #656365;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 1px;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	white-space: nowrap;
	cursor: pointer;
}