.pagetitle-inner-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.pagetitle-inner-container .pagetitle {
	font: 26px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	flex-grow: 1;
	order: 1;
}

.pagetitle-inner-container .pagetitle-menu,
.pagetitle-inner-container .pagetitle-container { order: 5 }

.pagetitle-inner-container .pagetitle.pagetitle-narrow {
	font-size: 18px;
	line-height: 18px;
	animation: pagetitle-opacity-show .5s linear forwards;
}

@keyframes pagetitle-opacity-show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.pagetitile-button-container {
	display: inline-block;
}

.pagetitile-button-container * {
	margin-left: 5px;
}

.crm-page-link-btn {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.crm-page-link-btn:before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	opacity: .5;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M11.99%205.89L9.55%208.33a3.45%203.45%200%200%201-4.88%200%203.447%203.447%200%200%201-.524-.696L5.28%206.5c.054-.054.12-.085.184-.122.079.268.215.521.426.732a1.727%201.727%200%200%200%202.44%200l2.44-2.44a1.726%201.726%200%200%200%200-2.44%201.727%201.727%200%200%200-2.44%200l-.868.869a4.329%204.329%200%200%200-2.2-.24L7.11%201.011a3.45%203.45%200%200%201%204.88%204.88zM5.538%209.902l-.868.868a1.728%201.728%200%200%201-2.44%200%201.728%201.728%200%200%201%200-2.44l2.44-2.44a1.726%201.726%200%200%201%202.44%200c.21.21.347.464.426.731.064-.037.13-.067.184-.121l1.133-1.133a3.39%203.39%200%200%200-.523-.697%203.45%203.45%200%200%200-4.88%200L1.01%207.11a3.45%203.45%200%200%200%204.88%204.88l1.85-1.85a4.326%204.326%200%200%201-2.202-.238z%22/%3E%3C/svg%3E');
	background-size: contain;
	transition: .1s;
}

.bitrix24-light-theme .crm-page-link-btn:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13'%3E%3Cpath fill='%23ccd0d4' fill-rule='evenodd' d='M11.99 5.89L9.55 8.33a3.45 3.45 0 0 1-4.88 0 3.447 3.447 0 0 1-.524-.696L5.28 6.5c.054-.054.12-.085.184-.122.079.268.215.521.426.732a1.727 1.727 0 0 0 2.44 0l2.44-2.44a1.726 1.726 0 0 0 0-2.44 1.727 1.727 0 0 0-2.44 0l-.868.869a4.329 4.329 0 0 0-2.2-.24L7.11 1.011a3.45 3.45 0 0 1 4.88 4.88zM5.538 9.902l-.868.868a1.728 1.728 0 0 1-2.44 0 1.728 1.728 0 0 1 0-2.44l2.44-2.44a1.726 1.726 0 0 1 2.44 0c.21.21.347.464.426.731.064-.037.13-.067.184-.121l1.133-1.133a3.39 3.39 0 0 0-.523-.697 3.45 3.45 0 0 0-4.88 0L1.01 7.11a3.45 3.45 0 0 0 4.88 4.88l1.85-1.85a4.326 4.326 0 0 1-2.202-.238z'/%3E%3C/svg%3E");
}

.crm-page-link-btn:hover:before {
	opacity: 1;
}

/*endtodo*/

.crm-entity-wrap {
	position: relative;
	padding-bottom: 60px;
}

.crm-entity-section-product-loader {
	background: url(images/skeleton.svg) no-repeat;
	height: 446px;
}
/*region tabs*/
.crm-entity-section-tabs {
	margin: 0 0 23px 0;
}

.crm-entity-section-tab-content-show,
.crm-entity-section-tab-content-hide { position: relative; }

.crm-entity-section-tab-content-show {
	opacity: 1;
	transform: translateX(0);
}

.crm-entity-section-tab-content-hide {
	opacity: 0;
	transform: translateX(100%);
}
/*/endregion*/

/**/
.crm-entity-section-tab-applications-container { padding: 15px 0; }

/**/
.crm-entity-section-info { }

/* crm-entity-section-control */
.crm-entity-section.crm-entity-section-control {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 900;
	box-sizing: border-box;
	padding: 10px 0 0;
	background-color: #fff;
	box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .05);
	text-align: center;
	transition: all 300ms ease;
	transform: translateY(100%);
}

.crm-entity-wrap.crm-section-control-active .crm-entity-section.crm-entity-section-control { transform: translateY(0); }

.crm-entity-section-control .webform-button-link {
	position: relative;
	margin: 0;
	height: 39px;
	border: none;
	color: #535b69;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font: 12px/39px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	transition: color .25s ease;
}

.crm-entity-section-control .webform-button-link:hover {
	border: none;
	color: #80868e;
}

.crm-entity-section-control-error-block {
	overflow: hidden;
	margin-top: 10px;
	max-height: 150px;
	transition: all 300ms ease;
}

.crm-entity-section-control-error-text {
	padding: 20px;
	width: 100%;
	background-color: #fae5e8;
	color: #d0011b;
	font: 400 14px/16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.pagetitle.crm-pagetitle {
	/*display: -webkit-box;*/
	/*display: -ms-flexbox;*/
	/*display: flex;*/
}

.ui-toolbar-star { margin-left: 10px; }

input.pagetitle-item {
	flex:1;
	display: inline-block;
	box-sizing: border-box;
	margin: 0 0 4px;
	padding: 0;
	width: 100%;
	border: none;
	border-bottom: 1px solid #cfd6da;
	background-color: transparent;
	color: #000;
	word-wrap: break-word;
	font: 26px/27px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
}

.bitrix24-light-theme input.pagetitle-item {
	color: #fff;
}

.crm-entity-section-above-overlay,
.crm-entity-stream-section-planned-above-overlay {
	position: relative;
	z-index: 130 !important;
}

.crm-entity-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 120;
	background-color: rgba(0, 0, 0, .2);
}

.pagetitle-sub {
	display: inline-block;
	vertical-align: middle;
	color: #525c69;
	font: 13px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.pagetitle-sub a {
	position: relative;
	margin-right: 20px;
	border-bottom: 1px dashed #ccd0d4;
	color: #333;
}

.pagetitle-sub a:before {
	position: absolute;
	top: 50%;
	right: -12px;
	margin-top: -1px;
	border: 4px solid transparent;
	border-top-color: #bfc4ca;
	content: '';
}

.pagetitle-sub a:hover {
	border-bottom: 1px dashed #333;
	color: #000;
}

.bitrix24-light-theme .pagetitle-sub a {
	color: #fff;
}

.pagetitle-title-prefix {
	display: inline;
}
.crm-details-debug-item {
	color: #FFA900;
}

	/* Fix for automation status */
.automation-base {
	margin-bottom: 10px !important;
	width: 100% !important;
}

.bizproc-automation-status-name-bg,
.crm-automation-status-name-bg { background: #eef2f4 !important; }

.bitrix24-light-theme:not(.side-panel) .bizproc-automation-status-name-bg {
	background: transparent !important;
	color: #fff;
}

.bitrix24-dark-theme:not(.side-panel) .bizproc-automation-status-name-bg {
	background: transparent !important;
}

.bizproc-automation-status-title-right,
.crm-automation-status-title-right { background-color: #eef2f4 !important; }

/**/
.task-iframe-popup { box-sizing: border-box; }

.crm-items-list-wrap {
	overflow-x: auto;
	padding: 10px 15px;
	max-width: 100%;
	background-color: #fff;
}

.pagetitle-inner-container .ui-btn-split.ui-btn-primary { margin-right: 17px; }

.crm-entity-card-container,
.crm-entity-card-container-shadow {
	float: left;
	box-sizing: border-box;
	width: 41.6%;
}

.crm-entity-stream-container,
.crm-entity-stream-container-shadow {
	position: relative;
	z-index: 110;
	float: right;
	box-sizing: border-box;
	padding-left: 63px;
	width: 58.4%;
}

.crm-stageflow-wrap {
	position: relative;
	height: 32px;
}
