:root, body {
	--popup-window-border-radius: var(--ui-border-radius-md);
	--popup-window-content-border-radius: var(--ui-border-radius-xs);
	--popup-window-button-border-radius: var(--ui-border-radius-2xs);
	--mib-radius: var(--ui-border-radius-md);
	--ui-btn-radius: var(--ui-border-radius-2xs);
	--ui-alert-border-radius: var(--ui-border-radius-md);
	--ui-field-border-radius: var(--ui-border-radius-2xs);
	--main-grid-border-radius: var(--ui-border-radius-md);
	--ui-form-section-border-radius: var(--ui-border-radius-md);
	--ui-form-collapse-block-border-radius: var(--ui-border-radius-sm);

	--ui-font-family-primary: var(--ui-font-family-system);
	--ui-font-family-secondary: var(--ui-font-family-system);
}

.bx-win:root,
.bx-win body {
	--ui-font-weight-bold: 600;
	--ui-font-weight-medium: 600;
}

.bx-linux:root,
.bx-linux body {
	--ui-font-weight-bold: 500;
	--ui-font-weight-semi-bold: 500;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--ui-font-weight-bold);
}

.bitrix24-default-theme:not(.ui-page-slider-wrapper) .main-buttons-box {
	--mib-radius: 0 0 var(--ui-border-radius-md) var(--ui-border-radius-md);
}

.profile-menu:not(.profile-menu-iframe) .main-buttons-box {
	--mib-radius: 0 0 var(--ui-border-radius-md) var(--ui-border-radius-md);
}

.ui-side-panel-content > .pagetitle-above > .main-buttons:first-child {
	--mib-radius: 0 0 var(--ui-border-radius-md) var(--ui-border-radius-md);
}