.tasks-counters--scope {
	--white: rgba(255,255,255,1);
	--white_alpha_15: rgba(255,255,255,.15);
	--white_alpha_30: rgba(255,255,255,.3);
	--white_alpha_50: rgba(255,255,255,.5);
	--white_alpha_80: rgba(255,255,255,.8);

	--green: rgba(157,207,0,1);
	--red: rgba(229,73,89,1);

	--blue: rgba(0,195,255,1);
	--blue_aplpha_35: rgba(0,195,255,.35);
	--blue_aplpha_40: rgba(0,195,255,.4);
	--blue_aplpha_50: rgba(0,195,255,.5);
	--blue_aplpha_60: rgba(0,195,255,.6);
	--blue_aplpha_70: rgba(0,195,255,.7);

	--graphite: rgba(82,92,105,1);
	--graphite_alpha_08: rgba(82,92,105,.08);
	--graphite_alpha_10: rgba(82,92,105,.1);
	--graphite_alpha_15: rgba(82,92,105,.15);
	--graphite_alpha_30: rgba(82,92,105,.3);
	--graphite_alpha_35: rgba(82,92,105,.35);
	--graphite_alpha_40: rgba(82,92,105,.4);
	--graphite_alpha_50: rgba(82,92,105,.5);
	--graphite_alpha_80: rgba(82,92,105,.8);
}

.tasks-counters {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 17px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.tasks-counters--item {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: relative;
	margin-right: 18px;
	padding-right: 1px;
}

.tasks-counters--item:after {
	content: '';
	position: absolute;
	height: 14px;
	width: 1px;
	top: 50%;
	margin-top: -6px;
	right: 0;
	background: var(--graphite_alpha_30);
}

.tasks-counters--item:last-of-type {
	margin-right: 0;
	padding-right: 0;
}

.tasks-counters--item:last-of-type:after {
	content: none;
}

.tasks-counters--item-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tasks-counters--item-head {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	overflow: hidden;
	white-space: normal;
	margin-right: 9px;
	opacity: 1;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-counters--item.--cropp .tasks-counters--item-head {
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

.tasks-counters--item-head:last-child {
	margin-right: 0;
}

.tasks-counters--item-head.--action {
	cursor: pointer;
}

.tasks-counters--item-head.--fade {
	pointer-events: none;
}

.tasks-counters--item-head-read-all--text {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	vertical-align: top;
	overflow: hidden;
	height: 100%;
	white-space: nowrap;
}

.tasks-counters--item-head-read-all--icon {
	display: none;
	width: 17px;
	height: 100%;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='17' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.323 3.75a2 2 0 011.686 1.975v5.297a2 2 0 01-2 2H8.644l-2.582 2.581v-2.581H5.33l2.11-2.095h4.882a2 2 0 001.995-1.85l.005-.15.001-5.178zM10.896 0a2 2 0 012 2v5.457a2 2 0 01-2 2l-3.997-.001-4.121 4.122-.001-4.122H2a2 2 0 01-2-2V2a2 2 0 012-2h8.896zM9.112 1.915L5.278 5.667 3.855 4.355l-.988.963 2.41 2.274L10.1 2.877l-.988-.962z' fill='%23525c69' fill-rule='evenodd'/%3E%3C/svg%3E") center 10px no-repeat;
	opacity: .5;
}

.bitrix24-light-theme .tasks-counters--item-head-read-all--icon {
	opacity: 1;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='17' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.323 3.75a2 2 0 011.686 1.975v5.297a2 2 0 01-2 2H8.644l-2.582 2.581v-2.581H5.33l2.11-2.095h4.882a2 2 0 001.995-1.85l.005-.15.001-5.178zM10.896 0a2 2 0 012 2v5.457a2 2 0 01-2 2l-3.997-.001-4.121 4.122-.001-4.122H2a2 2 0 01-2-2V2a2 2 0 012-2h8.896zM9.112 1.915L5.278 5.667 3.855 4.355l-.988.963 2.41 2.274L10.1 2.877l-.988-.962z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.tasks-counters--item-counter {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: relative;
	overflow: hidden;
	margin-right: 1px;
	padding: 0 19px 0 6px;
	border-radius: 2px;
	cursor: pointer;
	-webkit-transition: .1s;
	-o-transition: .1s;
	transition: .1s;
}

.tasks-counters--item-counter:last-of-type {
	margin-right: 0;
}

.tasks-counters--item-counter:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 2px;
	pointer-events: none;
	background: transparent;
	-webkit-transform: translateX(-11px);
	    -ms-transform: translateX(-11px);
	        transform: translateX(-11px);
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-counters--item-counter.--hover:before {
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}

.tasks-counters--item-counter:hover:before {
	background: var(--graphite_alpha_10);
}

.bitrix24-light-theme .tasks-counters--item-counter:hover:before {
	background: var(--white_alpha_15);
}

.tasks-counters--item-counter.--hover:before {
	background: var(--blue_aplpha_50);
}

.tasks-counters--item-counter.--hover:hover:before {
	background: var(--blue_aplpha_60);
}

.bitrix24-light-theme .tasks-counters--item-counter.--hover:before {
	background: var(--blue_aplpha_35);
}

.bitrix24-light-theme .tasks-counters--item-counter.--hover:hover:before {
	background: var(--blue_aplpha_50);
}

.tasks-counters--item-counter-wrapper {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: relative;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.tasks-counters--item-counter--more {
	display: none;
	cursor: pointer;
}

.tasks-counters--item-counter--more .tasks-counters--item-counter-wrapper {
	padding-right: 25px;
}

.tasks-counters--item-counter--more .tasks-counters--item-counter-wrapper {
	padding-right: 27px;
}

.tasks-counters--item-counter-arrow {
	content: '';
	position: absolute;
	top: 12px;
	right: 11px;
	width: 5px;
	height: 5px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	border-right: 2px solid;
	border-bottom: 2px solid;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	border-color: var(--graphite_alpha_30);
}

.tasks-counters--item-counter--more.--hover .tasks-counters--item-counter-arrow,
.tasks-counters--item-counter--more:hover .tasks-counters--item-counter-arrow {
	-webkit-transition: .1s time;
	-o-transition: .1s time;
	transition: .1s time;
	border-color: var(--graphite_alpha_80);
}

.bitrix24-light-theme .tasks-counters--item-counter--more .tasks-counters--item-counter-arrow {
	border-color: var(--white_alpha_50);
}

.bitrix24-light-theme .tasks-counters--item-counter--more:hover .tasks-counters--item-counter-arrow,
.bitrix24-light-theme .tasks-counters--item-counter--more.--hover .tasks-counters--item-counter-arrow {
	border-color: var(--white);
}

.tasks-counters--item-counter.--pointer-events {
	pointer-events: none;
}

.bitrix24-light-theme .tasks-counters--item:after {
	background: var(--white_alpha_30);
}

.tasks-counters--item-counter-num {
	display: inline-block;
	vertical-align: sub;
	position: relative;
	margin-top: 2px;
	overflow: hidden;
	min-width: 21px;
	max-height: 16px;
	height: 16px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0 7px;
	background: var(--graphite_alpha_15);
	border-radius: 8px;
	font: 11px/16px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: var(--graphite);
}

.ui-slider-page .tasks-counters--item-counter-num {
	margin-top: 0;
}

.tasks-counters--item-counter-num.--update {
	-webkit-animation: tasks-counters--item-counter-num-update .5s linear forwards;
	        animation: tasks-counters--item-counter-num-update .5s linear forwards;
}

.tasks-counters--item-counter-num.--update-multi {
	-webkit-animation: tasks-counters--item-counter-num-update-multi .5s linear forwards;
	        animation: tasks-counters--item-counter-num-update-multi .5s linear forwards;
}

@-webkit-keyframes tasks-counters--item-counter-num-update-multi {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	85% {
		-webkit-transform: scale(1.15);
		        transform: scale(1.15);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes tasks-counters--item-counter-num-update-multi {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	85% {
		-webkit-transform: scale(1.15);
		        transform: scale(1.15);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

.tasks-counters--item-counter-num.--update-dec {
	-webkit-animation: tasks-counters--item-counter-num-update .2s linear forwards;
	        animation: tasks-counters--item-counter-num-update .2s linear forwards;
}

.tasks-counters--item-counter-num.--update-dec-multi {
	-webkit-animation: tasks-counters--item-counter-num-update-dec-multi .2s linear forwards;
	        animation: tasks-counters--item-counter-num-update-dec-multi .2s linear forwards;
}

@-webkit-keyframes tasks-counters--item-counter-num-update {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.15);
		        transform: scale(1.15);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes tasks-counters--item-counter-num-update {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.15);
		        transform: scale(1.15);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

.tasks-counters--item-counter-num-text {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	-webkit-animation: tasks-counters--item-counter-num-text .2s linear forwards;
	        animation: tasks-counters--item-counter-num-text .2s linear forwards;
}

.tasks-counters--item-counter-num-text.--stop {
	-webkit-animation: tasks-counters--item-counter-num-text--stop .1s linear forwards;
	        animation: tasks-counters--item-counter-num-text--stop .1s linear forwards;
}

.tasks-counters--item-counter-num-text.--decrement {
	-webkit-animation: tasks-counters--item-counter-num-text--decrement .1s linear forwards;
	        animation: tasks-counters--item-counter-num-text--decrement .1s linear forwards;
}

.tasks-counters--item-counter-num-text.--without-animate {
	-webkit-animation: none;
	        animation: none;
}

@-webkit-keyframes tasks-counters--item-counter-num-text--decrement {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		pointer-events: none;
		-webkit-transform: translateY(5px);
		        transform: translateY(5px);
	}
}

@keyframes tasks-counters--item-counter-num-text--decrement {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		pointer-events: none;
		-webkit-transform: translateY(5px);
		        transform: translateY(5px);
	}
}

@-webkit-keyframes tasks-counters--item-counter-num-text {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-15px);
		        transform: translateY(-15px);
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		pointer-events: none;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@keyframes tasks-counters--item-counter-num-text {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-15px);
		        transform: translateY(-15px);
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		pointer-events: none;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@-webkit-keyframes tasks-counters--item-counter-num-text--stop {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-15px);
		        transform: translateY(-15px);
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@keyframes tasks-counters--item-counter-num-text--stop {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-15px);
		        transform: translateY(-15px);
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

.bitrix24-light-theme .tasks-counters--item-counter-num {
	background: var(--white_alpha_30);
	color: var(--white);
}

.tasks-counters--item-counter-num.--danger {
	background: var(--red);
	color: var(--white);
}

.tasks-counters--item-counter-num.--success {
	background: var(--green);
	color: var(--white);
}

.tasks-counters--item-counter.--fade .tasks-counters--item-counter-num,
.tasks-counters--item-counter.--fade .tasks-counters--item-counter-num.--success,
.tasks-counters--item-counter.--fade .tasks-counters--item-counter-num.--danger,
.bitrix24-light-theme .task-counters--popup-item .tasks-counters--item-counter-num,
.bitrix24-light-theme .task-counters--popup-item .tasks-counters--item-counter-num.--success,
.bitrix24-light-theme .task-counters--popup-item .tasks-counters--item-counter-num.--danger {
	background: var(--graphite_alpha_15);
	color: var(--graphite);
}

.bitrix24-light-theme .tasks-counters--item-counter.--fade .tasks-counters--item-counter-num,
.bitrix24-light-theme .tasks-counters--item-counter.--fade .tasks-counters--item-counter-num.--success,
.bitrix24-light-theme .tasks-counters--item-counter.--fade .tasks-counters--item-counter-num.--danger {
	background: var(--white_alpha_30);
	color: var(--white);
}

.tasks-counters--item-counter-title {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.tasks-counters--item-counter-num + .tasks-counters--item-counter-title {
	margin-left: 4px;
}

.tasks-counters--item-counter--more .tasks-counters--item-counter-title {
	margin-right: 6px;
}

.tasks-counters--item-counter-remove {
	display: block;
	position: absolute;
	top: 0;
	right: -18px;
	bottom: 0;
	width: 18px;
	opacity: 0;
	-webkit-transform: translateX(-5px);
	    -ms-transform: translateX(-5px);
	        transform: translateX(-5px);
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.tasks-counters--item-counter.--hover .tasks-counters--item-counter-remove {
	opacity: 1;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}

.tasks-counters--item-counter-remove:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 7'%3E%3Cpath fill='%23525C69' opacity='.5' d='M5.526.276L3.5 2.303 1.474.276c-.369-.368-.83-.368-1.198 0-.368.369-.368.83 0 1.198L2.303 3.5.276 5.526c-.368.369-.368.83 0 1.198.369.368.83.368 1.198 0L3.5 4.697l2.026 2.027c.369.368.83.368 1.198 0 .368-.369.368-.83 0-1.198L4.697 3.5l2.027-2.026c.368-.369.368-.83 0-1.198C6.355 0 5.803 0 5.526.276z'/%3E%3C/svg%3E") 5px center no-repeat;
	background-size: 7px 7px;
	-webkit-transition: .1s;
	-o-transition: .1s;
	transition: .1s;
}

.tasks-counters--item-counter-remove:hover:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 7'%3E%3Cpath fill='%23525C69' opacity='.9' d='M5.526.276L3.5 2.303 1.474.276c-.369-.368-.83-.368-1.198 0-.368.369-.368.83 0 1.198L2.303 3.5.276 5.526c-.368.369-.368.83 0 1.198.369.368.83.368 1.198 0L3.5 4.697l2.026 2.027c.369.368.83.368 1.198 0 .368-.369.368-.83 0-1.198L4.697 3.5l2.027-2.026c.368-.369.368-.83 0-1.198C6.355 0 5.803 0 5.526.276z'/%3E%3C/svg%3E");
}

.bitrix24-light-theme .tasks-counters--item-counter-remove:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 7'%3E%3Cpath fill='%23fff' opacity='.5' d='M5.526.276L3.5 2.303 1.474.276c-.369-.368-.83-.368-1.198 0-.368.369-.368.83 0 1.198L2.303 3.5.276 5.526c-.368.369-.368.83 0 1.198.369.368.83.368 1.198 0L3.5 4.697l2.026 2.027c.369.368.83.368 1.198 0 .368-.369.368-.83 0-1.198L4.697 3.5l2.027-2.026c.368-.369.368-.83 0-1.198C6.355 0 5.803 0 5.526.276z'/%3E%3C/svg%3E");
}

.bitrix24-light-theme .tasks-counters--item-counter-remove:hover:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 7'%3E%3Cpath fill='%23fff' opacity='.9' d='M5.526.276L3.5 2.303 1.474.276c-.369-.368-.83-.368-1.198 0-.368.369-.368.83 0 1.198L2.303 3.5.276 5.526c-.368.369-.368.83 0 1.198.369.368.83.368 1.198 0L3.5 4.697l2.026 2.027c.369.368.83.368 1.198 0 .368-.369.368-.83 0-1.198L4.697 3.5l2.027-2.026c.368-.369.368-.83 0-1.198C6.355 0 5.803 0 5.526.276z'/%3E%3C/svg%3E");
}

.task-counters--popup-item-text {
	display: inline-block;
	margin-left: 7px;
}

@media screen and (max-width: 1610px) {
	.menu-collapsed-mode .tasks-counters--item.--other .tasks-counters--item-counter--more {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}

	.menu-collapsed-mode .tasks-counters--item.--other .tasks-counters--item-counter {
		display: none;
	}
}

@media screen and (max-width: 1780px) {
	.bx-layout-table:not(.menu-collapsed-mode) .tasks-counters--item.--other .tasks-counters--item-counter--more {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-counters--item.--other .tasks-counters--item-counter {
		display: none;
	}
}


@media screen and (max-width: 1520px) {
	.bx-layout-table:not(.menu-collapsed-mode) .tasks-counters--item:nth-child(2) .tasks-counters--item-head-read-all--text {
		display: none;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-counters--item:nth-child(2) .tasks-counters--item-head-read-all--icon {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}
}

@media screen and (max-width: 1770px) {
	.tasks-counters--item.--other .tasks-counters--item-head {
		display: none;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-counters--item:nth-child(3) .tasks-counters--item-head-read-all--text {
		display: none;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-counters--item:nth-child(3) .tasks-counters--item-head-read-all--icon {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}
}

/*menu-collapsed-mode*/

@media screen and (max-width: 1540px) {
	.menu-collapsed-mode .tasks-counters--item:nth-child(2) .tasks-counters--item-head-read-all--text {
		display: none;
	}

	.menu-collapsed-mode .tasks-counters--item:nth-child(2) .tasks-counters--item-head-read-all--icon {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}
}

@media screen and (max-width: 1430px) {
	.menu-collapsed-mode .tasks-counters--item:nth-child(3) .tasks-counters--item-head-read-all--text {
		display: none;
	}

	.menu-collapsed-mode .tasks-counters--item:nth-child(3) .tasks-counters--item-head-read-all--icon {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}
}

/*slider media*/

@media screen and (max-width: 1500px) {
	.ui-slider-page .tasks-counters--item-head-read-all--text {
		display: none;
	}

	.ui-slider-page .tasks-counters--item-head-read-all--icon {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}
}

@media screen and (max-width: 1390px) {
	.ui-slider-page .tasks-counters--item.--other .tasks-counters--item-counter--more {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}

	.ui-slider-page .tasks-counters--item.--other .tasks-counters--item-counter {
		display: none;
	}
}