.view-settings-menu-sort-item-checked .menu-popup-item-icon {
	background: url(images/check.png) no-repeat center;
}

.crm-webform-list-wrapper .main-grid-cell {
	vertical-align: middle;
}
.crm-webform-list-wrapper .main-grid-cell-checkbox .main-grid-cell-content {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 10px;
	margin-bottom: 0;
}

.crm-webform-list-text-gray {
	color: #afb0b0;
}

/* Header */

.crm-webform-list-header {
	margin: 33px 0 0 0;
	font: normal 23px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #535c69;
}

.crm-webform-list-active {
	display: flex;
	align-items: center;
}

.crm-webform-list-active-desc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 0 0 10px;
}

.crm-webform-list-active-desc * {
	white-space: nowrap;
}

.crm-webform-list-active a.crm-webform-list-active-more {
	color: #afb0b0;
	display: inline-block;
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: color .2s linear;
	border-bottom: 1px dashed #afb0b0;
	text-decoration: none!important;
	cursor: pointer;
}

.crm-webform-list-entities-popup,
.crm-webform-list-entities-popup .popup-window-content,
.crm-webform-list-active-popup,
.crm-webform-list-active-popup .popup-window-content {
	border-radius: 10px;
}

.crm-webform-list-active-popup-row {
	display: flex;
	align-items: center;
	overflow: hidden;
	padding: 14px 17px;
	border-bottom: 1px solid rgba(82,92,105,.08);
}

.crm-webform-list-active-popup-row:last-child {
	border: none;
}

.crm-webform-list-active-popup-item {
	flex: 1;
	overflow: hidden;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-webform-active-popup-item-caption {
	display: block;
	overflow: hidden;
	margin-bottom: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #959ca4;
}

.crm-webform-active-popup-item-date {
	flex: 1;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	line-height: 18px;
	color: #333;
}

a.crm-webform-active-popup-item-date {
	color: #2067b0;
}

.crm-webform-active-popup-item-avatar {
	display: block;
	width: 28px;
	height: 28px;
	margin-left: 25px;
	border-radius: 100%;
}

.crm-webform-list-entity {
	display: flex;
	margin: 0 0 5px 0;
}

.crm-webform-list-entity-link {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
a.crm-webform-list-entity-link {
	color: #2053a0;
	transition: color .2s linear;
	border-bottom: 1px dashed #a6cbf2;
	text-decoration: none!important;
	cursor: pointer;
}

.crm-webform-list-entity-counter {
	margin: 0 0 0 5px;
	color: #afb0b0;
	display: block;
}

/* Create form */

.crm-webform-list-createform-container {
	width: 100%;
	padding: 9px 0;
	margin: 37px 0 0 0;
	border: 2px dashed rgba(151,151,151, .5);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	-webkit-transition: border .3s ease;
	-moz-transition: border .3s ease;
	transition: border .3s ease;
	cursor: pointer;
}

.crm-webform-list-createform-container:hover {
	border: 2px dashed rgba(151,151,151, 1);
}

.crm-webform-list-createform-element {
	font: bold 15px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #0b66c3;
}

.crm-webform-list-createform-description {
	color: #aaafb5;
}



/* Head info */

.crm-webform-list-info {
	position: relative;
	max-height: 2000px;
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #535c69;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
	overflow: hidden;
	opacity: 1;
}

.crm-webform-list-info-container {
	padding: 15px 20px 15px 20px;
}

.crm-webform-list-info:after {
	content: "";
	display: table;
	clear: both;
}

.crm-webform-list-info-hide {
	max-height: 0;
	opacity: 0;
	visibility: hidden;
}

.crm-webform-list-info-btn-hide {
	cursor: pointer;
	color: red;
}

.crm-webform-list-info-list-container {
	margin: 0 30px 0 0;
}

.crm-webform-list-info-list {
	margin: 0;
	padding: 0;
}

.crm-webform-list-info-list-item {
	position: relative;
	margin: 0 0 20px 25px;
	list-style: none;
}

.crm-webform-list-info-list-item:before {
	content: "";
	position: absolute;
	top: 3px;
	left: -25px;
	display: inline-block;
	width: 17px;
	height: 12px;
	background: url(images/crm-webform-list-confirm.png) no-repeat;
	vertical-align: middle;
}

.crm-webform-list-info-visual {
	float: right;
	width: 400px;
	height: 225px;
}

.crm-webform-list-info-visual-item {
	display: inline-block;
	width: 100%;
	height: 100%;
	border: 1px solid #DAE1E7;
	background: #EDF3F9;
}

.crm-webform-list-info-inner {
	margin: 0 0 15px 0;
	overflow: hidden;
}

.crm-webform-list-info-title {
	display: block;
	margin: 0 0 17px 0;
	width: -webkit-calc(100% - 30px);
	width: calc(100% - 30px);
	font: 22px/26px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #31c2f3;
}

.crm-webform-list-info-list-item-text {
	display: inline-block;
	vertical-align: middle;
}

.crm-webform-list-info-description,
.crm-webform-list-info-slogan {
	display: block;
	margin: 0 0 38px 0;
	font: 16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-webform-list-info-list-item-title {
	font: bold 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

/* Buttons */

.crm-webform-list-buttons-container {
	position: absolute;
	top: 12px;
	right: 0;
	height: 12px;
	z-index: 10;
}

.crm-webform-list-buttons {
	float: right;
}

.crm-webform-list-hamburger {
	position: relative;
	display: inline-block;
	margin: 0 0 0 9px;
	width: 12px;
	height: 12px;
	background: url(images/crm-webform-list-sprite.svg) -3px 0;
	cursor: pointer;
}

.crm-webform-list-hamburger:after,
.crm-webform-list-close:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(images/crm-webform-list-sprite.svg) -3px -13px;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

.crm-webform-list-hamburger:hover:after,
.crm-webform-list-close:hover:after {
	opacity: 1;
}

.crm-webform-list-close {
	position: relative;
	display: inline-block;
	margin: 0 0 0 9px;
	width: 12px;
	height: 12px;
	background: url(images/crm-webform-list-sprite.svg) -2px -28px;
	cursor: pointer;
}

.crm-webform-list-close:after {
	background: url(images/crm-webform-list-sprite.svg) -2px -39px;
}

/* Widget */

.crm-webform-list-widget-row {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 16px 0 50px 0;
	padding: 25px 0 0 0;
	max-height: 1000px;
	border-top: 1px solid rgba(170,175,181, .2);
	font-size: 0;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
	overflow: hidden;
}

.crm-webform-list-widget-row:last-child {
	/*margin: 16px 0 0 0;*/
}

.crm-webform-list-widget-row.crm-webform-row-close {
	margin: 0;
	max-height: 0;
	border-top: 0;
	opacity: 0;
}

.crm-webform-list-header {
	margin: 0;
	max-height: 200px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
	overflow: hidden;
}

.crm-webform-list-header.crm-webform-title-close {
	margin: 0;
	max-height: 0;
	opacity: 0;
}

.crm-webform-list-widget-container {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	font: normal 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	vertical-align: top;
}

.crm-webform-list-widget-left {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-right: 0.5%;
	width: 40%;
	max-width: 40%;
}

.crm-webform-list-widget-right {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-left: 0.5%;
	width: 60%;
}

.crm-webform-list-widget-inactive {
	opacity: 0.5;
}

/* Left block */

.crm-webform-list-widget {
	border: 1px solid #b3b8be;
	border-radius: 3px 3px 2px 2px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
	height: 378px;

	-webkit-transition: opacity .3s ease, background-color .8s ease;
	-moz-transition: opacity .3s ease, background-color .8s ease;
	transition: opacity .3s ease, background-color .8s ease;
}

.crm-webform-list-widget.crm-webform-list-widget-number {
	border: 1px solid #fff;
	background: #4fc3f7;
	height: 201px;
}
/* Widget colors */

.crm-webform-list-widget.crm-webform-list-widget-number.crm-webform-list-widget-orange-color {
	background: #ff6602;
}

.crm-webform-list-widget.crm-webform-list-widget-number.crm-webform-list-widget-green-color {
	background: #50c5d3;
}

.crm-webform-list-widget.crm-webform-list-widget-number:first-child {
	margin-top: 0;
}

.crm-webform-list-widget-head {
	position: relative;
	color: #FFF;
	font-size: 13px;
	text-transform: uppercase;
	padding: 0 0 0 17px;
	background: #818992;
	border-radius: 2px 2px 0 0;
}

.crm-widget-head {
	position: relative;
	color: #FFF;
	font-size: 13px;
	text-transform: uppercase;
	padding: 0 0 0 17px;
	background: #818992;
	border-radius: 2px 2px 0 0;
	cursor: move;
}

.crm-widget-settings {
	position: relative;
	float: right;
	height: 40px;
	width: 32px;
	cursor: pointer;
}

.crm-widget-settings:after {
	content: '';
	position: absolute;
	width: 14px;
	height: 14px;
	background: url(images/crm-webform-list-sprite.svg) no-repeat -2px -138px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	transition: opacity .3s ease;
	opacity: .5;
}

.crm-widget-settings:hover:after {
	opacity: 1;
}

.crm-webform-list-widget-head,
.crm-webform-list-widget-number .crm-webform-list-widget-head {
	background: rgba(0,0,0,0.17);
}

.crm-webform-list-widget-title-container {
	position: relative;
	vertical-align: middle;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	padding-right: 30px;
	font-size: 0;
}

.crm-webform-list-widget-title-inner {
	display: inline-block;
	max-width: 100%;
	position: relative;
	padding-right: 30px;
	line-height: 40px;
}

.crm-webform-list-widget-title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	font: 12px/40px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #fff;
	max-width: 100%;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	transition: color .3s ease;
}

.crm-webform-list-widget-title:hover {
	color: rgba(255,255,255, .5);
}

.crm-webform-list-widget-content {
	box-sizing: border-box;
	position: relative;
	padding: 30px 10px 10px;
	height: 318px;
}

div.crm-webform-list-widget-content {
	padding: 0;
}

.crm-webform-list-widget-number .crm-webform-list-widget-content {
	padding: 20px 0 0 20px;
	height: 138px;
	font-size: 0;
}

.crm-webform-list-widget-content-lead-ads-cont {
	position: absolute;
	right: 10px;
	top: 20px;
}
.crm-webform-list-widget-content-lead-ads {
	display: flex;
	align-items: center;
	font-weight: bold;
	cursor: pointer;
	font-size: 10px;
	color: rgba(255, 255, 255, 1);
	text-transform: uppercase;
	padding: 0 0 5px 0;
}
.crm-webform-list-widget-content-lead-ads:hover {
	color: rgba(255, 255, 255, .8);
}
.crm-webform-list-widget-content-lead-ads .ui-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px 0 0;
}


.crm-webform-list-widget-content-amt {
	color: #fff;
	font: 13px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.crm-webform-list-widget-content-image {
	display: inline-block;
	float: left;
	margin: 0 20px 0 0;
	width: 98px;
	height: 98px;
	background: url(images/crm-webform-list-sprite.svg) -19px 0;
}

.crm-crm-webform-list-widget-content-title {
	font: 21px/15px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.crm-webform-list-widget-content-number {
	font: 38px/46px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

@media (max-width: 1199px) {
	.crm-webform-list-widget-content-attempt {
		font: normal 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	}
}

.crm-webform-list-widget-content-attempt-total,
.crm-webform-list-widget-content-attempt-success {
	display: inline-block;
}

.crm-webform-list-widget-content-attempt-total {
	margin: 0 24px 0 0;
}

.crm-webform-list-widget-content-attempt-total-number,
.crm-webform-list-widget-content-attempt-success-number {
	font: 16px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

/* Right block */

.crm-webform-list-inner-info-container {
	margin: 0 0 0 10px;
	border-bottom: 1px solid rgba(170,175,181, .2);
}

.crm-webform-list-creation-date-container,
.crm-webform-list-url-container,
.crm-webform-list-deal-container,
.crm-webform-list-fill-started-container {
	position: relative;
	padding: 0 0 12px 24px;
}

.crm-webform-list-text,
.crm-webform-list-date,
.crm-webform-list-url-text,
.crm-webform-deal-text,
.crm-webform-fill-started-text {
	display: inline-block;
	margin: 1px 3px 0 0;
	color: #4a4a4a;
	vertical-align: top;
}


.crm-webform-list-creation-date-container:before,
.crm-webform-list-url-container:before,
.crm-webform-list-fill-started-container:before,
.crm-webform-list-deal-container:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	background: url(images/crm-webform-list-sprite.svg?.);
}

.crm-webform-list-creation-date-container:before {
	background-position: -2px -102px;
}

.crm-webform-list-url-element {
	position: relative;
	display: inline-block;
	max-width: calc(100% - 15px);
}

.crm-webform-list-url-inner-wrap {
	display: inline-block;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.crm-webform-list-url-container:before {
	background-position: -2px -121px;
}

.crm-webform-list-deal-container:before {
	background-position: 0 -62px;
}

.crm-webform-list-fill-started-container:before {
	background-position: -1px -81px;
}

.crm-webform-list-url-link-icon {
	position: absolute;
	top: 0;
	right: -9px;
}

.crm-webform-list-url-link-icon:after {
	content: '';
	display: inline-block;
	width: 9px;
	height: 9px;
	background: url(images/crm-webform-list-sprite.svg) no-repeat -3px -154px;
	vertical-align: middle;
	cursor: pointer;
	-moz-transition: opacity .3s ease;
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
	opacity: .5;
}

.crm-webform-list-url-link-icon:hover:after {
	opacity: 1;
}

.crm-webform-list-url-link {
	margin: 1px 3px 0 0;
}


/* CHANGE ACTIVE BY USER */

.crm-webform-list-user {
	text-decoration: none !important;
	padding: 3.5px 13px 3.5px 4px;
	border-radius: 14.5px;
	display: inline-flex;
	align-items: center;
	justify-content: start;
	background: transparent;
	transition: 250ms linear all;
}
.crm-webform-list-user:hover {
	background: #C0EDFD;
	transition: .1s;
	opacity: 1;
}

.crm-webform-list-user-icon {
	display: inline-block;
	margin: 0;
	width: 22px;
	height: 22px;
	min-width: 22px;
	min-height: 22px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: no-repeat center;
	background-size: cover;
	vertical-align: middle;
}

.crm-webform-list-user-name {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #525C69;
	text-decoration: none;
	border-bottom: none;
	padding-left: 11px;
}

/* DESCRIPTION CLOSE BUTTON */
.crm-webform-list-info-btn-hide {
	position: absolute;
	top: 8px;
	right: 12px;
	display: inline-block;
	height: 20px;
	width: 20px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%23B0B8C1%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.48%203.985L7.727%201.74%206.23.245%203.984%202.49%201.74.243.245%201.74%202.49%203.986.243%206.23%201.74%207.726%203.986%205.48%206.23%207.727%207.725%206.23%205.48%203.985z%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	cursor: pointer;
}

.crm-webform-list-info-btn-hide:hover {
	opacity: .7;
}
/* END OF DESCRIPTION CLOSE BUTTON */


.crm-webform-grid-conversion {
	display: flex;
	align-items: center;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-webform-grid-conversion-icon {
	display: inline-block;
	margin: 0 8px 0 0;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	opacity: 0.6;
	min-width: 10px;
	min-height: 10px;
}

.crm-webform-grid-conversion-text {
	font-size: 13px;
	line-height: 20px;
	margin-right: 5px;
}

.crm-webform-grid-conversion.--down .crm-webform-grid-conversion-text,
.crm-webform-grid-conversion.--down2 .crm-webform-grid-conversion-text,
.crm-webform-grid-conversion.--down3 .crm-webform-grid-conversion-text,
.crm-webform-grid-conversion.--normal-red .crm-webform-grid-conversion-text {
	color: #ff5752;
}

.crm-webform-grid-conversion.--up .crm-webform-grid-conversion-text,
.crm-webform-grid-conversion.--up2 .crm-webform-grid-conversion-text,
.crm-webform-grid-conversion.--up3 .crm-webform-grid-conversion-text,
.crm-webform-grid-conversion.--normal-green .crm-webform-grid-conversion-text {
	color: #8dba00;
}

.crm-webform-grid-conversion-value {
	position: relative;
	font-size: 14px;
	line-height: 20px;
	color: #525c69;
	margin-right: 6px;
	padding-right: 9px;
	width: 45px;
	box-sizing: border-box;
	text-align: right;
}

/*
.crm-webform-grid-conversion-value:after {
	content: '';
	position: absolute;
	width: 1px;
	height: 10px;
	top: 50%;
	right: 0;
	margin-top: -5px;
	background: #bdc1c6;
}
*/

.crm-webform-grid-conversion-icon-status {
	display: none;
	width: 54px;
	height: 36px;
	background: center no-repeat;
	background-size: 100% 100%;
}

.crm-webform-grid-conversion.--normal-green .crm-webform-grid-conversion-icon-status {
	display: block;
	background-image: url(images/crm-webform--icon-graph-normal-green.svg);
}

.crm-webform-grid-conversion.--normal-red .crm-webform-grid-conversion-icon-status {
	display: block;
	background-image: url(images/crm-webform--icon-graph-normal-red.svg);
}

.crm-webform-grid-conversion.--up .crm-webform-grid-conversion-icon-status {
	display: block;
	background-image: url(images/crm-webform--icon-graph-up.svg);
}

.crm-webform-grid-conversion.--up2 .crm-webform-grid-conversion-icon-status {
	display: block;
	background-image: url(images/crm-webform--icon-graph-up2.svg);
}

.crm-webform-grid-conversion.--up3 .crm-webform-grid-conversion-icon-status {
	display: block;
	background-image: url(images/crm-webform--icon-graph-up3.svg);
}

.crm-webform-grid-conversion.--down .crm-webform-grid-conversion-icon-status {
	display: block;
	background-image: url(images/crm-webform--icon-graph-down.svg);
}

.crm-webform-grid-conversion.--down2 .crm-webform-grid-conversion-icon-status {
	display: block;
	background-image: url(images/crm-webform--icon-graph-down2.svg);
}

.crm-webform-grid-conversion.--down3 .crm-webform-grid-conversion-icon-status {
	display: block;
	background-image: url(images/crm-webform--icon-graph-down3.svg);
}

.crm-webform-item-btn {
	text-decoration: none !important;
}

.crm-webform-list-social-icon--wrapper {
	display: block;
	margin: 5px 5px 0 0;
}

.crm-webform-list-social-icon--wrapper span {
		width: 15px;
		margin: 0 5px 0 0;
}
.crm-webform-list-social-icon-text {
	vertical-align: top;
}

