.page-description {
	color: #868693;
	font: 16px/18px "SF Pro Text", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
}

.bx-dark,
.bx-dark p {
	color: #ccccd3;
}

.bx-dark hr {
	border-color: rgba(255, 255, 255, .1);
}

.order-list-header {
	padding: 18px 15px;
}

.order-list-header-title {
	font: 24px "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
	font-weight: bold;
	color: #333;
}

.bx-dark .order-list-header-title {
	color: #fff;
}

.order-list-header-order {
	font: 19px/23px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #9e9eae;
}

.bx-dark .order-list-header-order {
	color: #acacb4;
}

.order-list-container {
	position: relative;
	z-index: 20;
	width: auto;
	background-color: #fff;
}

.bx-dark .order-list-container {
	background-color: #242426;
}

.order-list-title {
	text-align: center;
	padding: 21px;
	color: #333;
	font: 16px/19px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bx-dark .order-list-title {
	color: #fff;
}

.order-list-item {
	padding: 20px 15px;
	border-bottom: 1px solid #eeeff0;
}

.order-list-item:last-child {
	border-color: #dcdee1;
}

.bx-dark .order-list-item {
	border-color: #3a3a3c;
}

.bx-dark .order-list-item:last-child {
	border-color: #666667;
}

.order-item-image-container.col-auto {
	width: 60px;
	height: 80px;
}

.order-item-image {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
	object-position: center;
}

.order-item-properties {
	margin-top: 8px;
}

.order-item-type,
.order-item-quantity {
	color: #acacb4;
	font: 12px/14px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bx-dark .order-item-type,
.bx-dark .order-item-quantity {
	color: #acacb4;
}

.order-item-title {
	color: #2c2c36;
	font: 16px/14px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bx-dark .order-item-title {
	color: #fff;
}

.order-item-property {
	font-size: 14px;
	line-height: 19px;
	color: #9e9eae;
	text-overflow: ellipsis;
}

.bx-dark .order-item-property {
	color: #acacb4;
}

.order-item-quantity {
	margin-top: 8px;
	text-align: right;
}

.order-total-container {
	position: relative;
}

.order-total-price-row,
.order-total-price-old-row,
.order-total-tax-row {
	background-color: #fff;
}

.bx-dark .order-total-price-row,
.bx-dark .order-total-price-old-row,
.bx-dark .order-total-tax-row {
	background-color: #242426;
}

.order-total table {
	width: 100%;
	border: none;
	border-collapse: collapse;
}

.order-total-item {
	width: 100%;
	padding: 0 0 15px 15px;
	vertical-align: middle;
	text-align: right;
	color: #9e9eae;
	font: 14px/18px "SF Pro Text", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
}

.bx-dark .order-total-item {
	color: #acacb4;
}

.order-total-item.order-total-item-total-price {
	vertical-align: top;
}

.order-total-value {
	padding: 0 15px 18px;
	color: #93939b;
	text-align: right;
	font: 500 14px/18px "SF Pro Text", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
}

.bx-dark .order-total-value {
	color: #fff
}

.order-total-price-row td {
	padding-top: 18px;
}

.order-total-delivery-row td {
	padding-top: 18px;
}

.order-total-delivery-row .order-total-price {
	padding: 6px 0;
}

.order-total-delivery-row .order-total-item {
	font-size: 16px;
	text-align: left;
}

.order-total-delivery-row td {
	border-bottom: 1px solid #e6e7eb;
}

.bx-dark .order-total-delivery-row td {
	border-color: #333;
}

.order-item-price, .order-total-price {
	color: #2c2c36;
	text-align: right;
	white-space: nowrap;
	font: 600 16px/19px "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
}

.order-item-price {
	font-weight: normal;
	line-height: 14px;
}

.order-total-container .rub,
.order-item-price .rub {
	font-family: 'rubleBitrix';
}

.order-item-price-old,
.order-total-price-old {
	opacity: .7;
	color: #4e8b9e;
	text-decoration: line-through;
	white-space: nowrap;
	font: 16px/19px "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
	text-align: right;
	margin-top: 8px;
}

.bx-dark .order-item-price,
.bx-dark .order-total-price {
	color: #fff;
}

.bx-dark .order-item-price-old,
.bx-dark .order-total-price-old {
	color: #8cc8db;
	opacity: .5;
}

.order-total-sale-price,
.order-total-delivery-price {
	display: inline-block;
	padding: 6px 8px;
	border-radius: 4px;
	background-color: #ffcd4d;
	color: #333;
	vertical-align: middle;
	white-space: nowrap;
	font: 600 16px/19px "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
}

.bx-dark .order-total-sale-price,
.bx-dark .order-total-delivery-price {
	background-color: #1457a3;
	color: #fff;
}

.order-total-delivery-price {
	font: 500 15px/18px "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
	background-color: #d0e8c7;
}

.bx-dark .order-total-delivery-price {
	background-color: #086022;
}

/**/
.order-total-result {
	padding: 15px;
}

.order-total-result-name {
	color: #333;
	font: 500 20px/24px "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
}

.bx-dark .order-total-result-name {
	color: #fff;
}

.order-total-result-value {
	color: #333;
	font: 500 24px/29px "SF UI Display", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
}

.bx-dark .order-total-result-value {
	color: #fff;
}

.checkout-basket-title {
	font: 500 18px/21px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
	margin-bottom: 16px;
}

.bx-dark .checkout-basket-title { color: #fff; }

.alert.alert-danger {
	background: rgba(255,87,82,.2);
	border-color: transparent;
	color: #cf2823;
}

.alert {
	padding: 13px 17px;
	font: 500 16px/21px Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.checkout-payment-title {
	font: 500 18px/21px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
	margin-bottom: 16px;
}

.bx-dark .checkout-payment-title {
	color: #fff;
}
	/*endregion*/

/*region contacts*/
.contacts-phone {
	font: 500 16px/24px "SF Pro Text", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
}

.bx-dark .contacts-phone {
	color: #fff;
}

.contacts-maps-button {
	padding: 15px 10px;
	text-align: center;
}

/*endregion*/

/*region Appointments*/
.appointments-form-container {
}

.appointments-form-days {
	overflow-x: auto;
	min-height: 60px;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}

.appointments-form-day-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	float: left;
	margin-left: 10px;
	min-width: 60px;
	width: 60px;
	height: 47px;
	border-radius: 4px;
	background-color: rgba(172, 172, 180, 0.2);
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.appointments-form-day-date {
	color: #6e6e79;
	letter-spacing: 0.05em;
	font: 500 16px/18px "SF Pro Text", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
}

.appointments-form-day-of-week {
	color: #acacb4;
	letter-spacing: 0.05em;
	font: 500 11px/15px "SF Pro Text", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
}

.page-section.order-document-container
{
	margin-bottom: 15px;
}
.order-document-container .page-section-title
{
	margin-bottom: 4px;
}

.order-document {
	display: flex;
	align-items: center;
	margin-bottom: 22px;
}

.order-document-file-icon {
	padding: 10px 16px 10px;
}

.order-document-title {
	font: 16px/19px "SF UI Display", "SF Pro Text", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
	color: #333;
	opacity: 0.8;
}

.bx-dark .order-document-title {
	color: #acacb4;
}

.order-document-actions {
	display: flex;
	justify-content: flex-start;
	padding-bottom: 18px;
	gap: 16px;
}

.order-document-actions-action a {
	display: block;
	cursor: pointer;
	box-sizing: border-box;
	min-height: 36px;
	padding: 8px 15px;
	color: #333;
	font: 500 16px/19px "SF UI Display", "SF Pro Text", "SF UI Text", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*tmp hack*/
	font-family: "Roboto", Arial, sans-serif;
	border: 1px solid rgba(0, 174, 52, 0.5);
	border-radius: 18px;
}

.bx-dark .order-document-actions-action a {
	color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.2);
}


.order-document-actions-action a:hover {
	text-decoration: none;
}
