.crm-report-managersrating-grid {}
.crm-report-managersrating-grid-user,
.crm-report-managersrating-grid-user-name {
	display: flex;
	align-items: center;
}

.crm-report-managersrating-grid-user-icon.ui-icon,
.crm-report-managersrating-grid-company-icon.ui-icon {
	display: inline-block;
	margin: 0 9px 0 0;
	width: 23px;
	height: 23px;
	border-radius: 100%;
}

.crm-report-financial-rating-bold {
	font: bold 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-report-financial-rating-right {
	text-align: right;
}

.crm-report-managersrating-grid-rating {
	display: flex;
	align-items: center;
}
.crm-report-managersrating-grid-rating-icon {
	display: inline-block;
	margin: 0 8px 0 0;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	opacity: 0.6;
}
.crm-report-managersrating-grid-rating-value {
	display: inline-block;
	margin: 0 8px 0 0;
	padding: 0 8px 0 0;
	border-right: 1px solid rgba(82,92,105,.17);
	font: 13px/10px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #364150;
}
.crm-report-managersrating-grid-rating-text {
	font: 10px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	text-transform: uppercase;
}

.crm-report-managersrating-grid-value {
	display: inline-block;
}

.crm-report-managersrating-grid-value-clickable {
	cursor: pointer;
}

.crm-report-managersrating-grid-value-clickable:hover {
	color: #2066B0;
	/*border-bottom: 1px dashed #2066B0;*/
}

/* region Grid */
.crm-report-managersrating-grid-value-box {
	display: block;
}

.crm-report-managersrating-grid-value-main {
	display: inline-block;
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525c69;
}

.crm-report-managersrating-grid-value-extra {
	display: flex;
	align-items: center;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #a8adb4;
}

.crm-report-managersrating-grid-value-main.crm-report-financial-rating-value-up,
.crm-report-managersrating-grid-value-main.crm-report-financial-rating-value-down {
	padding: 0 15px 0 0;
}

.crm-report-managersrating-grid-value-main.crm-report-financial-rating-value-up:before,
.crm-report-managersrating-grid-value-main.crm-report-financial-rating-value-down:before {
	left: auto;
	right: 0;
}


.crm-report-managersrating-grid-user,
.crm-report-managersrating-grid-user-name {
	display: flex;
	align-items: center;
}

.crm-report-managersrating-grid-user-icon.ui-icon,
.crm-report-managersrating-grid-company-icon.ui-icon {
	display: inline-block;
	margin: 0 9px 0 0;
	width: 23px;
	height: 23px;
	border-radius: 100%;
}

.crm-report-managersrating-grid-user-name {
	max-width: 100%;
	font: bold 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #2066B0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
/* endregion */
