/*ToolBar*/
.bx-disk-interface-toolbar-container{
	margin-right:20px;
	padding:0;
}
.bx-disk-interface-toolbar-container.bx-filepage{
	margin-right:0;
}
div.bx-disk-interface-toolbar{
	font-size:13px;
	height:60px;
	padding-right:20px;
	color:#94a6af;
	border-bottom:1px solid #edeef0;
}
div.bx-disk-interface-toolbar.bx-filepage{
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
	padding-top:7px;
	padding-left:20px;
	background:#eef2f4;
}
.bx-disk-interface-toolbar .bx-disk-context-button{
	font-size:12px;
	line-height:20px;
	display:inline-block;
	height:20px;
	margin-right:1px;
	padding:13px 20px;
	-webkit-transition:background .2s cubic-bezier(.000, .465, .750, .750);
	   -moz-transition:background .2s cubic-bezier(.000, .465, .750, .750);
		 -o-transition:background .2s cubic-bezier(.000, .465, .750, .750);
			transition:background .2s cubic-bezier(.000, .465, .750, .750);
	vertical-align:middle;
	white-space:nowrap;
	text-decoration:none;
	text-transform:uppercase;
	color:#535c69;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
}
.bx-disk-interface-toolbar .bx-disk-context-button:hover,
.bx-disk-interface-toolbar .bx-disk-context-button.active{
	background:#def9ff;
}
.bx-disk-interface-toolbar.bx-filepage .bx-disk-context-button:hover,
.bx-disk-interface-toolbar.bx-filepage .bx-disk-context-button.active{
	background:#dee3e6;
}
.bx-disk-interface-toolbar label.bx-disk-context-button {
	cursor : pointer;
}
.bx-disk-interface-toolbar label.bx-disk-context-button form {
	display: none; opacity:0;
}
.bx-ie8 .bx-disk-interface-toolbar label.bx-disk-context-button form,
.bx-opera .bx-disk-interface-toolbar label.bx-disk-context-button form { display:block !important;}
.bx-disk-context-button-icon{
	line-height:20px;
	display:inline-block;
	width:16px;
	height:20px;
	margin-right:2px;
	-webkit-transition:opacity .2s cubic-bezier(.000, .465, .750, .750);
	   -moz-transition:opacity .2s cubic-bezier(.000, .465, .750, .750);
		 -o-transition:opacity .2s cubic-bezier(.000, .465, .750, .750);
			transition:opacity .2s cubic-bezier(.000, .465, .750, .750);
	vertical-align:middle;
	opacity:.8;
	background:url(/bitrix/images/disk/sprite.png) no-repeat;
}
.bx-disk-interface-toolbar .bx-disk-context-button:hover  .bx-disk-context-button-icon,
.bx-disk-interface-toolbar .bx-disk-context-button.active .bx-disk-context-button-icon{
	opacity:1;
}
.bx-disk-context-button-icon.element-upload{
	width:18px;
	background-position:center 1px;
}
.bx-disk-context-button-icon.docs-add{
	background-position:center -32px;
}
.bx-disk-context-button-icon.folder-add{
	background-position:center -64px;
}
.bx-disk-context-button-icon.empty-trashcan{
	background-position:center -480px;
}
.bx-disk-context-button-icon.back{
	background-position:center -996px;
}
.bx-disk-context-button-icon.copy-link{
	background-position:center -1024px;
}
.bx-disk-context-button-icon.more-action{
	margin-right:0;
	margin-left:2px;
	background-position:center -1049px;
}
.bx-disk-context-button {
	position: relative;
	overflow: hidden;
}
.bx-disk-context-button input {
	filter: alpha(opacity=0) !important;
	font-size: 320px !important;
	height: 105px !important;
	opacity: 0 !important;
	position: absolute !important;
	cursor: pointer !important;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.bx-ie8 .bx-disk-context-button input {
	left: auto;
	bottom: auto;
}
/*Bread Crumbs*/
.bx-disk-interface-bread-crumbs{
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
	max-width:70%;
	margin-right:350px;
	padding:14px 18px 6px;
	white-space:nowrap;
}
.bx-disk-interface-bread-crumbs-item-container-arrow{
	display:inline-block;
	width:16px;
	height:38px;
	cursor:pointer;
	position: relative;
	top: -1px;
	opacity:.7;
	background:url(/bitrix/images/disk/sprite.png) no-repeat center -1082px;
}
.bx-disk-interface-bread-crumbs-item-container-arrow:hover{
	opacity:.9;
}
.bx-disk-interface-bread-crumbs-item-container-arrow:active{
	opacity:1;
}
.bx-disk-interface-bread-crumbs-item-container{
	position:relative;
	display:inline-block;
	max-width:300px;
}

.bx-disk-interface-bread-crumbs-item-link{
	font-size:13px;
	line-height:38px;
	display:block;
	overflow:hidden;
	margin-right:30px;
	vertical-align:middle;
	white-space:nowrap;
	text-decoration:none;
		text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
}
.bx-disk-interface-bread-crumbs-item{
	position:relative;
	display:inline-block;
	white-space:nowrap;
}
.bx-disk-interface-bread-crumbs-item-current{
	margin-right:3px;
	color:#535c69;
	border:none;
}
.bx-disk-interface-bread-crumbs-item-container .popup-control{
	position:absolute;
	top:0;
	right:25px;
	width:10px;
	display: flex;
	align-items: center;
}
.bx-disk-interface-bread-crumbs-item-container .icon-arrow{
	background-position:0 -82px !important;
}

/*Toolbar Sorting and View Mode*/
.bx-disk-interface-sort{
	font-size:13px;
	line-height:32px;
	float:right;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
	width:350px;
	padding:14px 21px 6px 18px;
	text-align:right;
	vertical-align:middle;
	color:#a5a9af;
}
.bx-disk-interface-view-mode{
	margin-left:20px;
}
.view-mode-grid,
.view-mode-tile{
	display:inline-block;
	width:16px;
	height:14px;
	cursor:pointer;
	-webkit-transition:opacity .2s;
	   -moz-transition:opacity .2s;
		 -o-transition:opacity .2s;
			transition:opacity .2s;
	vertical-align:middle;
	opacity:.4;
	background:url(/bitrix/images/disk/sprite.png) no-repeat;
}
.view-mode-grid{
	margin-left:4px;
	background-position:0 -128px;
}
.view-mode-grid:hover{
	opacity:.7;
}
.view-mode-grid:active,
.view-mode-grid.current{
	opacity:1;
}
.view-mode-tile{
	background-position:-32px -128px;
}
.view-mode-tile:hover{
	opacity:.7;
}
.view-mode-tile:active,
.view-mode-tile.current{
	opacity:1;
}

/*Footer Toolbar*/
.bx-disk-footer-interface-toolbar-container{
	font-family:var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	font-size:14px;
	line-height:54px;
	height:54px;
	margin-top:20px;
	padding:0 10px;
	color:#535c69;
	background:#eef2f4;
}
.bx-disk-footer-interface-toolbar-container td{
	padding:0 6px;
	vertical-align:middle;
}
.bx-disk-footer-interface-toolbar-container .popup-control{
	height:32px;
}
.bx-disk-bd-icon-edit{
	display:block;
	width:15px;
	height:15px;
	/*margin-left:30px;*/
	cursor:pointer;
	-webkit-transition:opacity .2s;
	   -moz-transition:opacity .2s;
		 -o-transition:opacity .2s;
			transition:opacity .2s;
	opacity:.7;
	background:url(/bitrix/images/disk/sprite.png) no-repeat 0 -160px;
}
.bx-disk-bd-icon-edit.active,
.bx-disk-bd-icon-edit:hover{
	opacity:1;
}
.bx-disk-bd-icon-del{
	display:block;
	width:15px;
	height:15px;
	margin-right:30px;
	cursor:pointer;
	-webkit-transition:opacity .2s;
	   -moz-transition:opacity .2s;
		 -o-transition:opacity .2s;
			transition:opacity .2s;
	opacity:.7;
	background:url(/bitrix/images/disk/sprite.png) no-repeat -36px -158px;
}
.bx-disk-bd-icon-del.active,
.bx-disk-bd-icon-del:hover{
	opacity:1;
}
