.intranet-ustat-online-box {
	position: relative;
	display: flex;
	align-items: center;
	padding: 11px 13px 10px 13px;
	margin-bottom: 15px;
	width: 263px;
	height: 73px;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: var(--intranet-ustat-online-box-border-radius, var(--ui-border-radius-md, 0));
	will-change: transform;
}

.intranet-ustat-online-badge {
	position: absolute;
	top: 7px;
	left: -2px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 13px;
	font: 9px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	border-radius: var(--ui-border-radius-3xs);
	color: #fff;
	text-transform: uppercase;
	background-color: #ff5752;
	z-index: 1;
}

.intranet-ustat-online-counter {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	width: 52px;
	height: 56px;
	border-radius: 50%;
	overflow: hidden;
}

.intranet-ustat-online-counter .ui-graph-circle-wrapper {
	top: 1px;
	width: 52px;
	height: 52px;
	background-image: url(images/intranet-ustat-online-circle.gif);
	background-size: cover;
}

@keyframes intranet-ustat-online-counter-show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.intranet-ustat-online-counter .ui-graph-circle-bar,
.intranet-ustat-online-counter .ui-graph-circle-waves-wrapper {
	display: none;
}

.intranet-ustat-online-counter .ui-graph-circle-number,
.intranet-ustat-online-counter .ui-graph-circle-wrapper {
	animation: intranet-ustat-online-counter-show 1.2s forwards;
	opacity: 0;
}

.intranet-ustat-online-counter .ui-graph-circle-number {
	font-size: 21px;
	line-height: 21px;
}

.ui-graph-font-sm .ui-graph-circle-number {
	font-size: 19px;
	line-height: 19px;
}

.intranet-ustat-online-counter .ui-graph-circle-bar-bg,
.intranet-ustat-online-counter .ui-graph-circle-bar-progress{
	stroke-width: 3px;
}

.intranet-ustat-online-counter .ui-graph-circle-waves-wrapper {
	top: 13px;
	left: 13px;
	width: 42px;
	height: 42px;
}

.intranet-ustat-online-counter .ui-graph-circle-counter .ui-graph-circle-number {
	margin-top: 1px;
}

/*.intranet-ustat-online-counter .ui-graph-circle {*/
/*    font-size: 56px;*/
/*    transform: perspective(1px) scale3d(.28, .28, 1) translateZ(0);*/
/*    -webkit-font-smoothing: subpixel-antialiased;*/
/*    -webkit-backface-visibility: hidden;*/
/*    backface-visibility: hidden;*/
/*    -webkit-perspective: 1000;*/
/*    transform-style: preserve-3d;*/
/*    will-change: transform;*/
/*}*/

.intranet-ustat-online-icon-box {
	display: flex;
	align-items: center;
	width: 174px;
	height: 32px;
	margin-bottom: 4px;
	transition: .2s;
	overflow: hidden;
}

.intranet-ustat-online-icon-inner {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	transition: .2s;
}

.intranet-ustat-online-icon-inner:hover {
	cursor: pointer;
}

.intranet-ustat-online-icon {
	display: inline-block;
	margin-left: -7.5px;
	width: 26px;
	height: 26px;
	min-width: 26px;
	min-height: 26px;
	border: 2px solid #fff;
	border-radius: 100%;
	transition: opacity .3s;
	/*opacity: 0;*/
	overflow: hidden;
}

.intranet-ustat-online-icon:first-child {
	animation: none;
	opacity: 1;
}

.intranet-ustat-online-icon-show {
	animation: intranet-ustat-online-icon-show 1s forwards .3s;
	opacity: 1;
}

.intranet-ustat-online-icon-hide {
	animation: intranet-ustat-online-icon-hide 1s forwards .3s;
	opacity: 0;
}

@keyframes intranet-ustat-online-icon-hide {
	0% {
		opacity: 1;
	}
	35% {
		opacity: 0;
		position: absolute;
		right: 17px;
		z-index: -1;
	}
	100% {
		opacity: 0;
		position: absolute;
		right: 17px;
		z-index: -1;
	}
}

@keyframes intranet-ustat-online-counter-show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.intranet-ustat-online-icon:last-child {
	margin-left: 0;
}

.intranet-ustat-online-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 3px;
	max-width: 177px;
}

.intranet-ustat-online-info-item {
	display: flex;
	align-items: center;
	margin-right: 5px;
	overflow: hidden;
}

.intranet-ustat-online-info-item:last-child {
	margin-right: 0;
}

.intranet-ustat-online-info-item:hover {
	cursor: pointer;
}

.intranet-ustat-online-info-text-resize .intranet-ustat-online-info-item {
	margin-right: 8px;
}

.intranet-ustat-online-text {
	display: inline-block;
	font: 10px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: rgba(82,92,105,.5);
	text-transform: uppercase;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.intranet-ustat-online-value {
	display: inline-block;
	margin: 0 3px;
	font: 10px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #525c69;
}

.intranet-ustat-online-info-text-resize .intranet-ustat-online-text,
.intranet-ustat-online-info-text-resize .intranet-ustat-online-value {
	font: 9px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.intranet-ustat-online-helper-wrap {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 51px;
	height: 41px;
}

.intranet-ustat-online-helper {
	position: absolute;
	bottom: -12px;
	right: -15px;
}

.intranet-ustat-online-popup {
	overflow: hidden;
	padding: 6px 10px 10px 10px;
	border-radius: 18px;
}

.intranet-ustat-online-popup-container {
	position: relative;
	display: block;
	max-height: none;
	height: auto;
	width: auto;
	overflow: hidden;
}

.intranet-ustat-online-popup-content {
	display: block;
	padding: 8px;
	max-height: 200px;
	width: auto;
	background-color: #fff;
	overflow-y: hidden;
	overflow-x: hidden;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.intranet-ustat-online-popup-content-box {
	display: block;
	max-height: 100%;
	overflow-y: auto;
	-webkit-scrollbar-track-color: #f9fafb;
	scrollbar-track-color: #f9fafb;
	-webkit-scrollbar-base-color: #d4d7d9;
	-webkit-scrollbar-base-color: #d4d7d9;
	scrollbar-base-color: #d4d7d9;
	-webkit-scrollbar-shadow-color: #d4d7d9;
	scrollbar-shadow-color: #d4d7d9;
	-webkit-scrollbar-highlight-color: #d4d7d9;
	scrollbar-highlight-color: #d4d7d9;
}

.intranet-ustat-online-popup-inner {
	display: block;
	padding: 0 17px 0 0;
	min-height: 26px;
	max-height: 159px;
	min-width: 150px;
	-webkit-scrollbar-track-color: #f9fafb;
	scrollbar-track-color: #f9fafb;
	-webkit-scrollbar-base-color: #d4d7d9;
	-webkit-scrollbar-base-color: #d4d7d9;
	scrollbar-base-color: #d4d7d9;
	-webkit-scrollbar-shadow-color: #d4d7d9;
	scrollbar-shadow-color: #d4d7d9;
	-webkit-scrollbar-highlight-color: #d4d7d9;
	scrollbar-highlight-color: #d4d7d9;
	overflow-y: auto;
}

.intranet-ustat-online-popup-inner::-webkit-scrollbar {
	width: 6px;
}

.intranet-ustat-online-popup-inner::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: #D8D8D8;
}

.intranet-ustat-online-popup-inner::-webkit-scrollbar-track {
	border-radius: 3px;
	background: rgba(216,216,216,.2);
}

.intranet-ustat-online-popup-item {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	max-width: 200px;
	color: #656365;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	zoom: 1;
}

.intranet-ustat-online-popup-item:last-child {
	margin-bottom: 0;
}

.intranet-ustat-online-popup-avatar-new {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.intranet-ustat-online-popup-avatar-img {
	max-width: 100%;
	height: auto;
	border: none;
	border-radius: 50%;
	background-color: #fff;
	overflow: hidden;
}

.intranet-ustat-online-popup-name {
	display: inline-block;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	padding-left: 6px;
	max-width: 130px;
	height: 15px;
	color: #656365;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 1px;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	white-space: nowrap;
	cursor: pointer;
}

.intranet-ustat-online-popup-name:hover {
	text-decoration: underline;
}

.intranet-ustat-online-popup-name-title {
	height: 18px;
	display: block;
	text-decoration: none;
	cursor: auto;
	padding: 10px 0 9px 0;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525C69;
	border-bottom: 1px solid #D8D8D8;
	margin: 0 8px 9px 8px;
	max-width: 190px;
}

.intranet-ustat-online-hint {
	position: absolute;
	top: 0;
	right: 0;
}

.intranet-ustat-online-hint-item {
	display: inline-block;
	width: 26px;
	height: 26px;
	transition: opacity .3s;
	opacity: .45;
	text-align: center;
	cursor: pointer;
	line-height: 25px;
}

.intranet-ustat-online-hint-item:hover {
	opacity: 1;
}

.intranet-ustat-online-hint-icon {
	display: inline-block;
	width: 11.5px;
	height: 11.5px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2013%2013%22%3E%3Cg%20fill%3D%22none%22%20opacity%3D%22.7%22%3E%3Cpath%20fill%3D%22%23525C69%22%20d%3D%22M12.48%206.49C12.48%203.183%209.8.5%206.49.5%203.183.5.5%203.182.5%206.49c0%203.31%202.682%205.99%205.99%205.99%203.31%200%205.99-2.68%205.99-5.99z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M4.06%204.842c0-.308.098-.62.296-.936.197-.316.486-.578.865-.785.38-.207.823-.31%201.33-.31.47%200%20.884.086%201.244.26.36.173.638.41.834.707.196.298.294.623.294.973%200%20.275-.056.517-.168.724-.11.208-.244.387-.398.538-.154.15-.43.404-.83.76-.11.1-.198.19-.265.266-.065.076-.114.146-.147.21-.032.062-.057.125-.075.19-.018.062-.045.173-.08.332-.062.337-.255.505-.58.505-.168%200-.31-.055-.425-.165-.115-.11-.172-.274-.172-.49%200-.273.043-.51.127-.71.084-.198.196-.373.336-.524.14-.15.327-.33.564-.537.207-.183.357-.32.45-.412.092-.093.17-.195.233-.31.063-.112.095-.236.095-.37%200-.258-.097-.477-.29-.655-.192-.178-.44-.268-.746-.268-.358%200-.62.09-.79.27-.167.18-.31.445-.427.795-.11.367-.32.55-.627.55-.182%200-.335-.064-.46-.192s-.187-.267-.187-.416zm2.372%205.33c-.197%200-.37-.064-.518-.192-.147-.128-.22-.307-.22-.537%200-.205.07-.376.213-.516s.318-.21.525-.21c.205%200%20.376.07.516.21.14.14.21.31.21.516%200%20.227-.074.405-.22.535-.146.13-.314.194-.506.194z%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}
