.crm-entity-product-list-wrapper {
	margin-bottom: 10px;
}

.symbol_ruble {
	font-family: 'rubleBitrix', var(--ui-font-family-primary, var(--ui-font-family-helvetica))
}

.crm-entity-product-set-item-container {
	padding-left: 66px;
}

.crm-entity-product-info-name {
	margin-bottom: 16px;
}

.crm-entity-product-inner-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.crm-entity-product-info-image-container {
	position: relative;
	max-width: 110px;
	width: 110px;
	height: 110px;
	border: 1px solid #e0e0e0;
}

.popup-window-content a.crm-entity-product-helper-link {
	color: #2fc6f6 !important;
	position: relative;
	text-decoration: none !important;
	display: inline-block;
}

.popup-window-content a.crm-entity-product-helper-link:before {
	content: "";
	position: absolute;
	bottom: -1px;
	width: 100%;
	height: 1px;
	background-color: #2fc6f6;
	opacity: 0.4;
	-webkit-transition: opacity 180ms linear;
	-o-transition: opacity 180ms linear;
	transition: opacity 180ms linear;
}

.popup-window-content a.crm-entity-product-helper-link:hover:before {
	opacity: 1;
}

.crm-entity-product-info-image {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100px;
	max-height: 100px;
	width: auto;
	height: auto;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.crm-entity-product-info-properties-container {
	padding-left: 26px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/*region scu*/
.crm-entity-product-properties-scu {
	margin-bottom: 20px;
}

.crm-entity-product-info-properties-container div:last-child {
	margin-bottom: 5px;
}

.crm-entity-product-properties-scu-title {
	margin-bottom: 5px;
	padding-left: 3px;
}

.crm-entity-product-properties-scu-title-text {
	color: #525c69;
	font: 10px/11px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-entity-product-properties-scu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.crm-entity-product-properties-scu-list-item {
	margin-right: 1px;
	margin-bottom: 1px;
	border: 1px solid transparent;
	border-radius: 3px;
	-webkit-transition: 250ms all linear;
	-o-transition: 250ms all linear;
	transition: 250ms all linear;
}

.crm-entity-product-properties-scu-list-item:hover,
.crm-entity-product-properties-scu-list-item.selected {
	border-color: #359fd0 !important;
	cursor: pointer;
}

.crm-entity-product-properties-scu-list-item-inner {
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 2px;
}

/*color*/
.crm-entity-product-properties-scu-color .crm-entity-product-properties-scu-list-item {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	padding: 3px;
	width: 24px;
	height: 24px;
}

.crm-entity-product-properties-scu-color .crm-entity-product-properties-scu-list-item-inner {
	-webkit-box-shadow: inset 0 0 0 1px rgba(151, 151, 151, .21);
	        box-shadow: inset 0 0 0 1px rgba(151, 151, 151, .21);
}

/*image*/
.crm-entity-product-properties-scu-image .crm-entity-product-properties-scu-list-item {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	padding: 3px;
	width: 24px;
	height: 24px;
}

.crm-entity-product-properties-scu-image .crm-entity-product-properties-scu-list-item-inner {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
	        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
}

/*text*/
.crm-entity-product-properties-scu-text .crm-entity-product-properties-scu-list-item {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	margin-right: 6px;
	margin-bottom: 4px;
	padding: 1px 5px;
	width: auto;
	height: 20px;
	border-color: #c1cfda;
	border-radius: 2px;
}

.crm-entity-product-properties-scu-text .crm-entity-product-properties-scu-list-item-inner {
	display: block;
	min-width: 20px;
	width: auto;
	height: 20px;
	color: #000;
	vertical-align: middle;
	text-align: center;
	font: bold 11px/20px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

/**/

/*endregion*/

/*region price*/
.crm-entity-product-info-price {
	position: relative;
}

.crm-entity-product-info-price-current {
	min-height: 39px;
	color: #333;
	white-space: nowrap;
	background: #fff;
	font: 400 14px/16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 1px solid #c6cdd3;
	border-radius: 3px;
	padding: 0 8px;
}

.crm-entity-product-control-amount-inner {
	border: 1px solid #c6cdd3;
	border-radius: 3px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: #fff;
	padding: 0 1px 0 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	height: 39px;
}

.crm-entity-product-control-amount-inner .crm-entity-product-control-amount-field {
	text-align: left;
	width: 50px;
	padding-left: 0;
	height: 37px;
	margin-right: 10px;
}

.crm-entity-product-control-amount-measure {
	color: #9b9b9b;
	margin-bottom: 2px;
}

.crm-entity-product-info-price-currency {
	width: 25px;
	color: #80868e;
	font-size: 13px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: none;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	border-bottom: 1px dashed #cbced1;
	-webkit-transition: border-color .2s linear;
	-o-transition: border-color .2s linear;
	transition: border-color .2s linear;
	margin: -1px 7px 0 0;
	line-height: 19px;
}

.crm-entity-product-info-price-old {
	position: absolute;
	top: 44px;
	color: #9b9b9b;
	text-decoration: line-through;
	white-space: nowrap;
	font: 13px/14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-entity-product-info-price-desc {
	color: rgba(83, 92, 105, .62);
	font: 11px/13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

/*endregion*/

/*region amount*/

.crm-entity-product-control-amount-field {
	position: relative;
	padding: 3px 8px 5px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 115px;
	height: 39px;
	border: none;
	border-radius: 3px;
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	text-align: right;
	color: #333;
}

.crm-entity-product-control-tax-sum-field {
	position: relative;
	padding: 12px 0;
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	text-align: right;
	color: #333;
}

/*endregion*/

/*region quantity field*/

.crm-entity-product-control-amount-desc {
	color: rgba(83, 92, 105, 0.62);
	font: 11px/16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-entity-product-control-arrows {
	width: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-left: auto;
	margin-right: 2px;
}

.crm-entity-product-control-arrow-top, .crm-entity-product-control-arrow-bottom {
	cursor: pointer;
	width: 20px;
	height: 17px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: .4;
	-webkit-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
	transition: opacity .2s linear;
}

.crm-entity-product-control-arrow-top {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%228%22%3E%3Cpath%20fill%3D%22%23535c68%22%20fill-rule%3D%22evenodd%22%20d%3D%22M1.758.427L6%204.669%2010.243.427l1.414%201.414L6%207.498.343%201.84%201.758.427z%22/%3E%3C/svg%3E);
}

.crm-entity-product-control-arrow-bottom {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%228%22%3E%3Cpath%20fill%3D%22%23535c68%22%20fill-rule%3D%22evenodd%22%20d%3D%22M1.758.427L6%204.669%2010.243.427l1.414%201.414L6%207.498.343%201.84%201.758.427z%22/%3E%3C/svg%3E);
}

.crm-entity-product-control-arrow-top:hover, .crm-entity-product-control-arrow-bottom:hover {
	opacity: .8;
}

/*endregion*/

/*region text field*/

.crm-entity-product-control-text-field {
	position: relative;
	margin-bottom: 2px;
	padding: 1px 10px;
	width: 300px;
	height: 39px;
	border: 1px solid #c6cdd3;
	border-radius: 3px;
	text-align: left;
	font: 15px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: #333;
}

/*endregion*/

/*region select field*/
.crm-entity-product-control-select {
}

.crm-entity-product-control-select-field {
	position: relative;
	margin-bottom: 2px;
	padding: 1px 5px 1px 8px;
	width: 115px;
	border: 1px solid #c6cdd3;
	text-align: left;
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #333;
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	height: 39px;
	border-radius: 2px;
	-moz-appearance: none;
	     appearance: none;
	-webkit-appearance: none;
	background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%228%22%3E%3Cpath%20fill%3D%22%23bbbfc4%22%20fill-rule%3D%22evenodd%22%20d%3D%22M1.758.427L6%204.669%2010.243.427l1.414%201.414L6%207.498.343%201.84%201.758.427z%22/%3E%3C/svg%3E) no-repeat right 13px center;
}

.crm-entity-product-control-select-field > option {
	padding: 3px 5px;
}

.crm-entity-product-control-select-field:focus,
.crm-entity-product-control-select-field:active {
	outline: none;
	border-color: #aeb2b7;
}

.crm-entity-product-control-checkbox {
	height: 39px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
/*endregion*/

/*region additional*/

.crm-entity-product-control-additional-nds {
	position: relative;
	display: inline-block;
	padding-right: 15px;
	white-space: nowrap;
	cursor: pointer;
}

.crm-entity-product-control-additional-nds span {
	border-bottom: 1px dashed;
	color: #196fba;
	font: 13px/18px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-entity-product-control-additional-nds:hover span {
	border-bottom-style: solid;
}

.crm-entity-product-control-additional-nds:after {
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	margin-top: -3px;
	border: 3px solid transparent;
	border-top-color: #a9adb4;
	content: '';
}

/*endregion*/

/*region discounts*/
.crm-entity-product-control-discounts {
	border-top: 1px solid #eef2f4;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.crm-entity-product-control-discounts-title {
	margin-bottom: 6px;
	color: #535c69;
	text-transform: uppercase;
	font: 11px/12px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.crm-entity-product-control-discounts-list {
	padding-top: 15px;
}

.crm-entity-product-control-discounts-list-item {
	margin-bottom: 10px;
	padding-top: 3px;
}

.crm-entity-product-control-discounts-list-item-label {
	position: relative;
	display: block;
	padding-bottom: 3px;
	padding-left: 25px;
}

.crm-entity-product-control-discounts-list-item-input {
	position: absolute;
	top: -1px;
	left: 0;
	display: block;
}

.crm-entity-product-control-discounts-list-item-label-text {
	display: inline-block;
	font-size: 14px;
}

.crm-entity-product-control-discounts-list-item-desc {
	padding-left: 25px;
	color: #76888a;
	font: 11px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-entity-product-control-discounts-list-add-item-btn {
	border-bottom: 1px dashed;
	color: rgba(83, 92, 105, 0.82);
	text-decoration: none;
	font: 12px/16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	-webkit-transition: 250ms linear all;
	-o-transition: 250ms linear all;
	transition: 250ms linear all;
}

.crm-entity-product-control-discounts-list-add-item-btn:hover {
	border-bottom: 1px solid;
	color: #333;
	text-decoration: none !important;
}

.crm-entity-product-control-discounts-list-add-item-container {
	position: relative;
	padding: 5px 13px 13px;
	max-width: 450px;
	border-radius: 3px;
	background-color: #f4f4f5;
}

.crm-entity-product-control-discounts-list-add-item-close {
	position: absolute;
	top: -3px;
	right: -3px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: rgba(130, 139, 149, 0.31);
	-webkit-transition: 220ms linear all;
	-o-transition: 220ms linear all;
	transition: 220ms linear all;
}

.crm-entity-product-control-discounts-list-add-item-close:hover {
	background-color: rgba(130, 139, 149, 1);
	cursor: pointer;
}

.crm-entity-product-control-discounts-list-add-item-close:after,
.crm-entity-product-control-discounts-list-add-item-close:before {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	background-color: #fff;
	content: '';
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	    -ms-transform: translate(-50%, -50%) rotate(45deg);
	        transform: translate(-50%, -50%) rotate(45deg);
}

.crm-entity-product-control-discounts-list-add-item-close:after {
	width: 2px;
	height: 9px;
}

.crm-entity-product-control-discounts-list-add-item-close:before {
	width: 9px;
	height: 2px;
}

.crm-entity-product-control-discounts-list-add-item-title {
	color: #76888a;
	font: 11px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-entity-product-control-discounts-list-add-item-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.crm-entity-product-control-discounts-list-add-item-field {
	margin-right: 6px;
	max-width: 100px;
	height: 32px;
	color: #000;
	text-align: right;
	font-size: 15px;
}

.crm-entity-product-control-discounts-list-add-item-type {
	margin-right: 26px;
	border-bottom: 1px dashed;
	color: #196fba;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	cursor: pointer;
}

.crm-entity-product-control-discounts-list-add-item-text {
	margin-right: 6px;
	color: #333;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

/*endregion*/

/*region total*/
.crm-entity-total-wrapper {
	padding: 20px;
	background-color: #fff;
	border-radius: var(--ui-border-radius-md);
}

.crm-entity-total-discounts {
	margin-bottom: 20px;
	padding-bottom: 7px;
	border-bottom: 1px solid #eef2f4;
}

/*endregion*/

.crm-entity-total-container-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
}

.crm-entity-total-container-column {

	-webkit-box-flex: 1;

	    -ms-flex: 1;

	        flex: 1;
}

.crm-entity-total-box {
	margin-top: 17px;
	padding: 24px 25px;
	border-radius: 5px;
	background-color: #f0f2f4;
}

.crm-entity-total-box-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 15px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.crm-entity-total-box .crm-entity-total-box-row:last-child {
	margin-bottom: 0;
}

.crm-entity-total-box-row-column {
	color: #333;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-entity-total-box-row .crm-entity-total-box-row-column:first-child {
	padding-right: 10px;
}

.crm-entity-total-box-row .crm-entity-total-box-row-column:last-child {
	padding-left: 10px;
	white-space: nowrap;
}

.crm-entity-total-box-row-final {
	margin: 17px -12px 0;
	padding: 14px 12px;
	border-radius: 5px;
	background-color: #e4e8eb;
}

.crm-entity-total-box-row-final .crm-entity-total-box-row-column {
	font-weight: bold;
}

/*region promotion*/
.crm-entity-product-control-promotion-title {
	margin-bottom: 6px;
	color: #535c69;
	text-transform: uppercase;
	font: 11px/12px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.crm-entity-promotional-code-box {
	padding-right: 10px;
}

.crm-entity-product-control-discounts-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.crm-entity-product-control-discounts-field-container {
	padding-right: 10px;
	max-width: 400px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.crm-entity-product-control-discounts-field {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	height: 39px;
}

.crm-entity-product-control-discounts-field-description {
	padding-top: 10px;
	color: #76888a;
	font: 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-entity-product-refresh-stub {
	position: fixed;
	z-index: 1;
	opacity: 1;
	-webkit-transition: 100ms all ease-out;
	-o-transition: 100ms all ease-out;
	transition: 100ms all ease-out;
}

.crm-entity-product-container .crm-entity-product-list-wrapper .main-grid-editor-text,
.crm-entity-product-container .crm-entity-product-list-wrapper .main-grid-editor-textarea,
.crm-entity-product-list-wrapper .crm-entity-product-list-wrapper .main-grid-editor-text,
.crm-entity-product-list-wrapper .crm-entity-product-list-wrapper .main-grid-editor-textarea {
	margin-left: 0;
	height: 39px;
}

.crm-entity-product-list-wrapper .main-grid-editor-money-price {
	height: 37px;
	padding: 0px;
	margin-right: 8px;
}

.crm-entity-product-list-wrapper .ui-ctl-element[disabled] .main-grid-editor-money-price {
	background: #f4f4f4;
	cursor: not-allowed;
}

.crm-entity-product-list-wrapper .ui-ctl-element[disabled] .ui-hint-icon {
	cursor: pointer;
}

.crm-entity-product-list-wrapper .main-grid-editor-money-currency[data-disabled] .main-dropdown-inner{
	border-bottom: none;
}

.crm-entity-product-list-wrapper .catalog-product-field-inner {
	width: calc(100% - 80px);
}

/*endregion*/

.crm-entity-product-list-add-block {
	background: #fff;
	margin-bottom: 4px;
	height: 57px;
	padding: 0 9px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-radius: var(--ui-border-radius-md);
}

.crm-entity-product-list-add-block .ui-btn + .ui-btn {
	margin-left: 6px;
}

.crm-entity-product-list-add-block-bottom {
	margin-top: 4px;
}

.crm-entity-product-list-add-block-top.crm-entity-product-list-add-block-active ~ .crm-entity-total-wrapper {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.crm-entity-product-list-add-block-top.crm-entity-product-list-add-block-active ~ .main-grid {
	--main-grid-bottom-border-radius: 0;
}

.crm-entity-product-list-add-block-hidden {
	display: none;
}
.crm-entity-product-list-add-block-hidden + .main-grid .main-grid-more {
	border-top: none;
}

.main-grid-row-checked .main-grid-cell, .main-grid-row-checked .main-grid-cell {
	background-color: #FFFEFC !important;
}

.main-grid-editor.main-grid-editor-money:hover,
select.crm-entity-product-control-select-field:hover {
	border-color: var(--ui-field-color-primary);
}

.crm-entity-product-list-wrapper .main-grid-row-edit .main-grid-cell-action .main-grid-cell-content {
	padding-top: 9px;
}

.crm-entity-product-list-wrapper .main-grid-cell-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.crm-entity-product-list-wrapper .main-grid-row-edit .main-grid-cell-content {
	display: block;
}

.main-grid-delete-button:hover { opacity: .7; }

.main-grid-cell-drag {
	padding-top: 6px !important;
}

.main-grid-cell-head[data-name="MAIN_INFO"] .main-grid-head-title {
	padding-left: 46px;
}

.main-grid-cell-right.main-grid-cell-head[data-name="STORE_AVAILABLE"] .main-grid-head-title,
.main-grid-cell-right.main-grid-cell-head[data-name="ROW_RESERVED"] .main-grid-head-title,
.main-grid-cell-right.main-grid-cell-head[data-name="DEDUCTED_INFO"] .main-grid-head-title {
	padding-right: 0;
}

.main-grid-cell-head[data-name="MAIN_INFO"] {
	min-width: 420px !important;
}

.main-grid-cell-head[data-name="STORE_INFO"] {
	min-width: 300px !important;
}

.main-grid-cell-head[data-name="RESERVE_INFO"] {
	min-width: 140px !important;
}

.main-grid-cell-head[data-name="STORE_AVAILABLE"],
.main-grid-cell-head[data-name="STORE_AVAILABLE"] .main-grid-cell-inner {
	min-width: 180px !important;
}

.main-grid-cell-head[data-name="RESERVE_SHOWED"] {
	min-width: 140px !important;
}

.main-grid-cell-head[data-name="ROW_RESERVED"],
.main-grid-cell-head[data-name="ROW_RESERVED"] .main-grid-cell-inner {
	min-width: 220px !important;
}

.catalog-product-edit {
	width: 100%;
	max-width: 800px;
}

.main-grid-row-number {
	vertical-align: top;
	padding-top: 12px;
	padding-right: 10px;
	width: 20px;
	text-align: right;
}

.main-grid-editor.main-grid-editor-custom[data-name="MAIN_INFO"] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main-grid-editor.main-grid-editor-custom[data-name="RESERVE_INFO"] {
	text-align: right;
}

.ui-ctl-element.ui-ctl-textbox[data-name="INPUT_RESERVE_QUANTITY"] {
	text-align: right;
}

.crm-entity-product-list-locked-header {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjEyIj48cGF0aCBmaWxsPSIjMjhCQUU5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03Ljk1MiA1SDl2N0gwVjVoMS4wNTJWMy40MTJhMy40NTIgMy40NTIgMCAwMTYuOSAwVjV6bS0uOTU2IDBsLjAxMi0xLjU4OEEyLjcgMi43IDAgMDA0LjUuOTNhMi43IDIuNyAwIDAwLTIuNTA4IDIuNDgyTDIuMDA1IDVoNC45OTF6TTUuMDIgOC44Nzl2MS4yODdIMy45ODFWOC44NzlhLjgxLjgxIDAgMDEtLjMwNi0uNjM0LjgyNS44MjUgMCAxMTEuNjUgMCAuODEuODEgMCAwMS0uMzA2LjYzNHoiLz48L3N2Zz4=) no-repeat center left;
	cursor: pointer;
	padding-left: 13px;
	padding-top: 5px;
}

.main-grid-cell-head-locked {
	cursor: pointer;
}

.main-grid-cell-head-locked:hover {
	background-color: #f6f8f9;
}

.crm-entity-product-list-locked-field {
	cursor: pointer !important;
}

.crm-entity-product-list-reserve-date, .crm-entity-product-list-reserve-date:hover {
	cursor: pointer;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}

.crm-entity-product-list-wrapper .main-grid-editor-text:focus::-moz-placeholder { color: transparent; }
.crm-entity-product-list-wrapper .main-grid-editor-text:focus:-ms-input-placeholder { color: transparent; }
.crm-entity-product-list-wrapper .main-grid-editor-text:focus::-webkit-input-placeholder { color: transparent; }
.crm-entity-product-list-wrapper .main-grid-editor-text:focus:-moz-placeholder { color: transparent; }

.crm-entity-product-list-disabled-setting {
	color: #7e7e7e;
}

.crm-entity-product-list-setting-hint {
	display: inline;
	margin-left: 5px;
}

.crm-entity-product-list-setting-hint .ui-hint-icon {
	margin-top: 0;
}

.crm-entity-product-list-setting-hint.ui-hint {
	line-height: unset;
	vertical-align: middle;
}

.crm-product-list-payment-side-table {
	width: 50%;
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525c69;
}

.crm-product-list-payment-side-table-row {
    text-align: right;
}

.crm-product-list-payment-side-table td.crm-product-list-payment-side-table-td-border {
	padding-bottom: 18px;
	position: relative;
}

.crm-product-list-payment-side-table td {
	padding-bottom: 8px;
}

.crm-product-list-payment-side-table-td-border:last-child:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 200%;
	height: 1px;
	background: #f0f3f5;
}

.crm-product-list-result-grid-item-currency-symbol {
	color: rgba(82,92,105,.5);
}

.crm-product-list-result-grid-total-big .crm-product-list-result-grid-item-currency-symbol {
	color: rgba(82,92,105,.5);
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.crm-product-list-page-content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}

.crm-product-list-result-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.crm-product-list-result-grid-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	font: 15px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525c69;
	margin-bottom: 5px;
}

.crm-product-list-result-grid-item--flex-100 {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	text-align: right;
	max-width: calc(100% - 160px);
}

.crm-product-list-result-grid-benefit {
	color: #6e881a;
}

.crm-product-list-result-grid-benefit .crm-product-list-result-grid-item {
	padding-bottom: 14px;
	margin-bottom: 7px;
	border-bottom: 1px solid #f0f3f5;
}

.crm-product-list-result-grid-total {
	color: #525c69;
}

.crm-product-list-result-grid-total-big {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	font-size: 21px;
	color: #525c69;
	padding-top: 10px;
}

.crm-product-list-result-grid-total-big .crm-product-list-result-grid-item-currency {
	-ms-flex-preferred-size: 95px;
	    flex-basis: 95px;
	text-align: right;
	white-space: nowrap;
	padding-left: 5px
}


.store-available-popup-container
{
	padding: 20px;
}
.store-available-popup-link,
.store-available-popup-reserves-slider-link
{
	border-bottom: 1px dashed #2067b0;
	cursor: pointer;
	text-decoration: none !important;
}
