/* >=== crm.product_row.list - products list ===> */
.crm-items-list-wrap {
	border-radius: 2px;
	/*min-width: 990px;*/
	/*background-color: #ffffff;*/
}

.crm-items-table-bar-l {
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.crm-items-table-bar-r {
	display: inline-block;
	vertical-align: bottom;
	float: right;
}

.crm-items-table-bar-l-wtax {
	display: inline-block;
	vertical-align: top;
	width: 60%;
}

.crm-items-table-tab {
	height: 56px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	width: 17%;
}

.crm-items-table-tab-inner {
	border-radius: 2px 2px 0 0;
	display: block;
	height: 40px;
	padding: 16px 0 0 12px;
	width: 75%;
}

.crm-items-table-tab-spacer {
	display: inline-block;
	vertical-align: top;
	height: 56px;
	width: 0.5%;
}

div.crm-items-list-sale .crm-items-table-sale .crm-items-table-tab-inner,
.crm-items-list-tax .crm-items-table-tax .crm-items-table-tab-inner,
.crm-view-table-total-inner {
	display: inline-block;
	background-color: #deebf1;
	position: relative;
	text-align: justify;
}
.crm-view-table-total .crm-view-table-total-inner {
	background-color: #deebf1;
}
table.bx-edit-table table.bx-edit-table .crm-view-table-total-inner td,
body table.bx-edit-table .crm-view-table-total-inner td,
body div.bx-interface-form .crm-view-table-total-inner td {
	font: 12px/26px Arial,sans-serif;
	padding: 0;
	color: #000;
}

.crm-items-checkbox {
	margin:1px 10px 0 0;
	float: left;
}

.crm-items-label {
	display: block;
	font-size: 12px;
	overflow: hidden;
}

table.crm-items-table {
	border: none;
	border-bottom: 1px solid #d8e4e9;
	border-spacing: 0;
	min-width: 990px;
	table-layout: fixed;
	width: 100%;
}


td.crm-item-cell,
.crm-offer-info-table .crm-items-list-wrap td.crm-item-cell {
	color: #000;
	font-size: 12px;
	height: 29px;
	overflow: hidden;
	padding: 6px 0 !important;
	text-align: center;
	vertical-align: middle;
}

.crm-items-list-anim .crm-item-cell {
	-webkit-transition: width 0.3s ease-out;
	-moz-transition: width 0.3s ease-out;
	-ms-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;
}

table.crm-items-table td.crm-item-tax-included,
table.crm-items-table td.crm-item-tax-sum {
	text-align: center;
}

table.crm-items-table tr.crm-items-table-odd-row td,
table.crm-items-table tr.crm-items-table-odd-row td,
.crm-offer-info-table .crm-items-list-wrap table.crm-items-table tr.crm-items-table-odd-row td,
.crm-offer-info-table .crm-items-list-wrap table.crm-items-table tr.crm-items-table-odd-row td {
	background-color: #f5f6f8;
}

table.crm-items-table tr.crm-items-table-even-row td,
table.crm-items-table tr.crm-items-table-even-row td,
.crm-offer-info-table .crm-items-list-wrap table.crm-items-table tr.crm-items-table-even-row td,
.crm-offer-info-table .crm-items-list-wrap table.crm-items-table tr.crm-items-table-even-row td {
	background-color: #fff;
}


table.crm-items-table tr td.crm-item-sale,
table.crm-items-table tr td.crm-item-sum-sale,
table.crm-items-table tr td.crm-item-tax,
table.crm-items-table tr td.crm-item-tax-included,
table.crm-items-table tr td.crm-item-tax-sum,
.crm-offer-info-table .crm-items-list-wrap table.crm-items-table tr td.crm-item-sale,
.crm-offer-info-table .crm-items-list-wrap table.crm-items-table tr td.crm-item-sum-sale,
.crm-offer-info-table .crm-items-list-wrap table.crm-items-table tr td.crm-item-tax,
.crm-offer-info-table .crm-items-list-wrap table.crm-items-table tr td.crm-item-tax-included,
.crm-offer-info-table .crm-items-list-wrap table.crm-items-table tr td.crm-item-tax-sum {
	background-color: #deebf1;
}

.crm-items-table-header .crm-item-cell {
	background-image: -webkit-linear-gradient(top, #d5eef7, #b3e0f0);
	background-image:    -moz-linear-gradient(top, #d5eef7, #b3e0f0);
	background-image:     -ms-linear-gradient(top, #d5eef7, #b3e0f0);
	background-image:      -o-linear-gradient(top, #d5eef7, #b3e0f0);
	background-image:         linear-gradient(to bottom, #d5eef7, #b3e0f0);
	color: #000;
	height: 30px;
	text-align: center;
}

.crm-items-table-header .crm-item-cell:first-child {
	border-radius: 2px 0 0 0;
	text-align: left;
}
.crm-items-table-header .crm-item-cell:last-child {
	border-radius: 0 2px 0 0;
}

.crm-item-cell-text {
	display: block;
	overflow: hidden;
	padding:0 7.5%;
	text-align: right;
	text-overflow: ellipsis;
}

.crm-items-table-header .crm-item-cell-text {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.crm-item-name .crm-item-cell-text {
	padding-left: 0;
	position: relative;
	text-align: left;
}

.crm-item-tax-included .crm-item-cell-text {
	text-align: center;
}

.crm-items-table-header .crm-item-cell:first-child .crm-item-cell-text {
	text-align: left;
	padding-left: 48px;
}

.crm-items-table-header .crm-item-name,
.crm-items-table-header .crm-item-tax,
.crm-items-table-header .crm-item-unit {
	text-align: left;
}

.crm-items-table-header .crm-item-qua,
.crm-items-table-header .crm-item-price,
.crm-items-table-header .crm-item-sale,
.crm-items-table-header .crm-item-tax-sum,
.crm-items-table-header .crm-item-total,
.crm-items-table-header .crm-item-sum-sale {
	text-align: right;
}

.crm-items-table-header .crm-item-tax-included {
	text-align: center;
}


.crm-item-cell-view {
	display: block;
	overflow: hidden;
	padding:0 5%;
	text-align: right;
	text-overflow: ellipsis;
}

.crm-items-table-header .crm-item-cell-view {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.crm-item-name .crm-item-cell-view {
	padding-left: 0;
	position: relative;
	text-align: left;
}

.crm-item-tax-included .crm-item-cell-view {
	text-align: center;
}

.crm-item-tax-included .crm-item-table-txt {
	padding-right: 0;
	text-align: center;
}

.crm-items-table-header .crm-item-cell:first-child .crm-item-cell-view {
	text-align: left;
	padding-left: 25px;
}


.crm-table-name-left {
	display: block;
	min-width: 46px;
	float: left;
}

.crm-item-del {
	background: url('/bitrix/js/crm/images/crm-control-panel-sprite-21.png') no-repeat center -2872px;
	cursor: pointer;
	display: inline-block;
	height: 21px;
	/*margin-right: 8px;*/
	vertical-align: middle;
	opacity: 0.5;
	width: 31px;
	float: right;
}

.crm-item-del:hover {
	opacity: 1;
}

.crm-item-num {
	color: #000;
	display: inline-block;
	font-size: 12px;
	padding-right: 8px;
	vertical-align: middle;
}

.crm-item-inp-wrap {
	background: #fff;
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	display: block;
	height: 21px;

	/*padding: 3px 35px 3px 5px;*/    /* HIDE PLUS BUTTON */
	padding: 3px 3px 3px 5px;         /* HIDE PLUS BUTTON */

	position: relative;
	vertical-align: middle;
	overflow: hidden;
}

.crm-item-txt-wrap {
	display: block;
	overflow: hidden;
	padding: 3px 0 3px 7px;
	position: relative;
}

body table.bx-edit-table td.bx-field-value input.crm-item-name-inp[type="text"],
.crm-item-name-inp {
	border: none;
	background: #fff;
	-moz-border-radius:0;-webkit-border-radius:0;-khtml-border-radius:0;border-radius:0;
	-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow:none;
	color: #000 !important;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica)) !important;
	font-size: 12px !important;
	height: 21px;
	outline: none;
	padding: 0;
	width: 100%;
}

.crm-item-name-txt {
	border: none;
	color: #000;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	font-size: 12px;
	margin-top: 3px;
	outline: none;
	padding: 0;
	width: 100%;
	word-wrap: break-word;
}

.crm-item-inp-btn {
	display: none;
	cursor: pointer;
	height: 27px;
	right: 0;
	top: 0;
	position: absolute;
	width: 31px;
}

.crm-item-inp-btn:before {
	background-color: #e5e5e5;
	display: block;
	content: '';
	height: 18px;
	margin-top: 5px;
	width: 1px;
}

.crm-item-inp-arrow {
	display: block;
	background: url('/bitrix/js/crm/images/crm-control-panel-sprite-21.png') no-repeat center -2937px;
}

.crm-item-inp-plus {
	display: block;
	background: url('/bitrix/js/crm/images/crm-control-panel-sprite-21.png') no-repeat center -2906px;
}

.crm-item-name {
	text-align: left;
	width: 29%;
}
.crm-item-price,
.crm-item-qua,
.crm-item-unit {width: 16%;}
.crm-item-sale {width: 0;}
.crm-item-sum-sale {width: 0;}
.crm-item-spacer {width: 0.5%;}
.crm-item-tax {width: 0;}
.crm-item-tax-included {width: 0;}
.crm-item-tax-sum {width: 0;}
.crm-item-total {
	text-align: right !important;
	width: 19%;
}
.crm-item-move {
	text-align: right;
	width: 3%;
}


div.crm-items-list-sale .crm-item-name {width: 24%;}

div.crm-items-list-sale .crm-item-price,
div.crm-items-list-sale .crm-item-qua,
div.crm-items-list-sale .crm-item-unit {width: 8%;}

div.crm-items-list-sale .crm-items-table-header .crm-item-sale,
div.crm-items-list-sale .crm-items-table-header .crm-item-sum-sale,
.crm-items-list-tax .crm-items-table-header .crm-item-tax,
.crm-items-list-tax .crm-items-table-header .crm-item-tax-included,
.crm-items-list-tax .crm-items-table-header .crm-item-tax-sum {
	background-image: -webkit-linear-gradient(top, #bfdfea, #a3d4e6);
	background-image:    -moz-linear-gradient(top, #bfdfea, #a3d4e6);
	background-image:     -ms-linear-gradient(top, #bfdfea, #a3d4e6);
	background-image:      -o-linear-gradient(top, #bfdfea, #a3d4e6);
	background-image:         linear-gradient(to bottom, #bfdfea, #a3d4e6);
}


body table.bx-edit-table td.bx-field-value input.crm-item-table-inp[type="text"],
.crm-item-table-inp {
	background-color: #fff;
	border: 1px solid;
	border-color: #b9bcbe #bcc0c2 #c1c5c8;
	border-radius: 2px;
	-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #000 !important;
	margin-left: -2px;
	font-size: 12px !important;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica)) !important;
	outline: none;
	padding: 0 5px;
	text-align: right;
	height: 29px;
	width: 100%;
}

.crm-item-table-txt {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #000;
	display: inline-block;
	font-size: 12px;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	outline: none;
	padding: 5px 7px 0 0;
	text-align: right;
	height: 27px;
	width: 100%;
}

.crm-item-table-txtl {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #000;
	font-size: 12px;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	outline: none;
	padding: 5px 0 0 5px;
	text-align: left;
	height: 27px;
	width: 100%;
}

body table.bx-edit-table td.bx-field-value select.crm-item-table-select,
.crm-item-table-select {
	background-color: #fff;
	border: 1px solid;
	border-color: #b9bcbe #bcc0c2 #c1c5c8;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #000;
	margin-left: -2px;
	font-size: 12px !important;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica)) !important;
	text-align: left;
	outline: none;
	padding: 5px 3px 5px 0;
	height: 29px;
	width: 100%;
}

.crm-item-sale-text-wrap {
	display: inline-block;
	/*height: 29px;*/
	margin: 6px 0 0 3%;
	vertical-align: top;
	width: 25%;
}

.crm-item-sale-text {
	border-bottom: 1px dashed #1f67b0;
	color: #1f67b0;
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
}

.crm-item-sale-text:hover {
	text-decoration: none;
}

span.crm-item-sale-text {
	border: none;
	color: #000;
}

body table.bx-edit-table td.bx-field-value .crm-item-sale input.crm-item-table-inp[type="text"],
.crm-item-sale .crm-item-table-inp {
	width: 72%;
}

.crm-item-sale .crm-item-table-txt {
	width: 72%;
	margin-left: -2px;
}

.crm-item-sale .crm-item-cell-text {
	height: 29px;
	text-align: left;
	padding-left: 7.5%;
	white-space: nowrap;
}

.crm-item-tax .crm-item-cell-text {
	padding-left: 7.5%;
}

.crm-item-sum-sale .crm-item-cell-text {
	padding-right: 7.5%;
}
.crm-items-table-header .crm-item-sum-sale .crm-item-cell-text,
.crm-items-table-header .crm-item-tax .crm-item-cell-text {
	padding:0 7.5%;
}



.crm-items-table-header .crm-item-sale .crm-item-cell-text {
	height: auto;
	padding: 0 33% 0 7.5%;
}

.crm-item-sale .crm-item-cell-view {
	/*height: 29px;*/
	text-align: left;
	padding-left: 7.5%;
	white-space: nowrap;
}

.crm-item-tax .crm-item-cell-view {
	padding-left: 7.5%;
}

.crm-item-sum-sale .crm-item-cell-view {
	padding-right: 7.5%;
}
.crm-items-table-header .crm-item-sum-sale .crm-item-cell-view,
.crm-items-table-header .crm-item-tax .crm-item-cell-view {
	padding:0 5%;
}

.crm-items-add-row-wrap {
	height: 30px;
}

.crm-items-add-row, .crm-items-add-row:hover {
	border-bottom:1px dashed #2067b0;
	color:#2067b0 !important;
	display:inline-block;
	font-weight:bold;
	text-decoration:none;
	vertical-align:top;
	margin: 4px;
}



.crm-items-table-header .crm-item-sale .crm-item-cell-view {
	height: auto;
	padding: 0 33% 0 5%;
}

.crm-item-move-btn {
	background: url('/bitrix/js/crm/images/crm-control-panel-sprite-21.png') no-repeat center -2962px;
	cursor: n-resize;
	display: inline-block;
	height: 27px;
	margin:0 7px 0 7px;
	opacity: 0.5;
	vertical-align: middle;
	width: 12px;
}

.crm-item-move-btn.view-mode {
	background: none;
	cursor: auto;
}

.crm-item-move-btn:hover {
	opacity: 1;
}
/* <=== crm.product_row.list - products list ===< */

div.bx-crm-view-fieldset-content-tiny table.bx-crm-view-fieldset-content-table .webform-small-button,
div.bx-crm-view-fieldset-content table.bx-crm-view-fieldset-content-table .webform-small-button {
	color: inherit !important;
	float: inherit !important;
	margin: 0 12px 0 3px !important;
}

div.bx-crm-view-fieldset-content table.bx-crm-view-fieldset-content-table .webform-small-button { margin: 0 12px 0 3px; }
table.bx-crm-view-fieldset-content-table .crm-items-table-bar-r .webform-small-button { margin: 0 3px 0 12px; }

body div.bx-interface-form .crm-item-table-txt,
body div.bx-interface-form .crm-item-table-txtl {
	font: 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-view-table-total {
	height: auto;
	text-align: right;
}

.crm-view-table-total-value td .crm-view-table-total-value
{
	padding: 0 0 0 10px;
}
tr.crm-view-table-total-value td:nth-child(2)
{
	text-align: right;
}

body table.title-search-result td.title-search-item
{
	font-size: 12px;
	cursor: pointer;
	padding: 3px 3px 3px 5px;
	text-overflow: ellipsis;
}

select.bx-crm-dialog-quick-create-field-select[multiple="multiple"] {height: auto;}
div.popup-window-content div.bx-crm-dialog-quick-create-field-custom div.mli-layout div.mli-search-results {
	z-index: 950;
}

.crm-items-table-draggable-item {
	left: 0;
	position: absolute;
	/*width: 100%;*/
}

.crm-items-table-drag-inner {
	/*padding-left: 33px;*/
}

.bx-crm-dialog-resize { width: 16px; height: 15px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAIAAABiEdh4AAAABnRSTlMA/wD/AP83WBt9AAAAS0lEQVQokcXSSwoAIAhF0Wz/e9KdvWYF/lIIcij3gAMJwOjMbNV3ICJ6hXiY2S5D4NYh2LVlDkhqB+S1BrbOTqrUBxRrAITPr/EALFz/ehZQsB5+AAAAAElFTkSuQmCC) no-repeat scroll -70px -948px transparent;
	display: inline-block;
	position: absolute;
	right: 0;
	cursor: nwse-resize;
	margin-top: -14px;
}