.crm-product-list-payment-side-table {
	width: 50%;
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525c69;
}

.crm-product-list-payment-side-table-row {
    text-align: right;
}

.crm-product-list-payment-side-table td.crm-product-list-payment-side-table-td-border {
	padding-bottom: 18px;
	position: relative;
}

.crm-product-list-payment-side-table td {
	padding-bottom: 8px;
}

.crm-product-list-payment-side-table-td-border:last-child:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 200%;
	height: 1px;
	background: #f0f3f5;
}

.crm-product-list-result-grid-item-currency-symbol {
	color: rgba(82,92,105,.5);
}

.crm-product-list-result-grid-total-big .crm-product-list-result-grid-item-currency-symbol {
	color: rgba(82,92,105,.5);
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.crm-product-list-page-content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
}

.crm-product-list-result-container {
	display: flex;
	justify-content: flex-end;
}

.crm-product-list-result-grid-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: flex-end;
	font: 15px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525c69;
	margin-bottom: 5px;
}

.crm-product-list-result-grid-item--flex-100 {
	flex: 1;
	text-align: right;
	max-width: calc(100% - 160px);
}

.crm-product-list-result-grid-benefit {
	color: #6e881a;
}

.crm-product-list-result-grid-benefit .crm-product-list-result-grid-item {
	padding-bottom: 14px;
	margin-bottom: 7px;
	border-bottom: 1px solid #f0f3f5;
}

.crm-product-list-result-grid-total {
	color: #525c69;
}

.crm-product-list-result-grid-total-big {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	font-size: 21px;
	color: #525c69;
	padding-top: 10px;
}

.crm-product-list-result-grid-total-big .crm-product-list-result-grid-item-currency {
	flex-basis: 95px;
	text-align: right;
	white-space: nowrap;
	padding-left: 5px
}

