.crm-analytics-source-block {
	background: #fff;
	padding: 23px 22px 29px;
	border-radius: var(--ui-border-radius-md);
}

.crm-analytics-source-header {
	font: 22px/28px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	color: #333;
	margin: 27px 0 15px;
}

.crm-analytics-source-block + .crm-analytics-source-block {
	margin-top: 27px;
}

.crm-analytics-source-block .crm-analytics-source-header {
	margin-top: 0;
}

.crm-analytics-source-desc-text {
	font-size: 14px;
	line-height: 20px;
	color: #525c69;
}

.crm-analytics-source-block-desc {
	display: flex;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.crm-analytics-source-icon {
	display: block;
	border-radius: 50%;
	border: 1px solid #ececec;
	width: 95px;
	height: 95px;
	margin-right: 24px;
	flex-shrink: 0;
}

.bx-ie .crm-analytics-source-icon.ui-icon {
	width: 95px;
}

.crm-analytics-source-empty-text {
	color: #333;
	opacity: .4;
	font: 22px/28px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
}

.crm-analytics-source-empty-img {
	width: 109px;
	height: 100px;
	margin-bottom: 29px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22109%22%20height%3D%2299%22%20viewBox%3D%220%200%20109%2099%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M107.977%200H1.023C.512%200%200%20.538%200%201.076v96.848C0%2098.462.512%2099%201.023%2099h106.954c.511%200%201.023-.538%201.023-1.076V1.076C109%20.538%20108.488%200%20107.977%200zM93%209.688C93%208.562%2093.5%208%2094.5%208h5c1%200%201.5.563%201.5%201.688v5.624c0%201.126-.5%201.688-1.5%201.688h-5c-1%200-1.5-.563-1.5-1.688V9.689zm-14%200C79%208.562%2079.5%208%2080.5%208h5c1%200%201.5.563%201.5%201.688v5.624C87%2016.439%2086.5%2017%2085.5%2017h-5c-1%200-1.5-.563-1.5-1.688V9.689zm-70%200C9%208.562%209.514%208%2010.542%208h51.916C63.486%208%2064%208.563%2064%209.688v5.624C64%2016.439%2063.486%2017%2062.458%2017H10.542C9.514%2017%209%2016.437%209%2015.312V9.689zM101.468%2093H7.532C6.51%2093%206%2092.459%206%2091.377V28.623C6%2027.541%206.51%2027%207.532%2027h93.936c1.021%200%201.532.541%201.532%201.623v62.754c0%201.082-.511%201.623-1.532%201.623z%22%20fill%3D%22%23EDEEF0%22/%3E%0A%3C/svg%3E%0A)
				no-repeat center;
}

.crm-analytics-source-empty {
	height: 265px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.crm-analytics-source-settings-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 7px 0;
}

.crm-analytics-source-settings-block + .crm-analytics-source-settings-block {
	border-top: 1px solid #eeeff0;
}

.crm-analytics-source-settings-name-block {
	display: flex;
	flex-direction: column;
}

.crm-analytics-source-settings-name {
	color: #333;
	font-size: 15px;
	line-height: 21px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 350px;
}

.crm-analytics-source-settings-detail {
	color: #a8adb4;
	font-size: 13px;
	line-height: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 300px;
}

.crm-analytics-source-settings-control-btn {
	margin-right: 32px;
}

.crm-analytics-source-subject {
	padding-bottom: 19px;
	border-bottom: 1px solid #eeeff0;
}

.crm-analytics-source-subject-text {
	font: 16px/22px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #333;
}

.crm-analytics-source-settings-control {
	display: flex;
	align-items: center;
}