.crm-ads-conversion-block {
	background: #fff;
}

.crm-ads-conversion-header {
	font: 22px/28px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	color: #333;
	margin: 27px 0 15px;
}

.crm-ads-conversion-block + .crm-ads-conversion-block {
	margin-top: 27px;
}

.crm-ads-conversion-block .crm-ads-conversion-header {
	margin-top: 0;
}

.crm-ads-conversion-desc-text {
	font-size: 14px;
	line-height: 20px;
	color: #525c69;
}

.crm-ads-conversion-block-desc {
	display: flex;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.crm-ads-conversion-icon {
	display: block;
	border-radius: 50%;
	border: 1px solid #ececec;
	width: 95px;
	height: 95px;
	margin-right: 24px;
	flex-shrink: 0;
}

.bx-ie .crm-ads-conversion-icon.ui-icon {
	width: 95px;
}

.crm-ads-conversion-empty-text {
	color: #333;
	opacity: .4;
	font: 22px/28px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
}

.crm-ads-conversion-empty-img {
	width: 109px;
	height: 100px;
	margin-bottom: 29px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%22109%22%20height%3D%2299%22%20viewBox%3D%220%200%20109%2099%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M107.977%200H1.023C.512%200%200%20.538%200%201.076v96.848C0%2098.462.512%2099%201.023%2099h106.954c.511%200%201.023-.538%201.023-1.076V1.076C109%20.538%20108.488%200%20107.977%200zM93%209.688C93%208.562%2093.5%208%2094.5%208h5c1%200%201.5.563%201.5%201.688v5.624c0%201.126-.5%201.688-1.5%201.688h-5c-1%200-1.5-.563-1.5-1.688V9.689zm-14%200C79%208.562%2079.5%208%2080.5%208h5c1%200%201.5.563%201.5%201.688v5.624C87%2016.439%2086.5%2017%2085.5%2017h-5c-1%200-1.5-.563-1.5-1.688V9.689zm-70%200C9%208.562%209.514%208%2010.542%208h51.916C63.486%208%2064%208.563%2064%209.688v5.624C64%2016.439%2063.486%2017%2062.458%2017H10.542C9.514%2017%209%2016.437%209%2015.312V9.689zM101.468%2093H7.532C6.51%2093%206%2092.459%206%2091.377V28.623C6%2027.541%206.51%2027%207.532%2027h93.936c1.021%200%201.532.541%201.532%201.623v62.754c0%201.082-.511%201.623-1.532%201.623z%22%20fill%3D%22%23EDEEF0%22/%3E%0A%3C/svg%3E%0A)
	no-repeat center;
}

.crm-ads-conversion-empty {
	height: 265px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.crm-ads-conversion-settings-block {
	display: flex;

	align-items: center;
	justify-content: space-between;
	padding: 23px 0;
}

.crm-ads-conversion-settings-block + .crm-ads-conversion-settings-block {
	border-top: 1px solid #eeeff0;
}

.ui-slider-heading-3 + .crm-ads-conversion-settings-block {
	border-top: 1px solid #eeeff0;
}

.crm-ads-conversion-settings-name-block {
	display: flex;
	flex-direction: column;
}

.crm-ads-conversion-settings-name {
	color: #333;
	font-size: 15px;
	line-height: 21px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 350px;
}

.crm-ads-conversion-settings-detail {
	color: #a8adb4;
	font-size: 13px;
	line-height: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 300px;
}

.crm-ads-conversion-subject {
	padding-bottom: 19px;
	border-bottom: 1px solid #eeeff0;
}

.crm-ads-conversion-subject-text {
	font: 16px/22px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #333;
}

.crm-ads-conversion-settings-control {
	display: flex;
	align-items: center;
}

.crm-ads-conversion-social-avatar {
	float: left;
	height: 33px;
	padding: 18px 10px 18px 25px;
	position: relative;
}


.crm-ads-conversion-social-avatar-icon {
	display: block;
	overflow: hidden;
	width: 41px;
	height: 41px;
	margin: -4px 0;
	background: #ccc;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Ccircle%20cx%3D%2220%22%20cy%3D%2220%22%20r%3D%2220%22%20fill%3D%22%23525C68%22/%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M30.4364902%2C31.4100231%20C30.4364902%2C29.9871769%2028.8398242%2C23.9680557%2028.8398242%2C23.9680557%20C28.8398242%2C23.0883414%2027.6898708%2C22.083459%2025.4253473%2C21.4978674%20C24.6581347%2C21.2838747%2023.9288072%2C20.9520366%2023.2634349%2C20.514215%20C23.1179216%2C20.4310645%2023.1400361%2C19.6628072%2023.1400361%2C19.6628072%20L22.4107003%2C19.5517925%20C22.4107003%2C19.4894296%2022.3483374%2C18.5681401%2022.3483374%2C18.5681401%20C23.2209751%2C18.274902%2023.1311903%2C16.5451067%2023.1311903%2C16.5451067%20C23.6853794%2C16.8524981%2024.0462878%2C15.4836113%2024.0462878%2C15.4836113%20C24.7017612%2C13.5817654%2023.719878%2C13.6967607%2023.719878%2C13.6967607%20C23.8916546%2C12.5357299%2023.8916546%2C11.3557413%2023.719878%2C10.1947105%20C23.283338%2C6.34325128%2016.7109122%2C7.38882426%2017.4902268%2C8.64669632%20C15.5693624%2C8.29286451%2016.0076715%2C12.6635719%2016.0076715%2C12.6635719%20L16.4243085%2C13.7953913%20C15.6060724%2C14.326139%2016.1748571%2C14.9679015%2016.2031636%2C15.7065254%20C16.243412%2C16.7972119%2016.9108272%2C16.5712018%2016.9108272%2C16.5712018%20C16.9519602%2C18.3713211%2017.8396357%2C18.6057347%2017.8396357%2C18.6057347%20C18.0063789%2C19.7362273%2017.9024408%2C19.5438313%2017.9024408%2C19.5438313%20L17.1125113%2C19.6393659%20C17.1232047%2C19.896452%2017.1022601%2C20.1538778%2017.0501485%2C20.405854%20C16.12134%2C20.8198372%2015.921425%2C21.0626543%2014.9983663%2C21.4673494%20C13.215054%2C22.2488754%2011.2769403%2C23.2652573%2010.9323966%2C24.6337018%20C10.5878529%2C26.0021463%209.56350982%2C31.4100231%209.56350982%2C31.4100231%20L30.4356056%2C31.4100231%20L30.4356056%2C31.4100231%20L30.4356056%2C31.4100231%20L30.4364902%2C31.4100231%20Z%22/%3E%3C/svg%3E%0A');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.crm-ads-conversion-social-user {
	flex: 0.935;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	padding: 0 8px;
}

.crm-ads-conversion-social-user-wrapper {
	display: block;
	width: 100%;
	overflow: hidden;
}

.crm-ads-conversion-social-user-link {
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	color: #0b66c3;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.crm-ads-conversion-social-user-link:hover {
	text-decoration: underline;
}

.crm-ads-conversion-social-shutoff {
	float: right;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.crm-ads-conversion-social-shutoff-link {
	display: inline-block;
	font-size: 12px;
	color: #80868e;
	text-decoration: none;
}

.crm-ads-conversion-social-shutoff-link:hover {
	color: #80868e;
	text-decoration: underline;
}
.crm-ads-conversion-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
	height: 70px;
	background: #fff;
}

.crm-ads-conversion-title-section{
	display: flex;
}

.crm-ads-conversion-features{
	margin: 19px 0 50px 0;
}
.crm-ads-conversion-account-section{
	padding: 9px;
}
.crm-ads-conversion-login-wrapper{
	display: flex;
	margin: 19px 0 19px 0;
	align-items: center;
}