@import './../application/styles/mixins.scss';

.transition-fade-enter-active,
.transition-fade-leave-active {
  @include transition(500ms, opacity);
}

.transition-fade-enter,
.transition-fade-leave-to {
  opacity: 0 !important;
}