.transition-fade-enter-active,
.transition-fade-leave-active {
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.transition-fade-enter,
.transition-fade-leave-to {
  opacity: 0 !important;
}

/*# sourceMappingURL=transitions.css.map */
