.crm-activity-popup-edit-section{
	padding-top:18px;
}
.crm-activity-popup-edit-section-title{
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #80868e;
	margin-bottom: 7px;
}
.crm-activity-popup-edit-section-content{}

.crm-activity-popup-edit-lead-list{
	/*background-color: #f6f8f8;*/
	line-height:20px;
	color: #71777e;
	vertical-align: middle;
	padding:15px;
}

.crm-activity-popup-edit-include-lead{
	background-color: #f6f8f8;
	line-height:20px;
	color: #71777e;
	vertical-align: middle;
	padding:10px 15px;
}
.crm-activity-popup-edit-include-lead-container{
	display: table;
}
.crm-activity-popup-edit-include-lead-row{ display: table-row;}
.crm-activity-popup-edit-include-lead-title,
.crm-activity-popup-edit-include-lead-list{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}
.crm-activity-popup-edit-include-lead-list{
	font-weight: bold;
	white-space: nowrap;
}
.crm-activity-popup-edit-include-lead-list-item{
	color: #404954;
	display: inline-block;
	margin:10px;
	cursor: pointer;
}

.crm-activity-popup-edit-include-lead-list-item:hover{
	color: #2067b0;
}

.crm-activity-popup-edit-add-more{
	color: #0b66c3;
	display: inline-block;
	cursor: pointer;
}

.crm-activity-popup-edit-add-more:hover{
	color: #2067b0;
}

.crm-activity-popup-edit-include-lead-list a:last-child{
	margin-right: 0;
}

.crm-activity-popup-edit-call-count{ font-size:12px;}

.crm-activity-popup-edit-separator{
	margin-top:15px;
	border: none;
	border-bottom:1px solid #D5DBDC;
}

.crm-activity-popup-edit-form-checkbox-text {
	display: inline-block;
	line-height: 18px;
	font: 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #80868e;
}
.crm-activity-popup-edit-form-checkbox {
	display: inline-block;
	margin: 8px 5px 0 0;
}
.crm-activity-popup-edit-form-col{
	display: inline-block;
	padding-right:10px;
}
.activity-call-list-main{
	padding-top:15px;
}

.activity-call-list-display-tab {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}

.activity-call-list-display-hidden {
	display: none;
}

.activity-call-list-display-tab-active {
	border: black 1px solid;
}

.activity-call-list-display-tab-inactive {
	border: transparent 1px solid;
}


/* ITEMS GRID HACK */
/*TABS*/
.activity-call-list-display-tabs{
	position: relative;
	bottom:-1px;
}

.activity-call-list-display-tab.activity-call-list-display-tab-active,
.activity-call-list-display-tab.activity-call-list-display-tab-inactive{
	font-weight: bold;
	-webkit-transition: all 250ms ease;
	-moz-transition: all 250ms ease;
	-ms-transition: all 250ms ease;
	-o-transition: all 250ms ease;
	transition: all 250ms ease;
}
.activity-call-list-display-tab.activity-call-list-display-tab-active{
	border:1px solid #b5bbc3;
	border-bottom-color: transparent;
	background-color: #e6edf1;
	z-index:30;
}
.activity-call-list-display-tab.activity-call-list-display-tab-inactive{
	background-color: #d5dde1;
	z-index:10;
	border:1px solid #d5dde1;
	border-bottom-color: #b5bbc3;
}
.activity-call-list-display-tab.activity-call-list-display-tab-inactive:hover{
	background-color: #dce4e8;
}
.call-list-tab-content{
	border:1px solid #b5bbc3;
	background-color: #e6edf1;
	z-index:20;
	padding: 9px;
}

.crm-activity-call-list-webform-name {
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #58616d;
	padding-left: 5px;
}

.crm-activity-call-list-success-text {
	text-align: center;
	color: #80868e;
	font-size: 13px;
}
.crm-activity-call-list-tel-player {
	overflow: hidden;
	margin: 0 auto;
}

.crm-activity-call-list-tel-player audio {
	display: block;
}

.crm-activity-call-list-filter-link {
	color: #0b66c3;
	cursor: pointer;
}

/*HACKS*/
#CRM_CALL_LIST_ACTIVITY .main-grid-settings-window {
	opacity: 0;
	height: 0;
	overflow: hidden;
}