.crm-timeline__audioplayer-contianer {
	--crm-timeline__audioplayer_transition-duration: 0.2s;
	--crm-timeline__audioplayer_transition-timing-function: 0.2s;
	position: static;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-controls-container {
	width: auto;
	height: auto;
	min-width: auto;
	min-height: auto;
}

.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-control {
	--border-width: 1px;
	width: calc(var(--ui-size-2xl, 28px) - var(--border-width));
	height: calc(var(--ui-size-2xl, 28px) - var(--border-width));
	border: var(--border-width) solid var(--ui-color-base-30, #d5d7db);
	background-color: transparent;
	background-image: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition-property: border-color, fill;
	transition-duration: var(--crm-timeline__audioplayer_transition-duration);
	transition-timing-function: var(--crm-timeline__audioplayer_transition-timing-function);
}

.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-control.ui-vue-audioplayer-control-pause {
	transition-duration: var(--crm-timeline__audioplayer_transition-duration);
	fill: var(--ui-color-primary, #2fc6f6);
}

.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-control:hover {
	transition-duration: 0s;
	border-color: var(--ui-color-base-50, #a8adb4);
}

.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-control.ui-vue-audioplayer-control-pause:hover {
	fill: var(--ui-color-palette-blue-60, #1aa9d6);
}


.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-control-icon {
	margin-left: 2px;
	fill: var(--ui-color-base-40, #bdc1c6);
	transition-duration: var(--crm-timeline__audioplayer_transition-duration);
}

.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-control:hover .ui-vue-audioplayer-control-icon {
	transition-duration: 0s;
	fill: var(--ui-color-base-60, #959ca4);
}

.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-timeline-container {
	--seek-size: var(--ui-size-lg, 20px);
	height: auto;
	margin-left: calc(var(--ui-space-inline-sm, 12px) + calc(var(--seek-size) / 2));
	padding-left: 0;
}

.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-track-container {
	margin-top: 10px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
}

.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-track-mask {
	position: static;
	height: 6px;
	border-radius: 33px;
	background: var(--ui-color-primary, #2fc6f6);
	opacity: 0.3;
}
.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-track {
	position: absolute;
	top: 0;
	left: 0;
	height: 6px;
	border-radius: 33px;
	background: var(--ui-color-primary, #2fc6f6);
}


.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-track-seek {
	width: auto;
	height: auto;
	border: none;
	border-radius: 0;
	background-color: transparent;
	opacity: 1;
	top: calc(-50% - 3px);
}

.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-track-seek-icon {
	width: var(--seek-size);
	height: var(--seek-size);
	border: none;
	border-radius: 50%;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
	background-color: var(--ui-color-primary, #2FC6F6);
	opacity: 1;
	transition: background-color var(--crm-timeline__audioplayer_transition-duration) var(--crm-timeline__audioplayer_transition-timing-function);
}

.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-track-seek-icon:hover {
	transition-duration: 0s;
	background-color: var(--ui-color-palette-blue-60, #1AA9D6);
}

.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-time-current {
	position: static;
	top: 0;
	left: 0;
	transition: color var(--crm-timeline__audioplayer_transition-duration) var(--crm-timeline__audioplayer_transition-timing-function);
}

.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-time-current.--is-playing {
	color: var(--ui-color-primary, #2FC6F6);
}

.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-time {
	font: 10px/12px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: var(--ui-color-base-50, #a8adb4);
}

.crm-timeline__audioplayer-contianer .ui-vue-audioplayer-total-time {
	display: flex;
	flex-direction: row;
	justify-content: end;
	margin-top: 8px;
}

.ui-vue-audioplayer-total-time.--hidden {
	opacity: 0;
}

.crm-timeline__playback-speed-menu_scope {
	--crm-timeline__playback-menu-font-size: var(--ui-font-size-3xs, 11px);
}
.crm-timeline__audioplayer-contianer .playback-speed-button {
	min-width: 50px;
	font-size: var(--crm-timeline__playback-menu-font-size);
	height: 20px;
	padding-left: 6px;
	padding-right: 15px;
}

.ui-vue-audioplayer_playback-speed-menu-container {
	margin-top: 3px;
	margin-left: var(--ui-space-inline-xs, 8px);
}

.crm-timeline__audioplayer-contianer .playback-speed-button:before {
	margin-top: 0;
	right: 6px;
	width: 5px;
	height: 5px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

.playback-speed-menu-item .menu-popup-item-text {
	line-height: var(--ui-font-line-height-md, 1.4);
	font-size: var(--crm-timeline__playback-menu-font-size);
}