.tasks-counters--scope {
	--white: rgba(255,255,255,1);
	--white_alpha_15: rgba(255,255,255,.15);
	--white_alpha_30: rgba(255,255,255,.3);
	--white_alpha_50: rgba(255,255,255,.5);
	--white_alpha_80: rgba(255,255,255,.8);

	--green: rgba(157,207,0,1);
	--red: rgba(229,73,89,1);

	--blue: rgba(0,195,255,1);
	--blue_aplpha_35: rgba(0,195,255,.35);
	--blue_aplpha_40: rgba(0,195,255,.4);
	--blue_aplpha_50: rgba(0,195,255,.5);
	--blue_aplpha_60: rgba(0,195,255,.6);
	--blue_aplpha_70: rgba(0,195,255,.7);

	--graphite: rgba(82,92,105,1);
	--graphite_alpha_08: rgba(82,92,105,.08);
	--graphite_alpha_10: rgba(82,92,105,.1);
	--graphite_alpha_15: rgba(82,92,105,.15);
	--graphite_alpha_30: rgba(82,92,105,.3);
	--graphite_alpha_35: rgba(82,92,105,.35);
	--graphite_alpha_40: rgba(82,92,105,.4);
	--graphite_alpha_50: rgba(82,92,105,.5);
	--graphite_alpha_80: rgba(82,92,105,.8);
}

.tasks-counters {
	display: inline-flex;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 17px;
	box-sizing: border-box;
}

.tasks-counters--item {
	display: inline-flex;
	position: relative;
	margin-right: 18px;
	padding-right: 1px;
}

.tasks-counters--item:after {
	content: '';
	position: absolute;
	height: 14px;
	width: 1px;
	top: 50%;
	margin-top: -6px;
	right: 0;
	background: var(--graphite_alpha_30);
}

.tasks-counters--item:last-of-type {
	margin-right: 0;
	padding-right: 0;
}

.tasks-counters--item:last-of-type:after {
	content: none;
}

.tasks-counters--item-content {
	display: flex;
}

.tasks-counters--item-head {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
	white-space: normal;
	margin-right: 9px;
	opacity: 1;
	transition: .2s;
}

.tasks-counters--item.--cropp .tasks-counters--item-head {
	transition: none;
}

.tasks-counters--item-head:last-child {
	margin-right: 0;
}

.tasks-counters--item-head.--action {
	cursor: pointer;
}

.tasks-counters--item-head.--fade {
	pointer-events: none;
}

.tasks-counters--item-head-read-all--text {
	display: inline-flex;
	align-items: center;
	vertical-align: top;
	overflow: hidden;
	height: 100%;
	white-space: nowrap;
}

.tasks-counters--item-head-read-all--icon {
	display: none;
	width: 17px;
	height: 100%;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='17' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.323 3.75a2 2 0 011.686 1.975v5.297a2 2 0 01-2 2H8.644l-2.582 2.581v-2.581H5.33l2.11-2.095h4.882a2 2 0 001.995-1.85l.005-.15.001-5.178zM10.896 0a2 2 0 012 2v5.457a2 2 0 01-2 2l-3.997-.001-4.121 4.122-.001-4.122H2a2 2 0 01-2-2V2a2 2 0 012-2h8.896zM9.112 1.915L5.278 5.667 3.855 4.355l-.988.963 2.41 2.274L10.1 2.877l-.988-.962z' fill='%23525c69' fill-rule='evenodd'/%3E%3C/svg%3E") center 10px no-repeat;
	opacity: .5;
}

.bitrix24-light-theme .tasks-counters--item-head-read-all--icon {
	opacity: 1;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='16px' viewBox='0 0 17 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M14.3229953,3.7492721 C15.2785277,3.89981301 16.0092673,4.72697389 16.0092673,5.72480813 L16.0092673,11.0218232 C16.0092673,12.1263927 15.1138368,13.0218232 14.0092673,13.0218232 L8.64351946,13.0218081 L6.06228703,15.6033927 L6.06151946,13.0218081 L5.33017246,13.0212721 L7.43909737,10.9274361 L12.3222024,10.9274361 C13.3765642,10.9274361 14.2403675,10.1115584 14.3167166,9.07669849 L14.3222024,8.92743614 L14.3229953,3.7492721 Z M10.8955653,0 C12.0001348,0 12.8955653,0.8954305 12.8955653,2 L12.8955653,7.45674789 C12.8955653,8.56131739 12.0001348,9.45674789 10.8955653,9.45674789 L6.899,9.456 L2.77768513,13.5782339 L2.777,9.456 L2,9.45674789 C0.8954305,9.45674789 0,8.56131739 0,7.45674789 L0,2 C0,0.8954305 0.8954305,0 2,0 L10.8955653,0 Z M9.11227502,1.91476505 L5.27755539,5.66715996 L3.85502952,4.35509574 L2.86749557,5.31752739 L5.27755539,7.59202326 L10.099809,2.8771967 L9.11227502,1.91476505 Z' fill='%23FFF'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.tasks-counters--item-counter {
	display: inline-flex;
	position: relative;
	overflow: hidden;
	margin-right: 1px;
	padding: 0 19px 0 6px;
	border-radius: 2px;
	cursor: pointer;
	transition: .1s;
}

.tasks-counters--item-counter:last-of-type {
	margin-right: 0;
}

.tasks-counters--item-counter:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 2px;
	pointer-events: none;
	background: transparent;
	transform: translateX(-11px);
	transition: .2s;
}

.tasks-counters--item-counter.--hover:before {
	transform: translateX(0);
}

.tasks-counters--item-counter:hover:before {
	background: var(--graphite_alpha_10);
}

.bitrix24-light-theme .tasks-counters--item-counter:hover:before {
	background: var(--white_alpha_15);
}

.tasks-counters--item-counter.--hover:before {
	background: var(--blue_aplpha_50);
}

.tasks-counters--item-counter.--hover:hover:before {
	background: var(--blue_aplpha_60);
}

.bitrix24-light-theme .tasks-counters--item-counter.--hover:before {
	background: var(--blue_aplpha_35);
}

.bitrix24-light-theme .tasks-counters--item-counter.--hover:hover:before {
	background: var(--blue_aplpha_50);
}

.tasks-counters--item-counter-wrapper {
	display: inline-flex;
	position: relative;
	align-items: center;
}

.tasks-counters--item-counter--more {
	display: none;
	cursor: pointer;
}

.tasks-counters--item-counter--more .tasks-counters--item-counter-wrapper {
	padding-right: 25px;
}

.tasks-counters--item-counter--more .tasks-counters--item-counter-wrapper {
	padding-right: 27px;
}

.tasks-counters--item-counter-arrow {
	content: '';
	position: absolute;
	top: 12px;
	right: 11px;
	width: 5px;
	height: 5px;
	transform: rotate(45deg);
	border-right: 2px solid;
	border-bottom: 2px solid;
	transition: none;
	border-color: var(--graphite_alpha_30);
}

.tasks-counters--item-counter--more.--hover .tasks-counters--item-counter-arrow,
.tasks-counters--item-counter--more:hover .tasks-counters--item-counter-arrow {
	transition: .1s time;
	border-color: var(--graphite_alpha_80);
}

.bitrix24-light-theme .tasks-counters--item-counter--more .tasks-counters--item-counter-arrow {
	border-color: var(--white_alpha_50);
}

.bitrix24-light-theme .tasks-counters--item-counter--more:hover .tasks-counters--item-counter-arrow,
.bitrix24-light-theme .tasks-counters--item-counter--more.--hover .tasks-counters--item-counter-arrow {
	border-color: var(--white);
}

.tasks-counters--item-counter.--pointer-events {
	pointer-events: none;
}

.bitrix24-light-theme .tasks-counters--item:after {
	background: var(--white_alpha_30);
}

.tasks-counters--item-counter-num {
	display: inline-block;
	vertical-align: sub;
	position: relative;
	margin-top: 2px;
	overflow: hidden;
	min-width: 21px;
	max-height: 16px;
	height: 16px;
	box-sizing: border-box;
	padding: 0 7px;
	background: var(--graphite_alpha_15);
	border-radius: 8px;
	font: 11px/16px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: var(--graphite);
}

.ui-slider-page .tasks-counters--item-counter-num {
	margin-top: 0;
}

.tasks-counters--item-counter-num.--update {
	animation: tasks-counters--item-counter-num-update .5s linear forwards;
}

.tasks-counters--item-counter-num.--update-multi {
	animation: tasks-counters--item-counter-num-update-multi .5s linear forwards;
}

@keyframes tasks-counters--item-counter-num-update-multi {
	0% {
		transform: scale(1);
	}
	85% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}

.tasks-counters--item-counter-num.--update-dec {
	animation: tasks-counters--item-counter-num-update .2s linear forwards;
}

.tasks-counters--item-counter-num.--update-dec-multi {
	animation: tasks-counters--item-counter-num-update-dec-multi .2s linear forwards;
}

@keyframes tasks-counters--item-counter-num-update {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}

.tasks-counters--item-counter-num-text {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	animation: tasks-counters--item-counter-num-text .2s linear forwards;
}

.tasks-counters--item-counter-num-text.--stop {
	animation: tasks-counters--item-counter-num-text--stop .1s linear forwards;
}

.tasks-counters--item-counter-num-text.--decrement {
	animation: tasks-counters--item-counter-num-text--decrement .1s linear forwards;
}

.tasks-counters--item-counter-num-text.--without-animate {
	animation: none;
}

@keyframes tasks-counters--item-counter-num-text--decrement {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		pointer-events: none;
		transform: translateY(5px);
	}
}

@keyframes tasks-counters--item-counter-num-text {
	0% {
		opacity: 0;
		transform: translateY(-15px);
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		pointer-events: none;
		transform: translateY(0);
	}
}

@keyframes tasks-counters--item-counter-num-text--stop {
	0% {
		opacity: 0;
		transform: translateY(-15px);
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateY(0);
	}
}

.bitrix24-light-theme .tasks-counters--item-counter-num {
	background: var(--white_alpha_30);
	color: var(--white);
}

.tasks-counters--item-counter-num.--danger {
	background: var(--red);
	color: var(--white);
}

.tasks-counters--item-counter-num.--success {
	background: var(--green);
	color: var(--white);
}

.tasks-counters--item-counter.--fade .tasks-counters--item-counter-num,
.tasks-counters--item-counter.--fade .tasks-counters--item-counter-num.--success,
.tasks-counters--item-counter.--fade .tasks-counters--item-counter-num.--danger,
.bitrix24-light-theme .task-counters--popup-item .tasks-counters--item-counter-num,
.bitrix24-light-theme .task-counters--popup-item .tasks-counters--item-counter-num.--success,
.bitrix24-light-theme .task-counters--popup-item .tasks-counters--item-counter-num.--danger {
	background: var(--graphite_alpha_15);
	color: var(--graphite);
}

.bitrix24-light-theme .tasks-counters--item-counter.--fade .tasks-counters--item-counter-num,
.bitrix24-light-theme .tasks-counters--item-counter.--fade .tasks-counters--item-counter-num.--success,
.bitrix24-light-theme .tasks-counters--item-counter.--fade .tasks-counters--item-counter-num.--danger {
	background: var(--white_alpha_30);
	color: var(--white);
}

.tasks-counters--item-counter-title {
	flex: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tasks-counters--item-counter-num + .tasks-counters--item-counter-title {
	margin-left: 4px;
}

.tasks-counters--item-counter--more .tasks-counters--item-counter-title {
	margin-right: 6px;
}

.tasks-counters--item-counter-remove {
	display: block;
	position: absolute;
	top: 0;
	right: -18px;
	bottom: 0;
	width: 18px;
	opacity: 0;
	transform: translateX(-5px);
	transition: .2s;
}

.tasks-counters--item-counter.--hover .tasks-counters--item-counter-remove {
	opacity: 1;
	transform: translateX(0);
}

.tasks-counters--item-counter-remove:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 7'%3E%3Cpath fill='%23525C69' opacity='0.5' d='M5.52631579,0.276315789 L3.5,2.30263158 L1.47368421,0.276315789 C1.10526316,-0.0921052632 0.644736842,-0.0921052632 0.276315789,0.276315789 C-0.0921052632,0.644736842 -0.0921052632,1.10526316 0.276315789,1.47368421 L2.30263158,3.5 L0.276315789,5.52631579 C-0.0921052632,5.89473684 -0.0921052632,6.35526316 0.276315789,6.72368421 C0.644736842,7.09210526 1.10526316,7.09210526 1.47368421,6.72368421 L3.5,4.69736842 L5.52631579,6.72368421 C5.89473684,7.09210526 6.35526316,7.09210526 6.72368421,6.72368421 C7.09210526,6.35526316 7.09210526,5.89473684 6.72368421,5.52631579 L4.69736842,3.5 L6.72368421,1.47368421 C7.09210526,1.10526316 7.09210526,0.644736842 6.72368421,0.276315789 C6.35526316,1.59638384e-14 5.80263158,1.59638384e-14 5.52631579,0.276315789 Z'/%3E%3C/svg%3E") 5px center no-repeat;
	background-size: 7px 7px;
	transition: .1s;
}

.tasks-counters--item-counter-remove:hover:after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 7'%3E%3Cpath fill='%23525C69' opacity='0.9' d='M5.52631579,0.276315789 L3.5,2.30263158 L1.47368421,0.276315789 C1.10526316,-0.0921052632 0.644736842,-0.0921052632 0.276315789,0.276315789 C-0.0921052632,0.644736842 -0.0921052632,1.10526316 0.276315789,1.47368421 L2.30263158,3.5 L0.276315789,5.52631579 C-0.0921052632,5.89473684 -0.0921052632,6.35526316 0.276315789,6.72368421 C0.644736842,7.09210526 1.10526316,7.09210526 1.47368421,6.72368421 L3.5,4.69736842 L5.52631579,6.72368421 C5.89473684,7.09210526 6.35526316,7.09210526 6.72368421,6.72368421 C7.09210526,6.35526316 7.09210526,5.89473684 6.72368421,5.52631579 L4.69736842,3.5 L6.72368421,1.47368421 C7.09210526,1.10526316 7.09210526,0.644736842 6.72368421,0.276315789 C6.35526316,1.59638384e-14 5.80263158,1.59638384e-14 5.52631579,0.276315789 Z'/%3E%3C/svg%3E");
}

.bitrix24-light-theme .tasks-counters--item-counter-remove:after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 7'%3E%3Cpath fill='%23fff' opacity='0.5' d='M5.52631579,0.276315789 L3.5,2.30263158 L1.47368421,0.276315789 C1.10526316,-0.0921052632 0.644736842,-0.0921052632 0.276315789,0.276315789 C-0.0921052632,0.644736842 -0.0921052632,1.10526316 0.276315789,1.47368421 L2.30263158,3.5 L0.276315789,5.52631579 C-0.0921052632,5.89473684 -0.0921052632,6.35526316 0.276315789,6.72368421 C0.644736842,7.09210526 1.10526316,7.09210526 1.47368421,6.72368421 L3.5,4.69736842 L5.52631579,6.72368421 C5.89473684,7.09210526 6.35526316,7.09210526 6.72368421,6.72368421 C7.09210526,6.35526316 7.09210526,5.89473684 6.72368421,5.52631579 L4.69736842,3.5 L6.72368421,1.47368421 C7.09210526,1.10526316 7.09210526,0.644736842 6.72368421,0.276315789 C6.35526316,1.59638384e-14 5.80263158,1.59638384e-14 5.52631579,0.276315789 Z'/%3E%3C/svg%3E");
}

.bitrix24-light-theme .tasks-counters--item-counter-remove:hover:after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 7'%3E%3Cpath fill='%23fff' opacity='0.9' d='M5.52631579,0.276315789 L3.5,2.30263158 L1.47368421,0.276315789 C1.10526316,-0.0921052632 0.644736842,-0.0921052632 0.276315789,0.276315789 C-0.0921052632,0.644736842 -0.0921052632,1.10526316 0.276315789,1.47368421 L2.30263158,3.5 L0.276315789,5.52631579 C-0.0921052632,5.89473684 -0.0921052632,6.35526316 0.276315789,6.72368421 C0.644736842,7.09210526 1.10526316,7.09210526 1.47368421,6.72368421 L3.5,4.69736842 L5.52631579,6.72368421 C5.89473684,7.09210526 6.35526316,7.09210526 6.72368421,6.72368421 C7.09210526,6.35526316 7.09210526,5.89473684 6.72368421,5.52631579 L4.69736842,3.5 L6.72368421,1.47368421 C7.09210526,1.10526316 7.09210526,0.644736842 6.72368421,0.276315789 C6.35526316,1.59638384e-14 5.80263158,1.59638384e-14 5.52631579,0.276315789 Z'/%3E%3C/svg%3E");
}

.task-counters--popup-item-text {
	display: inline-block;
	margin-left: 7px;
}

@media screen and (max-width: 1610px) {
	.menu-collapsed-mode .tasks-counters--item.--other .tasks-counters--item-counter--more {
		display: inline-flex;
	}

	.menu-collapsed-mode .tasks-counters--item.--other .tasks-counters--item-counter {
		display: none;
	}
}

@media screen and (max-width: 1780px) {
	.bx-layout-table:not(.menu-collapsed-mode) .tasks-counters--item.--other .tasks-counters--item-counter--more {
		display: inline-flex;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-counters--item.--other .tasks-counters--item-counter {
		display: none;
	}
}


@media screen and (max-width: 1520px) {
	.bx-layout-table:not(.menu-collapsed-mode) .tasks-counters--item:nth-child(2) .tasks-counters--item-head-read-all--text {
		display: none;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-counters--item:nth-child(2) .tasks-counters--item-head-read-all--icon {
		display: inline-flex;
	}
}

@media screen and (max-width: 1770px) {
	.tasks-counters--item.--other .tasks-counters--item-head {
		display: none;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-counters--item:nth-child(3) .tasks-counters--item-head-read-all--text {
		display: none;
	}

	.bx-layout-table:not(.menu-collapsed-mode) .tasks-counters--item:nth-child(3) .tasks-counters--item-head-read-all--icon {
		display: inline-flex;
	}
}

/*menu-collapsed-mode*/

@media screen and (max-width: 1540px) {
	.menu-collapsed-mode .tasks-counters--item:nth-child(2) .tasks-counters--item-head-read-all--text {
		display: none;
	}

	.menu-collapsed-mode .tasks-counters--item:nth-child(2) .tasks-counters--item-head-read-all--icon {
		display: inline-flex;
	}
}

@media screen and (max-width: 1430px) {
	.menu-collapsed-mode .tasks-counters--item:nth-child(3) .tasks-counters--item-head-read-all--text {
		display: none;
	}

	.menu-collapsed-mode .tasks-counters--item:nth-child(3) .tasks-counters--item-head-read-all--icon {
		display: inline-flex;
	}
}

/*slider media*/

@media screen and (max-width: 1500px) {
	.ui-slider-page .tasks-counters--item-head-read-all--text {
		display: none;
	}

	.ui-slider-page .tasks-counters--item-head-read-all--icon {
		display: inline-flex;
	}
}

@media screen and (max-width: 1390px) {
	.ui-slider-page .tasks-counters--item.--other .tasks-counters--item-counter--more {
		display: inline-flex;
	}

	.ui-slider-page .tasks-counters--item.--other .tasks-counters--item-counter {
		display: none;
	}
}