.transparent-workarea #workarea-content {
    background-color: transparent!important;
}

.task-item-updates .task-item-updates-inner {
    display: inline-block;
    height: 12px;
    font-weight: normal;
    font-size: 9px;
    background: none;
    margin: 0;
    padding: 0;
    line-height: 12px;
    vertical-align: baseline;
}

.task-priority-high {
    height: 16px;
    display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

.task-priority-high:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 16px;
	width: 8px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%2211%22%20viewBox%3D%220%200%208%2011%22%3E%0A%20%20%3Cpath%20fill%3D%22%23F16C0A%22%20fill-rule%3D%22evenodd%22%20d%3D%22M200.069979%2C24%20L200.14%2C24%20C200.14%2C24%20203%2C23.0560625%20203%2C20.390625%20C203%2C16.6348125%20199.346667%2C15.8813125%20199.666667%2C13%20C197.993333%2C13.8339375%20195%2C16.75375%20195%2C19.875%20C195.039359%2C21.7259245%20196.174362%2C23.3629491%20197.86%2C24%20L197.86%2C24%20L198.123417%2C24%20C197.460595%2C23.3218266%20197.059336%2C22.4251727%20197%2C21.4707569%20C197.092476%2C20.0452868%20197.868205%2C18.7524059%20199.082454%2C18%20C200.109798%2C20.1851885%20201.164908%2C19.9436239%20201.164908%2C21.4707569%20C201.162991%2C22.4339232%20200.76293%2C23.3471724%20200.069979%2C24%20Z%22%20transform%3D%22translate%28-195%20-13%29%22/%3E%0A%3C/svg%3E%0A') center 0 no-repeat;
}

.task-title-comments-grid {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
	height: 16px;
	line-height: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	font-size: 9px;
	color: #a9aeb5 !important;
	text-decoration: none !important;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.task-title-comments-grid:before {
	content: '';
	display: inline-block;
	margin: 0 3px 0 0;
	vertical-align: top;
	height: 17px;
	opacity: .3;
	width: 10px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%3E%0A%20%20%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M390.980999%2C978.210995%20C390.842716%2C978.210995%20390.732089%2C978.107338%20390.732089%2C977.977767%20L390.732089%2C977.018942%20C390.732089%2C976.889371%20390.842716%2C976.785714%20390.980999%2C976.785714%20L397.291098%2C976.785714%20C397.429382%2C976.785714%20397.540008%2C976.889371%20397.540008%2C977.018942%20L397.540008%2C977.977767%20C397.567665%2C978.107338%20397.429382%2C978.210995%20397.291098%2C978.210995%20L390.980999%2C978.210995%20Z%20M390.980999%2C981.068138%20C390.842716%2C981.068138%20390.732089%2C980.964481%20390.732089%2C980.83491%20L390.732089%2C979.876085%20C390.732089%2C979.746514%20390.842716%2C979.642857%20390.980999%2C979.642857%20L397.291098%2C979.642857%20C397.429382%2C979.642857%20397.540008%2C979.746514%20397.540008%2C979.876085%20L397.540008%2C980.83491%20C397.567665%2C980.964481%20397.429382%2C981.068138%20397.291098%2C981.068138%20L390.980999%2C981.068138%20Z%20M390.208292%2C975%20C389.549224%2C975%20389%2C975.518284%20389%2C976.140225%20L389%2C981.849933%20C389%2C982.471873%20389.549224%2C982.990157%20390.208292%2C982.990157%20L394.650811%2C982.990157%20C394.733195%2C982.990157%20394.788117%2C983.016072%20394.843039%2C983.0679%20L396.545633%2C984.804151%20C396.7104%2C984.959636%20396.985012%2C984.855979%20396.985012%2C984.648666%20L396.985012%2C983.223385%20C396.985012%2C983.093814%20397.094856%2C982.990157%20397.232162%2C982.990157%20L397.791708%2C982.990157%20C398.450776%2C982.990157%20399%2C982.471873%20399%2C981.849933%20L399%2C976.140225%20C398.972539%2C975.518284%20398.423315%2C975%20397.764247%2C975%20L390.208292%2C975%20Z%22%20transform%3D%22translate%28-389%20-975%29%22/%3E%0A%3C/svg%3E%0A') center 3px no-repeat;
}

.tasks-grid-avatar.ui-icon.ui-icon-common-user,
.tasks-grid-avatar.ui-icon.ui-icon-common-user-group,
.tasks-grid-avatar.sonet-common-workgroup-avatar {
	width: 22px;
	min-width: 22px;
	height: 22px;
}

.tasks-grid-avatar.sonet-common-workgroup-avatar {
	background-size: 14px;
	margin: 0;
}

.tasks-grid-avatar.sonet-common-workgroup-avatar.--folder {
	background-position: center 4px!important;
}

.tasks-grid-avatar.sonet-common-workgroup-avatar.--chart {
	background-position: 5px 3px !important;
}

.tasks-grid-filter-remove {
	display: none;
	width: 22px;
	max-width: 22px;
	min-width: 22px;
	min-height: 22px;
	max-height: 22px;
	margin-right: -8px;
	opacity: .3;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M5.065%203.682L2.377.994%201.01%202.362%203.696%205.05.99%207.757l1.368%201.37%202.708-2.71%202.7%202.703%201.37-1.368-2.702-2.7%202.682-2.684L7.748%201%205.065%203.682z%22/%3E%3C/svg%3E') center no-repeat;
	transition: .2s;
	cursor: pointer;
}
.tasks-grid-filter-active .tasks-grid-filter-remove {
	display: block;
}

.main-grid-cell-content a:hover, div:hover .tasks-grid-filter-remove:hover {
	transition: .1s;
	opacity: 1;
}

.tasks-grid-user {
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

.tasks-grid-avatar-extranet,
.tasks-grid-avatar-mail,
.tasks-grid-avatar-crm {
	color: #d9930a;
}

.tasks-grid-avatar.tasks-grid-avatar-extranet:after {
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	right: -3px;
	bottom: -1px;
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FFA900%22%20fill-rule%3D%22evenodd%22%20d%3D%22M14.96085%2C12.2642173%20C13.6883029%2C12.2642173%2012.5207137%2C11.8155629%2011.6070901%2C11.0683493%20C11.6195981%2C11.004722%2011.632106%2C10.9351125%2011.632106%2C10.8954134%20C11.632106%2C10.8100331%2011.4037001%2C10.6387287%2011.4037001%2C10.6387287%20L11.746309%2C9.89640956%20C11.746309%2C9.89640956%2010.8038627%2C9.1818254%2010.7184824%2C9.12526775%20C10.6325583%2C9.06762246%2010.3182283%2C8.69619097%2010.232848%2C8.63963332%20C10.1469239%2C8.58198802%209.97561946%2C7.98269446%209.97561946%2C7.98269446%20L9.74775739%2C7.91743564%20C9.69119974%2C7.60691238%209.65748268%2C7.28823178%209.65748268%2C6.96085%20C9.65748268%2C6.16795525%209.83640063%2C5.41856639%2010.1480115%2C4.74313754%20C10.2464436%2C4.68277312%2010.3399812%2C4.61425135%2010.3753298%2C4.55551841%20C10.4612539%2C4.41249282%2011.2041169%2C3.92685838%2011.3754213%2C3.86975691%20C11.5467257%2C3.81265543%2012.0323601%2C3.21281805%2012.0323601%2C3.21281805%20L11.8322331%2C2.81310774%20L11.7234684%2C2.76688273%20C12.6196896%2C2.07405152%2013.7405099%2C1.65748268%2014.96085%2C1.65748268%20C15.6183327%2C1.65748268%2016.2459051%2C1.78310592%2016.8272524%2C2.00172299%20L16.5401136%2C1.98268917%20L16.221433%2C1.98268917%20C16.1578056%2C1.98268917%2016.0300071%2C2.00172299%2015.9239615%2C2.00172299%20C15.8179159%2C2.00172299%2015.5628627%2C2.16541388%2015.4780262%2C2.186623%20C15.3948212%2C2.20783212%2015.2017638%2C2.31659683%2015.1191027%2C2.31659683%20C15.0337224%2C2.31659683%2014.9064676%2C2.4775686%2014.9064676%2C2.4775686%20C14.9064676%2C2.4775686%2014.7580038%2C2.74730509%2014.8852585%2C2.70488685%20C15.0125132%2C2.66246861%2015.18273%2C2.66029332%2015.2017638%2C2.7244645%20C15.2251482%2C2.78754803%2015.265935%2C2.89250598%2015.2871441%2C2.95558951%20C15.3078094%2C3.01921686%2015.6058247%2C3.04096981%2015.6058247%2C3.04096981%20C15.6058247%2C3.04096981%2015.7124142%2C2.95395804%2015.7760415%2C2.86857774%20C15.8380374%2C2.78374126%2015.839125%2C2.65811802%2015.839125%2C2.65811802%20C15.839125%2C2.65811802%2015.9457145%2C2.87129686%2015.9669236%2C2.93438039%20C15.9875889%2C2.99800775%2015.9239615%2C3.18943364%2015.9239615%2C3.18943364%20C15.9239615%2C3.18943364%2015.6901174%2C3.33789747%2015.6270339%2C3.33789747%20C15.5628627%2C3.33789747%2015.2017638%2C3.01921686%2015.2017638%2C3.01921686%20C15.0745091%2C3.0616351%2014.9679197%2C3.12526246%2014.9679197%2C3.12526246%20C14.8194559%2C3.27427011%2014.6704482%2C3.40152482%2014.6704482%2C3.40152482%20C14.6704482%2C3.40152482%2014.5431935%2C3.44394306%2014.458357%2C3.50757042%20C14.3735206%2C3.57228542%2014.1907958%2C3.58479336%2014.1396764%2C3.65657807%20C14.0336308%2C3.80286661%2014.0983458%2C3.87356367%2014.0983458%2C3.87356367%20L14.0504894%2C4.07912898%20L13.959127%2C4.14275633%20L13.6491476%2C4.20747133%20L13.4256361%2C4.14275633%20C13.4468452%2C4.20638369%2013.3701661%2C4.48264605%2013.3701661%2C4.48264605%20L13.4408632%2C4.86386637%20C13.4408632%2C4.86386637%2013.7486673%2C4.94815902%2013.8122946%2C4.94815902%20C13.8764658%2C4.94815902%2014.0352623%2C4.97154343%2014.1206426%2C4.88725078%20C14.2033038%2C4.80132666%2014.3436103%2C4.61044459%2014.3860285%2C4.54736106%20C14.4262714%2C4.48264605%2014.486092%2C4.4190187%2014.6133467%2C4.37714428%20C14.7406015%2C4.33418222%2014.7618106%2C4.27055487%2014.8259818%2C4.24934575%20C14.8896091%2C4.22868045%2015.1446624%2C4.18571839%2015.1446624%2C4.18571839%20C15.1446624%2C4.18571839%2015.3034588%2C4.29176399%2015.36763%2C4.33418222%20C15.3948212%2C4.35593517%2015.1805547%2C4.42119399%2015.6161574%2C4.48482135%20L15.6161574%2C4.65286283%20L15.8755612%2C4.63165371%20L15.7243783%2C4.46143694%20L15.7031692%2C4.4559987%20L15.4568171%2C4.20747133%20L15.4394147%2C4.01604544%20C15.4394147%2C4.01604544%2015.8527206%2C4.27544928%2015.7863742%2C4.20747133%20C15.7357986%2C4.1558081%2016.0022721%2C4.32711252%2016.0283756%2C4.34505869%20L16.1529112%2C4.64253018%20L16.3465124%2C4.88018107%20C16.5754621%2C4.90247784%2016.1496483%2C4.61044459%2016.3698968%2C4.61044459%20C16.3698968%2C4.61044459%2016.5749183%2C4.6544943%2016.6385457%2C4.63328518%20C16.702173%2C4.61207606%2016.7500295%2C4.55116782%2016.8397604%2C4.52560812%20C16.9740848%2C4.485909%2016.8169198%2C4.33472605%2016.890336%2C4.22868045%20C16.9681027%2C4.11502133%2017.0861125%2C4.07912898%2017.1497398%2C4.05791986%20C17.2155425%2C4.03725456%2017.3824963%2C4.03181633%2017.3824963%2C4.03181633%20L17.6636531%2C3.97308338%20C17.6348304%2C4.11610898%2017.4852789%2C4.07151545%2017.5151892%2C4.16396545%20C17.5423804%2C4.24717045%2017.7914516%2C4.24934575%2017.8762881%2C4.3129731%20C17.9616684%2C4.37714428%2017.8974972%2C4.47068194%2017.8974972%2C4.47068194%20C17.8974972%2C4.47068194%2017.6636531%2C4.44947282%2017.5151892%2C4.4282637%20C17.3661816%2C4.40705458%2017.1328813%2C4.50385517%2017.1328813%2C4.50385517%20L16.9436307%2C4.61044459%20C16.9436307%2C4.61044459%2016.816376%2C4.65286283%2016.8375851%2C4.75890842%20C16.8566189%2C4.86549784%2016.9436307%2C4.99275255%2017.0262919%2C5.09879814%20C17.1116722%2C5.20538756%2017.1752995%2C5.33264227%2017.2389269%2C5.29022404%20C17.3030981%2C5.2456305%2017.4537372%2C5.25868227%2017.4537372%2C5.25868227%20C17.4537372%2C5.25868227%2017.472771%2C5.26901492%2017.4939801%2C5.37342904%20C17.5151892%2C5.47893081%2017.5151892%2C5.62793846%2017.5151892%2C5.62793846%20C17.5151892%2C5.62793846%2017.3030981%2C5.62793846%2017.3661816%2C5.672532%20C17.4303528%2C5.71277494%2017.5195398%2C5.87429053%2017.5576075%2C5.92540995%20C17.7702425%2C6.22342526%2018.2140025%2C6.88199558%2018.2569646%2C6.96683206%20C18.298839%2C7.05112471%2018.280349%2C7.18055472%2018.3412572%2C7.24091913%20C18.4690558%2C7.36763002%2018.724109%2C7.24091913%2018.7877364%2C7.19958854%20C18.8513637%2C7.1571703%2019.0639987%2C7.05112471%2019.1254508%2C6.98804118%20C19.1912534%2C6.92441382%2019.1700443%2C6.94562294%2019.2978429%2C6.85969882%20C19.4250976%2C6.77486234%2019.5077588%2C6.71177881%2019.4463067%2C6.64760763%20C19.3821355%2C6.58398028%2019.2548808%2C6.35013615%2019.2548808%2C6.35013615%20C19.0639987%2C6.39309821%2018.8725728%2C6.28650879%2018.8725728%2C6.22342526%20C18.8725728%2C6.15871025%2018.7589137%2C5.90746377%2018.7589137%2C5.90746377%20C18.7589137%2C5.90746377%2018.724109%2C5.86341406%2018.8725728%2C5.94661907%20C19.0210367%2C6.03199937%2019.1488352%2C6.20221614%2019.2766337%2C6.20221614%20C19.4038885%2C6.20221614%2019.4653405%2C6.24409055%2019.6138043%2C6.32892703%20C19.762812%2C6.4137635%2019.8286147%2C6.5198091%2019.9118197%2C6.56331498%20C19.9961123%2C6.60518939%2020.1239108%2C6.77486234%2020.1239108%2C6.77486234%20C20.1239108%2C6.77486234%2020.2185361%2C6.99674235%2020.2566038%2C7.11040148%20C20.1766617%2C9.96928191%2017.8393081%2C12.2642173%2014.96085%2C12.2642173%20L14.96085%2C12.2642173%20Z%20M17.6593025%2C2.4014333%20C17.5804481%2C2.44548301%2017.4928925%2C2.48518213%2017.4515619%2C2.44330772%20C17.3879345%2C2.37968036%2017.2389269%2C2.27145947%2017.2389269%2C2.27145947%20C17.2780822%2C2.24535594%2017.2661181%2C2.21109506%2017.2351201%2C2.17520271%20C17.380321%2C2.24481212%2017.5217151%2C2.31985977%2017.6593025%2C2.4014333%20L17.6593025%2C2.4014333%20Z%20M14.96085%2C1%20C11.6685422%2C1%209%2C3.66908601%209%2C6.96085%20C9%2C10.2531578%2011.6685422%2C12.9217%2014.96085%2C12.9217%20C18.2531578%2C12.9217%2020.9217%2C10.2531578%2020.9217%2C6.96085%20C20.9217%2C3.66908601%2018.2531578%2C1%2014.96085%2C1%20L14.96085%2C1%20Z%20M18.4288128%2C7.7711471%20C18.3015581%2C7.55742444%2017.9404593%2C7.09136765%2017.8762881%2C6.98532206%20C17.8126607%2C6.87982029%2017.7490334%2C6.66718528%2017.7278243%2C6.58180498%20C17.7060713%2C6.49696851%2017.6005695%2C6.26312438%2017.5788166%2C6.20004084%20C17.5576075%2C6.13532584%2017.4091437%2C5.94444377%2017.3661816%2C5.88081642%20C17.3237634%2C5.81718906%2017.1752995%2C5.774227%2017.090463%2C5.71059964%20C17.0050827%2C5.64751611%2016.474311%2C5.54092669%2016.474311%2C5.54092669%20C16.474311%2C5.54092669%2016.3127954%2C5.43868787%2016.2638512%2C5.47729934%20C16.0517601%2C5.64751611%2015.5628627%2C5.54092669%2015.4568171%2C5.49905228%20C15.3502277%2C5.4555464%2015.2871441%2C5.39409433%2015.2871441%2C5.33046698%20C15.2871441%2C5.26466433%2015.1908874%2C4.95849167%2015.1908874%2C4.95849167%20C15.1908874%2C4.95849167%2014.9831468%2C4.99492784%2014.9189756%2C4.99492784%20C14.8553482%2C4.99492784%2014.6900259%2C4.92912519%2014.6900259%2C4.92912519%20C14.6900259%2C4.92912519%2014.4773909%2C4.94815902%2014.3925544%2C4.99057726%20C14.3093494%2C5.03299549%2014.1396764%2C5.09662285%2014.0760491%2C5.11783197%20C14.0124217%2C5.13904109%2013.8422049%2C5.16025021%2013.8422049%2C5.16025021%20C13.6507791%2C5.07541373%2013.5044905%2C5.28804874%2013.459897%2C5.37342904%20C13.419654%2C5.45772169%2013.3342737%2C5.50013993%2013.3342737%2C5.58552023%20C13.3342737%2C5.6703567%2013.1705829%2C5.76389435%2013.1091308%2C5.80468112%20C13.0455034%2C5.84709936%2012.8247111%2C6.00861495%2012.7610837%2C6.11411672%20C12.6974564%2C6.22070614%2012.6631955%2C6.35557438%2012.6419864%2C6.46161998%20C12.6207772%2C6.56766557%2012.5908669%2C6.64543234%2012.5908669%2C6.79389617%20C12.5908669%2C6.94344765%2012.5696578%2C7.0277403%2012.5908669%2C7.15499501%20C12.6120761%2C7.28333737%2012.8247111%2C7.60201797%2012.9095475%2C7.70751974%20C12.994384%2C7.81356534%2013.1009734%2C7.9419077%2013.207019%2C8.00499123%20C13.3130646%2C8.06644329%2013.4811061%2C8.09961653%2013.4811061%2C8.09961653%20C13.4811061%2C8.09961653%2013.5447335%2C8.32149654%2013.7149502%2C8.25841301%20C13.8846232%2C8.19478565%2014.05484%2C8.19478565%2014.2033038%2C8.10886153%20C14.3517676%2C8.02620035%2014.5856117%2C7.92069858%2014.5856117%2C8.04740947%20C14.5856117%2C8.17466418%2014.8091232%2C8.22904653%2014.9369218%2C8.1866283%20C15.0641765%2C8.14366623%2015.1359612%2C8.06861858%2015.1147521%2C8.21817006%20C15.0957182%2C8.36609007%2015.1593456%2C8.55805978%2015.1593456%2C8.64289626%20C15.1593456%2C8.72501362%2015.1381365%2C8.80985009%2015.2017638%2C8.87619657%20C15.2637597%2C8.93819245%2015.324668%2C9.02737951%2015.324668%2C9.08883158%20C15.324668%2C9.15245893%2015.4568171%2C9.38358394%2015.4992353%2C9.46842042%20C15.5416536%2C9.55434454%2015.5862471%2C9.68105543%2015.5438289%2C9.7658919%20C15.5014106%2C9.8512722%2015.4182056%2C10.0845725%2015.4182056%2C10.0845725%20C15.4182056%2C10.0845725%2015.3823133%2C10.2765422%2015.4035224%2C10.3396258%20C15.4252753%2C10.4032531%2015.4758509%2C10.4880896%2015.5824403%2C10.5952228%20C15.6884859%2C10.6985493%2015.6884859%2C10.8279793%2015.7521133%2C10.9117281%20C15.8157406%2C10.9987399%2015.839125%2C11.1700443%2015.839125%2C11.1700443%20L15.950065%2C11.4153087%20L16.0370768%2C11.7715132%20C16.0370768%2C11.7715132%2016.4128589%2C11.5915076%2016.4955201%2C11.5702985%20C16.5809004%2C11.5490893%2016.8060433%2C11.3995379%2016.890336%2C11.3152452%20C16.9757163%2C11.2304087%2016.9583139%2C11.1656937%2017.0649033%2C11.0808573%20C17.1709489%2C10.9987399%2017.3645501%2C10.847557%2017.3645501%2C10.847557%20L17.3427972%2C10.5305078%20L17.5983942%2C10.1906181%20L17.7892763%2C9.99973603%20C17.7892763%2C9.99973603%2017.9589493%2C9.7680672%2017.938284%2C9.68377455%20C17.9170749%2C9.59893807%2017.8741128%2C9.17312423%2017.8741128%2C9.17312423%20C17.8741128%2C9.17312423%2017.9589493%2C8.98278598%2018.0225766%2C8.89794951%20C18.0867478%2C8.80985009%2018.0867478%2C8.70597979%2018.2140025%2C8.60047802%20C18.3412572%2C8.49334478%2018.4266375%2C8.36609007%2018.4902649%2C8.28179742%20C18.5538922%2C8.19641712%2018.6811469%2C8.02620035%2018.724109%2C7.96311681%20C18.7665272%2C7.90166475%2018.7099696%2C7.80105739%2018.7116011%2C7.7988821%20L18.4288128%2C7.7711471%20Z%20M13.8742905%2C3.26121835%20L13.8742905%2C3.4863613%20L14.2435467%2C3.40152482%20L14.3349091%2C3.27427011%20L14.1054155%2C2.99800775%20L13.986862%2C2.76416362%20L13.8742905%2C2.87129686%20L13.8742905%2C3.24871041%20L13.5871517%2C3.1676807%20L13.5023152%2C3.35910659%20L13.5849764%2C3.4863613%20L13.8742905%2C3.26121835%20Z%20M18.2352116%2C9.99973603%20C18.2140025%2C10.0845725%2018.1927934%2C10.2129149%2018.1927934%2C10.2129149%20C18.1927934%2C10.2129149%2018.0889231%2C10.4456713%2018.0655387%2C10.5305078%20C18.0443296%2C10.6164319%2018.0889231%2C10.7855611%2018.1503752%2C10.764352%20C18.2140025%2C10.7431428%2018.3200481%2C10.6164319%2018.3842193%2C10.5740137%20C18.4478466%2C10.5305078%2018.5538922%2C10.3608349%2018.5751014%2C10.2765422%20C18.5968543%2C10.1906181%2018.6365534%2C10.0421543%2018.6599378%2C9.95786162%20C18.6811469%2C9.87411279%2018.7023561%2C9.70226455%2018.7045314%2C9.64135631%20C18.7045314%2C9.57772895%2018.7279158%2C9.31016776%2018.7279158%2C9.31016776%20L18.4353387%2C9.69030043%20C18.4353387%2C9.69030043%2018.258596%2C9.91761868%2018.2352116%2C9.99973603%20L18.2352116%2C9.99973603%20Z%22%20transform%3D%22translate%28-9%20-1%29%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
	background-size: cover;
	border: 1px solid #fff;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.tasks-grid-avatar.tasks-grid-avatar-mail:after {
	content: '';
	width: 8px;
	height: 7px;
	position: absolute;
	right: -3px;
	bottom: -2px;
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%229%22%20viewBox%3D%220%200%2012%209%22%3E%3Cpath%20fill%3D%22%23eb9134%22%20d%3D%22M0%2C3L6.027%2C5.975%2C12%2C3V8.131A1.31%2C1.31%2C0%2C0%2C1%2C11.206%2C9H0.6A1.38%2C1.38%2C0%2C0%2C1%2C0%2C8.012V3Z%22/%3E%3Cpath%20fill%3D%22%23eb9134%22%20d%3D%22M0%2C1.5L6.027%2C4.25%2C12%2C1.5V0.614A1.219%2C1.219%2C0%2C0%2C0%2C11.079%2C0H1.342A1.9%2C1.9%2C0%2C0%2C0%2C0%2C.614V1.5Z%22/%3E%3C/svg%3E%0A') center center no-repeat;
	background-size: cover;
	border: 2px solid #fff;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.tasks-grid-avatar.tasks-grid-avatar-crm:after {
	content: '';
	width: 9px;
	height: 9px;
	position: absolute;
	right: -4px;
	bottom: -3px;
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%2013%2013%22%3E%0A%3Cdefs%3E%0A%20%20%20%20%3Cstyle%3E%0A%20%20%20%20%20%20.cls-1%20%7B%0A%20%20%20%20%20%20%20%20fill%3A%20%23eb9134%3B%0A%20%20%20%20%20%20%20%20stroke%3A%20%23fff%3B%0A%20%20%20%20%20%20%20%20stroke-linejoin%3A%20round%3B%0A%20%20%20%20%20%20%20%20stroke-width%3A%200px%3B%0A%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%3C/style%3E%0A%20%20%3C/defs%3E%0A%20%20%3Cpath%20class%3D%22cls-1%22%20d%3D%22M1%2C2.118L5.563%2C7H7.469L12%2C2.118V0.993S11.683%2C1%2C11.156%2C1H2.23C1.476%2C1%2C1%2C.993%2C1%2C0.993V2.118Z%22/%3E%0A%20%20%3Cpath%20class%3D%22cls-1%22%20d%3D%22M5.542%2C7.785H7.575v3.623L7.029%2C11.4l-1.488-.777V7.785Z%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-position: 0 1px;
}

.task-counter-container {
	position: relative;
	top: -1.5px;
}

.main-grid:not(.main-grid-ondrag) .main-grid-row:hover > .main-grid-cell .tasks-grid-avatar-crm:after {
	background-color: #f6f8f9;
}

.tasks-grid-group,
.tasks-grid-username {
	max-width: 100%;
	display: inline-flex;
	align-items: center;
	overflow: hidden;
	vertical-align: middle;
	color: #525c69;
	text-decoration: none;
	white-space: nowrap;
	padding: 3.5px 13px 3.5px 4px;
	margin: -4px 0;
	transition: 250ms linear all;
	box-sizing: border-box;
	height: 29px;
	background: transparent;
	border-radius: 14.5px;
}

.tasks-grid-tag {
    cursor: pointer;
}

.tasks-grid-group:hover,
.tasks-grid-group.tasks-grid-filter-active,
.tasks-grid-username:hover,
.tasks-grid-username.tasks-grid-filter-active,
.tasks-grid-tag:hover,
.tasks-grid-tag.tasks-grid-filter-active {
	background: #C0EDFD;
	text-decoration: none !important;
}

.tasks-grid-group-inner,
.tasks-grid-username-inner {
	display: inline-block;
	vertical-align: middle;
	max-width: 155px;
	height: 20px;
	line-height: 20px;
	color: #525C69;
	padding-left: 11px;
	overflow: hidden;
	text-overflow: ellipsis
}

.tasks-grid-group-inner {
	max-width: 100%;
}

.tasks-grid-username-inner-orange {
	color: #eb9134;
}

.tasks-grid-group:hover .tasks-grid-group-inner,
.tasks-grid-username:hover .tasks-grid-username-inner{
	color: #525C69;
	text-decoration: none;
	border-bottom: none;
}

.tasks-grid-wrapper,
.tasks-grid-wrapper:hover{
	display: block;
	overflow: hidden;
	height: 46px;
	margin: -16px -32px;
	padding: 0 10px;
	background: #f1f5f7;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	line-height: 46px;
	text-align: left;
}

.main-grid-cell-content .tasks-grid-group-link,
.main-grid-cell-content .tasks-grid-group-link:hover {
	font-size: 13px;
	color: #525c69;
	text-decoration: none;
}

.tasks-grid-wrapper:hover {
	text-decoration: none;
	color: #525c69;
}


.main-grid-row-custom td {
	overflow: visible;
}

.main-grid-row-custom td:before,
.main-grid-row-custom td:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	background: #fff;
}

.main-grid-row-custom td:before { top: -1px }
.main-grid-row-custom td:after 	{ bottom: -1px }


.tasks-list-row-count-wrapper a {
	cursor: pointer;
}
.tasks-circle-loader-circular {
	height: 12px;
	width: 12px;
	-webkit-animation: rotate 1s linear infinite;
	animation: rotate 1s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}
.tasks-list-row-count-wrapper .tasks-circle-loader-circular {
	display: none;
}

.tasks-circle-loader-path {
	stroke: #868d95;
	stroke-width: 7px;
	stroke-dasharray: 60, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

.tasks-list-create {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 530px;
}

.tasks-list-create-icon {
	display: flex;
	align-self: center;
	width: 59px;
	height: 59px;
	margin-bottom: 25px;
	border: 3px solid #9dcf00;
	border-radius: 100%;
}

.tasks-list-create-icon:after {
	content: '';
	width: 27px;
	height: 21px;
	margin: 19px 0 0 17px;
	background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='21' viewBox='0 0 27 21'%3E%3Cpath fill='%239DCF00' fill-rule='evenodd' d='M4.50424193,2 L4.419,11.339 L26.5768928,10.6311272 L26.6522535,13.9231795 L4.389,14.635 L4.38975175,14.6391726 L4.284,14.638 L2.19557348,14.7056469 L2.193,14.622 L1.01093607,14.6132962 L1,2 L4.50424193,2 Z' transform='rotate(-45 12.619 7.853)'/%3E%3C/svg%3E%0A") center no-repeat;
}

.tasks-list-create-title {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	color: #333;
	font-size: 31px;
	line-height: 31px;
}

.tasks-list-create-br {
	display: block;
	width: 100%;
	height: 1px;
	margin: 36px 0 29px 0;
	background: #525c69;
	opacity: .1;
}

.tasks-list-create-subtitle {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	margin-top: 22px;
	font-size: 16px;
	line-height: 22px;
	color: #525c69;
	text-align: center;
}

.tasks-list-cursor {
    cursor: pointer;
}

.tasks-list-project-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: -5px;
    margin-bottom: -3px;
}

.tasks-list-project-add {
    background: url("images/add-icon.svg") center center no-repeat;
    display: inline-flex;
    width: 31px;
    height: 21px;
    border-radius: 14px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px rgba(82, 92, 105, .37) solid;
    cursor: pointer;
    transition: 200ms all ease;
    opacity: 0;
}

.main-grid-row:hover .tasks-list-project-add {
    opacity: .7;
}

.main-grid-row:hover .tasks-list-project-add:hover {
    opacity: 1;
}
