.ui-tile-selector-item [data-role="tile-item-name"] {
	overflow: hidden;
	max-width: 400px;
	text-overflow: ellipsis;
	display: inline-block;
}

.ui-tile-selector-selector-wrap {
	width: 100%;
}

.crm-analytics-source-wrap {
	/*padding: 20px;*/
	/*background: #fff;*/
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-analytics-source-block {
	background: #fff;
	padding: 23px 22px 29px;
	border-radius: var(--ui-border-radius-md);
}

.crm-analytics-source-block + .crm-analytics-source-block {
	margin-top: 27px;
}

.crm-analytics-source-header {
	font: 22px/28px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	color: #333;
	margin: 27px 0 15px;
	word-break: break-word;
}

.crm-analytics-source-block .crm-analytics-source-header {
	margin-top: 0;
}

.crm-analytics-source-desc-text {
	font-size: 14px;
	line-height: 20px;
	color: #525c69;
}

.crm-analytics-source-title {
	padding-bottom: 16px;
	margin-bottom: 12px;
	border-bottom: 1px solid #eeeff0;
}

.crm-analytics-source-title-text {
	font: 16px/22px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #333;
}

.crm-analytics-source-block-desc {
	display: flex;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.crm-analytics-source-icon {
	display: block;
	border-radius: 50%;
	border: 1px solid #ececec;
	width: 95px;
	height: 95px;
	margin-right: 24px;
	flex-shrink: 0;
}

.bx-ie .crm-analytics-source-icon.ui-icon {
	width: 95px;
}

.crm-analytics-source-connect-btn {
	margin-top: 15px;
	padding-left: 60px;
	position: relative;
}
.crm-analytics-source-connect-btn-goo {
	position: relative;
	padding: 15px;
	background: rgba(241,245,246,.8);
	border-radius: var(--ui-border-radius-sm);
}

.crm-analytics-source-connect-btn-icon {
	position: absolute;
	top: 2px;
	left: 0;
	width: 39px;
	height: 36px;
}

.crm-analytics-source-section {
	width: 100%;
}

.crm-analytics-source-user {
	background: #def6fe;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.crm-analytics-source-block-utm .crm-analytics-source-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.crm-analytics-source-info {
	flex-shrink: 0;
}

.crm-analytics-source-utm-copy-text {
	color: #828b95;
	font-size: 14px;
	line-height: 22px;
	border-bottom: 1px dashed rgba(130, 139, 149, .4);
	transition: all .2s linear;
	cursor: pointer;
}

.crm-analytics-source-utm-copy-text:hover {
	border-color: rgba(130, 139, 149, .8);
}

.crm-analytics-source-utm-title {
	font: 16px/24px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	color: #525c69;
	margin-right: 15px;
}

.crm-analytics-source-utm-header {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}

.crm-analytics-source-utm-title-edit {
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	opacity: .5;
	transition: all .2s linear;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20opacity%3D%221%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M9.47656%200.000289917C9.88281%20-0.00770569%2010.2754%200.148285%2010.5664%200.43428C10.8516%200.724274%2011.0098%201.11726%2011%201.52425C10.9922%201.93224%2010.8184%202.31723%2010.5215%202.59723L10.1758%202.94322C9.96094%202.46123%209.66406%202.01924%209.30078%201.63625C8.9375%201.29326%208.51758%201.01826%208.06055%200.823273L8.4043%200.480286C8.68164%200.180283%209.06836%200.0102997%209.47656%200.000289917ZM7.28906%201.59726L1.55273%207.33209C2.0293%207.56009%202.46875%207.85208%202.86523%208.20207C3.18945%208.58006%203.46094%209.00006%203.66992%209.45204L9.40234%203.71919C9.17969%203.2272%208.87695%202.77621%208.50586%202.38524C8.15234%202.04924%207.73633%201.78325%207.28906%201.59726ZM0.800781%208.15707L0%2011L2.93164%2010.158C2.75%209.70003%202.48242%209.28104%202.14062%208.92505C1.76172%208.56906%201.30078%208.30707%200.800781%208.15707Z%22%20fill%3D%22%23525C68%22/%3E%0A%3C/svg%3E%0A)
	no-repeat center;
}

.crm-analytics-source-utm-title-edit:hover {
	opacity: 1;
}

.crm-analytics-source-utm-block {
	border: 1px solid #e1e1e1;
	padding: 14px 15px 14px 17px;
	border-radius: 2px;
	margin-bottom: 19px;
	position: relative;
}

.crm-analytics-source-utm-input {
	border: none;
	outline: none;
	background: #eff6fc;
	margin-right: 16px;
	border-radius: 2px;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
	color: #0063c6;
	width: 522px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 6px 30px 9px 8px;
}

.crm-analytics-source-utm-field {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.crm-analytics-source-utm-delete {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	opacity: .5;
	transition: all .2s linear;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M9.95898%204.73921L8.46289%203.24289L6.21875%205.48738L3.97461%203.2429L2.47656%204.73921L4.72266%206.9843L2.47852%209.22816L3.97461%2010.7245L6.21875%208.48038L8.46289%2010.7245L9.95898%209.22818L7.71484%206.9837L9.95898%204.73921Z%22%20fill%3D%22%23B0B8C1%22/%3E%0A%3C/svg%3E%0A)
	no-repeat center;
}

.crm-analytics-source-utm-delete:hover {
	opacity: 1;
}

.crm-analytics-source-info-link {
	margin-right: 15px;
}

.crm-analytics-source-utm-field-btn {
	flex-shrink: 0;
}


/************* UTM-source ********************/
.crm-analytics-utm-editor-title {
	margin-bottom: 15px;
}

.crm-analytics-utm-editor-title-block {
	padding: 7px 0 15px;
	border-bottom: 1px solid #ebf1f4;
	margin-bottom: 20px;
}

.crm-analytics-utm-editor-field-decs {
	color: #b4b9bf;
	font-size: 13px;
	line-height: 19px;
	font-style: italic;
	margin-top: 10px;
}

.crm-analytics-utm-editor-field {
	display: flex;
	flex-direction: column;
}

.crm-analytics-utm-editor-field-title {
	color: #828b95;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 12px;
}

.crm-analytics-utm-editor-field-input {
	border: 1px solid #c6cdd3;
	outline: none;
	border-radius: var(--ui-field-border-radius, 2px);
	color: #333;
	padding: 7px 9px 9px;
	width: 100%;
	overflow: hidden;
	font: 15px/21px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	box-sizing: border-box;
}

.crm-analytics-utm-editor-field-input-block {
	display: flex;
	align-items: center;
}

.crm-analytics-utm-editor-field-input-decs {
	border-radius: var(--ui-border-radius-xs, 2px);
	background: #d3f3fd;
	font: 15px/21px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	color: #535c69;
	/*padding: 8px 11px 9px;*/
	padding: 12px 11px;
	margin-right: 8px;
}

.crm-analytics-utm-editor-color-select {
	color: #2066b0;
	font-size: 14px;
	line-height: 20px;
	border-bottom: 1px dashed rgba(39, 107, 179, .4);
	transition: border .2s linear;
	cursor: pointer;
	margin-left: 26px;
}

.crm-analytics-utm-editor-color-select:hover {
	border-color: rgba(39, 107, 179, 1);
}

.crm-analytics-utm-editor-field-color {
	display: flex;
	align-items: center;
}

.crm-analytics-utm-editor-subject {
	padding-bottom: 19px;
	margin-bottom: 19px;
	border-bottom: 1px solid #eeeff0;
}

.crm-analytics-utm-editor-subject-text {
	font: 16px/22px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #333;
}

.crm-analytics-utm-editor-color-icon {
	width: 59px;
}

.crm-analytics-source-contact-block {
	display: flex;
	justify-content: space-between;
	margin-top: 14px;
}

.crm-analytics-source-contact + .crm-analytics-source-contact {
	margin-top: 34px;
}

.crm-analytics-source-contact-item {
	width: 49%;
	background: rgba(221, 246, 255, .53);
	border-radius: 4px;
	padding: 16px 21px 17px 13px;
	box-sizing: border-box;
}

.crm-analytics-source-contact-title {
	border-bottom: 1px solid rgba(151, 151, 151, .1);
	padding-bottom: 10px;
	margin-bottom: 13px;
	display: flex;
	align-items: center;
}

.crm-analytics-source-contact-title-text {
	color: #525c69;
	font-weight: 600;
	padding-left: 7px;
}

.crm-analytics-source-contact-content {
	display: flex;
	flex-direction: column;
}

.crm-analytics-source-contact-value + .crm-analytics-source-contact-value {
	margin-top: 10px;
}

.crm-analytics-source-contact-title-icon {
	width: 23px;
	height: 23px;
}

.crm-analytics-source-contact-title-icon.ui-icon > i {
	background-color: #2fc6f6;
}

.bx-ie .crm-analytics-source-contact-title-icon.ui-icon {
	width: 23px;
}

.crm-analytics-source-contact-replace .crm-analytics-source-contact-item {
	background: rgba(233, 242, 200, .53);
}

.crm-analytics-source-contact-settings {
	margin-top: 27px;
	border-top: 1px solid rgba(151, 151, 151, .1);
	padding-top: 24px;
}

.crm-analytics-source-contact-notice {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.crm-analytics-source-contact-notice-text {
	color: #707070;
	font-style: italic;
}

.crm-analytics-source-contact-notice-link {
	color: #2066b0;
	border-bottom: 1px dashed rgba(39, 107, 179, .4);
	transition: border .2s linear;
}

.crm-analytics-source-contact-notice-link:hover {
	border-color: rgba(39, 107, 179, 1);
}

.crm-analytics-source-block-utm-content {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	overflow: hidden;
	padding: 2px 3px;
	min-height: 33px !important;
	background: #fff;
	border: 1px solid #c6cdd3;
	border-radius: var(--ui-field-border-radius, 2px);
	font: 13px/29px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-analytics-source-block-utm-content-val {
	text-overflow: clip;
	white-space: nowrap;
	padding: 0 5px;
}
.crm-analytics-source-block-utm-content-btn {
	flex-grow: 1;
	position: absolute;
	right: 0;
	background: white;
	padding: 0 10px;
	color: #2067b0;
	font-weight: bold;
	cursor: pointer;
}
.crm-analytics-source-block-utm-content-btn:hover {
	text-decoration: underline;
}

.crm-analytics-source-hint {
	display: inline-block;
	width: 13px;
	height: 13px;
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2013%2013%22%3E%3Cg%20fill%3D%22none%22%20opacity%3D%22.7%22%3E%3Cpath%20fill%3D%22%23525C69%22%20d%3D%22M12.48%206.49C12.48%203.183%209.8.5%206.49.5%203.183.5.5%203.182.5%206.49c0%203.31%202.682%205.99%205.99%205.99%203.31%200%205.99-2.68%205.99-5.99z%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M4.06%204.842c0-.308.098-.62.296-.936.197-.316.486-.578.865-.785.38-.207.823-.31%201.33-.31.47%200%20.884.086%201.244.26.36.173.638.41.834.707.196.298.294.623.294.973%200%20.275-.056.517-.168.724-.11.208-.244.387-.398.538-.154.15-.43.404-.83.76-.11.1-.198.19-.265.266-.065.076-.114.146-.147.21-.032.062-.057.125-.075.19-.018.062-.045.173-.08.332-.062.337-.255.505-.58.505-.168%200-.31-.055-.425-.165-.115-.11-.172-.274-.172-.49%200-.273.043-.51.127-.71.084-.198.196-.373.336-.524.14-.15.327-.33.564-.537.207-.183.357-.32.45-.412.092-.093.17-.195.233-.31.063-.112.095-.236.095-.37%200-.258-.097-.477-.29-.655-.192-.178-.44-.268-.746-.268-.358%200-.62.09-.79.27-.167.18-.31.445-.427.795-.11.367-.32.55-.627.55-.182%200-.335-.064-.46-.192s-.187-.267-.187-.416zm2.372%205.33c-.197%200-.37-.064-.518-.192-.147-.128-.22-.307-.22-.537%200-.205.07-.376.213-.516s.318-.21.525-.21c.205%200%20.376.07.516.21.14.14.21.31.21.516%200%20.227-.074.405-.22.535-.146.13-.314.194-.506.194z%22/%3E%3C/g%3E%3C/svg%3E);
	background-repeat: no-repeat;
	cursor: pointer;
}


/***** Google btn ****/
.crm-ads-goo-btn {
	display: inline-flex;
	align-items: center;
	height: 40px;
	padding: 0 11px;
	background: #fff;
	box-shadow: 0 0 1px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
	border-radius: 2px;
	transition: .2s;
	cursor: pointer;
}

.crm-ads-goo-btn:hover,
.crm-ads-goo-btn:focus {
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
	transition: .1s;
}

.crm-ads-goo-btn:active {
	background: #eee;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
	transition: none;
}

.crm-ads-goo-btn-icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 24px;
	background: url("data:image/svg+xml, %3Csvg width='18px' height='18px' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Crect id='path-1' x='0' y='0' width='185' height='40' rx='2'%3E%3C/rect%3E%3Cfilter x='-1.1%25' y='-5.0%25' width='102.2%25' height='112.5%25' filterUnits='objectBoundingBox'%3E%3CfeOffset dx='0' dy='1' in='SourceAlpha' result='shadowOffsetOuter1'%3E%3C/feOffset%3E%3CfeGaussianBlur stdDeviation='0.5' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3E%3C/feGaussianBlur%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.24 0' type='matrix' in='shadowBlurOuter1' result='shadowMatrixOuter1'%3E%3C/feColorMatrix%3E%3CfeOffset dx='0' dy='0' in='SourceAlpha' result='shadowOffsetOuter2'%3E%3C/feOffset%3E%3CfeGaussianBlur stdDeviation='0.5' in='shadowOffsetOuter2' result='shadowBlurOuter2'%3E%3C/feGaussianBlur%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0' type='matrix' in='shadowBlurOuter2' result='shadowMatrixOuter2'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg fill='none'%3E%3Cg transform='translate(-45.000000, -170.000000)'%3E%3C/g%3E%3Cg transform='translate(-15.000000, -15.000000)'%3E%3Cg transform='translate(15.000000, 15.000000)'%3E%3Cpath d='M17.64,9.20454545 C17.64,8.56636364 17.5827273,7.95272727 17.4763636,7.36363636 L9,7.36363636 L9,10.845 L13.8436364,10.845 C13.635,11.97 13.0009091,12.9231818 12.0477273,13.5613636 L12.0477273,15.8195455 L14.9563636,15.8195455 C16.6581818,14.2527273 17.64,11.9454545 17.64,9.20454545 L17.64,9.20454545 Z' fill='%234285F4'%3E%3C/path%3E%3Cpath d='M9,18 C11.43,18 13.4672727,17.1940909 14.9563636,15.8195455 L12.0477273,13.5613636 C11.2418182,14.1013636 10.2109091,14.4204545 9,14.4204545 C6.65590909,14.4204545 4.67181818,12.8372727 3.96409091,10.71 L0.957272727,10.71 L0.957272727,13.0418182 C2.43818182,15.9831818 5.48181818,18 9,18 L9,18 Z' fill='%2334A853'%3E%3C/path%3E%3Cpath d='M3.96409091,10.71 C3.78409091,10.17 3.68181818,9.59318182 3.68181818,9 C3.68181818,8.40681818 3.78409091,7.83 3.96409091,7.29 L3.96409091,4.95818182 L0.957272727,4.95818182 C0.347727273,6.17318182 0,7.54772727 0,9 C0,10.4522727 0.347727273,11.8268182 0.957272727,13.0418182 L3.96409091,10.71 L3.96409091,10.71 Z' fill='%23FBBC05'%3E%3C/path%3E%3Cpath d='M9,3.57954545 C10.3213636,3.57954545 11.5077273,4.03363636 12.4404545,4.92545455 L15.0218182,2.34409091 C13.4631818,0.891818182 11.4259091,0 9,0 C5.48181818,0 2.43818182,2.01681818 0.957272727,4.95818182 L3.96409091,7.29 C4.67181818,5.16272727 6.65590909,3.57954545 9,3.57954545 L9,3.57954545 Z' fill='%23EA4335'%3E%3C/path%3E%3Cpolygon points='0 0 18 0 18 18 0 18'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center no-repeat;
}

.crm-ads-goo-btn-text {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: rgba(0,0,0,.54);
	letter-spacing: .22px;
}