.tasks-widget-result__scope {
	--tasks_widget_result-white: rgba(255,255,255,1);

	--tasks_widget_result-black_alpha_15: rgba(0, 0, 0, 0.15);
	--tasks_widget_result-black_alpha_25: rgba(0, 0, 0, 0.25);

	--tasks_widget_result-grey: rgba(82,92,105,1);
	--tasks_widget_result-grey_alpha_07: rgba(82,92,105,.07);
	--tasks_widget_result-grey_alpha_08: rgba(82,92,105,.08);

	--tasks_widget_result-grey-2: rgba(238,242,244,1);


	--tasks_widget_result-green: rgba(248,251,235,1);
}

.tasks-result-list-container {
	transition: .2s;
	overflow: hidden;
	border-radius: var(--ui-border-radius-md);
}

.tasks-widget-result {
	position: relative;
	color: var(--tasks_widget_result-grey);
	padding-bottom: 20px;
}

.tasks-widget-result--content {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.tasks-widget-result--content > .tasks-widget-result__item::before,
.tasks-widget-result--content > .tasks-widget-result__item::after {
	content: '';
	opacity: 1;
	transition: .2s;
}

.tasks-widget-result--content.--many-results > .tasks-widget-result__item::after,
.tasks-widget-result--content.--two-results > .tasks-widget-result__item::before,
.tasks-widget-result--content.--many-results > .tasks-widget-result__item::before {
	display: block;
	width: calc(100% - 10px);
	height: 100%;
	position: absolute;
	left: 5px;
	top: 5px;
	background: var(--tasks_widget_result-white);
	box-shadow: 0 1px 2px var(--tasks_widget_result-grey_alpha_07);
	z-index: -1;
	border-radius: var(--ui-border-radius-md);
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.tasks-widget-result--content.--many-results > .tasks-widget-result__item::after {
	width: calc(100% - 20px);
	left: 10px;
	top: 10px;
	z-index: -2;
}

.tasks-widget-result--content.--open > .tasks-widget-result__item::after,
.tasks-widget-result--content.--open > .tasks-widget-result__item::before {
	top: 100%;
	opacity: 0;
}

.tasks-widget-result__item {
	padding: 0 19px;
	background: var(--tasks_widget_result-white);
	margin-bottom: 15px;
	transition: .2s;
	position: relative;
	border-radius: var(--ui-border-radius-md);
}

.tasks-widget-result__item-more {
	overflow: hidden;
	transition: .2s;
	height: 0;
}

.tasks-widget-result--content > .tasks-widget-result__item {
	background: var(--tasks_widget_result-green);
}

.tasks-widget-result__item--header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 0;
	border-bottom: 1px solid var(--tasks_widget_result-grey_alpha_08);
	margin-bottom: 18px;
}

.tasks-widget-result__item--header-title {
	font: 16px/22px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: var(--tasks_widget_result-grey);
}

.tasks-widget-result__item--content {
	padding-bottom: 23px;
}

.tasks-widget-result--btn {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	left: 50%;
	bottom: 17px;
	transform: translate(-50%, 0%);
	padding: 5px 10px;
	font: 13px/18px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	background: var(--tasks_widget_result-white);
	box-shadow: 0 1px 2px var(--tasks_widget_result-black_alpha_15);
	border-radius: 13.5px;
	cursor: pointer;
	z-index: 1;
	transition: .2s;
}

.tasks-widget-result--btn.--visible {
	opacity: 1;
	pointer-events: all;
}

.tasks-widget-result--content.--open .tasks-widget-result--btn {
	bottom: 22px;
}

.tasks-widget-result--btn:hover {
	box-shadow: 0 1px 2px var(--tasks_widget_result-black_alpha_25);
}

.tasks-widget-result__item-header {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.tasks-widget-result__item-header--info {
	display: flex;
	align-items: center;
	margin-top: 2px;
}

.tasks-widget-result__item-content {
	margin-left: 50px;
	max-width: 802px;
	font-size: 13px;
	line-height: 16px;
	overflow-wrap: break-word;
}

.tasks-widget-result__item-header--name.ui-link {
	display: inline-block;
	font-weight: var(--ui-font-weight-bold);
	margin-right: 9px;
	line-height: 15px;
	border-bottom: 1px solid transparent;
}

.tasks-widget-result__item-header--name.ui-link:hover {
	font-weight: var(--ui-font-weight-bold);
	border-bottom: 1px solid;
}

.tasks-widget-result__item-header--time-img {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-right: 3px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.17984 0.325636C7.8832 1.01131 8.99904 2.66322 8.99915 4.4994C9.04649 6.93352 7.11294 8.94581 4.67888 8.99562C2.84414 9.06877 1.14903 8.01972 0.395951 6.34507C-0.35713 4.67042 -0.0170757 2.70617 1.25514 1.38214C2.52736 0.0581147 4.47648 -0.360033 6.17984 0.325636ZM2.08334 2.17782C1.13583 3.16391 0.882568 4.62682 1.44344 5.87405C2.00431 7.12127 3.26677 7.90257 4.63322 7.84809C6.44604 7.81099 7.88607 6.31231 7.85082 4.49946C7.85074 3.13192 7.0197 1.90163 5.75109 1.39097C4.48248 0.880304 3.03084 1.19173 2.08334 2.17782ZM3.93061 5.05759V2.23424H5.05995V3.92825H6.75396V5.05759H3.93061Z' fill='%23818791'/%3E%3C/svg%3E%0A");
}

.tasks-widget-result__item-header--avatar.ui-icon {
	margin: 0 11px 1px 0;
}

.tasks-widget-result__item-header--time-block {
	display: flex;
	align-items: center;
}

.tasks-widget-result__item-header--time.ui-link {
	font-weight: var(--ui-font-weight-bold);
	font-size: 11px;
	line-height: 13px;
}

.tasks-widget-result__item--file-block {
	margin-top: 8px;
}

.tasks-widget-result__item--file-block .disk-uf-file-download-archive {
	margin-top: 3px;
}

.tasks-widget-result__item--file-block .feed-com-files-cont {
	display: flex;
	flex-wrap: wrap;
}

.tasks-widget-result__item--link-block {
	margin-top: 11px;
}