.pagetitle-inner-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.pagetitle-inner-container .pagetitle {
	font: 26px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	flex-grow: 1;
	order: 1;
}

.pagetitle-inner-container .pagetitle-menu,
.pagetitle-inner-container .pagetitle-container { order: 5 }

.pagetitle-inner-container .pagetitle.pagetitle-narrow {
	font-size: 18px;
	line-height: 18px;
	animation: pagetitle-opacity-show .5s linear forwards;
}

.grid-mode .workarea-content-paddings {
	padding: 15px 15px 20px;
}

@keyframes pagetitle-opacity-show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.pagetitile-button-container {
	display: inline-block;
}

.pagetitile-button-container * {
	margin-left: 5px;
}

.catalog-page-link-btn {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.catalog-page-link-btn:before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	opacity: .5;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M11.99%205.89L9.55%208.33a3.45%203.45%200%200%201-4.88%200%203.447%203.447%200%200%201-.524-.696L5.28%206.5c.054-.054.12-.085.184-.122.079.268.215.521.426.732a1.727%201.727%200%200%200%202.44%200l2.44-2.44a1.726%201.726%200%200%200%200-2.44%201.727%201.727%200%200%200-2.44%200l-.868.869a4.329%204.329%200%200%200-2.2-.24L7.11%201.011a3.45%203.45%200%200%201%204.88%204.88zM5.538%209.902l-.868.868a1.728%201.728%200%200%201-2.44%200%201.728%201.728%200%200%201%200-2.44l2.44-2.44a1.726%201.726%200%200%201%202.44%200c.21.21.347.464.426.731.064-.037.13-.067.184-.121l1.133-1.133a3.39%203.39%200%200%200-.523-.697%203.45%203.45%200%200%200-4.88%200L1.01%207.11a3.45%203.45%200%200%200%204.88%204.88l1.85-1.85a4.326%204.326%200%200%201-2.202-.238z%22/%3E%3C/svg%3E') no-repeat center;
	background-size: contain;
	transition: .1s;
}

.catalog-page-link-btn:hover:before {
	opacity: 1;
}

/*endtodo*/

#workarea-content {
	background-color: transparent !important;
}

.catalog-entity-wrap {
	position: relative;
	padding-bottom: 60px;
}

.catalog-entity-wrap .ui-entity-editor-column-content {
	width: 100% !important;
}

.catalog-entity-wrap .ui-ctl-element::placeholder {
	color: lightgrey;
}

.catalog-entity-section-product-loader {
	background: url(images/skeleton.svg) no-repeat;
	height: 446px;
}
/*region tabs*/
.catalog-entity-section-tabs .main-buttons {
	height: 27px;
}
.catalog-entity-section-tabs .main-buttons-inner-container,
.template-bitrix24 .catalog-entity-section-tabs .main-buttons-inner-container {
	background: none;
	padding: 0;
	margin: 0;
	border: 0;
}
.catalog-entity-section-tabs .main-buttons-inner-container > div.main-buttons-item {
	background: none;
	margin: 0;
	border: 0;
	height: 30px;
	line-height: 25px;
}
.catalog-entity-section-tabs .main-buttons-item-link {
	padding: 0;
	margin: 0 18px;
	color: #525c68;
	height: 27px;
	border-bottom: 2px solid transparent;
	font: 14px/25px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}
.catalog-entity-section-tabs .main-buttons-inner-container div.catalog-entity-section-tab-active .main-buttons-item-link,
.catalog-entity-section-tabs .main-buttons-inner-container div.main-buttons-item.over .main-buttons-item-link{
	border-bottom-color: #1058d0;
	color: #1058d0;
}
.catalog-entity-section-tabs .main-buttons-item-more .main-buttons-item-link {
	margin: 0 18px;
	padding: 0;
}

.catalog-entity-section-tabs .main-buttons-item-more.main-buttons-item:after {
	top: 17px;
	right: 5px;
	border-color: #525c68 transparent transparent transparent;
}

/*region .bitrix24-light-theme */
.bitrix24-light-theme .catalog-entity-section-tabs .main-buttons-item-link {
	padding: 0 18px;
	margin: 0;
	color: #fefefe;
}
.bitrix24-light-theme .catalog-entity-section-tabs .main-buttons-inner-container div.catalog-entity-section-tab-active .main-buttons-item-link,
.bitrix24-light-theme .catalog-entity-section-tabs .main-buttons-inner-container div.main-buttons-item.over .main-buttons-item-link{
	border-bottom-color: transparent;
	border-radius: 13.5px;
	background-color: rgba(255, 255, 255, .2);
	color: #fff;
	transition: all 220ms ease;
}
.bitrix24-light-theme .catalog-entity-section-tabs .main-buttons-inner-container .main-buttons-item-more.main-buttons-item:after,
.bitrix24-light-theme .catalog-entity-section-tabs .main-buttons-inner-container div.main-buttons-item.over .main-buttons-item:after {
	right: 7px;
	border-color: #fff transparent transparent transparent;
}
.main-buttons-item.catalog-entity-section-tab-disabled .main-buttons-item-link,
.main-buttons-item.catalog-entity-section-tab-disabled:hover .main-buttons-item-link{
	border-color: transparent !important;
	color: #9ca2a7 !important;
	cursor: default;
}
/*endregion*/
.catalog-entity-section-tab-content-show,
.catalog-entity-section-tab-content-hide { position: relative; }

.catalog-entity-section-tab-content-show {
	opacity: 1;
	transform: translateX(0);
}

.catalog-entity-section-tab-content-hide {
	opacity: 0;
	transform: translateX(100%);
}
/*/endregion*/

/**/
.catalog-entity-section-tab-applications-container { padding: 15px 0; }

/**/
.catalog-entity-section-info { }

/* catalog-entity-section-control */
.catalog-entity-section.catalog-entity-section-control {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 900;
	box-sizing: border-box;
	padding: 10px 0 0;
	background-color: #fff;
	box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .05);
	text-align: center;
	transition: all 300ms ease;
	transform: translateY(100%);
}

.catalog-entity-wrap.catalog-section-control-active .catalog-entity-section.catalog-entity-section-control { transform: translateY(0); }

.catalog-entity-section-control .webform-button-link {
	position: relative;
	margin: 0;
	height: 39px;
	border: none;
	color: #535b69;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font: 12px/39px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	transition: color .25s ease;
}

.catalog-entity-section-control .webform-button-link:hover {
	border: none;
	color: #80868e;
}

.catalog-entity-section-control-error-block {
	overflow: hidden;
	margin-top: 10px;
	max-height: 150px;
	transition: all 300ms ease;
}

.catalog-entity-section-control-error-text {
	padding: 20px;
	width: 100%;
	background-color: #fae5e8;
	color: #d0011b;
	font: 400 14px/16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.pagetitle.catalog-pagetitle {
	/*display: -webkit-box;*/
	/*display: -ms-flexbox;*/
	/*display: flex;*/
}

.ui-toolbar-star { margin-left: 10px; }

input.pagetitle-item {
	flex:1;
	display: inline-block;
	box-sizing: border-box;
	margin: 0 0 4px;
	padding: 0;
	width: 100%;
	border: none;
	border-bottom: 1px solid #cfd6da;
	background-color: transparent;
	color: #000;
	word-wrap: break-word;
	font: 26px/27px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
}

.bitrix24-light-theme input.pagetitle-item {
	color: #fff;
}

.catalog-entity-section-above-overlay,
.catalog-entity-stream-section-planned-above-overlay {
	position: relative;
	z-index: 130 !important;
}

.catalog-entity-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 120;
	background-color: rgba(0, 0, 0, .2);
}

.pagetitle-sub {
	display: inline-block;
	vertical-align: middle;
	color: #525c69;
	font: 13px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.pagetitle-sub a {
	position: relative;
	margin-right: 20px;
	border-bottom: 1px dashed #ccd0d4;
	color: #333;
}

.pagetitle-sub a:before {
	position: absolute;
	top: 50%;
	right: -12px;
	margin-top: -1px;
	border: 4px solid transparent;
	border-top-color: #bfc4ca;
	content: '';
}

.pagetitle-sub a:hover {
	border-bottom: 1px dashed #333;
	color: #000;
}

/* Fix for automation status */
.automation-base {
	margin-bottom: 10px !important;
	width: 100% !important;
}

.bizproc-automation-status-name-bg,
.catalog-automation-status-name-bg { background: #eef2f4 !important; }

.bitrix24-light-theme:not(.side-panel) .bizproc-automation-status-name-bg {
	background: transparent !important;
	color: #fff;
}

.bitrix24-dark-theme:not(.side-panel) .bizproc-automation-status-name-bg {
	background: transparent !important;
}

.bizproc-automation-status-title-right,
.catalog-automation-status-title-right { background-color: #eef2f4 !important; }

/**/
.task-iframe-popup { box-sizing: border-box; }

.catalog-items-list-wrap {
	overflow-x: auto;
	padding: 10px 15px;
	max-width: 100%;
	background-color: #fff;
}

.pagetitle-inner-container .ui-btn-split.ui-btn-primary { margin-right: 17px; }

.catalog-entity-card-container,
.catalog-entity-card-container-shadow {
	float: left;
	box-sizing: border-box;
	width: 41.6%;
}

.catalog-entity-stream-container,
.catalog-entity-stream-container-shadow {
	position: relative;
	z-index: 110;
	float: right;
	box-sizing: border-box;
	padding-left: 63px;
	width: 58.4%;
}

.catalog-stageflow-wrap {
	position: relative;
	height: 32px;
}

.catalog-title-document-type {
	color: #525c68;
	font: 14px/25px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.pagetitile-button-container {
	display: inline-block;
}

.pagetitile-button-container * {
	margin-left: 5px;
}

.pagetitle-edit-button {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.pagetitle-edit-button:before {
	content: '';
	display: block;
	width: 11px;
	height: 10px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%2210%22%20viewBox%3D%220%200%2011%2010%22%3E%3Cpath%20fill%3D%22%23525C69%22%20d%3D%22M346.697954%2C919%20L348.626577%2C920.928622%20L341.709035%2C927.844782%20L339.780413%2C925.91616%20L346.697954%2C919%20Z%20M338.64341%2C928.723438%20C338.624068%2C928.79666%20338.644791%2C928.874026%20338.69729%2C928.927906%20C338.751169%2C928.981785%20338.828535%2C929.002508%20338.901757%2C928.981785%20L341.188197%2C928.365621%20L339.259574%2C926.436999%20L338.64341%2C928.723438%20Z%22%20transform%3D%22translate%28-338%20-919%29%22/%3E%3C/svg%3E) no-repeat center;
	opacity: .5;
	transition: .5s;
}

.pagetitle-edit-button:hover:before {
	opacity: 1;
}

.page-link-btn {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.page-link-btn:before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	opacity: .5;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%3E%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M11.99%205.89L9.55%208.33a3.45%203.45%200%200%201-4.88%200%203.447%203.447%200%200%201-.524-.696L5.28%206.5c.054-.054.12-.085.184-.122.079.268.215.521.426.732a1.727%201.727%200%200%200%202.44%200l2.44-2.44a1.726%201.726%200%200%200%200-2.44%201.727%201.727%200%200%200-2.44%200l-.868.869a4.329%204.329%200%200%200-2.2-.24L7.11%201.011a3.45%203.45%200%200%201%204.88%204.88zM5.538%209.902l-.868.868a1.728%201.728%200%200%201-2.44%200%201.728%201.728%200%200%201%200-2.44l2.44-2.44a1.726%201.726%200%200%201%202.44%200c.21.21.347.464.426.731.064-.037.13-.067.184-.121l1.133-1.133a3.39%203.39%200%200%200-.523-.697%203.45%203.45%200%200%200-4.88%200L1.01%207.11a3.45%203.45%200%200%200%204.88%204.88l1.85-1.85a4.326%204.326%200%200%201-2.202-.238z%22/%3E%3C/svg%3E') no-repeat center;
	background-size: contain;
	transition: .1s;
}

.page-link-btn:hover:before {
	opacity: 1;
}

.catalog-entity-widget-content-block-products-list {
	width: 100%;
}

.catalog-entity-widget-content-block-products-item {
	border-bottom: 1px solid #e4e7ea;
	display: flex;
}

.catalog-entity-widget-content-block-products-item:last-child {
	border-bottom: none;
}

.catalog-entity-widget-content-block-products-in {
	animation: slideProductIn .5s 1 ease;
}

.catalog-entity-widget-content-block-products-out {
	animation: slideProductOut .5s 1 ease;
	max-height: 0;
	overflow: hidden;
	border-bottom: none;
}

@keyframes slideProductIn {
	from {max-height: 0; font-size: 0;}
	80% {font-size: 0}
	81% {font-size: inherit}
	to {max-height: 50px; font-size: inherit;}
}

@keyframes slideProductOut {
	from {max-height: 50px;}
	20% {font-size: inherit}
	21% {font-size: 0}
	to {max-height: 0; font-size: 0}
}

.catalog-entity-widget-content-block-products-item-name {
	word-break: break-all;
	word-break: break-word;
	padding: 10px 2px 10px 0;
	flex: 1;
}

.catalog-entity-widget-content-block-products-price {
	padding: 10px 0 10px 20px;
	vertical-align: top;
	text-align: right;
	white-space: nowrap;
}

.catalog-entity-widget-content-block-products-price-currency {
	color: #a8adb4;
	font: 400 12px/14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.catalog-entity-widget-content-block-products-show-more {
	border-bottom: 1px dotted;
	color: #80868e;
	text-decoration: none;
	font: 400 13px/15px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	cursor: pointer;
	transition: 220ms all ease;
}

.catalog-entity-widget-content-block-products-show-more:hover { color: #333; }

.catalog-document-type-selector {
	z-index: 130;
	font-size: 14px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	line-height: normal;
	margin-top: 5px;
}

.catalog-document-type-selector-text {
	z-index: 130;
	border-bottom: 1px dashed;
	cursor: pointer;
	position: relative;
}

.catalog-document-type-selector-text:after {
	content: '';
	position: absolute;
	right: -15px;
	top: 5px;
	width: 5px;
	height: 5px;
	border: 2px solid;
	border-top: none;
	border-left: none;
	transform: rotate(45deg);
	opacity: 0.7;
	transition: .2s;
}

.document-status-label {
	vertical-align: middle;
	text-transform: uppercase;
	margin-left: 5px;
}

.catalog-title-buttons-wrapper {
	display: inline-flex;
	align-items: center;
}

.catalog-document-card-left {
	float: left;
	box-sizing: border-box;
	width: 41.6%;
}

.catalog-document-card-right {
	position: relative;
	z-index: 110;
	float: right;
	box-sizing: border-box;
	padding-left: 63px;
	width: 58.4%;
}

.catalog-document-card-wrapper {
	overflow: hidden;
}

