.crm-scenario-selection--modifier {
	overflow-y: auto;
}

.crm-scenario-selection--modifier .ui-side-panel-wrap-workarea#workarea-content {
	background-color: transparent;
}

.crm-scenario-selection--active .crm-scenario-selection-content {
	background-color: #f0fbff;
	box-shadow: 0 0 0 2px #2fc6f6;
}

.crm-scenario-selection--active .crm-scenario-selection-btn {
	border: none;
	background-color: #3bc8f5;
	color: #fff;
}

.crm-scenario-selection--active .crm-scenario-selection-btn:hover {
	background-color: #3eddff;
}

.crm-scenario-selection--active .crm-scenario-selection-btn:before {
	content: '';
	display: inline-block;
	margin-right: 5px;
	width: 13px;
	height: 10px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M5.498%206.85L11.599.825l1.847%201.857-7.92%207.85-.028-.028-.03.029-4.843-4.69L2.47%203.989z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.crm-scenario-selection-wrapper {
	display: flex;
}

.crm-scenario-selection-card {
	flex-grow: 1;
	padding: 19px 18px 15px;
	background-color: #fff;
	border-radius: var(--ui-border-radius-md);
}
.crm-scenario-selection-card:first-child {
	margin-right: 17px;
}

.crm-scenario-selection-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 21px 11px 26px 11px;
	min-width: 359px;
	box-shadow: 0 0 0 1px #a8adb4;
	border-radius: var(--ui-border-radius-sm, 2px);
	transition: border .3s;
	box-sizing: border-box;
}

.crm-scenario-selection-title {
	position: relative;
	display: block;
	margin: 0 0 11px 0;
	color: #333;
	font: 22px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.crm-scenario-selection-title > span {
	position: absolute;
	top: 1.5px;
	right: -24px;
}

.crm-scenario-selection-desc {
	display: block;
	margin-bottom: 19px;
	font: 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525c69;
	text-align: center;
}

.crm-scenario-selection-deal .crm-scenario-selection-desc {
	max-width: 200px;
}

.crm-scenario-selection-deal-plus .crm-scenario-selection-desc {
	max-width: 300px;
}

.crm-scenario-selection-list {
	padding: 0 26px 0 15px;
	margin: 19px 0 17px 0;
	list-style: none;
}

.crm-scenario-selection-list-item {
	position: relative;
	padding-left: 17px;
	margin-bottom: 16px;
	line-height: 18px;
	color: #333;
	letter-spacing: .2px;
}

.crm-scenario-selection-list-item:before {
	content: '';
	position: absolute;
	top: 5px;
	left: 0;
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: rgba(59,200,245,.7);
}

#ui-button-panel {
	transition: opacity 0.5s;
}

.crm-scenario-selection-wrapper .crm-scenario-selection-info {
	color: #525C69;
	font-size: 12px;
	line-height: 16px;
	border-top: 1px solid #edeef0;
	padding: 16px 0 5px;
}

.crm-scenario-selection-info-title {
	font-weight: 700;
	margin-bottom: 3px;
}

.crm-scenario-selection-info-checkbox {
	width: 80%;
	display: flex;
	align-items: flex-start;
	margin-top: 7px;
}

.crm-scenario-selection-info-checkbox input {
	margin: 3px 8px 0 0;
}

.bx-popup-crm-scenario-selection-popup .popup-window-content {
	color: #333;
	padding-bottom: 0;
}

.bx-popup-crm-scenario-selection-popup-content-text {
	padding-bottom: 20px;
	display: block;
	border-bottom: 1px solid #eff1f3;
}
