div.bx-crm-interface-grid {font-family:var(--ui-font-family-primary, var(--ui-font-family-helvetica));}
div.empty {height:0;}
/*Grid*/
table.bx-interface-grid {width:100%; cursor:default; color:black; border-collapse:separate;}
/*table.bx-interface-grid div {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; background-repeat:no-repeat;}*/
table.bx-interface-grid > tbody > tr > td {padding:6px; border-right:1px solid #EDEDED;  vertical-align: middle;}
table.bx-interface-grid td.bx-left {border-left:1px solid #EDEDED;}
table.bx-interface-grid td.bx-right {}
table.bx-interface-grid tr.bx-top td {}
table.bx-interface-grid tr.bx-bottom td {border-bottom:none}
table.bx-interface-grid tr.bx-bottom table td {border:0;}
table.bx-interface-grid tr.bx-even > td {background-color:#F2F2F2;}
table.bx-interface-grid tr.bx-even td.bx-sorted {background-color:#EDEDED;}
table.bx-interface-grid tr.bx-odd > td {background-color:white;}
table.bx-interface-grid tr.bx-odd td.bx-sorted {background-color:#F8F8F8;}
table.bx-interface-grid tr.bx-grid-gutter td {height:0 !important; border:none !important; padding:0px !important;}
table.bx-interface-grid tr.bx-grid-gutter td.bx-over {background-image:url(images/gutter_bg.png); background-repeat:repeat-x;}
table.bx-interface-grid tr.bx-grid-gutter td.bx-sorted {background-color:#C0C0C0;  border-top:1px solid #B7B7B7;}
table.bx-interface-grid tr.bx-grid-gutter td.bx-over-sorted {background-image:url(images/gutter_sort_bg.png); background-repeat:repeat-x;}
table.bx-interface-grid tr.bx-grid-gutter td.bx-left {border-left:1px solid #D6D6D6;}
table.bx-interface-grid tr.bx-grid-gutter td.bx-right {border-right:1px solid #D6D6D6;}
table.bx-interface-grid tr.bx-grid-head td {padding:5px !important; border-right:1px solid #EBEBEB; border-bottom:1px solid #CDCDCD; border-top:none; border-left:none; color:black; font-weight:bold; background-color:#D9D9D9; background-image:url(images/listhead.png); background-repeat:repeat-x; background-position:top; cursor:default;}
table.bx-interface-grid tr.bx-grid-head td.bx-sortable {cursor:pointer;}
table.bx-interface-grid tr.bx-grid-head td.bx-sorted {background-color:#C0C0C0; background-image:none; border-bottom:1px solid #C3C3C3;}
table.bx-interface-grid tr.bx-grid-head td.bx-left {border-left:1px solid #D6D6D6;}
table.bx-interface-grid tr.bx-grid-head td.bx-right {border-right:1px solid #D6D6D6;}
table.bx-interface-grid tr.bx-selected > td {background-color:#DAEC71;}
table.bx-interface-grid tr.bx-selected td.bx-sorted {background-color:#DAEC71;}
table.bx-interface-grid tr.bx-active > td {background-color:#FFF46A;}
table.bx-interface-grid tr.bx-active td.bx-sorted {background-color:#FFF46A;}
table.bx-interface-grid tr.bx-over > td {background-color:#FFFCB1;}
table.bx-interface-grid tr.bx-over td.bx-sorted {background-color: #FFFCB1;}

table.bx-interface-grid a.bx-action { border: 0 none !important; margin:1px; display:inline-block; outline:none;}
table.bx-interface-grid a.bx-action:hover {margin:0; border:1px solid #AEB6C2 !important; background-color:transparent;}
table.bx-interface-grid a.bx-action div {cursor:pointer; width:26px; height:18px; background-image:url(images/action.gif); background-repeat:no-repeat; background-position:3px 3px;}
table.bx-interface-grid a.bx-action:hover div, table.bx-interface-grid tr.bx-over a.bx-action div {background-image:url(images/action_hover.gif);}
table.bx-interface-grid a.pressed {margin:0; border:1px solid #A6A6A6; background-color:transparent;}
table.bx-interface-grid a.pressed div {background-image:url(images/action_hover.gif);}

table.bx-interface-grid tr.bx-grid-head a.bx-action { width: auto; margin: 0; border: none;}
table.bx-interface-grid tr.bx-grid-head a.bx-action div {background-image:url(images/action_head.gif);  background-position:4px 3px;}
table.bx-interface-grid tr.bx-grid-head a.bx-action:hover div {background-image:url(images/action_hover.gif);}
table.bx-interface-grid tr.bx-grid-head a.bx-action:hover {border:none; margin:0; background-color:transparent;}
table.bx-interface-grid tr.bx-grid-head a.pressed {border:none; background-color:transparent;}
table.bx-interface-grid tr.bx-grid-head a.pressed div {background-image:url(images/action_hover.gif);}

table.bx-interface-grid tr td.bx-minimal {width:1%;}
table.bx-interface-grid tr td.bx-date {width:6%;}
table.bx-interface-grid tr td.bx-datetime {width:8%;}
table.bx-interface-grid tr td.bx-username {width:10%;}
table.bx-interface-grid tr td.bx-phone {width:8%;}

/* Grid footer */
div.bx-edit-tab-inner div.bx-crm-interface-grid table.bx-interface-grid tr.bx-grid-footer td,
table.bx-interface-grid tr.bx-grid-footer td {padding:4px 0 4px 0; color:#E0E0E0; background-color:#8A8A8A; border:none;}

div.bx-edit-tab-inner div.bx-crm-interface-grid tr.bx-grid-footer table.bx-grid-footer,
tr.bx-grid-footer table.bx-grid-footer {color:#E0E0E0; width:100%; border-collapse:separate;}

div.bx-edit-tab-inner div.bx-crm-interface-grid tr.bx-grid-footer table.bx-grid-footer td,
tr.bx-grid-footer table.bx-grid-footer td {font-size:100%; padding:4px 5px 4px 5px; border:none; border-right:1px solid #B4B4B4; white-space:nowrap;}

div.bx-edit-tab-inner div.bx-crm-interface-grid tr.bx-grid-footer table.bx-grid-footer td.bx-right,
tr.bx-grid-footer table.bx-grid-footer td.bx-right {width:100%; border-right:none;}

div.bx-edit-tab-inner div.bx-crm-interface-grid tr.bx-grid-footer table.bx-grid-footer span,
tr.bx-grid-footer table.bx-grid-footer span {color:white; font-weight:bold;}

div.bx-edit-tab-inner div.bx-crm-interface-grid tr.bx-grid-footer table.bx-grid-footer div.modern-page-navigation,
tr.bx-grid-footer table.bx-grid-footer div.modern-page-navigation {padding:0;}

/*div.bx-edit-tab-inner div.bx-crm-interface-grid tr.bx-grid-footer table.bx-grid-footer div.modern-page-navigation a,*/
tr.bx-grid-footer table.bx-grid-footer div.modern-page-navigation a {color:white; text-decoration:underline;}

div.bx-edit-tab-inner div.bx-crm-interface-grid tr.bx-grid-footer table.bx-grid-footer span.modern-page-title,
tr.bx-grid-footer table.bx-grid-footer span.modern-page-title {color:#E0E0E0;}

/*Sorting*/
table.bx-interface-grid table.bx-grid-sorting {width:100%; color:black;}
table.bx-interface-grid table.bx-grid-sorting td {padding:0px; border:0px; cursor:pointer; cursor: hand; background-image:none; background-color:transparent;}
table.bx-interface-grid table.bx-grid-sorting td.bx-sort-sign {width:7px; background-image:url(images/sort_no.gif); background-repeat:no-repeat; background-position:right center !important;}
table.bx-interface-grid table.bx-grid-sorting td.bx-sort-sign div.empty {width:10px;}
table.bx-interface-grid table.bx-grid-sorting td.bx-sort-up {background-image:url(images/sort_up.gif);}
table.bx-interface-grid table.bx-grid-sorting td.bx-sort-down {background-image:url(images/sort_down.gif);}

/* Multiple Actions */
div.bx-grid-multiaction {margin:16px 0px 16px 0px;}
table.bx-grid-multiaction {width:100%; background-color:#E6E9F4; background-image:url(images/actions/actions_bg.png); background-repeat:repeat-x;  border-collapse:separate; height:38px;}
table.bx-grid-multiaction td {padding:0px; color:black;}
table.bx-grid-multiaction tr.bx-top td {border-top:1px solid #DFDFDF;}
table.bx-grid-multiaction td.bx-left {border-left:1px solid #D1D1D1;}
table.bx-grid-multiaction td.bx-right {border-right:1px solid #C5C5C5;}
table.bx-grid-multiaction tr.bx-top td.bx-left {border:0px; background-image:url(images/actions/lt.gif); height:2px; width:2px; background-position:left top;}
table.bx-grid-multiaction tr.bx-top td.bx-right {border:0px; background-image:url(images/actions/rt.gif); height:2px; width:2px; background-position:right top;}
table.bx-grid-multiaction tr.bx-bottom td {border-bottom:1px solid #B3B3B3;}
table.bx-grid-multiaction tr.bx-bottom td.bx-left {border:0px; background-image:url(images/actions/lb.gif); height:2px; width:2px; background-position:left bottom;}
table.bx-grid-multiaction tr.bx-bottom td.bx-right {border:0px; background-image:url(images/actions/rb.gif); height:2px; width:2px; background-position:right top;}
table.bx-grid-multiaction td.bx-content {padding:4px; width:100%;}
table.bx-grid-multiaction div {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; background-repeat:no-repeat;}
table.bx-grid-multiaction div.bx-separator {width:1px; height:25px; border-left:1px solid #BEBEBE; margin:0px 8px 0px 8px; overflow:hidden;}
table.bx-grid-multiaction a.context-button {display:block; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; background-repeat:no-repeat; padding:0px; border:0px; margin:1px 2px 1px 2px; white-space:nowrap; outline:none;}
table.bx-grid-multiaction a.context-button:hover {height:22px; margin:0px 1px 0px 1px; border:1px solid #AEB6C2; background-color:#DBE3F2;}
table.bx-grid-multiaction a.icon {height:20px; padding-left:20px; background-repeat:no-repeat; background-position:0px 0px;}
table.bx-grid-multiaction a.pressed {height:22px; margin:0px 1px 0px 1px; border:1px solid #A6A6A6; background-color:white;}
table.bx-grid-multiaction a, table.multiaction a:visited, table.multiaction a:active {color:#5556AB; text-decoration:none;}
table.bx-grid-multiaction a:hover {color:black;}

table.bx-grid-multiaction a.action-edit-button {background-image:url(images/actions/edit_button.gif); }
table.bx-grid-multiaction a.action-delete-button {background-image:url(images/actions/delete_button.gif); }
table.bx-grid-multiaction a.action-edit-button-dis {background-image:url(images/actions/edit_button_dis.gif); }
table.bx-grid-multiaction a.action-delete-button-dis {background-image:url(images/actions/delete_button_dis.gif); }

/* Drag-n-Drop*/
div.bx-drag-object {padding:5px; border:1px solid #CDCDCD; color:black; font-weight:bold; background-color:#D9D9D9; background-image:url(images/listhead.png); background-repeat:repeat-x; background-position:top; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
div.bx-drag-arrow {width:11px; height:6px; background-image:url(images/drag_arrow.gif); background-repeat:no-repeat; background-position:left top; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

/* Filter */
div.bx-interface-filter {margin:16px 0px 16px 0px;}
table.bx-interface-filter td {padding:0;}
table.bx-interface-filter tr.bx-filter-header td {background-color:#A1A1A1; background-image:url(images/filter/bg.png); background-repeat:repeat-x; background-position:left 1px; border:1px solid #909090; border-top:1px solid #9A9A9A; border-bottom:1px solid #818181;}
table.bx-interface-filter tr.bx-filter-content td {border:1px solid #D6D6D6; border-top:none; padding:10px; padding-top:5px;}
table.bx-interface-filter table.bx-filter-rows tr {background-image:url(images/filter/row_bg.gif); background-position:left bottom; background-repeat:repeat-x;}
table.bx-interface-filter table.bx-filter-rows td {border:none; padding:5px;}
div.bx-filter-buttons {margin-top:10px;}
a.bx-filter-minus {display:block; width:18px; height:18px; background-image:url(images/filter/minus.gif); background-position:center; background-repeat:no-repeat;}
a.bx-filter-minus:hover {background-image:url(images/filter/minus-hover.gif);}
a.bx-filter-btn, div.bx-filter-btn {float:left; display:block; width:18px; height:18px; margin:3px; background-position:center; background-repeat:no-repeat;}
a.bx-filter-show {background-image:url(images/filter/arrow-down.gif);}
a.bx-filter-hide {background-image:url(images/filter/arrow-up.gif);}
a.bx-filter-menu {width:28px; background-image:url(images/filter/menu.gif);}
a.bx-filter-min {float:right; background-image:url(images/filter/minimize.gif);}
a.bx-filter-max {float:right; background-image:url(images/filter/maximize.gif);}
a.bx-filter-show:hover, a.bx-filter-hide:hover, a.bx-filter-menu:hover, a.bx-filter-min:hover, a.bx-filter-max:hover {background-color:#B7B7B7;}
div.bx-filter-sep {float:left; width:1px; height:17px; margin:3px; background-color:#B7B7B7;}
div.bx-filter-off {background-image:url(images/filter/check-off.gif);}
div.bx-filter-on {background-image:url(images/filter/check-on.gif);}
div.bx-filter-text {float:left; color:white; font-size:12px; font-weight:bold; margin:5px 3px 0px 0px;}
span.bx-filter-hellip { width:20px; display:inline-block; text-align:center;}

div.crm-filter-wrap { margin: 12px 6px; }

/*Common actions icons */
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.edit { background:url(images/popup/edit.gif) no-repeat 0 0 !important;}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.copy {background:url(images/popup/copy.gif) no-repeat 0 0 !important;}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.delete {background:url(images/popup/delete.gif) no-repeat 0 0 !important;}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.view {background:url(images/popup/view.gif) no-repeat 0 0 !important;}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.print {background:url(images/popup/print.png) no-repeat 0 0 !important;}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.checked {background:url(images/popup/checkbox.gif) no-repeat 0 0 !important;}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.list {background:url(images/popup/list.gif) no-repeat 0 0 !important;}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.add {background:url(images/popup/new.gif) no-repeat 0 0 !important;}

/*grid menu icons*/
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.grid-filters {background:url(images/icons/filters.gif) no-repeat 0 0 !important;}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.grid-settings {background:url(images/icons/settings.gif) no-repeat 0 0 !important;}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.grid-sort-asc {background:url(images/icons/sort_asc.gif) no-repeat 0 0 !important;}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.grid-sort-desc {background:url(images/icons/sort_desc.gif) no-repeat 0 0 !important;}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.grid-themes {background:url(images/icons/themes.gif) no-repeat 0 0 !important;}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.grid-views {background:url(images/icons/views.gif) no-repeat 0 0 !important;}
div.bx-popup-menu td.popupmenu div.popupitem td.gutter div.grid-lock {background:url(images/icons/lock.png) no-repeat 0 -2px !important;}

span.bx-filter-from { white-space: nowrap !important; }
span.bx-filter-to { white-space: nowrap !important; }
.filter-field input.filter-date-interval { width:70px !important; }
span.bx-filter-hellip { margin: 0 2px 0 0 !important; }
