.crm-ps-mode-switcher,
.crm-ps-mode-switcher:hover{
	border-bottom: 1px dashed #2067B0;
	text-decoration: none;
}

/* Tab controls*/
table.bx-edit-tabs {border-collapse:separate;}
table.bx-edit-tabs table {border-collapse:separate;}
table.bx-edit-tabs td {font-size:12px; font-weight:bold; color:#7C7C7C; white-space:nowrap; border-bottom:4px solid #878787; padding:0px;}
table.bx-edit-tabs td.bx-tab-container {border:none; cursor:pointer; cursor: hand;}
table.bx-edit-tabs td.bx-tab-container-selected, table.bx-edit-tabs td.bx-tab-container-disabled {cursor:default;}
table.bx-edit-tabs td.bx-tab-container-disabled td {border:none; color:#D7D7D7;}

table.bx-edit-tabs td.bx-tab-indent div.empty {width:8px; height:29px;}
table.bx-edit-tabs td.bx-tab-left div.empty {width:3px; height:29px; background-image:url(images/edit/tab_l.gif);}
table.bx-edit-tabs td.bx-tab-right div.empty {width:18px; height:29px; background-image:url(images/edit/tab_r.gif);}
table.bx-edit-tabs td.bx-tab {vertical-align:top; padding:8px 3px 0px 10px; background-image:url(images/edit/tab_bg.gif);}
table.bx-edit-tabs td.bx-tab-left-selected, table.bx-edit-tabs td.bx-tab-selected, table.bx-edit-tabs td.bx-tab-right-selected, table.bx-edit-tabs td.bx-tab-right-last-selected {border:none;}
table.bx-edit-tabs td.bx-tab-left-selected div.empty {width:3px; height:29px; background-image:url(images/edit/tab_l_sel.png);}
table.bx-edit-tabs td.bx-tab-right-selected div.empty {width:18px; height:29px; background-image:url(images/edit/tab_r_sel.png);}
table.bx-edit-tabs td.bx-tab-selected {color:white; vertical-align:top; padding:7px 3px 0px 10px; background-image:url(images/edit/tab_bg_sel.png);}
table.bx-edit-tabs td.bx-tab-left-hover div.empty {width:3px; height:29px; background-image:url(images/edit/tab_l_hov.gif);}
table.bx-edit-tabs td.bx-tab-right-hover div.empty {width:18px; height:29px; background-image:url(images/edit/tab_r_hov.gif);}
table.bx-edit-tabs td.bx-tab-hover {vertical-align:top; padding:8px 3px 0px 10px; background-image:url(images/edit/tab_bg_hov.gif);}

table.bx-edit-tabs a.bx-context-button {display:inline-block; border:0px; margin:1px; outline:none;}
table.bx-edit-tabs a.bx-context-button:hover {margin:0px; border:1px solid #AEB6C2; background-color:#DBE3F2;}
table.bx-edit-tabs a.bx-context-button span {cursor:pointer; display:inline-block; background-repeat:no-repeat; background-position:3px 3px; height:18px; width:18px; border:0px;}
table.bx-edit-tabs a.bx-down span {background-image:url(images/buttons/show.gif); }
table.bx-edit-tabs a.bx-up span {background-image:url(images/buttons/hide.gif); }
table.bx-edit-tabs a.bx-form-menu span {width:26px; background-image:url(images/buttons/menu.gif);}
table.bx-edit-tabs a.pressed {margin:0px; border:1px solid #AEB6C2; background-color:white;}

.bx-field-name{
	width: 30%;
	text-align: right;
	vertical-align: top;
	font: bold 12px/15px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #555;
}
.bx-props-field-width{
	width: 55% !important;
}

.bx-field-value{
	vertical-align: top;
}

#user_props_list td{
	padding: 1px;
}

#user_props_list td:first-child{
	font: bold 12px/15px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #555;
	width: 35% !important;
}

td.bx-field-value>input[type=text] {
	width: 257px;
	height: 16px;
	padding: 2px;
	border: 1px solid #b9bcbe;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14) inset;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.14) inset;
	font: 12px/15px var(--ui-font-family-primary, var(--ui-font-family-helvetica)) !important;
	color: #555 !important;
}
.bx-field-value select {
	font-size: 13px;
	width: 262px;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica)) !important;
	color: #555 !important;
}

input {
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #555;
}

.bx-settings-table td {
	background: transparent;
	color: #555;
	padding: 5px 5px;
}

td.bx-field-value textarea {
    width: 98%;
    height: 130px;
    padding: 2px;
    border: 1px solid #b9bcbe;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.14) inset;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.14) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,0.14) inset;
    overflow: auto;
    color: #555!important;
    font: 12px/15px var(--ui-font-family-primary, var(--ui-font-family-helvetica))!important;
}

body input[name=save] {
    height: 32px;
    border-top: 1px solid #a3c926;
    border-bottom: 1px solid #739913;
    border-left: 1px solid #86ab1a;
    border-right: 1px solid #86ab1a;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    padding: 0 45px;
    -webkit-box-shadow: 0 2px 2px #ccc;
    -moz-box-shadow: 0 2px 2px #ccc;
    box-shadow: 0 2px 2px #ccc;
    font: bold 14px/32px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    color: #fff;
    text-shadow: #799a16 0 1px 1px!important;
    cursor: pointer;
    outline: 0;
    background: url(/bitrix/templates/bitrix24/images/interface/buttons-sprite.png) repeat-x left -356px;
}

input[name=apply] {
    height: 32px;
    border-top: 1px solid #c8d1d4;
    border-bottom: 1px solid #98a4a9;
    border-left: 1px solid #a9b4b8;
    border-right: 1px solid #a9b4b8;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    padding: 0 45px;
    margin-right: 10px;
    -webkit-box-shadow: 0 2px 2px #ccc;
    -moz-box-shadow: 0 2px 2px #ccc;
    box-shadow: 0 2px 2px #ccc;
    font: bold 14px/32px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    color: #555;
    text-shadow: #fff 0 1px 1px!important;
    cursor: pointer;
    outline: 0;
    overflow: visible;
    background: url(/bitrix/templates/bitrix24/images/interface/buttons-sprite.png) repeat-x left -585px;
}
input[name=cancel] {
    height: 32px;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    padding: 0 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font: 14px/32px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
    color: #d20000;
    text-shadow: none;
    cursor: pointer;
    background: transparent;
}
.bx-buttons {
	border: 0;
	margin-left: 20%;
	padding-left: 0;
	background: transparent;
}
.bx-button-add-template {
	border-bottom: 1px dashed #2067B0;
    text-decoration: none;
	color: #2067B0;
	cursor: pointer;
}
.crm-add-user-props, .crm-add-user-props:hover {
    border-bottom: 1px dashed #2067B0;
    text-decoration: none;
	color: #2067b0;
	-webkit-transition: border-bottom-color .2s linear;
	transition: border-bottom-color .2s linear;
	cursor: pointer;
}