.imconnector-field-container {
    margin-bottom: 20px;
}

.imconnector-field-section {
	display: block;
	margin: 0 0 10px 0;
	padding: 20px 25px;
	background: #fff;
	border-radius: var(--imconnector-field-section-border-radius, var(--ui-border-radius-md));
}

.imconnector-field-main-title {
	display: block;
	margin: 0 0 14px 0;
	padding: 0 0 14px 0;
	border-bottom: 1px solid rgba(82,92,105,.10);
	font: 16px/24px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #333;
}

.imconnector-field-main-title-no-border {
	padding: 0;
	border-bottom: none;
}

.imconnector-field-box {}

.imconnector-field-box-hidden {
	display: none;
	margin: 40px 0 44px 0;
}

.imconnector-field-section-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.imconnector-field-section-social .imconnector-field-box:last-child {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
}

.imconnector-field-section-social .imconnector-field-box:first-child {
	margin: 0 19px 0 0;
}

.imconnector-field-section-social .ui-icon.connector-icon {
	width: 97px;
	height: 97px;
}

.imconnector-field-main-subtitle {
	display: block;
	margin: 0 0 14px 0;
	font: 22px/22px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	color: #333;
}

.imconnector-field-box-subtitle {
	display: block;
	margin: 0 0 10px 0;
	font: 14px/22px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #828B95;
}

.imconnector-field-box-subtitle-darken {
	display: block;
	margin: 0 0 15px 0;
	font: 14px/24px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525C69;
}

.imconnector-field-box-subtitle-tooltip {
	display: inline-block;
	width: 24px;
	height: 20px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%2012%22%3E%3Cpath%20fill%3D%22%23B1B7C5%22%20d%3D%22M11.273%205.637A5.637%205.637%200%201%201%200%205.637a5.637%205.637%200%200%201%2011.273%200zM3.46%204.16c0%20.134.056.258.168.373a.552.552%200%200%200%20.412.172c.275%200%20.463-.164.561-.492.105-.314.232-.551.383-.712.151-.161.387-.242.706-.242.273%200%20.496.08.668.24a.77.77%200%200%201%20.26.587c0%20.12-.029.23-.085.331a1.248%201.248%200%200%201-.21.277%209.099%209.099%200%200%201-.402.368c-.212.186-.38.346-.505.481a1.607%201.607%200%200%200-.3.47c-.076.179-.114.39-.114.634%200%20.194.051.341.154.44a.53.53%200%200%200%20.381.148c.29%200%20.463-.151.519-.453.032-.142.056-.242.072-.298a.914.914%200%200%201%20.067-.17.963.963%200%200%201%20.133-.187%203.02%203.02%200%200%201%20.237-.238c.357-.32.605-.546.743-.681.137-.135.257-.296.357-.482.1-.185.15-.402.15-.648%200-.314-.088-.604-.264-.871a1.808%201.808%200%200%200-.746-.634%202.54%202.54%200%200%200-1.115-.233c-.453%200-.85.093-1.189.279-.34.186-.598.42-.775.703-.177.283-.266.563-.266.838zm2.125%204.773a.661.661%200%200%200%20.453-.174.608.608%200%200%200%20.196-.48.627.627%200%200%200-.187-.46.627.627%200%200%200-.462-.188.647.647%200%200%200-.662.649c0%20.206.066.366.199.481a.685.685%200%200%200%20.463.172z%22/%3E%3C/svg%3E') center center no-repeat;
	background-size: 12px auto;
	vertical-align: bottom;
	transition: opacity .3s;
	opacity: .5;
	cursor: pointer;
}

.imconnector-field-box-subtitle-tooltip:hover {
	opacity: 1;
}

.imconnector-field-box-subtitle.subtitle-permissions {
	display: inline;
	margin: 0 0 10px 0;
	font: 16px/24px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #828B95;
}

.imconnector-field-box-text-bold {
	font-weight: var(--ui-font-weight-bold);
}

.imconnector-field-box-content {
	font: 14px/20px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #525C69;
}

.imconnector-field-control-box {
	display: flex;
	padding: 0 0 23px 0;
}

.imconnector-field-control-box-border {
	margin: 0 0 25px 0;
	border-bottom: 1px solid rgba(82,92,105,.10);
}

.imconnector-field-control-input {
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0 11px;
	height: 39px;
	width: 100%;
	outline: none;
	border: 1px solid #c6cdd3;
	border-radius: var(--ui-field-border-radius, 2px);
	background-color: #fff;
	color: #333;
	vertical-align: middle;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	font: 15px/37px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	transition: border-color .3s ease;
	-webkit-appearance: none;
	appearance: none;
}

.imconnector-field-control-textbox {
	height: 139px;
}

.imconnector-field-control-input:hover {
	border-color: #66afe9;
}

.imconnector-field-control-select {
	padding: 0 35px 0 11px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2011%207%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPath%3C/title%3E%3Cpath%20d%3D%22M5.485%204.228L1.37.114%200%201.484l4.8%204.8.685.687%205.486-5.485L9.6.115%205.484%204.227z%22%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E') center right 15px no-repeat;
	background-size: 12px 20px;
	font: 15px/37px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #424956;
}

.imconnector-field-control-box .imconnector-field-control-input {
	margin: 0 13px 0 0;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.imconnector-field-box-link {
	display: inline-block;
	border-bottom: 1px dashed rgba(0,99,198,.49);
	font: var(--ui-font-weight-bold) 14px/20px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #2066B0;
	transition: border-bottom .3s;
	cursor: pointer;
}

.imconnector-field-box-link:hover {
	border-bottom: 1px dashed transparent;
}

.imconnector-field-button-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.imconnector-field-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	margin: 0 2% 0 0;
	padding: 13px 12px 13px 12px;
	max-width: 70%;
	height: 62px;
	border-radius: var(--ui-border-radius-sm, 3px);
	border: 1px solid rgba(47,198,246,.32);
	background: rgba(93,212,249,.13);
	transition: box-shadow .3s;
	box-sizing: border-box;
	cursor: pointer;
}

.imconnector-field-button:last-child {
	margin: 0;
}

.imconnector-field-button:hover {
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.12);
}

.imconnector-field-button-text {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin: 0 0 0 5px;
	white-space: nowrap;
	max-width: calc(100% - 39px);
}

.imconnector-field-button-subtitle {
	display: block;
	margin: 0 0 5px 0;
	font: 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: rgba(82,92,105,.5);
}

.imconnector-field-button-name {
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: rgba(51,51,51,.9);
	text-transform: uppercase;
	text-overflow: ellipsis;
	overflow: hidden;
}

.imconnector-field-button-icon {
	margin: 0 2% 0 0;
	min-width: 33px;
	width: 34px;
	height: 34px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}

.imconnector-field-button-android .imconnector-field-button-icon,
.imconnector-field-button-ios .imconnector-field-button-icon {
	background-size: 29px 29px;
}

.imconnector-field-button-connect .imconnector-field-button-icon,
.imconnector-field-button-create .imconnector-field-button-icon {
	background-size: 33px 33px;
}

.imconnector-field-button-android .imconnector-field-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2029%2034%22%3E%3Cpath%20fill%3D%22%232FC6F6%22%20d%3D%22M2.081%2010.89c-.58%200-1.07.203-1.475.607A1.984%201.984%200%200%200%200%2012.952v8.688c0%20.58.202%201.071.606%201.475.404.405.896.607%201.475.607.579%200%201.067-.202%201.465-.607.397-.404.596-.895.596-1.475v-8.688c0-.566-.202-1.051-.606-1.455a1.985%201.985%200%200%200-1.455-.606zm16.73-7.799L20.247.445c.095-.176.061-.31-.1-.404-.176-.082-.31-.04-.404.12L18.287%202.83a9.934%209.934%200%200%200-4.062-.85%209.932%209.932%200%200%200-4.061.85L8.709.162C8.615%200%208.479-.04%208.305.04c-.162.095-.195.228-.1.404L9.638%203.09c-1.455.742-2.614%201.775-3.476%203.102a7.834%207.834%200%200%200-1.293%204.355h18.69a7.836%207.836%200%200%200-1.293-4.355c-.862-1.327-2.014-2.36-3.455-3.102zm-8.294%203.85a.757.757%200%200%201-.556.233.723.723%200%200%201-.545-.233.774.774%200%200%201-.222-.556c0-.215.074-.4.222-.555a.726.726%200%200%201%20.545-.232c.216%200%20.401.077.556.232a.76.76%200%200%201%20.233.555c0%20.216-.078.4-.233.556zm8.517%200a.725.725%200%200%201-.546.233.756.756%200%200%201-.556-.233.756.756%200%200%201-.232-.556c0-.215.077-.4.232-.555a.759.759%200%200%201%20.556-.232c.216%200%20.397.077.546.232.148.155.222.34.222.555%200%20.216-.074.4-.222.556zM4.95%2024.73V11.275h18.548v13.458c0%20.62-.215%201.145-.646%201.576-.432.431-.95.647-1.556.647h-1.515v4.586c0%20.58-.202%201.071-.606%201.476a2.008%202.008%200%200%201-1.475.606c-.58%200-1.071-.202-1.475-.606a2.008%202.008%200%200%201-.606-1.476v-4.586H12.83v4.586c0%20.58-.202%201.071-.606%201.476a2.008%202.008%200%200%201-1.475.606c-.565%200-1.05-.202-1.454-.606a2.008%202.008%200%200%201-.607-1.476l-.02-4.587H7.173c-.62%200-1.145-.215-1.576-.646a2.144%202.144%200%200%201-.647-1.576zm21.419-13.84c.579%200%201.07.199%201.475.596.404.398.606.886.606%201.465v8.688c0%20.58-.202%201.071-.606%201.475a2.008%202.008%200%200%201-1.475.607c-.566%200-1.05-.202-1.455-.607a2.007%202.007%200%200%201-.606-1.475v-8.688c0-.579.202-1.067.606-1.465a2.002%202.002%200%200%201%201.455-.596z%22%20opacity%3D%22.8%22/%3E%3C/svg%3E');
}

.imconnector-field-button-connect .imconnector-field-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2033%2033%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%2216.5%22%20cy%3D%2216.5%22%20r%3D%2216.5%22%20fill%3D%22%2354CFF7%22/%3E%3Cpath%20fill%3D%22%23EAF9FE%22%20fill-rule%3D%22nonzero%22%20d%3D%22M18.283%2014.273c.246.246.374.587.352.934-.02.29-.146.564-.352.77-.479.451-1.226.451-1.704%200a1.82%201.82%200%200%200-2.573%200l-3.873%203.871a1.821%201.821%200%201%200%202.575%202.575l2.29-2.293a.303.303%200%200%201%20.33-.067c.617.251%201.277.379%201.942.376h.121a.303.303%200%200%201%20.216.52l-3.185%203.184a4.22%204.22%200%200%201-3%201.238%204.247%204.247%200%200%201-3.003-7.247l3.858-3.861a4.247%204.247%200%200%201%206.006%200zm5.851-5.851a4.247%204.247%200%200%201%200%206.006l-3.861%203.86a4.246%204.246%200%200%201-1.969%201.117h-.033l-.176.037-.097.018-.21.03h-.102c-.08%200-.15.015-.216.018l-.182.022H17.058a4.222%204.222%200%200%201-.452-.043%204.918%204.918%200%200%201-.367-.076l-.18-.048a2.41%202.41%200%200%201-.193-.064c-.064-.024-.13-.046-.195-.073-.063-.027-.127-.051-.19-.082a4.21%204.21%200%200%201-1.214-.849%201.213%201.213%200%200%201%200-1.71%201.244%201.244%200%200%201%201.705%200c.71.709%201.861.709%202.572%200l.995-.99.024-.027%202.845-2.842a1.821%201.821%200%201%200-2.575-2.575l-2.284%202.28a.303.303%200%200%201-.33.067%205.096%205.096%200%200%200-1.939-.379h-.112a.303.303%200%201%201-.221-.519l3.181-3.178a4.247%204.247%200%200%201%206.006%200z%22/%3E%3C/g%3E%3C/svg%3E');
}

.imconnector-field-button-ios .imconnector-field-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2029%2035%22%3E%3Cpath%20fill%3D%22%232FC6F6%22%20d%3D%22M28.428%2026.872a18.581%2018.581%200%200%201-1.853%203.31c-.975%201.38-1.773%202.335-2.388%202.866-.953.87-1.975%201.317-3.068%201.342-.785%200-1.732-.222-2.835-.672-1.105-.448-2.122-.67-3.05-.67-.975%200-2.02.222-3.139.67-1.12.45-2.021.685-2.71.708-1.05.044-2.095-.414-3.139-1.378-.666-.577-1.499-1.566-2.497-2.968-1.07-1.496-1.95-3.231-2.64-5.21C.37%2022.733%200%2020.664%200%2018.66c0-2.294.5-4.273%201.5-5.932a8.764%208.764%200%200%201%203.139-3.155%208.488%208.488%200%200%201%204.244-1.19c.833%200%201.926.257%203.283.76%201.354.504%202.223.76%202.604.76.285%200%201.25-.299%202.888-.896%201.548-.553%202.854-.782%203.925-.692%202.9.233%205.079%201.368%206.528%203.414-2.594%201.562-3.877%203.748-3.852%206.553.024%202.185.822%204.003%202.39%205.447a7.858%207.858%200%200%200%202.387%201.555c-.191.552-.393%201.08-.608%201.588zM21.985.7c0%201.752-.648%203.388-1.94%204.902-1.557%201.8-3.442%202.84-5.486%202.676a5.39%205.39%200%200%201-.04-.664c0-1.682.74-3.482%202.056-4.954.657-.745%201.493-1.364%202.506-1.859C20.09.315%2021.048.046%2021.948%200c.026.234.037.468.037.7z%22%20opacity%3D%22.8%22/%3E%3C/svg%3E');
}

.imconnector-field-button-create .imconnector-field-button-icon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2033%2033%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%2216.5%22%20cy%3D%2216.5%22%20r%3D%2216.5%22%20fill%3D%22%2354CFF7%22/%3E%3Cpath%20fill%3D%22%23EAF9FE%22%20d%3D%22M18%2015h6v3h-6v6h-3v-6H9v-3h6V9h3v6z%22/%3E%3C/g%3E%3C/svg%3E');
}

.imconnector-field-list {
	padding: 0 0 0 20px;
	margin: 0;
}

.imconnector-field-list-item {
	margin: 0 0 10px 0;
	font: 14px/20px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #535C69;
	list-style-type: decimal;
}

.imconnector-field-list-item:last-child {
	margin: 0;
}

.imconnector-field-box-entity-row {
	display: flex;
	align-items: center;
	margin: 0 0 20px 0;
	max-width: 100%;
	white-space: nowrap;
}

.imconnector-field-box-entity-row:first-child {
	padding: 3px 0 0 0;
}

/*.imconnector-field-box-entity-row:last-child {*/
	/*margin: 0 0 50px 0;*/
/*}*/

.imconnector-field-box-entity-row .imconnector-field-box-subtitle {
	margin: 0 10px 0 10px;
}

.imconnector-field-box-entity-text-bold {
	display: inline-block;
	font: var(--ui-font-weight-bold) 14px/17px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #333;
}

.imconnector-field-box-entity-link {
	display: inline-block;
	font: 14px/16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #0063C6;
	text-overflow: ellipsis;
	overflow: hidden;
}

.imconnector-field-box-entity-icon-copy-to-clipboard {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%209%209%22%3E%3Cpath%20fill%3D%22%23CCCED2%22%20fill-rule%3D%22evenodd%22%20d%3D%22M1.625%201.562H4V0H0v9h9V5H7.281v2.281H1.625V1.562zM4.086%206l3.258-3.271-1.087-1.09-1.01%201.015-.961.965L3%204.906%204.086%206zM8.994.025L4.629.006l1.629%201.633.01-.009%201.146%201.15-1.146-1.15-.01.009%201.086%201.09%201.63%201.636.02-4.34z%22/%3E%3C/svg%3E') center center no-repeat;
	background-size: 9px 9px;
	transition: opacity .3s;
	cursor: pointer;
}

.imconnector-field-box-entity-icon-copy-to-clipboard:hover {
	opacity: .5;
}

.imconnector-field-user-box .imconnector-field-box-subtitle {
	margin: 0 0 17px 0;
}

.imconnector-field-user {
	display: flex;
	flex-wrap: wrap;
}

.imconnector-field-user-item {
	display: flex;
	margin: 0 49px 17px 0;
}

.imconnector-field-user-icon {
	display: block;
	margin: 0 9px 0 0;
	width: 37px;
	height: 37px;
	border-radius: 100%;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2089%2089%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23535C69%22%20cx%3D%2244.5%22%20cy%3D%2244.5%22%20r%3D%2244.5%22/%3E%3Cpath%20d%3D%22M68.18%2071.062c0-3.217-3.61-16.826-3.61-16.826%200-1.99-2.6-4.26-7.72-5.585a17.363%2017.363%200%200%201-4.887-2.223c-.33-.188-.28-1.925-.28-1.925l-1.648-.25c0-.142-.14-2.225-.14-2.225%201.972-.663%201.77-4.574%201.77-4.574%201.252.695%202.068-2.4%202.068-2.4%201.482-4.3-.738-4.04-.738-4.04a27.076%2027.076%200%200%200%200-7.918c-.987-8.708-15.847-6.344-14.085-3.5-4.343-.8-3.352%209.082-3.352%209.082l.942%202.56c-1.85%201.2-.564%202.65-.5%204.32.09%202.466%201.6%201.955%201.6%201.955.093%204.07%202.1%204.6%202.1%204.6.377%202.556.142%202.12.142%202.12l-1.786.217a7.147%207.147%200%200%201-.14%201.732c-2.1.936-2.553%201.485-4.64%202.4-4.032%201.767-8.414%204.065-9.193%207.16-.78%203.093-3.095%2015.32-3.095%2015.32H68.18z%22%20fill%3D%22%23FFF%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-size: cover;
}

.imconnector-field-user-info {}

.imconnector-field-user-name {
	display: block;
	margin: 0 0 3px 0;
	font: 14px/20px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #0063C6;
}

.imconnector-field-user-desc {
	display: block;
	font: 12px/12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: rgba(82,92,105,.7);
}

.imconnector-field-link-grey {
	display: inline-block;
	border-bottom: 1px dashed rgba(130,139,149,.5);
	font: 13px/19px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #828B95;
	transition: border-bottom .3s;
	cursor: pointer;
}

.imconnector-field-link-grey:hover {
	border-bottom: 1px dashed transparent;
	color: #828B95;
}

.imconnector-field-social-connector {
	display: flex;
	align-items: center;
	margin: 26px 0 0 0;
}

.ui-icon.imconnector-field-social-connector-icon {
	display: inline-block;
	margin: 0 16px 0 0;
	width: 43px;
	height: 43px;
	border-radius: 100%;
}

.imconnector-field-social-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 13px 8px 15px;
	border-radius: var(--ui-border-radius-sm, 2px);
	background: rgba(47,198,246,.16);
	box-sizing: border-box;
}

.imconnector-field-social-card-info {
	display: flex;
	align-items: center;
	margin: 0 10px 0 0;
	overflow: hidden;
}

.imconnector-field-social-icon {
	display: inline-block;
	margin: 0 8px 0 0;
	width: 37px;
	height: 37px;
	border-radius: 100%;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2089%2089%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23535C69%22%20cx%3D%2244.5%22%20cy%3D%2244.5%22%20r%3D%2244.5%22/%3E%3Cpath%20d%3D%22M68.18%2071.062c0-3.217-3.61-16.826-3.61-16.826%200-1.99-2.6-4.26-7.72-5.585a17.363%2017.363%200%200%201-4.887-2.223c-.33-.188-.28-1.925-.28-1.925l-1.648-.25c0-.142-.14-2.225-.14-2.225%201.972-.663%201.77-4.574%201.77-4.574%201.252.695%202.068-2.4%202.068-2.4%201.482-4.3-.738-4.04-.738-4.04a27.076%2027.076%200%200%200%200-7.918c-.987-8.708-15.847-6.344-14.085-3.5-4.343-.8-3.352%209.082-3.352%209.082l.942%202.56c-1.85%201.2-.564%202.65-.5%204.32.09%202.466%201.6%201.955%201.6%201.955.093%204.07%202.1%204.6%202.1%204.6.377%202.556.142%202.12.142%202.12l-1.786.217a7.147%207.147%200%200%201-.14%201.732c-2.1.936-2.553%201.485-4.64%202.4-4.032%201.767-8.414%204.065-9.193%207.16-.78%203.093-3.095%2015.32-3.095%2015.32H68.18z%22%20fill%3D%22%23FFF%22/%3E%3C/g%3E%3C/svg%3E');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.imconnector-field-social-icon.ui-icon.connector-icon {
	width: 37px;
	height: 37px;
}

.imconnector-field-social-name {
	display: inline-block;

	font: var(--ui-font-weight-bold) 14px/24px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #2066B0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: top;
}

.imconnector-field-section-social-list-fbinstagram .imconnector-field-social-name {
	max-width: 200px;
}

.imconnector-field-social-list-modifier .imconnector-field-main-title {
	margin: 0 0 18px 0;
}

.imconnector-field-social-list {
	display: block;
}

.imconnector-field-social-list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 18px 0;
	padding: 0 0 22px 0;
	width: 100%;
	border-bottom: 1px solid rgba(82,92,105,.10);
}

.imconnector-field-social-list-item:last-child {
	margin: 0;
	padding: 0;
	border: none;
}

.imconnector-field-social-list-item .imconnector-field-box-subtitle {
	margin: 0;
	max-width: 300px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.imconnector-field-social-list-inner {
	display: flex;
	align-items: center;
}

.imconnector-field-social-list-icon {
	background: #535c6a url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2282%22%20height%3D%2282%22%20viewBox%3D%220%200%2082%2082%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M46.03%2033.708s-.475%201.492-.55%201.692c-.172.256-.317.53-.433.816.1%200%201.107.47%201.107.47l3.917%201.227-.056%201.86c-.74.296-1.394.778-1.894%201.4-.19.413-.42.806-.69%201.17%203.568%201.45%205.655%203.573%205.74%205.95.058.422%202.223%208.205%202.347%209.958H72c.014-.072-.5-10.14-.5-10.216%200%200-.946-2.425-2.446-2.672-1.487-.188-2.924-.66-4.233-1.388-.864-.504-1.775-.923-2.72-1.252-.483-.425-.858-.957-1.095-1.555-.5-.623-1.152-1.105-1.894-1.4l-.055-1.86%203.917-1.227s1.01-.47%201.107-.47c-.158-.33-.338-.646-.54-.948-.075-.2-.444-1.554-.444-1.554.572.733%201.242%201.384%201.992%201.933-.667-1.246-1.238-2.542-1.708-3.876-.314-1.233-.532-2.488-.653-3.754-.27-2.353-.69-4.687-1.255-6.987-.406-1.148-1.124-2.16-2.072-2.923-1.403-.974-3.04-1.555-4.742-1.685h-.2c-1.7.13-3.333.712-4.733%201.685-.947.765-1.664%201.777-2.07%202.925-.568%202.3-.987%204.634-1.255%206.987-.103%201.295-.31%202.58-.622%203.84-.47%201.312-1.052%202.58-1.737%203.792.75-.55%201.42-1.202%201.99-1.936zM54.606%2064c0-2.976-3.336-15.56-3.336-15.56%200-1.84-2.4-3.942-7.134-5.166-1.603-.448-3.127-1.142-4.517-2.057-.3-.174-.26-1.78-.26-1.78l-1.524-.237c0-.13-.13-2.057-.13-2.057%201.824-.613%201.636-4.23%201.636-4.23%201.158.645%201.912-2.213%201.912-2.213%201.37-3.976-.682-3.736-.682-3.736.36-2.428.36-4.895%200-7.323-.912-8.053-14.646-5.867-13.018-3.24-4.014-.744-3.1%208.4-3.1%208.4l.87%202.364c-1.71%201.108-.52%202.45-.463%204%20.085%202.28%201.477%201.808%201.477%201.808.086%203.764%201.94%204.26%201.94%204.26.348%202.363.13%201.96.13%201.96l-1.65.2c.022.538-.02%201.075-.13%201.6-1.945.867-2.36%201.375-4.287%202.22-3.726%201.634-7.777%203.76-8.5%206.62C13.117%2052.695%2010.99%2064%2010.99%2064H54.606z%22/%3E%3C/svg%3E') no-repeat;
	background-size: cover;
	flex-shrink: 0;
}

.imconnector-field-social-list-info {
	margin: 0 10px 0 0;
}

.imconnector-field-social-list .imconnector-field-social-name {
	font: 15px/18px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	font-weight: var(--ui-font-weight-bold);
}

.imconnector-field-social-name.imconnector-field-social-name-text {
	color: #a8adb4;
	font-size: 13px;
	font-weight: normal;
	margin: 0 5px;
	flex-shrink: 0;
}

.imconnector-field-social-list .imconnector-field-social-name-url {
	font: normal 13px/18px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.imconnector-field-social-name-icon, .bx-ie .ui-icon.imconnector-field-social-name-icon {
	width: 14px;
	height: 14px;
	margin-right: 5px;
	flex-shrink: 0;
}

.imconnector-field-social-list-info-inner {
	display: flex;
	align-items: center;
	width: 100%;
}

.imconnector-field-social-account {
	font: 13px/19px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	color: #525c69;
	background: #eeeff0;
	border-radius: 11px;
	display: inline-block;
	paddinG: 0 11px 1px;
	vertical-align: top;
	margin-top: 7px;
}

.imconnector-field-social-account-business {
	color: #2066b0;
	background: #cbf1fd;
}

.imconnector-field-section-social-list-fbinstagram .imconnector-field-social-list-info {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: calc(100% - 45px);
}

.imconnector-field-social-list-item-link {
	font: 13px/19px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #80868e;
	border-bottom: 1px dashed #cdd1d5;
	transition: border-color .2s linear;
}

.imconnector-field-social-list-item-link:hover {
	border-color: #b4b9bd;
	color: #80868e;
}

.imconnector-field-dropdown-button {
	display: block;
	margin: 12px 0 42px 0;
	border: none;
	background: transparent;
	font: 14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #535C69;
	cursor: pointer;
}

.imconnector-field-dropdown-button:after {
	content: '';
	display: inline-block;
	margin: 0 0 0 6px;
	width: 11px;
	height: 7px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2011%207%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPath%3C/title%3E%3Cpath%20d%3D%22M5.485%204.228L1.37.114%200%201.484l4.8%204.8.685.687%205.486-5.485L9.6.115%205.484%204.227z%22%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	transition: opacity .3s;
	opacity: .6;
}

.imconnector-field-dropdown-button:hover:after {
	opacity: 1;
}

.imconnector-icon-position {
	padding-right: 5px;
	margin-right: 10px;
}

.imconnector-field-control-box-small {
	padding-bottom: 10px;
}

.imconnector-close-icon {
	cursor:pointer;
	outline: none;
	opacity: 0.5;

	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	margin: 10px;
}

.imconnector-line-status-active:before {
	position: absolute;
	bottom: 14px;
	top: 8px;
	left: 10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	/*box-shadow: 0 2px 4px rgba(0, 0, 0, .1);*/
	content: '';
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE3IDE2Ij4gIDxwYXRoIGZpbGw9IiM5NEMzMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTguMDM2ODg1MjMsOC45NjI0MzIyNCBMNi4yNDg3NzQ4Nyw3LjE3NDMyMTg4IEw0Ljk4NDY5ODUxLDguNDM4Mzk4MjQgTDcuOTY4MDk0NDMsMTEuNDIxNzk0MiBMNy45NjkzMzIsMTEuNDIwNTU2NiBMOC4wMzgxMjI4LDExLjQ4OTM0NzQgTDEzLjU4NzU5ODEsNS45Mzk4NzIwOCBMMTIuMzIzNTIxOCw0LjY3NTc5NTczIEw4LjAzNjg4NTIzLDguOTYyNDMyMjQgWiBNOC45NDEwODkwMywxNS45Njc5MzM4IEM0LjUzMTcxNjAzLDE1Ljk2NzkzMzggMC45NTcyMTI5NjYsMTIuMzkzNDMwOCAwLjk1NzIxMjk2Niw3Ljk4NDA1Nzc4IEMwLjk1NzIxMjk2NiwzLjU3NDY4NDc4IDQuNTMxNzE2MDMsMC4wMDAxODE3MTU3MjcgOC45NDEwODkwMywwLjAwMDE4MTcxNTcyNyBDMTMuMzUwNDYyLDAuMDAwMTgxNzE1NzI3IDE2LjkyNDk2NTEsMy41NzQ2ODQ3OCAxNi45MjQ5NjUxLDcuOTg0MDU3NzggQzE2LjkyNDk2NTEsMTIuMzkzNDMwOCAxMy4zNTA0NjIsMTUuOTY3OTMzOCA4Ljk0MTA4OTAzLDE1Ljk2NzkzMzggWiIvPjwvc3ZnPg==)
	no-repeat center;
}

.imconnector-line-status-inactive:before {
	position: absolute;
	bottom: 14px;
	top: 8px;
	left: 10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	/*box-shadow: 0 2px 4px rgba(0, 0, 0, .1);*/
	content: '';
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE3IDE2Ij4gIDxwYXRoIGZpbGw9IiNGRjU3NTIiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTguOTQxMDg5MDMsMTUuOTY3OTMzOCBDNC41MzE3MTYwMywxNS45Njc5MzM4IDAuOTU3MjEyOTY2LDEyLjM5MzQzMDggMC45NTcyMTI5NjYsNy45ODQwNTc3OCBDMC45NTcyMTI5NjYsMy41NzQ2ODQ3OCA0LjUzMTcxNjAzLDAuMDAwMTgxNzE1NzI3IDguOTQxMDg5MDMsMC4wMDAxODE3MTU3MjcgQzEzLjM1MDQ2MiwwLjAwMDE4MTcxNTcyNyAxNi45MjQ5NjUxLDMuNTc0Njg0NzggMTYuOTI0OTY1MSw3Ljk4NDA1Nzc4IEMxNi45MjQ5NjUxLDEyLjM5MzQzMDggMTMuMzUwNDYyLDE1Ljk2NzkzMzggOC45NDEwODkwMywxNS45Njc5MzM4IFogTTEwLjIyMTkzMjEsNy45ODQwNTc3OCBMMTIuNzgzNjE4Myw1LjQyMjM3MTU4IEwxMS41MDI3NzUyLDQuMTQxNTI4NDggTDguOTQxMDg5MDMsNi43MDMyMTQ2OCBMNi4zNzk0MDI4Myw0LjE0MTUyODQ4IEw1LjA5ODU1OTczLDUuNDIyMzcxNTggTDcuNjYwMjQ1OTMsNy45ODQwNTc3OCBMNS4wOTg1NTk3MywxMC41NDU3NDQgTDYuMzc5NDAyODMsMTEuODI2NTg3MSBMOC45NDEwODkwMyw5LjI2NDkwMDg3IEwxMS41MDI3NzUyLDExLjgyNjU4NzEgTDEyLjc4MzYxODMsMTAuNTQ1NzQ0IEwxMC4yMjE5MzIxLDcuOTg0MDU3NzggWiIvPjwvc3ZnPg==)
	no-repeat center;
}

.imconnector-line-status-active .menu-popup-item-text,
.imconnector-line-status-inactive .menu-popup-item-text {
	padding-left: 8px;
}

.imconnector-close-icon:after {
	display: block;
	position: absolute;
	transform: translate3d(-50%, -50%, 0);
	width: 10px;
	height: 10px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNy43ODcgMUw1IDMuNzg3IDIuMjEzIDEgMSAyLjIxMyAzLjc4NyA1IDEgNy43ODcgMi4yMTMgOSA1IDYuMjEzIDcuNzg3IDkgOSA3Ljc4NyA2LjIxMyA1IDkgMi4yMTMiIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
}

.imconnector-field-user-item .imconnector-close-icon {
	visibility:hidden;
}

.imconnector-field-user-item:hover .imconnector-close-icon {
	visibility:visible;
}

.imconnector-field-user-box.box-rights {
	margin-top: 30px;
}

.imconnector-field-user-box .imconnector-field-box-subtitle.box-rights {
	margin-bottom: 5px;
}

/*Fix for demo evaluator popup*/
.hide-features-popup {
	width: auto!important;
}
#b24InfoPopupimconnector_line_activation {
	width: 500px;
}

/*IE and Firefox fixes*/
.imopenlines-settings-button {
	padding-right: 18px!important;
}

select::-ms-expand {
	display: none;
}

select {
	-moz-appearance: none;
}

.imconnector-hint-popup-contents {
	padding: 10px;
}

.imconnector-restriction-note {
	font: 13px/19px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #828B95;
	margin-left: 30px;
}

#workarea-content {
	background-color: transparent !important;
}