.crm-ml-entity-wrapper {
	padding: 0 15px 0 21px;
}

.crm-ml-entity-wrapper-animation-hide {
	animation: hideContent .3s linear forwards;
	-webkit-animation: hideContent .3s linear forwards;
}

.crm-ml-entity-wrapper-animation-show {
	animation: showReport .3s linear forwards;
	-webkit-animation: showReport .3s linear forwards;
}

@keyframes hideContent {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@-webkit-keyframes hideContent {
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@keyframes showReport {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@-webkit-keyframes showReport {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

.crm-ml-entity-title .pagetitle-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.crm-ml-entity-content {
	background: #fff;
	padding: 20px 20px 100px;
	border-radius: var(--ui-border-radius-md);
}

.crm-ml-entity-content-img-block {
	height: 220px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 45px;
	position: relative;
}

.crm-ml-entity-content-img {
	width: 100%;
	height: 100%;
	background: url(img/network.jpg) center;
	background-size: cover;
	animation: changeScale 10s infinite cubic-bezier(.43,.21,.36,1.12) both;
}

.crm-ml-entity-content-text-block {
	text-align: center;
	margin: 0 auto;
	max-width: 680px;
	color: #333;
}

.crm-ml-entity-content-title {
	font: 28px/34px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
}

.crm-ml-entity-content-text-notice {
	font-size: 14px;
	line-height: 20px;
	color: #535c69;
	margin: 45px 0 85px;
}

.crm-ml-entity-content-text {
	font: 22px/28px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
}

.crm-ml-entity-content-decs-block {
	margin: 30px 0;
}

.crm-ml-entity-content-desc {
	text-align: left;
	color: #525C69;
	padding: 10px 0;
}

@-webkit-keyframes changeScale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.03);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes changeScale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.03);
	}
	100% {
		transform: scale(1);
	}
}

.crm-ml-entity-progress-circle-wrapper {
	display: inline-block;
	overflow: hidden;
	position: relative;
	font-size: 0;
	background: #fff;
	border-radius: 50%;
}

.crm-ml-entity-progress-circle-wrapper-animate .crm-ml-entity-progress-circle-number {
	opacity: 1;
}

.crm-ml-entity-progress-circle-number {
	position: absolute;
	top: 50%;
	left: 50%;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	font-size: 46px;
	line-height: 46px;
	letter-spacing: -1px;
	color: #333;
	margin: -3% 0 0 0;
	opacity: 0;
	transition: 1s;
	z-index: 9;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	display: flex;
	align-items: flex-end;
}

.crm-ml-entity-progress-circle-bar-bg {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s linear;
	stroke: #e7eef1;
	stroke-width: 5px;
	fill: #fff;
	stroke-dasharray: 400%;
}

.crm-ml-entity-progress-circle-bar-animate .crm-ml-entity-progress-circle-bar-progress {
	 opacity: 1;
}

.crm-ml-entity-progress-circle-bar-progress {
	opacity: .3;
	stroke-width: 5px;
	fill: transparent;
	stroke: #9dcf00 !important;
	transition: 1s cubic-bezier(0.65, 0.07, 0.37, 1.05);
	transform-origin: 50% 50%;
	transform: rotate(-90deg);
}

.crm-ml-entity-progress-circle-number span {
	content: '%';
	color: #333;
	opacity: .5;
	font-size: 34px;
	line-height: 40px;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	transition: .5s;
}

.crm-ml-entity-progress, .crm-ml-entity-content-circle, .crm-ml-entity-content-circle-start {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.crm-ml-entity-content-circle {
	width: 419px;
	height: 387px;
	background: url(img/circle.svg) no-repeat top -15px center;
}

.crm-ml-entity-content-circle-start {
	width: 419px;
	height: 387px;
	background: url(img/circle-start.svg) no-repeat top -15px center;
}

.crm-ml-entity-wrapper {
	padding: 0 15px 0 21px;
}

.crm-ml-entity-report {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.crm-ml-entity-title .pagetitle-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.crm-ml-entity-report-block {
	background: #fff;
	padding: 15px 0;
	width: 100%;
}

.crm-ml-entity-report-block + .crm-ml-entity-report-block {
	margin-top: 15px;
}

.crm-ml-entity-report-title {
	color: #333;
	font: 22px/28px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	margin: 0 18px 18px;
}

.crm-ml-entity-report-title.with-border {
	border-bottom: 1px solid rgba(82, 92, 105, .1);
	padding-bottom: 18px;
}

.crm-ml-entity-report-title-result {
	font-size: 32px;
	line-height: 38px;
	padding-left: 7px;
}

.crm-ml-entity-report-title-result:after {
	content: '%';
	color: #828b95;
	font-size: 25px;
	line-height: 34px;
}

.crm-ml-entity-report-title-icon {
	display: inline-block;
	vertical-align: top;
	width: 15px;
	height: 15px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%229%22%20height%3D%228%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M3%205H.98a.4.4%200%200%201-.28-.686L4.22.866a.4.4%200%200%201%20.56%200L8.3%204.314A.4.4%200%200%201%208.02%205H6v2.6a.4.4%200%200%201-.4.4H3.4a.4.4%200%200%201-.4-.4V5z%22/%3E%3C/svg%3E) no-repeat top 3px center;
	border-radius: 50%;
	margin: 0 1px;
}

.crm-ml-entity-report-title-mark {
	text-transform: uppercase;
	font: 9px/14px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	font-weight: 700;
	border-radius: 20px;
	padding: 3px 12px 3px 9px;
	vertical-align: middle;
	display: inline-block;
}

.crm-ml-entity-report-title-success .crm-ml-entity-report-title-mark {
	background: rgba(123, 213, 0, .22);
	color: #589309;
}

.crm-ml-entity-report-title-success .crm-ml-entity-report-title-icon {
	background-color: #9dcf00;
}

.crm-ml-entity-report-title-middle .crm-ml-entity-report-title-mark {
	background: rgba(255, 169, 0, .22);
	color: #b87c00;
}

.crm-ml-entity-report-title-fail .crm-ml-entity-report-title-mark {
	background: rgba(255, 87, 82, .22);
	color: #d2000d;
}

.crm-ml-entity-report-title-fail .crm-ml-entity-report-title-icon {
	background-color: #ff5752;
	transform: rotate(180deg);
}

.crm-ml-entity-report-detail {
	font-size: 13px;
	line-height: 18px;
	color: #525c69;
	margin: 0 18px;
}

.crm-ml-entity-report-detail-link {
	color: #0b66c3;
}

.crm-ml-entity-report-detail-text {
	margin-right: 3px;
}

.crm-ml-entity-report-detail-text:after {
	content: ':';
}

.crm-ml-entity-report-subtitle {
	font: 18px/24px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
}

.crm-ml-entity-report-block-chart, .crm-ml-entity-report-block-event {
	width: 48.9%;
}

.crm-ml-entity-report-stat, .crm-ml-entity-report-info {
	display: flex;
}

.crm-ml-entity-report-info {
	margin-top: 20px;
}

.crm-ml-entity-report-info-detail {
	font: 18px/24px  var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
}

.crm-ml-entity-report-info-text {
	color: #828b95;
	font: 12px/14px  var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	margin-bottom: 24px;
}

.crm-ml-entity-report-info-value {
	color: #333;
	font: 30px/38px  var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	margin-right: 3px;
}

.crm-ml-entity-report-info-days {
	color: #525c69;
}

.crm-ml-entity-report-info-dif-green {
	color: #779c00;
}

.crm-ml-entity-report-info-dif-red {
	color: #d2000d;
}

.crm-ml-entity-report-info-item {
	padding: 10px 16px 10px 15px;
	display: flex;
	flex-direction: column;
	max-width: 165px;
	width: 100%;  /* ie */
	box-sizing: border-box;
	position: relative;
}

.crm-ml-separator-left:before {
	content: '';
	height: 116px;
	width: 1px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(224, 224, 224, .6);
}

.crm-ml-entity-report-block-event .crm-ml-entity-report-title {
	display: flex;
	align-items: center;
}

.crm-ml-entity-report-block-event:before {
	content: '';
	position: absolute;
	top: 40px;
	left: -20px;
	border: 10px solid transparent;
	border-right-color: #fff;
}

.crm-ml-entity-report-arrows {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-top: 7px;
}

.crm-ml-entity-report-arrow + .crm-ml-entity-report-arrow {
	margin-left: 20px;
}

.crm-ml-entity-report-arrow {
	width: 21px;
	height: 21px;
	cursor: pointer;
	opacity: .5;
	transition: opacity .2s linear;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%2213%22%3E%3Cpath%20fill%3D%22%23828B95%22%20fill-rule%3D%22evenodd%22%20opacity%3D%221%22%20d%3D%22M7.86%201.551L3.898%205.512%202.872%206.5l1.026.989L7.86%2011.45l-1.398%201.398L.114%206.5%206.462.153z%22/%3E%3C/svg%3E) no-repeat center;
}

.crm-ml-entity-report-arrow:hover{
	opacity: 1;
}

.crm-ml-entity-report-arrow-next {
	transform: rotate(180deg);
}

.crm-ml-entity-chart {
	height: 145px;
	flex-grow: 1;
}

.crm-ml-entity-report-event {
	padding: 18px;
}

.crm-ml-entity-report-event-name {
	display: block;
	color: #333;
	font: 14px/16px  var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	padding-bottom: 5px;
}

.crm-ml-entity-report-event-name:before {
	content: "\2014";
	padding-right: 10px;
}

.crm-ml-entity-report-act-link {
	cursor: pointer;
}

.crm-ml-button-hidden {
	display: none!important;
}

.crm-ml-model-block {
	border: 1px solid #2fc6f6;
	border-radius: var(--ui-border-radius-sm, 3px);
	padding: 14px 20px 18px 20px;
	text-align: left;
}

.crm-ml-model-block + .crm-ml-model-block {
	margin-top: 20px;
}

.crm-ml-model-progress-container {
	display: inline-block;
	position: absolute;
	left: -5px;
	top: -13px;
}

.crm-ml-model-progress-container .ui-progressround-track-bar-bg {
	stroke: none;
}

.crm-ml-model-header {
	margin-bottom: 8px;
	font: 0/25px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.crm-ml-model-header span {
	font-size: 17px;
}

.crm-ml-model-subject {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	padding-left: 10px;
	margin-right: 5px;
	position: relative;
}

.crm-ml-model-title {
	margin-right: 0;
}

.crm-ml-model-block-inner {
	position: relative;
	padding-left: 62px;
}

.crm-ml-model-block-inner:before {
	content: '';
	width: 43px;
	height: 43px;
	position: absolute;
	left: 0;
	top: 3px;
	border-radius: 50%;
	background-position: top 11px left 10px;
	background-repeat: no-repeat;
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2220%22%20height%3D%2220%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M16.283.214a2.748%202.748%200%2001.529%205.445l-.663%204.716a4.932%204.932%200%2001-1.653%209.577%204.93%204.93%200%2001-4.117-7.644l-2.707-2.193a4%204%200%2011.75-4.816l5.243-1.502A2.748%202.748%200%200116.283.214zm-1.82%204.806L8.867%206.623A4.033%204.033%200%20018.5%208.99l2.806%202.273a4.91%204.91%200%20013.472-1.164l.636-4.53a2.745%202.745%200%2001-.952-.55z%22/%3E%3C/svg%3E);
}

.crm-ml-model-block-unprepared .crm-ml-model-block-inner:before {
	background-color: #ffa900;
}

.crm-ml-model-block-prepared .crm-ml-model-block-inner:before {
	background-color: #55d0e0;
}

.crm-ml-model-block-process .crm-ml-model-block-inner:before {
	/*
	width: 46px;
	height: 46px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2246%22%20height%3D%2246%22%20viewBox%3D%220%200%2046%2046%22%3E%0A%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Crect%20width%3D%2238%22%20height%3D%2238%22%20x%3D%224.148%22%20y%3D%224.148%22%20fill%3D%22%23DADEE4%22%20rx%3D%2219%22/%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%232FC6F6%22%20d%3D%22M23%2C2.13162821e-14%20C35.7025492%2C1.89828616e-14%2046%2C10.2974508%2046%2C23%20L44.2962963%2C23.0009996%20C44.2962963%2C23.0006664%2044.2962963%2C23.0003332%2044.2962963%2C23%20C44.2962963%2C11.2383803%2034.7616197%2C1.7037037%2023%2C1.7037037%20C11.2383803%2C1.7037037%201.7037037%2C11.2383803%201.7037037%2C23%20C1.7037037%2C33.7435477%209.65919744%2C42.6289903%2020.0005791%2C44.0867219%20L20.0006042%2C45.8061993%20C8.71524605%2C44.3364436%201.43112215e-15%2C34.6859992%200%2C23%20C-1.55561363e-15%2C10.2974508%2010.2974508%2C2.36497025e-14%2023%2C2.13162821e-14%20Z%22/%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M27.2828073%2C13.2141205%20C28.8002953%2C13.2141205%2030.0304624%2C14.4442876%2030.0304624%2C15.9617756%20C30.0304624%2C17.298282%2029.0762267%2C18.4119148%2027.8118921%2C18.6585369%20L27.1485313%2C23.3750539%20C29.0586665%2C24.0544477%2030.4262504%2C25.8782906%2030.4262504%2C28.0215498%20C30.4262504%2C30.7444658%2028.2188909%2C32.9518254%2025.4959749%2C32.9518254%20C22.7730588%2C32.9518254%2020.5656993%2C30.7444658%2020.5656993%2C28.0215498%20C20.5656993%2C27.0187942%2020.86506%2C26.0859581%2021.3792861%2C25.3075366%20L18.6718157%2C23.1150568%20C17.9539118%2C23.7995816%2016.9818099%2C24.2198621%2015.9115461%2C24.2198621%20C13.7021113%2C24.2198621%2011.9110105%2C22.4287612%2011.9110105%2C20.2193264%20C11.9110105%2C18.0098916%2013.7021113%2C16.2187908%2015.9115461%2C16.2187908%20C17.4249192%2C16.2187908%2018.7420228%2C17.0591203%2019.4217019%2C18.2986244%20L24.6645175%2C16.7973747%20C24.5804982%2C16.5338813%2024.5351522%2C16.253124%2024.5351522%2C15.9617756%20C24.5351522%2C14.4442876%2025.7653193%2C13.2141205%2027.2828073%2C13.2141205%20Z%20M25.4622682%2C18.0197892%20L19.8679585%2C19.6231338%20C19.8970212%2C19.8176415%2019.9120818%2C20.0167251%2019.9120818%2C20.2193264%20C19.9120818%2C20.8551777%2019.7637382%2C21.4563816%2019.4997715%2C21.9902174%20L22.3055182%2C24.2626149%20C23.1654197%2C23.53204%2024.2792241%2C23.0912742%2025.4959749%2C23.0912742%20C25.5906144%2C23.0912742%2025.6846312%2C23.0939408%2025.7779542%2C23.0992028%20L26.4137332%2C18.5691528%20C26.0588646%2C18.4509262%2025.7361836%2C18.2622791%2025.4622682%2C18.0197892%20Z%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A) no-repeat center;
	*/
	background-color: #dadee4;

}

.crm-ml-model-block-default .crm-ml-model-block-inner:before {
	background-color: #2fc6f6;
}

.crm-ml-model-description {
	font: 14px/20px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
}

.crm-ml-model-btn {
	margin: 19px 0;
}

.crm-ml-model-progress {
	max-width: 535px;
	margin-top: 10px;
}