.bx-filter-wrap {margin-bottom:20px;}

.bx-filter-tabs-block {padding-right:70px; white-space:nowrap; position: relative; }
.bx-filter-tab {
	background:url("images/filter/filter-sprite.png") repeat-x 0 0;
	display:inline-block;
	border-radius:5px 5px 0 0;
	border:1px solid #d0d9db;
	border-bottom:none;
	-webkit-box-shadow:inset 0 1px 0 0 #fff;
	box-shadow:inset 0 1px 0 0 #fff;
	color:#3f4b54;
	cursor:pointer;
	font-size:13px;
	font-weight:bold;
	height:23px;
	margin-left:8px;
	text-shadow:0 1px rgba(255,255,255,0.7);
	padding:7px 20px 0;
	position:relative;
	vertical-align:top;
	position: relative;
	z-index: 2;
}

.bx-ie8 .bx-filter-tab {
	border:1px solid #d0d9db;
	border-bottom: none;
}

.bx-filter-add-tab {}

.bx-filter-add-tab:after {
	background:url("images/filter/filter-sprite.png") no-repeat center -77px;
	content:"";
	height:12px;
	left:13px;
	top:10px;
	position:absolute;
	width:14px;
}

.bx-filter-main-table {border-spacing:0; width:670px !important;}

.bx-ie8 .bx-filter-main-table,
.bx-ie9 .bx-filter-main-table {border-spacing:0; width:800px;}

.bx-filter-main-table-cell {padding:0;}


.bx-filter-tab:first-child {margin:0;}

.bx-filter-tab:hover {
	background-position: 0 -39px;
}

.bx-filter-tab-active {
	background:url("images/filter/filter-bg.gif") repeat;
	color:#000;
	-webkit-box-shadow:none;
	box-shadow:none;
	padding:7px 21px 0;
}

.bx-current-filter-tab {
	background:url("images/filter/filter-active-tab-bg.gif") repeat;
	color:#000;
	-webkit-box-shadow:none;
	box-shadow:none;
	border-color:#cad88e;
}

.bx-current-filter-tab:hover,
.bx-filter-tab-active.bx-current-filter-tab {
	background:url("images/filter/filter-active-bg.gif") repeat;
	color:#000;
	-webkit-box-shadow:none;
	box-shadow:none;
	border-color:#d8e0b8;
}


.bx-filter-content {
	background:url("images/filter/filter-bg.gif") repeat;
	border-radius:0 5px 5px 5px;
	border-bottom:1px solid #a0abb0;
	overflow:hidden;
	padding:10px 0 14px 0;
	position: relative;
	z-index: 3;
}

.bx-current-filter .bx-filter-content {
	background:url("images/filter/filter-active-bg.gif") repeat;
	border-bottom-color:#b5bc9e;
}

.bx-filter-item {
	padding:0 14px 18px 11px;
}

.bx-input-help-icon-wrap {padding-right:30px!important;}

.bx-input-help-icon {
	background:url("images/filter/filter-sprite.png") no-repeat center -130px;
	right:0;
	top:0;
	height:27px;
	text-decoration:none;
	position:absolute;
	width:30px;
}
.bx-input-help-icon:hover {background-position:center -100px;}

.bx-filter-content .bx-select-wrap {float:right; max-width:250px; min-width:100px;}

.bx-select-wrap:after{
	background: url("images/filter/filter-sprite.png") no-repeat -9px -641px;
    content: "";
    height: 10px;
    position: absolute;
    right: 8px;
    top: 9px;
    width: 5px;
    z-index: 0;
}

.bx-filter-wrap .bx-select-wrap {
    background: url("images/filter/filter-sprite.png") repeat-x 0 -437px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 0 1px rgba(255,255,255,0.3), 0 1px 1px -1px rgba(0,0,0,0.3);
	box-shadow:inset 0 0 1px rgba(255,255,255,0.3), 0 1px 1px -1px rgba(0,0,0,0.3);
	border:1px solid;
	border-color:rgba(0,0,0,0.06) rgba(0,0,0,0.16) rgba(0,0,0,0.35);
	display:inline-block;
	vertical-align:top;
	position:relative;
}

.bx-filter-wrap .bx-select {
	background:none;
	border:none;
	border-radius:0;
	-webkit-box-shadow:none;
	box-shadow:none;
	color:#3f4b54;
	display:inline-block;
	font-size:13px;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	line-height:15px;
	height:27px;
	text-shadow:0 1px #fff;
	outline:none;
	overflow:hidden;
	padding:4px 4px 6px 5px;
	min-width:100px;
	vertical-align:top;
	-webkit-appearance: none;
	position:relative;
	width:100%;
	z-index:1;
}


.bx-filter-content-table-wrap {padding:0 20px 0;}

.bx-filter-content-table {
	border:none;
	border-spacing:0;
	width:100%;
}

.bx-filter-item-left {
	color:#000;
	border:none;
	font-size:13px;
	min-width:114px;
	height:24px;
	text-shadow:0 1px rgba(255,255,255,0.7);
	text-align:left;
	text-overflow:ellipsis;
	vertical-align:top;
	padding:7px 12px 8px 0;
}

.bx-filter-item-center {
	border:none;
	vertical-align:top;
	overflow:hidden;
	padding:0 0 8px 0;
	width:100%;
}

.bx-workarea .bx-filter-content-table .bx-input-wrap {padding-right:12px;}

.bx-filter-calendar-separate {
    background-color: #87919C;
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
    display: inline-block;
    height: 3px;
    margin: 12px -4px 0 6px;
    vertical-align: top;
    width: 15px;
}


.bx-calendar-icon {
    background: url("images/filter/filter-sprite.png") no-repeat center -503px;
    border: medium none !important;
    cursor: pointer;
    height: 15px;
    outline: medium none;
    position: absolute;
    right: 10px;
    top: 6px;
    width: 16px;
}

.bx-calendar-icon:hover {background-position:center -525px}

.bx-filter-box-sizing {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: start;
	-moz-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;

	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;

	font-size:13px;
	text-shadow:0 1px rgba(255,255,255,0.7);
	width:100%;
}

.bx-filter-alignment {margin:0 0 -5px -12px;}



.bx-filter-box-sizing .bx-input-wrap {
	display: block;
	margin:0 0 5px 12px;
	vertical-align: top;
	padding:0;
	position: relative;

	-webkit-box-flex: 10;
	-moz-box-flex: 10;
	-webkit-flex: 10 10 auto;
	-ms-flex: 10 10 auto;
	flex: 10 10 auto;

}

.bx-filter-wrap .bx-input,
.bx-filter-wrap input[type="text"],
.bx-filter-wrap input[type="password"],
.bx-filter-wrap input[type="email"] {
	background:#fff;
	border:1px solid;
	border-color:#87919c #959ea9 #9ea7b1 #959ea9;
	border-radius:4px;
	color:#3f4b54;
	-webkit-box-shadow:0 1px 0 0 rgba(255,255,255,0.3), inset 0 2px 2px -1px rgba(180,188,191,0.7);
	box-shadow:0 1px 0 0 rgba(255,255,255,0.3), inset 0 2px 2px -1px rgba(180,188,191,0.7);
	display:inline-block;
	font-size: 13px;
	height:27px;
	margin: 0;
	outline:none;
	vertical-align:middle;
	padding: 0 5px;
	width:100%;

	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.bx-flexwrap .bx-workarea .bx-filter-box-sizing .bx-input-wrap,
.bx-boxdirection .bx-workarea .bx-filter-box-sizing .bx-input-wrap {

	-webkit-box-flex: 10;
	-moz-box-flex: 10;
	-webkit-flex: 10 1 auto;
	-ms-flex: 10 1 auto;
	flex: 10 1 auto;

	margin-left:12px;
	min-width:90px;
	padding-right:0;
}

.bx-filter-box-sizing .bx-select-wrap {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	float:none;
	margin:0 0 5px 12px;
}

.bx-no-flexwrap .bx-workarea .bx-filter-box-sizing .bx-input-wrap {
	display:inline-block;
	margin-left:12px;
	padding:0;
	vertical-align:top;
	width:190px;
}

.bx-ie8 .bx-workarea .bx-filter-box-sizing .bx-input-wrap { width: 150px; }

.bx-calendar-separate {
	background-color:#87919c;
	-webkit-box-shadow:0 1px 0 0 rgba(255,255,255,0.5);
	box-shadow:0 1px 0 0 rgba(255,255,255,0.5);
	display:inline-block;
	margin:12px -4px 0 6px;
	height:3px;
	vertical-align:top;
	width:15px;
}

.bx-calendar-block .bx-select-wrap {max-width:150px;}

.bx-filter-item-right {
	border:none;
	vertical-align:top;
	padding:0 0 8px 0;
	width:29px;
	white-space:nowrap;
}

.bx-filter-bottom-separate {
	background-color:#d7dfe2;
	border-top:1px solid #87919c;
	height:1px;
	margin-bottom:13px;
}

.bx-current-filter .bx-filter-bottom-separate {
	background-color:#e6edce;
	border-top:1px solid #a6ad8e;
}

.bx-filter-bottom {padding:0 20px 0;}

.bx-filter-content-first .bx-filter-bottom {
	border:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	margin-top:-5px;
	padding-top:0;
}


.bx-filter-setting-block {
	float:right;
}

.bx-filter-add-button,
.bx-filter-item-delete,
.bx-filter-setting {
	background:url("images/filter/filter-sprite.png") repeat-x 0 -178px;
	border:1px solid rgba(139,153,157,0.72);
	border-radius:4px;
	-webkit-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.5);
	box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.5);
	cursor:pointer;
	display:inline-block;
	height:30px;
	vertical-align:top;
	position:relative;
	width:36px;
}

.bx-filter-setting {margin-right:12px;}

.bx-ie8 .bx-filter-add-button,
.bx-ie8 .bx-filter-item-delete,
.bx-ie8 .bx-filter-setting {border:1px solid #8b999d;}

.bx-filter-item-delete {
	display:inline-block;
	margin:0 0 0 12px;
	vertical-align:top;
	width: 28px;
	height: 24px;
}

.bx-filter-add-button:after,
.bx-filter-item-delete:after,
.bx-filter-setting:after {
	background:url("images/filter/filter-sprite.png") no-repeat center -77px;
	content:"";
	height:15px;
	position:absolute;
	left:12px;
	top:8px;
	width:14px;
}

.bx-filter-item-delete:after {
	background-position:0 -165px;
	height:4px;
	top:11px;
	left:9px;
}

.bx-filter-setting:after {
	background-position:center -475px;
	left:11px;
	top:7px;
}

.bx-filter-add-button:hover,
.bx-filter-item-delete:hover,
.bx-filter-setting:hover {
	background-position:0 -212px;
	-webkit-box-shadow:0 1px 0 0 #98a5a7;
	box-shadow:0 1px 0 0 #98a5a7;
}

.bx-filter-add-button:active,
.bx-filter-add-button.bx-btn-active,
.bx-filter-item-delete:active,
.bx-filter-setting:active,
.bx-filter-setting.bx-btn-active
{
	background-position:0 -248px;
	-webkit-box-shadow:0 1px 0 0 #d7dfe2, 0 -1px 0 0 #869499, inset 0 1px 1px 0 #485152;
	box-shadow:0 1px 0 0 #d7dfe2, 0 -1px 0 0 #869499, inset 0 1px 1px 0 #485152;
	border-top-color:#525f5f;
	height:29px;
	margin-top:1px;;
}

.bx-filter-item-delete:active { height: 23px; }

.bx-workarea .bx-filter-setting.bx-btn-active,
.bx-workarea .bx-filter-add-button.bx-btn-active
{
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.bx-filter-text-wrap {
	display:inline-block;
	color:#000;
	font-size:13px;
	margin:4px 0 0 12px;
	text-shadow:0 1px rgba(255,255,255,0.7);
	vertical-align:top;
}


.bx-filter-main-table br {display:none;}
.bx-filter-main-table label + br {display:block; }
.bx-chrome .bx-filter-main-table label + br { margin-top:5px;}
.bx-filter-main-table label.bx-designed-checkbox-label + br {display:none;}

.bx-ie8 .bx-filter-main-table input[type="checkbox"] {margin-left:12px;}

.bx-filter-text-search {margin:6px 0 0 12px;}

.bx-filter-switcher-tab {
	display: block;
	position: absolute;
	right: 4px;
	top: 5px;
	width: 22px;
	height: 20px;
	cursor: pointer;
	z-index: 2;

}

.bx-filter-switcher-tab-icon {
	background: url(images/filter/filter-sprite.png) no-repeat -1px -358px;
	display: block;
	height: 20px;
	width: 22px;
}

.bx-filter-switcher-tab:hover {
	border-radius: 4px;
	border: 1px solid;
	border-color: #d0d6d9 #bbc1c4 #8a969c #b7bcbf;
	box-shadow: 0 1px 0 #c4cacc;

	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #edf3f4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#edf3f4));
	background: -webkit-linear-gradient(top, #ffffff 0%,#edf3f4 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#edf3f4 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#edf3f4 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#edf3f4 100%);
}

.bx-ie8 .bx-filter-switcher-tab:hover { background: #fff; }
.bx-ie9 .bx-filter-switcher-tab:hover { background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGYzZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); }

.bx-filter-switcher-tab:hover .bx-filter-switcher-tab-icon { background-position: 0 -359px;}

.bx-filter-folded .bx-filter-switcher-tab .bx-filter-switcher-tab-icon { background-position: -2px -337px;}
.bx-filter-folded .bx-filter-switcher-tab:hover .bx-filter-switcher-tab-icon { background-position: -1px -338px;}

.bx-filter-folded .bx-filter-content { display: none; }
.bx-filter-folded .bx-filter-tab {
	border-radius:5px;
	border:1px solid;
	border-color: #d0d6d9 #b7bcbf #919a9d #bbc1c4;
	box-shadow: 0 1px 0 #c4cacc, inset 0 1px #fff;
	z-index: 2;
	height: 25px;
}

.bx-filter-folded .bx-filter-tab-active {
	background: url("images/filter/filter-sprite.png") repeat-x 0 0;
	color: #3F4B54;
}

.bx-filter-folded .bx-filter-tab-active:hover {
	background-position: 0 -39px;
}

.bx-filter-folded .bx-current-filter-tab {
	box-shadow: none;
	border-color: #aab67d #c8d68d #e6edca;
	margin-top: 1px;
	padding-top: 6px;
	background: url("images/filter/filter-active-tab-bg.gif") repeat;
	color: black;
	position: relative;
}

.bx-filter-folded .bx-filter-tab-loading.bx-current-filter-tab:after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background: url(images/filter/filter-active-waiter.gif) no-repeat;
	left: 50%;
	top: 50%;
	margin-top: -11px;
	margin-left: -10px;
}

.bx-filter-folded .bx-filter-tab-loading.bx-current-filter-tab {
	color: #abb875;
	text-shadow: 0 1px 0 #d3dea3;
}

.bx-filter-tabs-block-underlay {
	opacity: 0;
	background: url(images/filter/filter-sprite.png) repeat-x 0 -286px;
	height: 42px;
	border-radius: 5px;
	position: absolute;
	top: -4px;
	left:-5px;
	right: -5px;
	z-index: 1;
	border: 1px solid;
	border-color: #ced6d7 #d5dedf #eef2f3;

	-webkit-transition:opacity 0.1s ease-out;
	-moz-transition:opacity 0.1s ease-out;
	-o-transition:opacity 0.1s ease-out;
	-ms-transition:opacity 0.1s ease-out;
	transition:opacity 0.1s ease-out;
}

.bx-filter-folded .bx-filter-tabs-block-underlay {
	opacity: 1;
}

.bx-ie8 .bx-filter-tabs-block-underlay { display: none; }
.bx-ie8 .bx-filter-folded .bx-filter-tabs-block-underlay { display: block; }


.bx-filter-wrap .bx-btn,
.bx-filter-wrap input[type="button"],
.bx-filter-wrap input[type="reset"],
.bx-filter-wrap input[type="submit"] {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border:none;
	border-top:1px solid #fff;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 1px rgba(0,0,0,.3), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5);
	box-shadow: 0 0 1px rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.3), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5);
	background-image: -webkit-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: -moz-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: -ms-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: -o-linear-gradient(bottom, #d7e3e7, #fff)!important;
	background-image: linear-gradient(bottom, #d7e3e7, #fff)!important;
	color:#3f4b54;
	cursor:pointer;
	display:inline-block;
	font-family:var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	font-weight:bold;
	font-size:13px;
	height: 29px;
	margin-left:12px;
	text-shadow:0 1px rgba(255,255,255,0.7);
	text-decoration:none;
	padding:0 13px 2px;
	position:relative;
	vertical-align:middle;
	-webkit-font-smoothing: antialiased;
}

.bx-filter-wrap .bx-btn:hover,
.bx-filter-wrap input[type="button"]:hover,
.bx-filter-wrap input[type="reset"]:hover,
.bx-filter-wrap input[type="submit"]:hover {
	text-decoration: none;
	background:#f3f6f7!important;
	background-image: -webkit-linear-gradient(top, f8f8f9, #f2f6f8)!important;
	background-image: -moz-linear-gradient(top, #f8f8f9, #f2f6f8)!important;
	background-image: -ms-linear-gradient(top, #f8f8f9, #f2f6f8)!important;
	background-image: -o-linear-gradient(top, #f8f8f9, #f2f6f8)!important;
	background-image: linear-gradient(top, #f8f8f9, #f2f6f8)!important;
}

.bx-filter-wrap .bx-btn:active,
.bx-filter-wrap .bx-btn.bx-btn-active,
.bx-filter-wrap input[type="submit"]:active,
.bx-filter-wrap input[type="button"]:active {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #b7c4c9!important;
	-webkit-box-shadow: inset 0 1px 1px 1px rgba(103,109,123,.78);
	box-shadow: inset 0 1px 1px 1px rgba(103,109,123,.78);
	background-image: -webkit-linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96))!important;
	background-image: -moz-linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96))!important;
	background-image: -ms-linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96))!important;
	background-image: -o-linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96))!important;
	background-image: linear-gradient(top, rgba(179,194,200,.96), rgba(202,215,219,.96))!important;
	border-top:transparent;
	height: 29px;
	outline:none;
	padding:2px 13px 1px;
}

.bx-filter-bottom .bx-btn,
.bx-filter-bottom input[type="button"],
.bx-filter-bottom input[type="reset"],
.bx-filter-bottom input[type="submit"] {
    margin:0 10px 0 0;
    width: 90px;
}

.bx-filter-wrap .bx-select-wrap-multiple {
	border-radius:4px;
	-webkit-box-shadow:inset 0 0 1px rgba(255,255,255,0.3), 0 1px 1px -1px rgba(0,0,0,0.3);
	box-shadow:inset 0 0 1px rgba(255,255,255,0.3), 0 1px 1px -1px rgba(0,0,0,0.3);
	border:1px solid;
	border-color:rgba(0,0,0,0.06) rgba(0,0,0,0.16) rgba(0,0,0,0.35);

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;

	display:inline-block;
	float:left;
	min-width:100px;
	margin:0 0 5px 12px;
	overflow:hidden;
	position:relative;
}

.bx-filter-wrap .bx-select-multiple {
	background-color: #fff;
	border-radius:4px;
	border:none;
	color:#3f4b54;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	font-size:13px;
	margin:0;
	outline:none;
	padding:0;
	width:100%;
}

.bx-filter-wrap select[multiple],
.bx-filter-wrap select[size] {
    height: auto;
    min-height: 27px;
}

.bx-filter-box-sizing .bx-user-field-wrap {
	display: block;
	margin:0 0 5px 12px;
	vertical-align: top;
	padding:0;
	position: relative;
	-webkit-box-flex: 10;
	-moz-box-flex: 10;
	-webkit-flex: 10 10 auto;
	-ms-flex: 10 10 auto;
	flex: 10 10 auto;

}
.bx-filter-box-sizing .bx-user-field-wrap input[type="text"] {
	width: auto;
}

.crm-filter-popup-item .menu-popup-item-icon {background:url("images/filter/filter-sprite.png") no-repeat 100px 100px; width:12px}
.crm-filter-popup-item .menu-popup-item-left,
.crm-filter-popup-item .menu-popup-item-right{display:none;}
.crm-filter-popup-item .menu-popup-item-text {margin-left:5px;}
.crm-filter-popup-item.menu-popup-item-checked .menu-popup-item-icon {background-position: center -616px;}
.crm-filter-popup-item .popup-window-hr {}

.bx-filter-item-row .bx-filter-date-days-suffix { margin-left: 8px; margin-top: 4px; }

.crm-filter-name-container {
	position: relative;
	display: inline-block;
}

.crm-filter-name-clean {
	position: absolute;
	top: 8px;
	right: -17px;
	display: inline-block;
	width: 11px;
	height: 11px;
	background: url(images/filter/crm-filter-clean.svg) center center no-repeat;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	transition: opacity .3s ease;
	cursor: pointer;
	opacity: .5;
}

.crm-filter-name-clean:hover {
	opacity: 1;
}