.main-wrapper-center-cell{
	width:1100px !important;
}
.content-wrap{
	width: 1100px !important;
}

.crm-invoice-payment-client-wrapper{
	width:100%;
	position: relative;
	overflow: hidden;
}

.crm-invoice-payment-client-wrapper.crm-invoice-payment-deliver:before {
	content: '';
	width: 1px;
	position: absolute;
	top: 23px;
	bottom: 40px;
	right: 290px;
	background: #eaecee;
}

.crm-invoice-payment-client-pp{
	width:10%;
}

/*pay*/
.crm-invoice-payment-client-pp-company {
	padding-bottom: 20px;
	z-index: 100;
	position: relative;
}

.crm-invoice-payment-client-pp .crm-invoice-payment-client-pp-company {
	padding: 7px;
	border: 1px solid transparent;
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
}

.crm-invoice-payment-client-pp-company.bx-selected .crm-invoice-payment-client-pp-company-graf-container { border-color: #159ebb; }

.crm-invoice-payment-client-pp-company.bx-error .crm-invoice-payment-client-pp-company-graf-container { border-color: #db4a29; }

.crm-invoice-payment-client-pp-company.bx-warning .crm-invoice-payment-client-pp-company-graf-container { border-color: #ccbe71; }

input[type=checkbox].crm-invoice-payment-client-pp-company-checkbox {
	position: absolute;
	top: 7px;
	left: 7px;
	margin: 0;
	padding: 0;
	z-index: 100;
}

.crm-invoice-payment-client-pp-company-image {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.crm-invoice-payment-client-pp-company-smalltitle {
	padding-top: 9px;
	color: #a3a3a3;
	font-size: 11px;
	text-align: center;
	padding-bottom: 5px;
}

.crm-invoice-payment-client-pp-company-title {
	font-size: 19px;
	font-weight: bold;
}

.crm-invoice-payment-client-pp-company-selected { padding: 4px 0; }

@media (max-width: 767px) {
	.crm-invoice-payment-client-pp-item-container { max-width: 300px; }

	.crm-invoice-payment-client-pp-item-container .crm-invoice-payment-client-pp-company:nth-child(2n+1) {
		clear: both;
		padding-left: 0;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.crm-invoice-payment-client-pp-item-container .crm-invoice-payment-client-pp-company:nth-child(3n+1) {
		clear: both;
		padding-left: 0;
	}
}

@media (min-width: 1200px) {
	.crm-invoice-payment-client-pp-item-container .crm-invoice-payment-client-pp-company:nth-child(4n+1) {
		clear: both;
		padding-left: 0;
	}
}

.content {
	overflow: hidden;
}

.crm-invoice-payment-client-pp-switcher{
	display: none;
}

.crm-invoice-payment-client-template {
	max-width: 800px;
	overflow: hidden;
	position: relative;
	float: left;
}

#crm-invoice-payment-template-frame{
	padding:32px 8px 0 8px;
}

.crm-invoice-payment-bar {
	float: right;
	padding: 23px 23px 0 23px;
	width: 295px;
	overflow: hidden;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	top: 0;
	right: 0;
}

.crm-invoice-payment-button {
	clear: both;
	display: block;
	overflow: hidden;
	text-align: center;
	margin: 0 0 35px 0;
}

.crm-invoice-payment-button-download,
.crm-invoice-payment-button-print {
	display: inline-block;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	height: 35px;
	line-height: 35px;
	padding: 0 20px 0 15px;
	color: #535c69;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #c6cdd3;
	cursor: pointer;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	transition: .2s;
}

.crm-invoice-payment-button-download:hover,
.crm-invoice-payment-button-print:hover {
	border: 1px solid #535c69;
}

.crm-invoice-payment-button-download:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 20px;
	margin: 0 9px 0 0;
	background: url(/bitrix/js/crm/css/../images/crm-invoice-client-sprite.png) 0 0 no-repeat;
}

.crm-invoice-payment-button-print:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 20px;
	margin: 0 9px 0 0;
	background: url(/bitrix/js/crm/css/../images/crm-invoice-client-sprite.png) -17px 0 no-repeat;
}

.crm-invoice-payment-button-de{
	font-size: 9px;
}

.crm-invoice-payment-total {
	clear: both;
	display: block;
	overflow: hidden;
	text-align: center;
	margin: 0 0 35px 0;
}

.crm-invoice-payment-total-title {
	color: #7f7f7f;
	font-size: 14px;
	margin: 0 0 5px 0;
}

.crm-invoice-payment-total-sum {
	color: #7f7f7f;
	font-size: 24px;
	font-weight: bold;
}

.crm-invoice-payment-system {
	clear: both;
	display: block;
	overflow: hidden;
}

.crm-invoice-payment-system-title {
	color: #535c69;
	font-size: 16px;
	font-weight: bold;
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #eaecee;
}

.crm-invoice-payment-system-array {
	clear: both;
	display: block;
	overflow-x: hidden;
	max-width: 244px;
	max-height: 310px;
}
.crm-invoice-payment-system-image-block{
	display: inline-block;
	cursor: pointer;
	width: 94px;
	margin: 0 5px 12px 5px;
}
.crm-invoice-payment-system-name{
	color: #a3a3a3;
	font-size: 11px;
	text-align: center;
	padding-bottom: 5px;
	float: left;
	margin: 0 9px;
	width: 90px;
	overflow: hidden;
	height: 22px;
}

.crm-invoice-payment-system-image {
	display: inline-block;
	cursor: pointer;
	width: 94px;
	height: 52px;
	border: 1px solid #d8dcdf;
	margin: 0 5px 2px 5px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	transition: .2s;
}

.crm-invoice-payment-system-image:hover{
	border-color: #159ebb;
}

.crm-invoice-payment-system-template{
	display: none;
}

.crm-invoice-payment-system-return-list{
	display: none;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-bold, 700);
	line-height: 35px;
	color: #ACCEFF;
	font-size: 12px;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	cursor: pointer;
}

.crm-invoice-payment-system-return-list:hover{
	text-decoration: none;
}

.crm-invoice-payment-system-image label {
	display: block;
	width: 100%;
	height: 52px;
	cursor: pointer;
}

.crm-invoice-payment-requisites {
	clear: both;
	display: block;
	overflow: hidden;
	margin-top:35px;
	padding: 0 20px 3px 20px;
	background: #fafbfb;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.crm-invoice-payment-requisites-title {
	color: #535c69;
	font-size: 12px;
	line-height: 40px;
	border-bottom: 1px solid #edf0f1;
	margin: 0 0 7px 0;
}

.crm-invoice-payment-requisites-table {
	font-size: 12px;
	color: #000;
}

.crm-invoice-payment-requisites-table td {
	vertical-align: top;
	padding: 9px 0;
}

.crm-invoice-payment-requisites-table td:first-child {
	padding: 9px 12px 9px 0;
	color: #858b95;
}

.crm-invoice-payment-requisites-dark {
	color: #000;
}

.crm-invoice-payment-copy {
	clear: both;
	float: right;
	line-height: 40px;
	padding: 0 25px 0 0;
	font-size: 11px;
	color: #7f7f7f;
}

.crm-invoice-payment-copy-logo, .crm-invoice-payment-copy-logo-en {
	display: inline-block;
	vertical-align: middle;
	height: 13px;
	margin: 0 2px;
}

.crm-invoice-payment-copy-logo {
	width: 60px;
	background: url(/bitrix/js/crm/css/../images/crm-invoice-client-sprite.png) -39px 0 no-repeat;
}

.crm-invoice-payment-copy-logo-en{
	width:53px;
	background: url(/bitrix/js/crm/css/../images/crm-invoice-client-sprite.png) -99px 0 no-repeat;
}

.crm-invoice-payment-paid{
	transform: rotate(35deg);
	position: absolute;
	font-size: 137px;
	top: 34%;
	left: 14%;
	color: #337e96;
	opacity: 0.3;
}
.crm-invoice-payment-system-template{
	width:100%;
}

.crm-invoice-payment-system-template .crm-invoice-payment-client-template{
	width:100%;
	text-align: center;
}

.crm-invoice-payment-paid-table-wrapper{
	min-height: 550px;
}

.crm-invoice-payment-paid-table{
	margin: 0 auto;
	position: relative;
	top: 200px;
	font-size: 23px;
}

.crm-invoice-payment-paid-count-name
{
	font-size: 30px;
	font-weight: 700;
}

.crm-invoice-payment-paid-table-empty-row{
	height: 20px;
}

.crm-invoice-payment-client-wrapper .form-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 7px;
}

.crm-invoice-payment-client-wrapper form {
	text-align: left;
}

.crm-invoice-payment-client-wrapper label {
	margin-bottom: 3px;
}

.crm-invoice-payment-client-wrapper .btn {
	border-radius: 32px;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	color: #fff;
	background-color: #28a745;
	margin: 7px 0 14px;
	border: none;
}