.crm__channel-selector--header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font: 11px/16px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: rgba(82,92,105,1);
	padding: 5px 11px 8px 14px;
	min-height: 26px;
}

.ui-btn.crm__channel-selector--setting-btn[class*="ui-btn-icon-"]:not(input):empty::after {
	width: 18px;
	height: 18px;
	margin: -7px 0 0 -6px;
	opacity: 0.3;
	background-size: contain;
}

.crm__channel-selector--list {
	background: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
	border-radius: var(--ui-border-radius-sm, 8px);
	box-sizing: border-box;
}
.crm__channel-selector--list.--empty {
	box-shadow: none;
	border-bottom: 1px solid #eee;
	margin-left: 16px;
	margin-right: 16px;
}
.crm__channel-selector--channel {
	display: flex;
	align-items: center;
	padding: 9px 9px 10px;
	background: transparent;
	position: relative;
	cursor: pointer;
	transition: .2s;
}

.crm__channel-selector--channel::before {
	content: '';
	display: block;
	width: calc(100% - 11px - 14px);
	height: 1px;
	position: absolute;
	left: 11px;
	bottom: -1px;
	background: rgba(106,115,127,.08);
	opacity: 1;
	transition: .2s;
}

.crm__channel-selector--channel-helper {
	position: relative;
	margin-left: auto;
	font-size: 11px;
	margin-bottom: 2px;
	line-height: 15px;
	color: #525c69;
}

.crm__channel-selector--channel-helper-text {
	display: inline-block;
	margin-right: 8px;
	opacity: 0;
	transition: .2s;
}

.crm__channel-selector--channel-helper::before {
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	margin-right: 2px;
	position: absolute;
	right: 0;
	top: 50%;
	background: url("../images/crm-channel-arrow.svg") center no-repeat;
	transform: translate(0, -50%);
	cursor: pointer;
	opacity: 1;
	transition: .2s;
}

.crm__channel-selector--channel:hover {
	background: #f5f7f8;
}

.crm__channel-selector--channel:hover::before {
	opacity: 0;
}

.crm__channel-selector--channel:hover .crm__channel-selector--channel-helper-text {
	opacity: 1;
}

.crm__channel-selector--channel:hover .crm__channel-selector--channel-helper::before {
	opacity: 0;
}

.crm__channel-selector--channel-icon {
	--crm-channel-icon-size: 27px;
	display: block;
	width: var(--crm-channel-icon-size);
	height: var(--crm-channel-icon-size);
	border-radius: var(--ui-border-radius-circle, 50%);
	background-color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 3px;
	flex-shrink: 0;
}

.crm__channel-selector--channel-icon.--service-whatsapp {
	background-image: url("../images/crm-channel-whatsapp.svg");
}

.crm__channel-selector--channel-icon.--service-email {
	background-image: url("../images/crm-channel-email.svg");
}

.crm__channel-selector--channel-icon.--service-sms {
	background-image: url("../images/crm-channel-sms.svg");
}

.crm__channel-selector--channel-icon.--service-livechat {
	background-image: url("../images/crm-channel-livechat.svg");
}

.crm__channel-selector--channel-icon.--service-edna {
	background-image: url("../images/crm-channel-edna.svg");
}

.crm__channel-selector--channel-text {
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
	margin-bottom: 2px;
	font-size: 13px;
	line-height: 16px;
	color: #525c69;
}

.crm__channel-selector--channel-hidden {
	display: none;
}

.crm__channel-selector--channel.crm__channel-selector--channel-disabled {
	opacity: 0.4;
	pointer-events: none;
}

.crm__channel-selector--footer {
	padding: 10px 12px;
	line-height: 20px;
	cursor: pointer;
}

.crm__channel-selector--footer.--disabled {
	pointer-events: none;
	opacity: 0.5;
}

.crm__channel-selector--footer-copy-link {
	display: flex;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	font-size: 11px;
	color: #525c69;
}

.crm__channel-selector--footer-copy-link::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 2px;
	flex-shrink: 0;
	background:  url("../images/crm-channel-link.svg") center no-repeat;
}

.crm__channel-selector--footer-link-hidden {
	width: 1px;
	height: 1px;
	position: absolute;
	top: -100px;
}

.crm__channel-selector--networks {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 14px 20px 11px;
	padding: 25px 10px 18px;
	box-sizing: border-box;
	border-radius: var(--ui-border-radius-lg, 12px);
	background: rgba(255, 255, 255, 0.94);
	text-align: center;
}

.crm__channel-selector--networks:before {
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	border-radius: var(--ui-border-radius-circle, 50%);;
	position: absolute;
	left: 50%;
	bottom: 100%;
	transform: translate(-50%, 50%);
	background-color: #f8fbfc;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../images/crm-networks-icon.svg");
	pointer-events: none;
}

.crm__channel-selector--networks-title {
	line-height: 17px;
	color: rgba(0, 0, 0, 0.8);
}

.crm__channel-selector--networks-block {
	display: flex;
	justify-content: center;
	margin: 18px 0;
}

.crm__channel-selector--network-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	margin: 0 3px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.9;
	transition: .2s;
	text-decoration: none;
	cursor: pointer;
}

.crm__channel-selector--network-link:hover {
	opacity: 1;
}

.crm__channel-selector--network-link.--link {
	width: auto;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	font-size: 11px;
	line-height: 15px;
	letter-spacing: -0.5px;
	color: #959ca4;
}

.crm__channel-selector--network-link.--telephone{
	background-image: url("../images/crm-network--telephony.svg");
}

.crm__channel-selector--network-link.--whatsapp {
	background-image: url("../images/crm-network--whatsapp.svg");
}

.crm__channel-selector--network-link.--facebook {
	background-image: url("../images/crm-network--fb.svg");
}

.crm__channel-selector--network-link.--messenger {
	background-image: url("../images/crm-network--messager.svg");
}

.crm__channel-selector--network-link.--instagram {
	background-image: url("../images/crm-network--instagram.svg");
}
