.crm-carousel-wrapper {
	position: relative;
	margin: 0 0 60px 0;
}
.crm-carousel-container {
	margin: 0 50px;
	overflow: hidden;
}
.crm-carousel-close {
	position: absolute;
	top: 0;
	right: 0;
}
.crm-carousel-close-item,
.crm-carousel-arrow-item,
.crm-carousel-arrow-item-previous {
	background: url(images/crm-slider-sprite.svg) no-repeat;
	cursor: pointer;
}
.crm-carousel-close-item {
	display: inline-block;
	padding: 7px;
	width: 16px;
	height: 16px;
	background-position: 4px -243px;
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
	opacity: .5;
}
.crm-carousel-close-item:hover {
	opacity: 1;
}
.crm-carousel-arrow,
.crm-carousel-arrow-previous {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
}
.crm-carousel-arrow-previous {
	left: 0;
	width: 23px;
}
.crm-carousel-arrow:hover,
.crm-carousel-arrow-previous:hover {
	opacity: .6;
}
.crm-carousel-arrow-item,
.crm-carousel-arrow-item-previous {
	display: inline-block;
	padding: 5px;
	width: 13px;
	height: 22px;
	background-position: 5px -212px;
}
.crm-carousel-arrow-item-previous {
	background-position: -19px -212px;
}
.crm-carousel-bullet-container {
	position: absolute;
	left: 50%;
	bottom: -37px;
	-webkit-transform: translate(-50%,0);
	transform: translate(-50%,0);
}
.crm-carousel-bullet-item {
	display: inline-block;
	padding: 5px 0;
	margin: 0 5px 0 0;
	width: 8px;
	height: 8px;
	background: url(images/crm-slider-sprite.svg) -31px -17px no-repeat;
	cursor: pointer;
}
.crm-carousel-bullet-item:last-child {
	margin: 0;
}
.crm-carousel-bullet-current {
	background-position: -31px -1px;
}
.crm-carousel-inner-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}
.crm-carousel-transition
{
	-webkit-transition: transform 1.6s ease-in-out;
	transition: transform 1.6s ease-in-out;
}
.crm-carousel-active {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}
.crm-carousel-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 100%;
	flex: 1 0 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.crm-carousel-item-element {
	margin: 0 15px;
}
.crm-carousel-item-title,
.crm-carousel-item-description,
.crm-carousel-item-button {
	text-align: center;
}
.crm-carousel-item-description {
	margin: 20px 0;
}
.crm-carousel-item-title-element {
	display: inline-block;
	font: bold 16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	vertical-align: middle;
}
.crm-carousel-item-description-element {
	display: inline-block;
	font: 12px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #535c69;
}
.crm-carousel-item-title-icon {
	display: inline-block;
	margin: 0 5px 0 0;
	width: 24px;
	height: 24px;
	background: url(images/crm-slider-sprite.svg) no-repeat;
	vertical-align: middle;
}
.crm-e-mail {
	height: 21px;
	background-position: 0 1px;
}
.crm-openlines {
	background-position: 0 -22px;
}
.crm-webform {
	background-position: 0 -47px;
}
.crm-rest-api {
	background-position: 0 -73px;
}
.crm-1c {
	width: 42px;
	background-position: 0 -101px;
}
.crm-phone {
	background-position: 0 -126px;
}
.crm-callback {
	background-position: 0 -155px;
}
.crm-messages {
	background-position: 0 -182px;
}
/* POPUP */
.crm-carousel-popup-close {
	max-width: 300px;
}
.crm-carousel-popup-close-text {
	text-align: center;
	margin: 0 0 20px 0;
}
.crm-carousel-popup-close-button {
	text-align: center;
}
.crm-carousel-popup-close-text-item {
	display: inline-block;
	font: 15px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #535c69;
}
/* END OF POPUP */