.calendar-pagetitle-view .pagetitle-below {
	padding: 0 5px 0 0;
}

/* VIEW SWITCHER */
.crm-view-switcher {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 53px;
	font: 14px/normal var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #545c6a;
}

.crm-view-switcher-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}

.crm-view-switcher-name {
	margin: 0 18px 0 0;
}

.crm-view-switcher-list-item {
	margin: 0 18px 0 0;
	font: 14px/30px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #545c6a;
	-webkit-transition: color .3s;
	transition: color .3s;
	cursor: pointer;
}

.crm-view-switcher-list-item:hover {
	color: #1f2127;
}

.crm-view-switcher-list-item-active {
	border-bottom: 2px solid #b1b8bf;
	font: 14px/30px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-regular, 400);
	color: #545c6a;
}
/* END OF VIEW SWITCHER */

.ui-btn.ui-btn-light-border.crm-robot-btn {
	padding: 0 12px 0 36px;
	height: 27px;
	background: rgba(255, 255, 255, .15);
	font-size: 13px;
	line-height: 25px;
	font-family: var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-semi-bold, 600);
}

.ui-btn.ui-btn-light-border.crm-robot-btn:before {
	content: '';
	position: absolute;
	left: 12px;
	top: 6px;
	width: 15px;
	height: 13px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2213%22%20viewBox%3D%220%200%2015%2013%22%3E%3Cpath%20fill%3D%22%23535c69%22%20d%3D%22M12.1137872%2C3.60115802%20L12.9213711%2C0.88887765%20C12.9917364%2C0.653060708%2012.9323829%2C0.397184882%2012.7656685%2C0.217636118%20C12.5989541%2C0.0380873543%2012.3502067%2C-0.0378566184%2012.113127%2C0.0184115594%20C11.8760474%2C0.0746797372%2011.6866535%2C0.254611591%2011.6162882%2C0.490428532%20L10.9245602%2C2.81873631%20C8.77403662%2C1.683364%206.20997866%2C1.68606835%204.06180048%2C2.82597457%20L3.36666494%2C0.490428532%20C3.25788966%2C0.125887126%202.87755711%2C-0.0804361999%202.51716841%2C0.0295924856%20C2.15677972%2C0.139621171%201.95280675%2C0.524336243%202.06158203%2C0.88887765%20L2.8725735%2C3.61184307%20C1.05136157%2C5.08431072%20-0.00628362527%2C7.31674489%202.80901028e-05%2C9.6750943%20C2.80901028e-05%2C13.9311927%203.35644236%2C12.8868148%207.4999954%2C12.8868148%20C11.6435484%2C12.8868148%2014.9999627%2C13.9311927%2014.9999627%2C9.6750943%20C15.0072578%2C7.31042438%2013.9438643%2C5.07252025%2012.1137872%2C3.60115802%20Z%20M7.49318035%2C9.09672266%20C4.53544676%2C9.09672266%202.13654763%2C9.40693391%202.13654763%2C8.13885926%20C2.13654763%2C6.8707846%204.53544676%2C5.84122793%207.49318035%2C5.84122793%20C10.4509139%2C5.84122793%2012.8532206%2C6.86975056%2012.8532206%2C8.13885926%20C12.8532206%2C9.40796795%2010.4543215%2C9.09672266%207.49318035%2C9.09672266%20Z%20M5.04316831%2C6.79116371%20C4.62088547%2C6.86918401%204.33167594%2C7.26631071%204.38320708%2C7.69738635%20C4.43473822%2C8.12846199%204.80918992%2C8.44441522%205.23768653%2C8.41837532%20C5.66618314%2C8.39233541%206.00054518%2C8.03330729%206.00068344%2C7.59909168%20C5.95284474%2C7.11065813%205.52678755%2C6.75116144%205.04316831%2C6.79116371%20Z%20M9.28209458%2C7.69949772%20C9.33459027%2C8.13049967%209.70956893%2C8.44577556%2010.1380777%2C8.41919424%20C10.5665864%2C8.39261291%2010.90067%2C8.03335237%2010.9007075%2C7.59909168%20C10.8528825%2C7.10920225%2010.4246755%2C6.74917285%209.93978486%2C6.79116371%20C9.51771184%2C6.87058387%209.22959888%2C7.26849578%209.28209458%2C7.69949772%20Z%22%20opacity%3D%22.9%22/%3E%3C/svg%3E);
	transition: .2s;
}

.ui-btn.ui-btn-light-border.crm-robot-btn:hover:before,
.bitrix24-light-theme .pagetitle-below .ui-btn.ui-btn-light-border.crm-robot-btn:before {
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2215%22%20height%3D%2213%22%20viewBox%3D%220%200%2015%2013%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M12.1137872%2C3.60115802%20L12.9213711%2C0.88887765%20C12.9917364%2C0.653060708%2012.9323829%2C0.397184882%2012.7656685%2C0.217636118%20C12.5989541%2C0.0380873543%2012.3502067%2C-0.0378566184%2012.113127%2C0.0184115594%20C11.8760474%2C0.0746797372%2011.6866535%2C0.254611591%2011.6162882%2C0.490428532%20L10.9245602%2C2.81873631%20C8.77403662%2C1.683364%206.20997866%2C1.68606835%204.06180048%2C2.82597457%20L3.36666494%2C0.490428532%20C3.25788966%2C0.125887126%202.87755711%2C-0.0804361999%202.51716841%2C0.0295924856%20C2.15677972%2C0.139621171%201.95280675%2C0.524336243%202.06158203%2C0.88887765%20L2.8725735%2C3.61184307%20C1.05136157%2C5.08431072%20-0.00628362527%2C7.31674489%202.80901028e-05%2C9.6750943%20C2.80901028e-05%2C13.9311927%203.35644236%2C12.8868148%207.4999954%2C12.8868148%20C11.6435484%2C12.8868148%2014.9999627%2C13.9311927%2014.9999627%2C9.6750943%20C15.0072578%2C7.31042438%2013.9438643%2C5.07252025%2012.1137872%2C3.60115802%20Z%20M7.49318035%2C9.09672266%20C4.53544676%2C9.09672266%202.13654763%2C9.40693391%202.13654763%2C8.13885926%20C2.13654763%2C6.8707846%204.53544676%2C5.84122793%207.49318035%2C5.84122793%20C10.4509139%2C5.84122793%2012.8532206%2C6.86975056%2012.8532206%2C8.13885926%20C12.8532206%2C9.40796795%2010.4543215%2C9.09672266%207.49318035%2C9.09672266%20Z%20M5.04316831%2C6.79116371%20C4.62088547%2C6.86918401%204.33167594%2C7.26631071%204.38320708%2C7.69738635%20C4.43473822%2C8.12846199%204.80918992%2C8.44441522%205.23768653%2C8.41837532%20C5.66618314%2C8.39233541%206.00054518%2C8.03330729%206.00068344%2C7.59909168%20C5.95284474%2C7.11065813%205.52678755%2C6.75116144%205.04316831%2C6.79116371%20Z%20M9.28209458%2C7.69949772%20C9.33459027%2C8.13049967%209.70956893%2C8.44577556%2010.1380777%2C8.41919424%20C10.5665864%2C8.39261291%2010.90067%2C8.03335237%2010.9007075%2C7.59909168%20C10.8528825%2C7.10920225%2010.4246755%2C6.74917285%209.93978486%2C6.79116371%20C9.51771184%2C6.87058387%209.22959888%2C7.26849578%209.28209458%2C7.69949772%20Z%22%20opacity%3D%22.9%22/%3E%3C/svg%3E');
}

.ui-btn.ui-btn-light-border.crm-robot-btn:hover {
	border-color: #55d0e0;
	background: #55d0e0;
	color: #fff;
}

.bx-ie .ui-btn.ui-btn-light-border.crm-robot-btn {
	background: rgba(255,255,255,.15);
}
