.crm-tracking-site-block {
	background: #fff;
	padding: 23px 22px 0;
}

.crm-tracking-site-block + .crm-tracking-site-block {
	margin-top: 27px;
}

.crm-tracking-site-subject {
	font: 22px/28px var(--ui-font-family-secondary, var(--ui-font-family-open-sans));
	font-weight: var(--ui-font-weight-light, 300);
	color: #333;
	margin: 0 0 19px;
}

.crm-tracking-site-desc {
	margin-bottom: 25px;
}

.crm-tracking-site-desc-text {
	line-height: 20px;
	color: #525c69;
}

.crm-tracking-site-field {
	display: flex;
	align-items: flex-end;
	margin-bottom: 20px;
}

.crm-tracking-site-field-inner:first-child {
	display: flex;
	flex-direction: column;
}

.crm-analytics-channel-field-title {
	font-size: 14px;
	line-height: 22px;
	color: #828b95;
	margin-bottom: 12px;
}

.crm-analytics-channel-field-input {
	border: 1px solid #c6cdd3;
	outline: none;
	border-radius: var(--ui-field-border-radius, 2px);
	color: #525c69;
	padding: 9px 9px 10px;
	width: 352px;
	overflow: hidden;
	margin-right: 18px;
	font-size: 14px;
	line-height: 18px;
}

.crm-tracking-site-header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #eff1f3;
	border-top: 1px solid #eff1f3;
}

.crm-tracking-site-header-title {
	cursor: pointer;
	color: #535c69;
	font-weight: 600;
	padding: 21px 0 21px 6px;
	margin-right: 18px;
}

.crm-tracking-site-header-text {
	position: relative;
	padding: 0 19px 0 26px;
	border-right: 1px solid #d8d8d8;
}

.crm-tracking-site-code-status {
	display: flex;
}

.crm-tracking-site-code-status-text {
	color: #535c69;
	margin-right: 3px;
}

.crm-tracking-site-code-status-value {
	font-weight: 600;
	position: relative;
	margin-left: 2px;
}

.crm-tracking-site-code-status-value-wait {
	color: #f5a623;
}

.crm-tracking-site-code-status-value-error {
	color: #ff5752;
}

.crm-tracking-site-code-status-value-success {
	color: #7bd500;
	padding-left: 25px;
}

.crm-tracking-site-code-status-value-success:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #7bd500 url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M9.73065%203.7298L8.64276%202.64178L3.92011%207.36395L1.54706%204.99103L0.459167%206.07904L2.84003%208.44452L3.89862%209.51764L3.92792%209.53253L9.73065%203.7298Z%22%20fill%3D%22white%22/%3E%0A%3C/svg%3E%0A)
				no-repeat top 2px center;
}

.crm-tracking-site-hidden-inner  {
	height: 280px;
	transition: all .2s ease-in-out;
}

.crm-tracking-site-hidden-value {
	background: #f8f9fa;
	border-top: 1px solid #eff1f3;
	padding: 18px 21px 16px 31px;
}

.crm-tracking-site-hidden-value-inner {
	background: #fff;
	border-radius: var(--ui-field-border-radius, 2px);
	border: 1px solid #c6cdd3;
	color: #333;
	font-size: 12px;
	line-height: 20px;
	padding: 13px;
	margin-bottom: 9px;
}

.crm-tracking-site-header-text:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 13px;
	height: 13px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2213%22%20height%3D%228%22%20viewBox%3D%220%200%2013%208%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M514%2C13%20L521%2C13%20L521%2C15%20L512.047619%2C15%20L512.047619%2C14.952381%20L512%2C14.952381%20L512%2C6%20L514%2C6%20L514%2C13%20Z%22%20opacity%3D%221%22%20transform%3D%22rotate%28135%20262.328%20-97.124%29%22/%3E%0A%3C/svg%3E) no-repeat center;
	box-sizing: border-box;
	transition: all 100ms ease-in-out;
	transform: rotate(0deg);
	transform-origin: center 65% 0;
}

.crm-analytics-script-textarea {
	margin: 0;
	width: 100%;
	height: 105px;
	font-size: 13px;
	font-family: var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	border: none;
	outline: none;
	resize: none;
}

.crm-tracking-site-block-replace {
	padding-bottom: 50px;
}

.crm-tracking-site-block-replace .crm-tracking-site-hidden-inner {
	height: 100%;
}

.crm-tracking-site-block-replace .crm-analytics-channel-phone-inner {
	border-bottom: 1px solid rgba(82, 92, 105, .15);
	padding: 0 0 20px 0;
	margin-bottom: 13px;
}

.crm-tracking-site-block-replace .crm-analytics-channel-phone-inner:last-child {
	border-bottom: none;
}

.crm-tracking-site-block-replace .crm-tracking-site-hidden-value {
	padding: 15px 14px 0 15px;
}

.crm-analytics-channel-btn-block {
	padding-top: 20px;
	border-top: 1px solid #eeeff0;
}

.crm-tracking-site-block-replace .crm-analytics-channel-phone-inner-field {
	margin-bottom: 9px;
}

.crm-tracking-site-desc-link {
	color: #0063c6;
	border-bottom: 1px dashed rgba(58, 135, 211, .8);
	transition: all .2s ease;
}

.crm-tracking-site-desc-link:hover {
	border-color: rgba(58, 135, 211, 1);
}

.crm-tracking-site-block-replace .crm-tracking-site-header-text {
	font-weight: normal;
	padding-right: 3px;
	border-right: none;
}

.crm-tracking-site-block-replace .crm-tracking-site-header-title {
	margin-right: 0;
	padding: 14px 0 14px 6px;
}

.crm-tracking-site-header-result {
	font-weight: 600;
}

.crm-tracking-site-header-decs {
	font-size: 13px;
	line-height: 19px;
	color: rgba(83, 92, 105, .7);
	display: block;
	font-weight: normal;
}

.crm-tracking-site-hidden-closed .crm-tracking-site-hidden-inner {
	opacity: 0;
	height: 0;
	pointer-events: none;
}

.crm-tracking-site-hidden-closed .crm-tracking-site-header-text:before {
	transform: rotate(180deg);
	top: -2px;
}

.crm-analytics-channel-addition-alt {
	margin: 18px 0 0 0;
	cursor: pointer;
	padding-bottom: 15px;
	border-bottom: 1px solid #f0f1f3;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
	font-size: 13px;
}

.crm-analytics-channel-addition-more {
	display: inline-block;
	overflow: hidden;
	float: left;
	font-weight: bold;
	padding-left: 26px;
	cursor: pointer;
	color: #5e6675;
	position: relative;
}

.crm-analytics-channel-addition-more:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 7px;
	margin: auto;
	width: 11px;
	height: 9px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20opacity%3D%220.5%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M1.41266%204.24414L0.00490543%205.65189L4.12624%209.77323L4.12134%209.77814L5.53555%2011.1923L11.1924%205.53549L9.77819%204.12128L5.534%208.36547L1.41266%204.24414Z%22%20fill%3D%22%23535C69%22/%3E%0A%3C/svg%3E%0A) no-repeat center;
	transition: opacity .3s ease;
	opacity: 0.7;
}

.crm-analytics-channel-addition-alt-promo {
	overflow: hidden;
	padding-left: 10px;
	color: rgba(94, 102, 117, 0.7);
	min-height: 20px;
}

.crm-analytics-channel-addition-alt-promo:before {
	content: "(";
}

.crm-analytics-channel-addition-alt-promo:after {
	content: ")";
}

.crm-analytics-channel-addition-alt-promo-text:after {
	content: ",";
}

.crm-analytics-channel-addition-alt-promo-text:last-child:after {
	content: '';
}
.crm-analytics-channel-addition-alt-promo-text:last-child {
	margin: 0;
}

.crm-analytics-channel-addition-alt-promo-text {
	margin-right: 5px;
	line-height: 18px;
	transition: border-bottom .3s ease;
	cursor: pointer;
}

.crm-analytics-channel-addition-options {
	position: relative;
	padding: 0 5px;
	background: #f8f9fa;
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height .2s ease-in-out;
	-moz-transition: max-height .2s ease-in-out;
	transition: max-height .2s ease-in-out;
}

.crm-analytics-channel-addition-options-item {
	position: relative;
	padding: 21px 30px 21px 0;
	margin: 0 20px;
	overflow: hidden;
	border-bottom: 1px solid #e6e9ec;
}

.crm-analytics-channel-addition-options-item-inner {
	display: flex;
	align-items: center;
}

.crm-analytics-channel-addition-options-item:last-child {
	border-bottom: none;
}

.crm-analytics-channel-addition-input {
	margin: 0 28px 0 0;
}

.crm-analytics-channel-addition-label {
	color: #525c69;
	font-size: 14px;
	line-height: 20px;
}

.crm-analytics-channel-addition-options-open {
	max-height: 1000px;
}

.crm-tracking-site-item-add {
	color: #1069c3;
	font-weight: 600;
	font-size: 13px;
	line-height: 19px;
	padding-left: 13px;
	position: relative;
	cursor: pointer;
}

.crm-tracking-site-item-add:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 8px;
	height: 8px;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%3E%0A%20%20%3Cpath%20fill%3D%22%231069C3%22%20fill-rule%3D%22evenodd%22%20d%3D%22M1186%2C362%20L1189%2C362%20L1189%2C364%20L1186%2C364%20L1186%2C367%20L1184%2C367%20L1184%2C364%20L1181%2C364%20L1181%2C362%20L1184%2C362%20L1184%2C359%20L1186%2C359%20L1186%2C362%20Z%22%20transform%3D%22translate%28-1181%20-359%29%22/%3E%0A%3C/svg%3E%0A)
	no-repeat center;
}

.crm-tracking-phone-popup-buttons {
	margin: 10px 0 0 0;
	text-align: center;
}

.crm-analytics-channel-addition-options-subitem {
	display: flex;
	align-items: center;
	margin-left: 25px;
	margin-top: 16px;
	opacity: .5;
	transition: opacity .1s linear;
	pointer-events: none;
}

.crm-analytics-channel-addition-options-item>.crm-analytics-channel-addition-input:checked  ~ .crm-analytics-channel-addition-options-subitem {
	opacity: 1;
	pointer-events: auto;
}

.crm-tracking-site-field-link {
	color: #2066b0;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
}

.crm-tracking-site-field-connect {
	align-items: center;
}

.crm-tracking-site-field-connect .crm-tracking-site-field-inner:first-child  {
	margin-right: 32px;
}