/* POPUPS */
.crm-ads-rtg-warning-popup-alert,
.crm-ads-rtg-warning-popup-confirm {
	display: block;
	padding: 60px 0;
	border-bottom: 1px solid rgba(207,213,223, .5);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font: 16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #eb314b;
	text-align: center;
	min-width: 400px;
}

.crm-ads-rtg-warning-popup-alert:before {
	content: '';
	display: inline-block;
	margin: 0 10px 3px 0;
	width: 21px;
	height: 18px;
	/*background: url(images/crm-webform-edit-sprite.svg) -2px -371px;*/
	vertical-align: middle;
}

.crm-ads-rtg-warning-popup-confirm {
	color: #535c69;
}

/* MAIN */

.crm-ads-rtg-popup-settings-wrapper {
	padding: 17px;
	background: #f9fafa;
}

.crm-ads-rtg-popup-settings-wrapper-center {
	padding: 60px;
	text-align: center;
}

.crm-ads-rtg-popup-settings {
	clear: both;
	display: block;
	overflow: hidden;
	margin: 0 0 17px 0;
}

.crm-ads-rtg-popup-settings-wrapper .crm-ads-rtg-popup-settings:last-child {
	margin: 0;
}

.crm-ads-rtg-popup-settings-title {
	min-width: 37px;
	display: inline-block;
	margin: 0 10px 0 0;
	font-size: 13px;
	color: #80868e;
}

.crm-ads-rtg-popup-settings-title-full {
	clear: both;
	display: block;
	margin: 0  0 7px 0;
	font-size: 13px;
	color: #80868e;
}

.crm-ads-rtg-popup-chk {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

.crm-ads-rtg-popup-link {
	display: inline-block;
	margin: 0 10px 0 0;
	font-size: 13px;
	color: #80868e;
	text-decoration: underline;
	cursor: pointer;
}

.crm-ads-rtg-popup-chk-label {
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	color: #80868e;
	line-height: 30px;
	padding: 0 5px;
	cursor: pointer;
}


.crm-ads-rtg-popup-settings-dropdown {
	display: inline-block;
	min-width: 155px;
	max-width: 500px;
	padding: 10px 27px 10px 10px;
	height: 38px;
	outline: none;
	margin: 0 10px 0 0;
	font: 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2010.97%206.86%22%3E%3Cpolygon%20points%3D%225.49%204.11%201.37%200%200%201.37%204.8%206.17%205.49%206.86%2010.97%201.37%209.6%200%205.49%204.11%22%20fill%3D%22%23535c69%22/%3E%3C/svg%3E');
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: 11px 22px;
	background-color: #fff;
	line-height: 14px;
	color: #000000;
	border: 1px solid #c6cdd3;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none !important;
}

.crm-ads-rtg-popup-settings-dropdown:disabled {
	opacity: .5;
}

.crm-ads-rtg-popup-settings-dropdown-sm {
	min-width: 50px;
}

.crm-ads-rtg-popup-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
	height: 70px;
	padding: 0 22px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid rgba(82,92,104,0.2);
	border-radius: var(--ui-border-radius-sm, 2px);
}

.crm-ads-rtg-popup-social:before {
	content: '';
	float: left;
	overflow: hidden;
	height: 70px;
	margin: 0 17px 0 0;
	min-width: 85px;
	background: url(images/logo-services.png) no-repeat;
}

.crm-ads-rtg-popup-social-facebook:before {
	background-position: 0 -143px;
	width: 117px;
}

.crm-ads-rtg-popup-social-yandex:before {
	background-position: 0 0;
	width: 118px;
}

.crm-ads-rtg-popup-social-yandex-auditorii-not-used:before {
	background-position: 0 -70px;
	width: 147px;
}

.crm-ads-rtg-popup-social-vkontakte:before {
	background-position: 0 -211px;
	width: 131px;
}

.crm-ads-rtg-popup-social-google:before {
	background-position: 0 -280px;
	width: 88px;
}

.crm-ads-rtg-popup-social-avatar {
	float: left;
	height: 33px;
	padding: 18px 0 18px 17px;
	position: relative;
}

.crm-ads-rtg-popup-social-avatar:before {
	content: '';
	display: block;
	width: 1px;
	top: 19px;
	bottom: 19px;
	left: 0;
	position: absolute;
	background: #dcdee1;
}

.crm-ads-rtg-popup-social-avatar-icon {
	display: block;
	overflow: hidden;
	width: 41px;
	height: 41px;
	margin: -4px 0;
	background: #ccc;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Ccircle%20cx%3D%2220%22%20cy%3D%2220%22%20r%3D%2220%22%20fill%3D%22%23525C68%22/%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M30.4364902%2C31.4100231%20C30.4364902%2C29.9871769%2028.8398242%2C23.9680557%2028.8398242%2C23.9680557%20C28.8398242%2C23.0883414%2027.6898708%2C22.083459%2025.4253473%2C21.4978674%20C24.6581347%2C21.2838747%2023.9288072%2C20.9520366%2023.2634349%2C20.514215%20C23.1179216%2C20.4310645%2023.1400361%2C19.6628072%2023.1400361%2C19.6628072%20L22.4107003%2C19.5517925%20C22.4107003%2C19.4894296%2022.3483374%2C18.5681401%2022.3483374%2C18.5681401%20C23.2209751%2C18.274902%2023.1311903%2C16.5451067%2023.1311903%2C16.5451067%20C23.6853794%2C16.8524981%2024.0462878%2C15.4836113%2024.0462878%2C15.4836113%20C24.7017612%2C13.5817654%2023.719878%2C13.6967607%2023.719878%2C13.6967607%20C23.8916546%2C12.5357299%2023.8916546%2C11.3557413%2023.719878%2C10.1947105%20C23.283338%2C6.34325128%2016.7109122%2C7.38882426%2017.4902268%2C8.64669632%20C15.5693624%2C8.29286451%2016.0076715%2C12.6635719%2016.0076715%2C12.6635719%20L16.4243085%2C13.7953913%20C15.6060724%2C14.326139%2016.1748571%2C14.9679015%2016.2031636%2C15.7065254%20C16.243412%2C16.7972119%2016.9108272%2C16.5712018%2016.9108272%2C16.5712018%20C16.9519602%2C18.3713211%2017.8396357%2C18.6057347%2017.8396357%2C18.6057347%20C18.0063789%2C19.7362273%2017.9024408%2C19.5438313%2017.9024408%2C19.5438313%20L17.1125113%2C19.6393659%20C17.1232047%2C19.896452%2017.1022601%2C20.1538778%2017.0501485%2C20.405854%20C16.12134%2C20.8198372%2015.921425%2C21.0626543%2014.9983663%2C21.4673494%20C13.215054%2C22.2488754%2011.2769403%2C23.2652573%2010.9323966%2C24.6337018%20C10.5878529%2C26.0021463%209.56350982%2C31.4100231%209.56350982%2C31.4100231%20L30.4356056%2C31.4100231%20L30.4356056%2C31.4100231%20L30.4356056%2C31.4100231%20L30.4364902%2C31.4100231%20Z%22/%3E%3C/svg%3E%0A');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.crm-ads-rtg-popup-social-user {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*max-width: 280px;*/
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 8px;
}

.crm-ads-rtg-popup-social-user-wrapper {
	display: block;
	width: 100%;
	overflow: hidden;
}

.crm-ads-rtg-popup-social-user-link {
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	color: #0b66c3;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.crm-ads-rtg-popup-social-user-link:hover {
	text-decoration: underline;
}

.crm-ads-rtg-popup-social-shutoff {
	float: right;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.crm-ads-rtg-popup-social-shutoff-link {
	display: inline-block;
	font-size: 12px;
	color: #80868e;
	text-decoration: none;
}

.crm-ads-rtg-popup-social-shutoff-link:hover {
	color: #80868e;
	text-decoration: underline;
}

.crm-ads-rtg-popup-settings-alert {
	font-size: 12px;
	color: #fe5957;
}

.crm-ads-rtg-popup-settings-alert a {
	color: #fe5957;
	text-decoration: underline;
}

.crm-ads-rtg-popup-settings-alert a:hover {
	color: #fe5957;
	text-decoration: underline;
}

.crm-ads-rtg-loader,
.crm-ads-rtg-loader-sm {
	position: relative;
	height: 100px;
	width: 100px;
	margin: auto;
}

.crm-ads-rtg-loader-sm {
	width: 19px;
	height: 19px;
}

.crm-ads-rtg-loader-sm .crm-ads-rtg-path {
	stroke: #80868e;
	stroke-dasharray: 100, 200;
}

.crm-ads-rtg-loader:before {
	content: '';
	display: block;
	padding-top: 100%;
}

.crm-ads-rtg-circular {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: inherit;
	width: inherit;
	-webkit-animation: rotate 1s linear infinite;
	animation: rotate 1s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.crm-ads-rtg-path {
	stroke: #ccc;
	stroke-dasharray: 60, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

.crm-ads-rtg-table td {
	padding: 0 0 15px 0;
}

.crm-ads-rtg-table tr:last-child td {
	padding: 0;
}