/* Fields */
.crm-webform-script-tab-body-container {
	padding: 15px;
	border: 1px solid #c8cfd5;
	border-top: 0;
}

.popup-window-content .crm-webform-script-tab-body-container {
	background: #fff;
}

.crm-webform-script-tab-container {
	position: relative;
	min-height: 40px;
	border-bottom: 1px solid #c8cfd5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.crm-webform-script-tab-list {
	position: absolute;
}

.crm-webform-script-tab-body-item-container {
	padding: 20px;
	background: #eef2f4;
	overflow: hidden;
	border-radius: 2px;
}

.crm-webform-script-popup .crm-webform-script-tab-body-item-container {
	padding: 0;
	background: transparent;
}

.crm-webform-script-tab-item {
	display: inline-block;
	padding: 12px 19px;
	margin: 0 8px 0 0;
	height: 40px;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	font: bold 13px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	background: rgba(83,92,105, .09);
	text-align: center;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.crm-webform-script-tab-item:last-child {
	margin: 0;
}

.popup-window-content .crm-webform-script-tab-item {
	border-bottom: 1px solid #c8cfd5;
	background: #EEF2F4;
}

.crm-webform-script-tab-item-active {
	background: #f8f9fa;
	border: 1px solid #c8cfd5;
	border-bottom: 1px solid #f8f9fa;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
}

.popup-window-content .crm-webform-script-tab-item-active {
	background: #fff;
	border-bottom: none;
}

.crm-webform-script-tab-body-item-subtitle {
	margin: 31px 0 8px 0;
}

.popup-window-content .crm-webform-script-tab-body-item-subtitle {
	font: 14px/16px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #80868E;
}

.crm-webform-script-tab-body-item-subtitle:first-child {
	margin: 0 0 8px 0;
}

.crm-webform-script-tab-body-item-inner {
	overflow: hidden;
}

.crm-webform-script-tab-body-item-content {
	width: 100%;
	margin: 0 14px 0 0;
	height: 100%;
	padding: 12px 17px;
	border-radius: 2px;
	border: 1px solid #caced7;
	background: #fff;
	font: 13px/18px var(--ui-font-family-primary, var(--ui-font-family-helvetica));
	color: #2a2a2a;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.crm-webform-script-tab-body-item-content.crm-webform-script-item-inline {
	width: 100%;
}

.crm-webform-script-url-link-container {
	position: relative;
}

.crm-webform-script-url-link-icon {
	position: absolute;
	top: 2px;
	right: -13px;
	width: 10px;
	height: 10px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAkklEQVQoU4XPwRHBUBDG8f+ayVl0kg7oBCWEEw7Wwbt5aSGdoAMdUAJXDmt2SIJkxh6/+b399omGaPwZeSG7gZza1jKQ/htx1OVs9Is0xAMw/EK63U081NV86g+6UYglMMasrKEWaatOPyCPXk5i+86bGsgVod50ERGvYr3IN6pFSmJnB55Vm5qP3WXgFQhZFT4BLG1QEF4DCcoAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	transition: opacity .3s ease;
	opacity: .5;
}

.crm-webform-script-url-link-icon:hover {
	opacity: 1;
}

.crm-webform-script-tab-body-item-button-container {
	margin: 20px 0 0 0;
}

.crm-webform-script-tab-body-item-block {
	width: 232px;
	height: 187px;
	border-radius: 2px;
	background-color: rgba(59,200,245,.4);
	background-repeat: no-repeat;
	background-position: cover;
	overflow: hidden;
}

.crm-webform-script-code-settings {
	padding: 10px;
	margin: 10px 0 0 0;
	background: #eef2f4;
}

.crm-webform-script-code-setting {
	padding: 0 10px 0 0;
	white-space: nowrap;
}

.crm-webform-script-code-setting select {
	-webkit-appearance: menulist;
}

@media (max-width: 1458px) {
	.crm-webform-inline .crm-webform-script-tab-body-item-content {
		float: none;
		margin: 0;
	}

	.crm-webform-inline .crm-webform-script-tab-body-item-block {
		margin: 14px 0 0 0;
	}
}