.crm-exch1c-rekv-title {font: bold 14px/38px var(--ui-font-family-primary, var(--ui-font-family-helvetica));}
.crm-exch1c-val-ctrl {margin-left: 5px;}
.crm-exch1c-more-button {margin-bottom: 20px;}
.crm-exch1c-rekv-name {height: 16px;}
.crm-exch-va {vertical-align: middle; padding-top: 7px !important;}
table.bx-edit-table div.bx-crm-edit-content-location-description {
	color: #8F8F8F;
	font-size: 11px;
}
